In [1]:
import numpy as np

In [2]:
y_predicted= np.array([1,1,0,0,1])
y_test= np.array([0.30, 0.7, 1,0,0.5])

In [3]:
def mae(y_test, y_predicted):
  total_error= 0
  for yt, yp in zip(y_test, y_predicted):
    print(yt, yp)

In [4]:
mae(y_test, y_predicted)

0.3 1
0.7 1
1.0 0
0.0 0
0.5 1

In [5]:
def mae(y_test, y_predicted):
  total_error= 0
  for yt, yp in zip(y_test, y_predicted):
    total_error += abs(yt- yp)
  print("Total Error:", total_error)
  mae = total_error/len(y_test)
  print("MAE:", mae)

In [6]:
mae(y_test, y_predicted)

Total Error: 2.5
MAE: 0.5

In [8]:
np.sum(np.abs(y_predicted - y_test))

2.5

In [7]:
np.mean(np.abs(y_predicted - y_test))

0.5

## MSE

In [9]:
import numpy as np
y_predicted= np.array([1,1,0,0,1])
y_test= np.array([0.30, 0.7, 1,0,0.5])

In [31]:
def mse(y_test, y_predicted):
    total_error = 0
    for yt, yp in zip(y_test, y_predicted):
        total_error += (yt-yp)**2
    print("Total Squared Error:",total_error)
    mse = total_error/len(y_test)
    print("Mean Squared Error:",mse)
    return mse

In [32]:
mse(y_test, y_predicted)

Total Squared Error: 1.83
Mean Squared Error: 0.366

0.366

In [34]:
np.mean(np.square(y_test-y_predicted))

0.366

In [10]:
import pandas as pd
df = pd.DataFrame(zip(y_predicted, y_test), columns = ["y_pred", "y_test"])
df["error"] = df["y_pred"]-df["y_test"]
df["se"] = df.error**2
df["mse"] = df.se/len(df["y_pred"])
df.drop("mse", inplace=True, axis=1)
df

   y_pred  y_test  error    se
0       1     0.3    0.7  0.49
1       1     0.7    0.3  0.09
2       0     1.0   -1.0  1.00
3       0     0.0    0.0  0.00
4       1     0.5    0.5  0.25

In [11]:
sum(df.se)/5

0.366

In [12]:
def mse(x,y):
  for x,y in zip(y_predicted, y_test):
    return [(x-y)**2 for x,y in zip(y_predicted,y_test)]

In [13]:
mse(y_predicted,y_test)

[0.48999999999999994, 0.09000000000000002, 1.0, 0.0, 0.25]

## log loss

In [14]:
#log loss
#log(0)= undefined, to avoid this we take so close to 0

In [15]:
np.log(0)

C:\Windows\Temp\ipykernel_12528\2933082444.py:1: RuntimeWarning: divide by zero encountered in log
  np.log(0)

-inf

In [16]:
np.log(0.0000000001)

-23.025850929940457

In [17]:
epsilon = 1e-15

In [18]:
y_predicted_new = [max(i, epsilon)for i in y_predicted]

In [19]:
y_predicted_new

[1, 1, 1e-15, 1e-15, 1]

In [20]:
y_predicted_new = [min(i, 1-epsilon) for i in y_predicted_new]

In [21]:
y_predicted_new

[0.999999999999999, 0.999999999999999, 1e-15, 1e-15, 0.999999999999999]

In [22]:
y_predicted_new = np.array(y_predicted_new)
np.log(y_predicted_new)

array([-9.99200722e-16, -9.99200722e-16, -3.45387764e+01, -3.45387764e+01,
       -9.99200722e-16])

In [23]:
np.log(y_predicted)

C:\Windows\Temp\ipykernel_12528\815880036.py:1: RuntimeWarning: divide by zero encountered in log
  np.log(y_predicted)

array([  0.,   0., -inf, -inf,   0.])

In [24]:
-np.mean(y_test*np.log(y_predicted_new) + (1-y_test)*np.log(1-y_predicted_new))

17.2696280766844

In [25]:
def log_loss(y_test, y_predicted):
  y_predicted_new = [max(i, epsilon)for i in y_predicted]
  y_predicted_new = [min(i, 1-epsilon) for i in y_predicted_new]
  y_predicted_new = np.array(y_predicted_new)
  return -np.mean(y_test*np.log(y_predicted_new) + (1-y_test)*np.log(1-y_predicted_new))

In [26]:
log_loss(y_test, y_predicted)

17.2696280766844