# Data Types

## Introduction

‚Ä¢ Each data has a type, whether constant or variable and data type defines how to store data in memory and which process can be applied to it.

‚Ä¢ Data types are variables to reserve some space in memory.

In [ ]:
üí°Tips: we assign value to a variable using üëâ =

Data types have certain formats and common features. Some commonly used data types are:
‚Ä¢ String
‚Ä¢ Signed Integer
‚Ä¢ Floating Point
‚Ä¢ Complex
‚Ä¢ Boolean

## String

üëâ Strings are contiguous set of characters represented in quotation marks (single, double triple).

Immutability: Each time any changes to a string, a new string object is created.

Textual characters & strings. String type is called str. Most common and useful Python data type.

In [2]:
text1 = "I have learned strings" # surrounded with double quotes
print(text1)

I have learned strings

In [1]:
print('632') # this is also a string type

632

In [2]:
type("632")

str

Which of the following are valid ways to specify the string literal foo'bar in Python?

In [1]:
"foo'bar"

"foo'bar"

In [2]:
"""foo'bar"""

"foo'bar"

In [7]:
'foo\'bar'

"foo'bar"

üí° Python is so powerful in strings

‚Ä¢ Everything in Python is an object.

‚Ä¢ And there is different types of objects. Like lists, picture of strings, integers, floats.

‚Ä¢ These different types of objects has their own methods and properties associated. 

‚Ä¢ What kind of object is it? You find it with type() function.

üëâüèª String is `immutable` data type. (can't just change the string in place, so most string methods return a copy of the string.)

In [15]:
company = "ClarusWay"

In [16]:
company.lower()

'clarusway'

In [17]:
company

'ClarusWay'

In [ ]:
üí°Tips: Create a new variable for the copy or assign the same name to the copy to save the changes made to the string.

In [18]:
company = company.lower()
company

'clarusway'

### Checking the type with type function

In [19]:
type(company)

str

### Indexing String

‚Ä¢ Strings are a sequence, so they are accessible in the same way of sequence-based data types, through indexing and slicing.

‚Ä¢ String elements are accessible with brackets.

`The formula syntax` of string indexing is : `string`[`start`:`stop`:`step`]

‚Ä¢ Like the list (items that correspond to an index number) each of a string‚Äôs characters also correspond to an index number.

üí°Tips: Enumeration of a string starts from zero.

### Index numbers

‚Ä¢ By referencing index numbers, we can isolate one of the characters in a string. 

‚Ä¢ To do this put the index numbers in square brackets.

In [20]:
company[0]

'c'

In [21]:
company[0] # "c" starts at index 0, and the string ends at index 6 with the "y" letter.

'c'

`string[:]` returns the full copy of the sequence

In [22]:
company[:]

'clarusway'

`string[start:]` returns elements from start to the end element.

In [24]:
company[0:]

'clarusway'

`string[:stop]` returns element from the 1st element to stop-1.

In [27]:
company[:-1] # stop olarak belirtilen index numarasƒ±nƒ± hari√ß tutar

'claruswa'

In [29]:
company[:2] # ba≈ütan ba≈üla al devam et, stop olarak belirtilen indexte dur.

'cl'

`string[::step]` returns each element with a given step

In [9]:
company[::2]

'CauWy'

In [10]:
print(company[0])
print(company[1:3])
print(company[2:])
print(company[0::2])# starts from 0, stops at the end (not specified), takes 2 steps. 
print(company[-1])
print(company[:-1])# starts from 0, stops at the -1 (not included), takes 1 step default. 
print(company[:-1:2])# starts from 0, stops at the -1 (not included), takes 2 step. 
print(company[::-1])

C
la
arusWay
CauWy
y
ClarusWa
CauW
yaWsuralC

### String formatting

1. Arithmetic syntax (+, *, and =)
2. % operator formatting
3. string.format() method
4. f-string formatting

In [22]:
print("format " + "it " + "2 times " + "man!") # with arithmetic syntax: combining strings with + operator
print("format %s %d times man!" % ("it", 2)) # % operator formatting: % operator gets the values 
print("format {} {} times man!" .format("it", 2)) # string.format() method: # curly braces {} receives values from .format() in order.
what = "it"
times = 2
print(f"format {what} {times} times man!")  # f-string formatting: 
                                #  f-string is the string syntax that is enclosed in quotes with a letter f at the beginning. 
                                #Curly braces üëâüèª{} that contain variables are used to replace with their values.

format it 2 times man!
format it 2 times man!
format it 2 times man!
format it 2 times man!

#### 1. Arithmetic Syntax

We can use `+ operator` for `combining the two string` together without any spaces.

In [27]:
"clarus" + "way"

'clarusway'

In [16]:
"clarus" + "way"

'clarusway'

In [28]:
print("clarus"+"way")

clarusway

In [29]:
text1 = "clarus"
text2 = "way"
text1 + text2

'clarusway'

We can also use `* operator` for `repeating the string` without any spaces.

In [30]:
"no way"*3

'no wayno wayno way'

In [39]:
print("no way!"*3, "seperation", sep="555")

no way!no way!no way!555seperation

In [40]:
fruit = "Orange"
vegetable="Tomato"
fruit + vegetable

'OrangeTomato'

In [41]:
fruit*3

'OrangeOrangeOrange'

**addition operation in-place**

In [42]:
fruit = "Orange"
fruit +="Apple"
fruit

'OrangeApple'

#### 2. % Operator

`% operator` gets the values and prints in order using several characters.

s, d and f characters to specify data type in string.
‚Ä¢ `s` syntax is for 'string'.
‚Ä¢ `f` syntax is for 'float'. 
‚Ä¢ `d` syntax is for 'numeric'.

`%d format`

In [24]:
"I have %d kids" % 4

'I have 4 kids'

In [19]:
"I have %d children" % 4

'I have 4 children'

In [18]:
"gece saat % d gece % s" % (4,"√ßalƒ±≈üƒ±yorum")

'gece saat  4 gece √ßalƒ±≈üƒ±yorum'

`%s format`

In [2]:
"Give me 4 %s" %("euro")

'Give me 4 euro'

In [12]:
'I have %d %s and %.1f brothers' % (4, "children", 5)  # 2 digits after point.

'I have 4 children and 5.0 brothers'

% operator:
1st % takes '4' puts in 1st % operator, 
2nd % takes 'children' and puts in 2nd % operator 
3rd % takes '5' and puts it in 3rd % operator.

### `Limit` the character numbers of the strings.

In [20]:
sentence = "apologizing is a virtue"

In [26]:
"%s" % sentence

'apologizing is a virtue'

In [27]:
"%.1s" % sentence

'a'

In [10]:
"%.11s"%(sentence) ## we get first 11 characters of the string

'apologizing'

In [33]:
"%s" % sentence

'apologizing is a virtue'

In [37]:
sentence[12:14]

'is'

#### Dictionary type format

Assigning values to variables (amount and fruit) in curly braces '{}'.

In [43]:
"gece saat %(saat)d %(activity)s" %{"saat" :4, "activity": "√ßalƒ±≈üƒ±yorum"}

'gece saat 4 √ßalƒ±≈üƒ±yorum'

### 3. string.format() method

More readable
üëâ Curly braces {} receives values from .format() in order.

In [18]:
"How you do'in man! %d" %(4)

"How you do'in man! 4"

In [44]:
fruit = 'orange'
vegetable = 'Tomato'
amount = 4

In [46]:
'The amount of {} we bought is {} pounds'.format(fruit, amount)

'The amount of orange we bought is 4 pounds'

üí° Keyword arguments called by their names. 

Using keywords in üëâüèª{} makes string more readable. Keywords doesn't have to be in order.

In [14]:
'{state} is the most {adjective} state of the {country}'.format (state='California', country='USA', adjective='crowded')

'California is the most crowded state of the USA'

`Combining` posar and kwar

‚ö†Ô∏èAvoid ! : Be careful not to write kws before positional arguments.

In [15]:
'{0} is the most {adjective} state of the {country}'.format('California',  country='USA', adjective='crowded')

'California is the most crowded state of the USA'

`Using same variable` in a string more than once. Also, you can select the objects by referring to their positions in brackets.

In [16]:
print("{6} {0} {5} {3} {4} {1} {2}".format('have', 6 , 'months', 'a job', 'in', 'found', 'I will'))

I will have found a job in 6 months

`format()` method is too wordy in multiple parameters and longer strings: `f-string` comes in.

In [47]:
"gel babam"

'gel babam'

In [50]:
"gel {relative}" .format(relative = "babam")

'gel babam'

### 4. String formatting with 'f-string'

üëâ Easiest method, introduced in 2015 with P3.6.

üí° f-string is the string syntax that is enclosed in quotes with a letter f at the beginning.

Curly braces üëâüèª{} that contain variables are used to replace with their values.

Formula syntax is : `f"strings` `{variable1}` {variable2} string {variable3}"

In [25]:
fruit = 'Orange'
vegetable = 'Tomato'
amount = 6

In [18]:
f"The amount of {fruit} and {vegetable} we bought are totally {amount} pounds"

'The amount of Orange and Tomato we bought are totally 6 pounds'

üëâüèª You can use all valid expressions, variables, and even methods in curly braces.

In [28]:
f"{4*5}"

'20'

In [35]:
name="joseph"

In [36]:
f"My name is {name.capitalize()}"

'My name is Joseph'

üëâüèª Multiline f-string formatting style.

In [37]:
job = "teachers"
domain = "Data Science"

In [40]:
f"Hi {name}. You are one of the {job} in the {domain} section"

'Hi joseph. You are one of the teachers in the Data Science section'

In [48]:
print(f"Hi {name}. "
f"You're one of the {job} "
f"in the {domain} section")

Hi joseph. You're one of the teachers in the Data Science section

üí° If we don't use print function it only takes the last line. 

To get all liners without print function you may use backlash.

üëâüèª Multiple f-string formatting lines without parentheses--> `backslash üèª\` between lines.

In [54]:
f"Hi {name}." \
f"You're one of the {job}" \
f"in the {domain} section."

"Hi joseph.You're one of the teachersin the Data Science section."

In [5]:
transportation = "taxi"
payment_method = "cash"
means = "ferryboat"
phrase = f" We will get to port by {transportation} and paid it {payment_method} and go to Crete by {means}."
print(phrase)

 We will get to port by taxi and paid it cash and go to Crete by ferryboat.

In [58]:
who = "we"
means = "ferryboat"
place = "Crete"
message = (
f" Today {who} go "
    f"to {place} "
    f"with {means} in the middle of night."
  )
print(message)

 Today we go to Crete with ferryboat in the middle of night.

## 5. Summary

In [37]:
planet = "Earth"
diameter = 12742
print("The diameter of %s is %d kilometers."%(planet, diameter))# %operator 
print("The diameter of {} is {} kilometers.".format(planet, diameter)) # string.format() method
print(f"The diameter of {planet} is {diameter} kilometers.") # f-string method

The diameter of Earth is 12742 kilometers.
The diameter of Earth is 12742 kilometers.
The diameter of Earth is 12742 kilometers.

# Escape Characters

‚Ä¢ In Python strings, the backslash "\" is a special character, also called the "escape" character. 

‚Ä¢ It is used in representing certain whitespace characters like "\t" and "\n".

In [ ]:
An escape character is a backslash \ followed by the character you want to insert.

üëâ Backslash (\) behaves according to the character immediately after.

üëâ Here are basic escape characters:
    ‚Ä¢ \n : means new extra line.
    ‚Ä¢ \t : means tab mark (it is the escape sequence for the Horizontal Tab character).
    ‚Ä¢ \b : means backspace. It moves the cursor one character to the left.
    ‚Ä¢ \r : means a carriage return.

In [2]:
print('C:\november\number_expenditure.txt')#without escape character "\" it passes to new line because of "\n".
                                            # end = "|n" is a default argument for passing to new line in print() function.

C:
ovember
umber_expenditure.txt

In [3]:
print('C:\\november\number_expenditure.txt')#now we used escape char "\" so it doesnt pass to new line in the first

C:\november
umber_expenditure.txt

In [1]:
print('C:\\november\\number_expenditure.txt')

C:\november\number_expenditure.txt

## When to use escape character?

üëâ We use it to insert characters that are illegal to write, like;
    ‚Ä¢ "\n"
    ‚Ä¢ Double quote within double quote
    ‚Ä¢ Single quoto within single quote

In [1]:
txt = "We are the so-called "Vikings" from the north."

SyntaxError: invalid syntax (<ipython-input-1-56cdf4283a8e>, line 1)

To fix this problem, use the escape character

In [2]:
txt = "We are the so-called \"Vikings\" from the north."#escape character \ allows to use double quotas inside double quota

In [5]:
print('it\'s funny to learn Python')

it's funny to learn Python

### \b backspace

üí° Remember: Normally print() function separates expressions by spaces " ".

In [14]:
print("we", "are", "united", sep = " ")

we are united

In [15]:
print('we', '\bare', '\bunited', sep = " ")

we are united

In [16]:
print("we", "are", "united", sep = "")

weareunited

‚ö†Ô∏èAvoid ! : Using üëâüèª\ in the long string cause error, using üëâüèª\\ guarantees no error.

In [19]:
print("amanƒ±n yav")
print("amanƒ±n \byav")

amanƒ±n yav
amanƒ±n yav

### \t tab

In [2]:
print("one", "two", "three", sep="\t") # separated by tab marks

one	two	three

In [3]:
txt = "Hello\tWorld!"
print(txt)

Hello	World!

In [11]:
"Hello\tWorld" # g√∂r√ºld√ºƒü√º √ºzere escape characters work in print function.

'Hello\tWorld'

### \n newline

Escape charecter \ with n, \n means new extra line

In [5]:
txt = "Hello\nWorld!"
print(txt)

Hello
World!

In [6]:
print("new extra line works with \n write and see")

new extra line works with
 write and see

In [6]:
escapes = ["\n\t", ("\t", "\t\t"), ["\n", "\n\t\t"]]

sentence = "I am 40 years old.{}I have two children.{}Data Science is my IT domain.".format(escapes[0], escapes[2][1])

print(sentence)

I am 40 years old.
	I have two children.
		Data Science is my IT domain.

#### Python basics question-w3 resource

Write a Python program to print the following string in a specific format (see the output). Go to the editor
Sample String : "Twinkle, twinkle, little star, How I wonder what you are! Up above the world so high, Like a diamond in the sky. Twinkle, twinkle, little star, How I wonder what you are" Output :

Twinkle, twinkle, little star,
	How I wonder what you are! 
		Up above the world so high,   
		Like a diamond in the sky. 
Twinkle, twinkle, little star, 
	How I wonder what you are

In [7]:
print("Twinkle, twinkle, little star, \n\t How I wonder what you are! \n\t\t Up above the world so high, \n\t\t Like a diamond in the sky. \nTwinkle, twinkle, little star, \n\tHow I wonder what you are")

Twinkle, twinkle, little star,
	 How I wonder what you are!
		 Up above the world so high,
		 Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are

Write an expression for a string literal consisting of the following ASCII characters:

Horizontal Tab character
Newline (ASCII Linefeed) character
The character with hexadecimal value 7E

In [13]:
print("\t\nx7E")

x7E

In [14]:
"\t\n\x7E"

'\t\n~'

In [15]:
print("\t\n\x7E")

~

To specify a character by hexadecimal value, use '\xhh', where hh specifies the hexadecimal digits.

In [17]:
0x7E

126

x is used to define (one byte) hexadecimal literals in strings, for example:

In [19]:
'\x61' # will evaluate to 'a', because 61 is the hexadecimal value of 97, which represents a in ASCII

'a'

REPL stands for Read Evaluate Print Loop, and is the name given to the interactive MicroPython prompt that is accessible on the Pycom devices. Using the REPL is by far the easiest way to test out Python code and run commands. You can use the REPL in addition to writing scripts in main.py .

In [21]:
print(r'foo\\bar\nbaz')

foo\\bar\nbaz

# String Methods

`Method` is like a function, except it is attached to an object. 

Method is called on an object, and it makes changes to that object. A method, then, belongs to a class.

Tab --> I'll get a result of all the available methods on this string object

## `Searching a string`

‚Ä¢ startswith() method
‚Ä¢ endswith() method
‚Ä¢ index() method
‚Ä¢ count() method
‚Ä¢ find() method
‚Ä¢ isalpha() method
‚Ä¢ isdigit() method

In [19]:
company.startswith("C")

True

In [21]:
company.endswith("y")

True

In [22]:
company.index("C")

0

In [24]:
company.count("a")

2

## startswith () method

This method is used to search patterns in a string.

üëâüèª It searches for the particular pattern in the immediate beginning of a string.

üëâüèª Return True if string starts with the specified prefix, False otherwise.

‚Ä¢ string.startswith(prefix[, start[, end]])

üëâüèª It is not important to declare the end point in this method.

In [1]:
text = 'www.clarusway.com'

In [2]:
text.startswith("w")

True

üëâüèª Add `start` and `end` args so that the area of `search is delimited`.

In [5]:
text.startswith("c", 4, 6)

True

In [7]:
print(text.startswith("http"))

False

In [8]:
email = "clarusway@clarusway.com is my e-mail address"
email.startswith("@", 9)

True

In [26]:
seq = ['soup','dog','salad','cat','great']

In [30]:
for i in seq:
    if i.startswith("s"):
        print(i, "yeah!")

soup yeah!
salad yeah!

list comprehension: form√ºl: [expression + for + item + in + iterable + condition]

In [39]:
[i for i in seq if i.startswith("s")]

['soup', 'salad']

In [40]:
seq

['soup', 'dog', 'salad', 'cat', 'great']

In [3]:
s_seq = []
for i in seq:
    if i.startswith("s") == True:
        s_seq.append(i)
print(s_seq)

['soup', 'salad']

In [4]:
[i for i in seq if i.startswith("s") == True]

['soup', 'salad']

### With lambda function

lambda parameters : expression

In [42]:
(lambda x: x**2) (2)

4

In [44]:
nums = [1,2,3,4,5]
list(filter(lambda x: x%2 == 0, nums))

[2, 4]

In [46]:
list(filter(lambda i: i.startswith("s"), seq))

['soup', 'salad']

In [48]:
import pandas as pd

In [55]:
pd.DataFrame(data =[("E≈üek","Katƒ±r","At"), ("Aslan","Kaplan","√áƒ±ta"), ("Kurt","√áakal","K√∂pek")] , index = [1,2,3] , columns = ["A", "B", "C"])

       A       B      C
1   E≈üek   Katƒ±r     At
2  Aslan  Kaplan   √áƒ±ta
3   Kurt   √áakal  K√∂pek

In [59]:
pd.DataFrame({"A": ["E≈üek","Katƒ±r","At"], "B": ["Aslan","Kaplan","√áƒ±ta"],  "C": ["Kurt","√áakal","K√∂pek"]})

       A       B      C
0   E≈üek   Aslan   Kurt
1  Katƒ±r  Kaplan  √áakal
2     At    √áƒ±ta  K√∂pek

## endswith() method

üëâüèª It searches `particular pattern` in the `immediate end` of a string.

Return True if string ends with the specified suffix, False otherwise.

The formula syntax: string.endswith(value, start, end)

‚Ä¢ value: Required. The value to check if the string ends with
‚Ä¢ start:Optional. An Integer specifying at which position to start the search
‚Ä¢ end: Optional. An Integer specifying at which position to end the search

In [31]:
text = "www.clarusway.com"

In [32]:
text.endswith(".com")

True

üëâüèª With start and end arguments area of search may be delimited. 

üí°Tips: Characters of string count from left to right and start with zero.

üëâüèª Whenever slicing the ending number always has to be 1 more than your actual location you want to handle.

In [35]:
text.endswith("w", 0, 1)

True

In [41]:
a = "This is a string"
a.endswith("g", 14) # 14 is start argument, finish is not specified, starting point is not important. 
                        #interpreter looks only to finish, Master Code Online Example

True

In [42]:
a.endswith("s", 0, 7) # 7-ending point is space right there but whenever we use ending index it always goes one in front of that

True

In [43]:
a[7]

' '

### index() method

Return the lowest index in string where substring sub is found, such that sub is contained within S[start:end].

In [22]:
text

'format it man!'

In [18]:
text = "what is index"
text.index("w")

0

In [27]:
text = "I study Python"
print(text.index("u"))

4

## count() method

üëâüèª Return the number of non-overlapping occurrences of substring sub in string S[start:end].

In [2]:
s= "hello my name is Sam"
s.count("Sam")

1

## find() method

üëâüèª Return the lowest index in String where substring is found, such that sub is contained within S[start:end].

In [4]:
z = "Best website is Tutorials Point"

In [5]:
z.find("Tutorials")

16

## isalpha() method

üëâüèª Return True if all characters in the string are alphabetic and there is at least one character, False otherwise. 

‚Ä¢ Alphabetic characters are those characters defined in the Unicode character database as ‚ÄúLetter‚Äù, i.e., those with general category property being one of ‚ÄúLm‚Äù, ‚ÄúLt‚Äù, ‚ÄúLu‚Äù, ‚ÄúLl‚Äù, or ‚ÄúLo‚Äù. 

‚Ä¢ Note that this is different from the ‚ÄúAlphabetic‚Äù property defined in the Unicode Standard.

Check if all the characters in the text are letters

In [31]:
company = "Clarusway"

In [14]:
company.isalpha()

True

In [15]:
company = "Clarusway2"

In [16]:
company.isalpha()

False

### isdigit() method

üëâ ƒ∞sdigit string olan bir ifadeyi kontrol eder.

Return True if the string is a digit string, False otherwise. Bir tane harf varsa false verir.

In [26]:
company

'Clarusway2'

In [27]:
company.isdigit()

False

In [29]:
txt ="123"
txt.isdigit()

True

## `Changing the string`

Returning the copy of the string with some changes. 
‚Ä¢ First: string 
‚Ä¢ Second: method name and parentheses (arguments are listed).

The formula syntax is : `string`.`method()`

‚Ä¢ capitalize() method
‚Ä¢ replace() method
‚Ä¢ swapcase() method
‚Ä¢ upper() method
‚Ä¢ lower() method
‚Ä¢ title() method 
‚Ä¢ format() method

## capitalize() method

üëâüèª The capitalize() method returns a string where the first character is `upper case` and rest to lower case.

Return a capitalized version of the string. More specifically, make the first character have upper case and the rest lower

In [38]:
company = "clarusway"

In [39]:
company.capitalize()

'Clarusway'

## replace() method

Return a copy with all occurrences of substring old replaced by new.

Replaces all occurrences of old with new.

Syntax: `string`.`replace`(old, new[, count])

If the optional argument count is given, only the first count occurrences are replaced.

In [41]:
company = "Clarusway"

In [44]:
text.replace("Clarusway", "Sibertech", -1) #3rd argument: how many occurances you want it to do.Default -1 yani hepsini deƒüi≈ütirir.

'Sibertech'

In [34]:
text = "pazar"
text.replace("pazar", "cuma", -1)

'cuma'

In [20]:
text.replace("pazar", "cuma"[1:5])

'uma'

In [22]:
"Mississippi".replace("ss", "zz", 1) # Master Code Online example

'Mizzissippi'

In [24]:
a = "i"
b = "I"
c = "Mississippi"
c.replace(a, b)

'MIssIssIppI'

### swapcase() method

Converts upper case to lower case and vice versa.

In [1]:
sentence = "I live and work in Virginia"
sentence.swapcase()

'i LIVE AND WORK IN vIRGINIA'

### upper() method

Converts all characters of the string to the upper case.

In [2]:
sentence.upper()

'I LIVE AND WORK IN VIRGINIA'

### lower() method

Converts all characters of the string to the lower case.

In [3]:
sentence.lower()# note that, source text is unchanged

'i live and work in virginia'

### title() method

Converts the first character of each word to upper case.

In [4]:
sentence.title()

'I Live And Work In Virginia'

### format() method

In [25]:
"hello my name is {}".format("Sam")

'hello my name is Sam'

## `Editing string`

üëâüèª These formulas `remove the trailing chars`.

The `default` for the argument chars is also `whitespace`. If the argument chars aren‚Äôt specified, trailing whitespaces are removed.

‚Ä¢ Three functions are provided that oÔ¨Äer the ability to strip leading and trailing characters from a string. All three functions have the same signature and all three return a new string object with unwanted characters removed. We can remove the unwanted characters using strip(), rstrip() and lstrip() functions.

Syntax is : `string`.`method()`

‚Ä¢ strip() method
‚Ä¢ rstrip() method
‚Ä¢ lstrip() method
‚Ä¢ split() method
‚Ä¢ join() method

### strip() method

Removes all spaces (or specified characters) from both sides.

In [33]:
space_string = "     listen first      "

In [34]:
space_string.strip() # removes all spaces from both sides

'listen first'

In [40]:
source_string = "interoperability"
source_string.strip("yi")# removes trailing "y" or "i" or "yi" or "iy" from both sides

'nteroperabilit'

In [39]:
source_string.strip("inty")

'eroperabil'

### rstrip() method

Removes spaces (or specified characters) from the right side.

Return a copy of the string with trailing whitespace removed.

Remove any white spaces at the end of the string

In [11]:
text = "rightStrip"

In [12]:
text.rstrip("ip")

'rightStr'

In [42]:
space_string = "     listen first      "
space_string.rstrip() # removes spaces from the right side--> listen first

'     listen first'

In [43]:
source_string = "interoperability"
source_string.rstrip("yt")# removes "y" or "t" or "yt" or "ty" from the right side

'interoperabili'

### lstrip() method

In [ ]:
Removes spaces (or specified characters) from the left side.

Return a copy of the string with leading whitespace removed.

In [13]:
text.lstrip("r")

'ightStrip'

In [41]:
source_string = "interoperability"
source_string.lstrip("in")# removes "i" or "n" or "in" or "ni" from the left side

'teroperability'

### All 3 editing methods in an example

In [44]:
txt = "     banana     "
print(txt.rstrip())
print(txt.rstrip().lstrip())
print(txt.strip())

     banana
banana
banana

### split() method

It will split this on all the whitespace.

In [50]:
sentence = "I live and work in Virginia"
sentence.split()

['I', 'live', 'and', 'work', 'in', 'Virginia']

In [52]:
tweet = "Go sports! #Sports"
tweet

'Go sports! #Sports'

In [55]:
tweet.split("#")

['Go sports! ', 'Sports']

In [54]:
tweet.split("#")[1]

'Sports'

In [1]:
newin = "CA NY WY OR CO".split()
newin

['CA', 'NY', 'WY', 'OR', 'CO']

### join() method

In [2]:
x = ["a", "b", "c", "d"]
"**".join(x)

'a**b**c**d'

### Assigning the modified text to a new variable

We can have a new string.

In [21]:
sentence = "I live and work in Virginia"

In [22]:
sentence.title()

'I Live And Work In Virginia'

In [23]:
title_sentence = sentence.title()

In [24]:
sentence  # note that, again source text is unchanged

'I live and work in Virginia'

In [25]:
changed_sentence = sentence.replace("i", "+")
changed_sentence

'I l+ve and work +n V+rg+n+a'

In [27]:
sentence.swapcase()

'i LIVE AND WORK IN vIRGINIA'

In [28]:
sentence.swapcase().capitalize() # changes 'i' to uppercase and # the rest to lowercase

'I live and work in virginia'

#### Question

In [ ]:
Will this code work? If yes, what the output will be? Describe how?

In [32]:
print("Actions speaks louder than words".upper().swapcase().capitalize())

Actions speaks louder than words

In [29]:
"Actions speaks louder than words".upper() # returns string type

'ACTIONS SPEAKS LOUDER THAN WORDS'

In [30]:
"Actions speaks louder than words".upper().swapcase() # also returns string type

'actions speaks louder than words'

In [31]:
"Actions speaks louder than words".upper().swapcase().capitalize() # # returns string type again. code is good.

'Actions speaks louder than words'

In [22]:
text = "tyou can learn almost everything in pre-clasz"
print(text.rstrip("z").lstrip("t").upper())
#text = text.rstrip("z").lstrip("t").upper()
#print(text)

YOU CAN LEARN ALMOST EVERYTHING IN PRE-CLAS

In [45]:
print("of all fruits", txt.rstrip(), "is my favorite")

of all fruits      banana is my favorite

In [1]:
#Working with strings
print("Giraffe\nAcademy")
print("Giraffe\"Academy")
phrase = "Giraffe Academy"
print(phrase)
#Concatenate
print(phrase + " is cool")
#Functions
print(phrase.lower())
print(phrase.upper())
print(phrase.isupper())
print(phrase.islower())
print(phrase.upper().isupper())
print(len(phrase))
print(phrase[0])#indexing
print(phrase.index("G"))
print(phrase.index("Acad"))#gives starting point of phrase-->8
#print(phrase.index("z"))#-->value error, substring not found
print(phrase.replace("Giraffe", "Elephant"))

Giraffe
Academy
Giraffe"Academy
Giraffe Academy
Giraffe Academy is cool
giraffe academy
GIRAFFE ACADEMY
False
False
True
15
G
0
8
Elephant Academy

In [2]:
#FREE CODE CAMP
print("Hello World")
#Drawing a shape
print("   /|")
print("  / |")
print(" /  |")
print("/___|")

#variables == container
char_name = "John"
char_age = "35"

print("There once was a man named " + char_name + ", ")
print("he was " + char_age + " years old.")
print("He really liked the name " + char_name + ", ")
print("but he didn't like being " + char_age + ".")

Hello World
   /|
  / |
 /  |
/___|
There once was a man named John,
he was 35 years old.
He really liked the name John,
but he didn't like being 35.

In [1]:
sentence = "apologizing is a virtue"
print(".%11s" % sentence)  # we get first 11 characters of the string

.apologizing is a virtue

In [9]:
Sentence = "Cafe Veneti'de √ßalƒ±≈üƒ±yorum"
print(Sentence.upper())
print(Sentence.swapcase())
print(Sentence.capitalize())
print(Sentence.lower())
print(Sentence.title())

CAFE VENETI'DE √áALI≈ûIYORUM
cAFE vENETI'DE √áALI≈ûIYORUM
Cafe veneti'de √ßalƒ±≈üƒ±yorum
cafe veneti'de √ßalƒ±≈üƒ±yorum
Cafe Veneti'De √áalƒ±≈üƒ±yorum

In [10]:
phrase1 = "There are 3 %s in the game room"
phrase2 = "There is only a %.5s here"
print(phrase1 % "children")
print(phrase2 % "children")
print("There is only a %.5s here" % "children")

There are 3 children in the game room
There is only a child here
There is only a child here

# Integer

## Numeric Types

There are three distinct numeric types (SiFCo):
‚Ä¢ Signed Integer
‚Ä¢ Floating point
‚Ä¢ Complex type is called complex and they are written in the form, x + yj , where x is the real part and y is the imaginary part. For example: 3.14j.

## Notes

In Python 2, there was an internal limit to how large an integer value could be. Maximum value for an integer is 2**63 - 1

That limit was removed in Python 3. This means there is no explicitly defined limit, but the amount of available address space forms a practical limit depending on the machine Python runs on.

In [5]:
2**63

9223372036854775808

In [6]:
2**63-1

9223372036854775807

### Signed Integer

In [ ]:
‚Ä¢ Called int, they are whole numbers- no decimal points.
‚Ä¢ Can be positive, negative or zero

In [1]:
71

71

In [2]:
-122

-122

In [3]:
0

0

In [7]:
type(0)

int

### Floating Point

This type is also called float and stand for real numbers with decimal point.

In [4]:
71.0

71.0

In [5]:
-33.03

-33.03

In [6]:
type(-33.03)

float

In [14]:
float(2.8)

2.8

In [13]:
type(float(2.8))

float

In [ ]:
How would you express the constant floating-point value 3.2 √ó 10-12 in Python?

In [7]:
3.2e-12

3.2e-12

In [8]:
type(3.2e-12)

float

### Imaginary (complex) numbers

‚Ä¢ used in real-life applications, such as electricity, as well as quadratic equations. 
‚Ä¢ In quadratic planes, imnums show up in equations that don't touch the x-axis.
‚Ä¢ Particularly useful in advanced calculus. We will not use this type much.

In [ ]:
üí°Tips: same numerical value different numeric types: 71-int and 71.0-float

## ASCII Table

In [3]:
0X00 #HEX (onaltƒ±lƒ±)

0

In [4]:
0 # DEC (onlu)

0

In [2]:
0X01

1

In [5]:
0x41

65

65

In [ ]:
How would you express the hexadecimal (onaltƒ±lƒ±) value a5 as a base-16 integer constant in Python?

In [12]:
0xa5

165

In [13]:
type(0xa5)

int

## Arithmetic Operations

‚Ä¢ Addition (+)
‚Ä¢ Subtraction (-)
‚Ä¢ Multiplication (*)
‚Ä¢ Division (/)
‚Ä¢ Modulus (%) ---> gives residual
‚Ä¢ Exponentiation (**)
‚Ä¢ Floor division (//)

#### Addition (+)

In [8]:
2+3

5

#### Subtraction (-)

In [9]:
5-3

2

#### Multiplication (*)

In [7]:
2*3

6

#### Division (/)

In [11]:
6 / 3

2.0

#### Exponentiation (**)

In [6]:
x = 2
x = x**3
x

8

#### Modulus (%)

‚Ä¢ gives the residual from the division

In [1]:
num1 =10
num2 = 3

In [4]:
num1%num2

1

#### Floor division (//)

‚Ä¢ Gives the whole dividend

In [22]:
10//3

3

### Priorities

‚Ä¢ parentheses : ()
‚Ä¢ power : **
‚Ä¢ unary minus : -3
‚Ä¢ multiplication and division : *, /
‚Ä¢ addition and subtraction : +, -

### Arithmetic ops and print() function

In [ ]:
x = 5
print ('value of x       : ', x)
x += 2
print ("2 more of x      : ", x, "\n") # '\n' = we had extra empty line.
y = 10
print ('value of y       : ', y)
y -= 2
print ("2 minus y        : ", y, "\n")
z = 6
print ('value of z       : ', z)
z *= 2
print ("2 times z        : ", z, "\n")

### in-place Operations

Any mathematics operator can be used before the '=' character to make an in-place operation:
-= decrements the variable in place,
+= increment the variable in place,
*= multiply the variable in place,
/= divide the variable in place,
//= Ô¨Çoor divide the variable in place, b√∂l√ºm√ºn tam kƒ±smƒ±
%= returns the modulus of the variable in place, Kalan
**= raise to power in place.

üí° Variable += number gives the same result as Variable = Variable + number

In [1]:
x = 2
x += 3
x

5

In [3]:
x = 2
x *= 3 
x

6

In [4]:
x = 2
x = x*3
x

6

### Working with numbers

In Python 2, the maximum value for an integer is 2**63 - 1

In Python 2, there was an internal limit to how large an integer value could be. But that limit was removed in Python 3.

This means there is no explicitly defined limit, but the amount of available address space forms a practical limit depending on the machine Python runs on.

In [4]:
2**64 + 1

18446744073709551617

In [8]:
print(2)
print(3+4)
print(3 * 4 + 5)
print(3 * (4 + 5))
print(10%3)#Modulus, spits out remainder

2
7
17
27
1

In [9]:
first_num = 6
second_num = 2
print(first_num + second_num)
print(first_num ** second_num)

8
36

In [10]:
days_feb = 28
print(str(days_feb) + " days in February")
f"There are {days_feb} in February"

28 days in February

'There are 28 in February'

In [11]:
today = "monday"
"Today is" +" " + today

'Today is monday'

In [12]:
first_num = "5"
second_num = "6"
print(first_num + second_num)
print(int(first_num)+int(second_num))

56
11

In [13]:
num1 = input("enter num1")
num2=input("enter num2")
print(num1+num2)
print(int(num1)+int(num2))

enter num12
enter num22
22
4

In [14]:
first_num = input("Enter first number")
second_num = input("Enter second number")
print(int(first_num) + int(second_num))
print(float(first_num) + float(second_num))

Enter first number2
Enter second number2
4
4.0

In [15]:
pi = 3.14159
print(pi)

3.14159

In [16]:
first_num = 5
second_num = 6
print(first_num ** second_num)

15625

In [17]:
num1=5
num2=3
print(num1**num2)
print((num1+num2)**2)#paranthesis has priority
print(num1+num2)
print(num1-num2)
print(num1*num2)
print(float(num1/num2))

125
64
8
2
15
1.6666666666666667

### formatting to two decimal places

USE str.format() TO SPECIFY THE NUMBER OF DECIMAL PLACES

In [18]:
value = 3.3333333333

formatted_string = "{:.2f}".format(value)


float_value = float(formatted_string)

print(float_value)

3.33

In [11]:
value = 3.3333333333
float("{:.2f}".format(value))

3.33

In [20]:
num = 3.147
newnum = round(num, 2)
newnum

3.15

In [21]:
number = input("please enter a number")
number1 = ("number"*4)
print(number)

please enter a numberAS
AS

In [24]:
fruit = 'orange'
fruit += ' apple'
fruit += ' banana'
print(fruit)

orange apple banana

In [25]:
fruit1 = "Apple"
fruit2 = "Orange"
print(2*fruit1+" "+3*fruit2)

AppleApple OrangeOrangeOrange

In [26]:
a = 3
b = 4
c = (a**2 + b**2)**0.5
print(c)

5.0

In [27]:
x = 1000
x(1, 52) = 1000 * 0.07 + x
print(x 52)

SyntaxError: invalid syntax (<ipython-input-27-1bcfb2de6bbc>, line 3)

In [28]:
number_1 = input("Enter first number")
number_2 = input("Enter second number")
print(int(number_1) + int(number_2))

Enter first number2
Enter second number2
4

In [29]:
number_1 = int(input("Enter first number"))
number_2 = int(input("Enter second number"))
print(number_1 + number_2)

Enter first number2
Enter second number2
4

In [30]:
number_1 = int(input("Enter first number"))
number_2 = int(input("Enter second number"))
print("{} + {} = ".format(number_1, number_2))
print(number_1 + number_2)

Enter first number2
Enter second number2
2 + 2 =
4

In [31]:
number_1 = int(input("Enter first number"))
number_2 = int(input("Enter second number"))
print("{} * {} = ".format(number_1, number_2))
print(number_1 * number_2)

Enter first number2
Enter second number2
2 * 2 =
4

In [32]:
from math import *

In [33]:
#common functions in Python related to nums

num = -5
print(abs(num))# give absolute value of num -->5
print(pow(3,2))#-->9
print(max(4,6))# maximum -->6
print(min(4,6))# minimum -->4
print(round(3.7))# rounds the num -->4

from math import *
print(floor(3.7))#3, chopp off decimals
print(ceil(3.2))#4, opposite of floor. it pushes next num
print(sqrt(36))

5
9.0
6
4
4
3
4
6.0

### Scientific Notation

In [1]:
#scientific notation occurs in float numbers when they are so small or very large
n1 = 0.0005
n1

0.0005

In [2]:
n2 = 0.0000000054321654
n2

5.4321654e-09

In [7]:
int(n2)

0

In [3]:
#big float number
n3 = 10000000000000003346700000000.000
n3

1.0000000000000004e+28

In [ ]:
#Let's create a test DataFrame with random numbers in a float format in order to illustrate scientific notation.

df = pd.DataFrame(np.random.random(5)**10, columns=['random'])

In [ ]:
df

In [ ]:
df["random"] = df["random"].round(5)
df

#### Suppressing

In [8]:
num=3/1980000
print(num)

1.5151515151515152e-06

In [9]:
num=2.4e-06

In [10]:
f"{num:.8f}"

'0.00000240'

## Boolean Types

Bools have two values. True and False (represent 1 and 0 or yes & no or exist & nonexistent).

Their values are the two constant objects False and True (first letters are uppercase). 
Used to represent truth values, in numeric contexts behave like integers 0 and 1.
Mostly used in conditional operations.
Ex: TV is turned on or off or weather is rainy or not. 
tv_open = True  # it seems TV is on now
is_rainy = False  # I love sunny weather

In [34]:
is_pass = True #If you pass the course , whether students have passed a course or not

In [35]:
is_pass = False # If you did not pass the course

Boolean Logic Expressions

‚Ä¢ 3 built-in boolean operators: and, or and not. Except not, all are binary operators, which means two arguments are required.

    ‚Ä¢ And operator evaluates all expressions and returns:

        * last expression if all True.  2 and 3--> 3
        * Ô¨Årst value that evaluated False. 1 and 0.0 and 0 --> 0.0
    ‚Ä¢ Or operator evaluates the expressions left to right and returns:
        * Ô¨Årst True value, 2 or 3 --> 2
        * last value if none is True,  0 or {} --> {}
    ‚Ä¢ Not operator: Evaluates expression that follows as opposite of truth. Eg: not True -->False.

`and` operator

In [36]:
2 and 3 # And operator evaluates all expressions and returns last expression if all True.

3

In [37]:
1 and 0.0 and 0 # And operator evaluates all expressions and returns Ô¨Årst value that evaluated False.

0.0

`or` operator

In [38]:
2 or 3 #  Or operator evaluates the expressions left to right and returns Ô¨Årst True value

2

In [39]:
0 or {} # Or operator evaluates the expressions left to right and returns last value if none is True

{}

`not` operator

In [ ]:
not True # Evaluates expression that follows as opposite of truth.

In [40]:
x = True and not True

Value1	Logic	Value2	Returns

In [41]:
True and True

True

True and False

In [43]:
False and False

False

In [44]:
False and True

False

In [45]:
True or True

True

In [46]:
True or False

True

In [47]:
False or False

False

In [48]:
False or True

True

Order of Priority

`not` --> `and`--> `or`

In [49]:
True and False or not False or False

True

Tips:
‚Ä¢ and and or return one of its operands, not necessarily a bool type. 
‚Ä¢ not always returns bool type.

Truth Values of Logic Statements

‚Ä¢ Although Python has its own boolean data type, we often use non-boolean values in log.ops.
‚Ä¢ The values of non-boolean types (integers, strings, etc.) are considered truthy or falsy when used with logical ops, depending on whether they are seen as True or False.
‚Ä¢ The following values are considered False, in that they evaluate to False when applied to a boolean operator:
    ‚óã None.
    ‚óã Zero of any numeric type: 0, 0.0, 0j
    ‚óã Empty sequences and collections: '', [], {}.
    ‚óã Other than above values, any remaining value is evaluated as True.

## Type Conversion

Dts convertable - if the type allows. Functions to convert the types:
‚Ä¢ str() converts to string type
‚Ä¢ int() converts to signed integer type
‚Ä¢ float() converts to floating point type

üí°Tips: We can print the types of data using type() function.

In [1]:
example1 = 'sometimes what you say is less important than how you say it'
print(type(example1))

<class 'str'>

In [3]:
'71'

'71'

In [4]:
71

71

In [5]:
f = 3.14  # the type is float
s = str(f)  # converting float to string

In [6]:
print(type(s))

<class 'str'>

In [ ]:
Tips: Value of any type in Python can be converted to a string.

In [16]:
x = 2
print(type(x))
float(x)

<class 'int'>

2.0