# Files

## What is a File?

‚Ä¢ On most operating systems, files are `spaces` (like a paper where words are written) on the computer where data is stored. 

‚Ä¢ In an operating system's graphical user interface, files are often represented by icons: thumbnails showing the content. 

‚Ä¢ Although it differs in all OS, files have their own icons.

‚Ä¢ Texts for Python codes, pictures and videos or python-3.8.1.exe that downloaded for installation are the files.

‚Ä¢ You can open and modify their contents, store them on various media or transfer them from one media to another.

## File Components

### 1. Metadata

‚Ä¢ All the detailed information about a file stored on the computer is called the metadata of that file. 

‚Ä¢ In Windows10, you can right-click on a file and then click properties then choose details to display the metadata. 
In general, almost all modern OSes have this (shown on the picture) descriptive information as metadata. Every time you modify anything about the file, the metadata will be updated accordingly.

### 2. File Attributes

‚Ä¢ It's the special kind of md associated with computer files that define file system behavior. Each file has several attributes, but these attributes vary greatly from one OS to another. 

‚Ä¢ Each attribute can have one of two states: set and cleared. 

‚Ä¢ Basic file attributes are contained in every Windows file.
	‚óã Read-Only (R) : It makes the file read-only and indicates that a file can not be altered. 
	‚óã System (S) : Hosting file is a critical system file that is necessary for the computer to operate properly.
	‚óã Hidden (H) : It makes the file hidden and indicates that the hosting file is unseen by default.

## Directories & Folders

‚Ä¢ There is a structure for storing the files in an orderly manner, just like the m, p, and sps and making them easily accessible on demand. This organized structure where files are stored is called a folder or directory.

‚Ä¢ What we call a directory or a folder is actually managed in the same logic as a folder for storing documents and files in a real office environment. Folder icons used by the oss shown below (Windows, Linux, Mac, respectively).

‚Ä¢ A folder/directory can contain files or other folders/directories. A directory inside the other directory is generally known as a subdirectory. 

‚Ä¢ In all opss, directories/folders are structured in a hierarchical order. There is usually one (or multiple if it is partitioned) directory called the root directory-rd, and there are as many subdirectories as needed inside the rd.
Naming the rd may vary from one os to another. The following diagram shows us a sample of the hierarchical structure of the directories of Windows OS.

## Reading Files

## `open()` function

‚Ä¢ Data for program comes from outside in a file format. 

‚Ä¢ This function is used to open these files.

#### open() function parameters

open (file, mode='r', buffering=-1, encoding=None, errors=None, newline=None, closefd=True, opener=None)

1. file parameter

‚Ä¢ file is the only required parameter. 

‚Ä¢ It is a path-like object which is a str or bytes that represents a path in the file directory. 

‚Ä¢ Path-like object giving the pathname of the file (absolute or relative to the current working directory to be opened or an integer file descriptor of the file to be wrapped. 

‚Ä¢ This parameter takes the name of the file that you want to open which is stored in the directory where the Anaconda3 or the Python installed.

‚Ä¢ In other words, the file should be stored in the current working directory.

In [1]:
open("C:/Users/Owner/first_file.txt")

In [3]:
my_file = open("C:/Users/Owner/first_file.txt", mode ="rt", encoding="utf-8")  # this syntax opens a 'txt' file, burda "my_file" deƒüi≈ükeni "file-like object" oluyor 
                                                    #my_file diye bir object olu≈üturduk
print(type(my_file))

<class '_io.TextIOWrapper'>

In [5]:
#my_file.read()
my_file.close()

In [18]:
with open("C:/Users/Owner/first_file.txt", "r") as first: # it should be automatically closed with "with .... as ... block". 
    print(first.read())

hello man!

‚Ä¢ It opens the file and returns a corresponding file-like object. If the file cannot be opened, an OSError is raised. 

‚Ä¢ Pay attention to the type of my_file. We have created a file-like object. So we can apply different kinds of methods to this object (my_file), like count(). 

‚Ä¢ Dosya deƒüi≈üken olarak atandƒ±ƒüƒ±nda bir object olu≈üturuyor. Lambda fonksiyonu gibi. Oda olu≈üturulduƒüunda bir object oluyor.

#### 2. encoding parameter

‚Ä¢ Indicates the encoding that needs to be used to decode or encode a file. 

‚Ä¢ The default value depends on the platform you use and its language. 

‚Ä¢ Unicode Transformation Format (UTF-8) is one of the most preferred used encodings, and Python generally defaults to using it. 

‚Ä¢ ‚Äò8‚Äô means that 8-bit values are used in the encoding. 

‚Ä¢ UTF-8 yazƒ± karakterlerini g√∂rmemizi ve kullanmamƒ±zƒ± saƒülayan sistem. Formatlama yapar

‚Ä¢ Use the correct encoding in your file. 

‚Ä¢ Video of Tom Scott about the history of Unicode and UTF-8.
	‚óã 1960: teleprinters, simple devices where you type a key and it sends numbers and some letters comes out on the other side. But there needs some standard. 
    ‚óã So in mid 1960s USA set ASCII, it was 7-bit binary system. So each letter you type in gets converted into 7 binary numbers and sent over the wire. 
	‚óã That means you can have numbers from 0 to 127. 
	‚óã 8 bit computerlar ile 256 karaktere √ßƒ±kƒ±ldƒ±. 
	‚óã Herkes kendi kodunu yaptƒ±. Karƒ±≈üklƒ±k. Www hit. Unicode consortium √ßƒ±ktƒ±. They have a list of more than a hundred thousand characters. 
	‚óã Nasƒ±l ba≈ü √ßƒ±kƒ±lacak UTF 8 √ßƒ±ktƒ±. 100.000'den fazla karakteri kodlamak i√ßin 32 bit sistem gerekli. A still 65, busefer noldu abi. Eskiden 7 bitte depolanan A 32 bitte depolanmaya ba≈üladƒ±. Sƒ±kƒ±ntƒ± bu abi. 
	‚óã UTF nassƒ± √ß√∂zd√º bunu abi: ASCII gibi ba≈üladƒ±. 128 in altƒ±nda olanlar i√ßin abi yine bunlarƒ± 7 digit ile temsil etti. 
	‚óã Peki bunun √∂tesi n'olcak abi: 110 la ba≈üladƒ±lar. Yeni karakterin ba≈ülangƒ±cƒ±, bu karakter 2 bayt uzunluƒüunda olacak. 
				110xxxxx     *      10xxxxxxx
				‚óã 4096 i√ßin b√∂yle √ß√∂z√ºld√º. 
				‚óã √ñtesi abi?: 
				1110xxxx    - 10xxxxxx - 10xxxxxx

#### 3. mode parameter

‚Ä¢ Most important parameters of open() function. This parameter has several options that regulate how or for what purpose we open the file. These options are as follows:

‚Ä¢ 'mode' Parameter Attributes

Character, What it's used for?
'r'	Open for reading (default). If the file doesn't exist, FileNotFoundError will raise.
'a'	Open for writing. It will append to the end of the file if it already exists. If there is no file, it will create it.
'w'	Open for writing. It will be overwritten if the file already exists. If there is no file, it will create it.
'x'	Open for exclusive creation, it will fail if the file already exists.
'b'	Open in binary mode.
't'	Open as a text file (default).
'+'	Open for updating (reading and writing).

‚Ä¢ By default, open() function executes opening the file for reading ('r') as a text ('t'). In other words, it defaults to 'r' or 'rt' which means open for reading in text mode.

üí°Tips:
‚óã You can combine the modes according to your needs.
‚óã If you want to open and be able to read, modify, and update the existing file you should set the mode as 'r+'.

‚Ä¢ You can choose the format in which you want to open the file as text ('t') or binary ('b'). 
    ‚óã Files opened in 'binary' mode return contents as bytes objects without any decoding. 
    ‚óã In 'text' mode, the contents of the file are returned as str, the bytes having been first decoded using a platform-dependent encoding or using the specified encoding if given.

‚Ä¢ In this case, if you want to open a binary file for writing you should set the mode as 'wb'. On the other hand, if you want to work with a text file you don't need to specify 't' since the default value of mode is already set as 't'. So, when opening and writing a text file it's enough to set the mode as 'w'.

‚Ä¢ Differences between the use of 'w' and 'a':
	‚óã Both options are used to modify the file or to write new data to the file. 
	‚óã 'a', the data you want to write will be added at the bottom of the file and combined with existing content, 
'w' will delete the existing content and add new content each time.

## `read()` function

read() function enables to read the files.

Create a text file and save it in the folder where Anaconda3 / Python is installed. 
Suppose we have a file named "fishes.txt" with the following content.

√ò You can use the following methods for reading this file :
‚Ä¢ .read(size)
‚Ä¢ .readline(size)
‚Ä¢ .readlines()
‚Ä¢ using loops

### 1 `.read(size)` method

Docstring:
Read at most n characters from stream.

Read from underlying buffer until we have n characters or we hit EOF (end of file).
If n is negative or omitted, read until EOF.

‚Ä¢ Most preferred method for reading files.
‚Ä¢ This method reads the size bytes (characters) of the file.
‚Ä¢ If this parameter is not specified, the entire file is read at once.

In [2]:
sea = open("C:/Users/Owner/fishes.txt", "r")
sea.read()# displays the entire text content
#print(sea.read())
#sea.close() # be sure to close the file

'Orca is a kind of Dolphin.\n\nBlue Whale is the largest animal known on earth.\n\nSharks are the sister group to the Rays (batoids).\n\nThe Tuna Fish can weigh up to 260 kg.\n\nSquid and Octopus are in the same class.\n'

üí°Tips : Be sure to close the file you opened using the .close() method.

In [41]:
sea = open("C:/Users/Owner/fishes.txt", "r")
print(sea.read(33)) 
sea.close() # be sure to close the file

Orca is a kind of Dolphin.

Blue

In [43]:
sea = open("C:/Users/Owner/fishes.txt", "r")
print(sea.read(33)) # if you run these all, first it gets first 33, then it continues from the finish
print(sea.read(25)) 
print(sea.read(3)) 
sea.close()

Orca is a kind of Dolphin.

Blue
Whale is the largest anim
al

### seek() function

In [ ]:
Change stream position.

Change the stream position to the given byte offset. The offset is
interpreted relative to the position indicated by whence.  Values
for whence are:

* 0 -- start of stream (the default); offset should be zero or positive
* 1 -- current stream position; offset may be negative
* 2 -- end of stream; offset is usually negative

Return the new absolute position.

In [10]:
sea = open("C:/Users/Owner/fishes.txt", "r")

sea.read(5)
#sea.close()

'Orca '

In [12]:
sea.tell() # returns the current stream (cursor) position

5

In [18]:
sea.seek(0) # changes the stream (cursor) position to zero

0

In [19]:
sea.read(10)

'Orca is a '

In [20]:
sea.close()

In [25]:
sea = open("fishes.txt", "r")
print(sea.read(33)) 
sea.seek(0)  
print(sea.read(25)) 
sea.seek(0)
print(sea.read(3)) 
print(sea.tell())  
sea.close()

Orca is a kind of Dolphin.
Blue W
Orca is a kind of Dolphin
Orc
3

üí°Tips: Note that; while .read(33) counting the first 33 bytes, it covers newline \n and space character of the file text. The offset= 0 indicating the first character of the text, '.seek(offset) method' changes the stream (cursor) position to a given offset.

### 2. `.readline(size)` method

‚Ä¢ This method reads only size bytes from a single line of the text. 
‚Ä¢ Satƒ±r satƒ±r okuma yapƒ±yor.

In [26]:
sea = open("fishes.txt", 'r')   
print(sea.readline())  # displays the first line of the text
print(sea.readline())  # displays the second line
print(sea.readline())  # each time it goes to the new line
sea.close()

Orca is a kind of Dolphin.

Blue Whale is the largest animal known on earth.

Sharks are the sister group to the Rays (batoids).

üí°Tips: Note that; .readline() reads the entire line. Pay attention to the output that there are empty lines between each line.

‚Ä¢ Size parameter: The first line of the text contains 26 bytes (characters) except the newline char (\n). But, note that the newline character (\n) is considered as a part of each line. Then the first line of text consists of 27 characters. Let's choose 13 as the size parameter and see what happens :

In [27]:
sea = open("fishes.txt", 'r')   
print(sea.readline(13))
print(sea.readline(13))
print(sea.readline(13))
print(sea.readline(13))
sea.close()

Orca is a kin
d of Dolphin.


Blue Whale is

‚Ä¢ .readline(13) reads 13 chars through the line and it continues to read 13 chars each until the line ends, and only then passes to the next line. 
‚Ä¢ Considering the first line consists of 27 characters, the print(sea.readline(13)) syntax can read the entire line in a total of three repetitions. 
‚Ä¢ The output has two empty lines. 
    ‚óã One of them is caused by the last character (\n) of the first line.  
    ‚óã The other is because of the default empty line that the .readline() method puts between each line.

###  3. `.readlines()`

‚Ä¢ It reads the entire file line by line in the list form.
‚Ä¢ Her satƒ±r bir eleman hale gelir.

In [28]:
sea = open("fishes.txt", 'r')   
print(sea.readlines())
sea.close()

['Orca is a kind of Dolphin.\n', 'Blue Whale is the largest animal known on earth.\n', 'Sharks are the sister group to the Rays (batoids).\n', 'The Tuna Fish can weigh up to 260 kg.\n', 'Squid and Octopus are in the same class.']

‚Ä¢ As you can see in the output, all lines are displayed as separate elements of a list. You can easily see the fact that the newline character (\n) is a part of the line we've mentioned before.

‚Ä¢ The position of the stream (cursor) makes sense when using these methods. If we make the file read using one of these methods, each time we use the print(method) syntax it continues reading from where the cursor is. Let's take a look at the following example where .readline() and .readlines() are used together.

In [29]:
sea = open("fishes.txt", 'r')   
print(sea.readline())  # first line
print(sea.readlines())  # the rest of the lines
sea.close()

Orca is a kind of Dolphin.

['Blue Whale is the largest animal known on earth.\n', 'Sharks are the sister group to the Rays (batoids).\n', 'The Tuna Fish can weigh up to 260 kg.\n', 'Squid and Octopus are in the same class.']

‚Ä¢ You may have noticed that the type of the sea.readlines() object is the list. Let's see it :

In [30]:
sea = open("fishes.txt", 'r')   
print(type(sea.readlines()))
sea.close()

<class 'list'>

‚ö†Ô∏èAttention ! : Although it is very good to read relatively small files with this method, but when large files are involved, this method can be inefficient.

### 4. Using Loops

‚Ä¢ As we stated before that we can apply different kinds of methods to the file-like object. Accordingly, the last method for reading a file is using the lines of the file-like object as an iterator. So the most efficient way to read the contents of a file is using the for loop. Let's take a look at an example of how we do this.

In [21]:
sea = open("C:/Users/Owner/fishes.txt", 'r')   
for line in sea:
    print(line)
sea.close()

Orca is a kind of Dolphin.



Blue Whale is the largest animal known on earth.



Sharks are the sister group to the Rays (batoids).



The Tuna Fish can weigh up to 260 kg.



Squid and Octopus are in the same class.

‚Ä¢ In this way, especially large text files can be read easily and practically. This method gives us the opportunity to read the line we want, as well as freeing us from syntax repetition.

‚Ä¢ Since the type of sea.readlines() object is a list, we can use it as an iterator and read the whole file in the same way.

In [32]:
sea = open("fishes.txt", 'r')   
for line in sea.readlines():
    print(line)
sea.close()

Orca is a kind of Dolphin.

Blue Whale is the largest animal known on earth.

Sharks are the sister group to the Rays (batoids).

The Tuna Fish can weigh up to 260 kg.

Squid and Octopus are in the same class.

### Reading files from zip

In [61]:
#pip install zipfile36

zipfile module
Docstring: Read and write ZIP files.

In [62]:
import zipfile

In [67]:
with zipfile.ZipFile("D:/PhD/archive.zip", "r") as kaggle:  
    print(kaggle.namelist())

['active_periods.csv', 'battle_actors.csv', 'battle_durations.csv', 'battle_dyads.csv', 'battles.csv', 'belligerents.csv', 'commanders.csv', 'enum_aeroa.csv', 'enum_cea.csv', 'enum_codead.csv', 'enum_crit.csv', 'enum_post.csv', 'enum_postype.csv', 'enum_pri.csv', 'enum_reso.csv', 'enum_surpa.csv', 'enum_terra1.csv', 'enum_terra2.csv', 'enum_terra3.csv', 'enum_wina.csv', 'enum_wx1.csv', 'enum_wx2.csv', 'enum_wx3.csv', 'enum_wx4.csv', 'enum_wx5.csv', 'front_widths.csv', 'terrain.csv', 'version.csv', 'weather.csv']

In [71]:
with zipfile.ZipFile("D:/PhD/archive.zip", "r") as kaggle:  
    kaggle.extractall("D:/PhD/kaggleDataSet")

In [72]:
df = pd.read_csv("D:/PhD/kaggleDataSet/active_periods.csv")

In [73]:
df.head()

,isqno,atp_number,start_time_min,start_time_max,end_time_min,end_time_max,duration_max,duration_min,duration_only
0,1,1,1600-07-02T14:30:00,1600-07-02T14:30:00,1600-07-02T19:30:00,1600-07-02T19:30:00,300.0,300.0,0
1,2,1,1620-11-08T12:00:00,1620-11-08T12:00:00,1620-11-08T13:00:00,1620-11-08T13:00:00,60.0,60.0,0
2,3,1,1622-05-06T03:30:00,1622-05-06T03:30:00,1622-05-06T10:00:00,1622-05-06T10:00:00,390.0,390.0,0
3,3,2,1622-05-06T14:00:00,1622-05-06T14:00:00,1622-05-06T19:00:00,1622-05-06T19:00:00,300.0,300.0,0
4,4,1,1626-04-25T00:00:00,1626-04-26T00:00:00,1626-04-25T00:00:00,1626-04-26T00:00:00,1440.0,0.0,0

## Closing the Files

### close() function

‚Ä¢ In file operations, whenever we open a file to work with that file using one of the reading methods, after finishing our working we close the file we opened with the close() method.

‚ö†Ô∏èAttention ! : Do not leave the file open. Keep in mind that closing the file is paramount.

‚Ä¢ Normally, when the program finishes running, that file is closed. But this does not happen at times and people forget to close these files that have been opened while working with them. 
‚Ä¢ In order not to lose data, the file should be closed as soon as work is finished.
‚Ä¢ Closing is done with the close() method, but there is a slightly easier way to do this: Using the "with .... as ... block". 
‚Ä¢ Actual use of the with ... as ... block is to make sure that all the necessary functions are called.

### with .... as ... block

In [17]:
with open("C:/Users/Owner/first_file.txt", "r") as st:
    print(st.read())

hello man!

In [33]:
with open("fishes.txt", "r") as sea:
    print(sea.read())  # needs indented code block
                       # we don't need to use the close() method to close the file. It does this on its own.

Orca is a kind of Dolphin.
Blue Whale is the largest animal known on earth.
Sharks are the sister group to the Rays (batoids).
The Tuna Fish can weigh up to 260 kg.
Squid and Octopus are in the same class.

## Writing Files

### `.write()` Method

‚Ä¢ Basic file operation. Two most used modes ('w' and 'a') allow us to modify the files.
‚Ä¢ We can overwrite a text to a file using 'w' mode, which means that every time we use 'w', the content of the file is deleted and new content is written. If there isn't any file then it will be created automatically.

üí°Tips: Other data types must be converted to string type before the writing.

Create and write string data to a file.

In [22]:
with open("C:/Users/Owner/dummy.txt", "w", encoding = "utf-8") as file: # this creates and opens file. 
    file.write("write it down man!")  # writes str data into file

In [23]:
with open("C:/Users/Owner/dummy.txt", "r", encoding="utf-8") as file:
    print(file.read())  # reads the content of the 'dummy'

write it down man!

This time file (dummy) exists:

In [24]:
with open("C:/Users/Owner/dummy.txt", "w", encoding="utf-8") as file:
    file.write("look, it has been ovwerwritten!") # we write new strdata in it

In [25]:
with open("C:/Users/Owner/dummy.txt", "r", encoding="utf-8") as file:
    print(file.read())# reads the content of the 'dummy'

look, it has been ovwerwritten!

‚Ä¢ This is the new line for dummy, previous content deleted and replaced.
‚Ä¢ In this method, each string joined together into one. Therefore you have to put newline characters (\n), separators or spaces, etc. manually if you want. Example :

In [26]:
with open("C:/Users/Owner/dummy.txt", 'w', encoding="utf-8") as file:
    file.write('My first sentence ')
    file.write('My second sentence ')
    file.write('My third sentence\n')
    file.write('My fourth sentence  ')
    file.write('My last sentence')
with open("C:/Users/Owner/dummy.txt", 'r', encoding="utf-8") as file:
    print(file.read())

My first sentence My second sentence My third sentence
My fourth sentence  My last sentence

‚Ä¢ Let's write list of fruit names to a file each on separate lines one after another.

In [27]:
fruits = ['Banana', 'Orange', 'Apple', 'Strawberry', 'Cherry']

In [30]:
with open("C:/Users/Owner/yummyFruits.txt", "w", encoding="utf-8") as yummy:
    for i in fruits:
        yummy.write(i+"\n") # adds a newline character to each string

In [31]:
with open("C:/Users/Owner/yummyFruits.txt", "r", encoding="utf-8") as yummy:
    print(yummy.read())

Banana
Orange
Apple
Strawberry
Cherry

In [33]:
with open("C:/Users/Owner/yummyFruits.txt", "r", encoding="utf-8") as yummy:
    print(yummy.readlines())# reads and displays entire lines in a list

['Banana\n', 'Orange\n', 'Apple\n', 'Strawberry\n', 'Cherry\n']

‚Ä¢ Likewise, you can write your text to the file by using any character you want instead of the newline character. For example, if you want to separate the strings by a tab character, you should use '\t'.

### `.writelines()` Method

‚Ä¢ Iterable alƒ±p satƒ±r satƒ±r yazdƒ±rƒ±r. (readlines ise iterable verip satƒ±r satƒ±r okur)
‚Ä¢ Unlike .write() method, .writelines() takes the iterable sequence of strings and writes them to the file. 
‚Ä¢ The difference between these two methods is just similar to the logic of difference between .read() and .readlines().
‚Ä¢ Let's use the same list of the fruits again but this time in a little bit different way. 
‚Ä¢ We should choose the line separators ourselves without using for loop.

In [37]:
fruits = ['Banana\n', 'Orange\n', 'Apple\n', 'Strawberry\n', 'Cherry\n']

In [38]:
with open("C:/Users/Owner/yummyFruits.txt", "w", encoding="utf-8") as yummy:
    yummy.writelines(fruits)  # takes an iterator for writing

In [39]:
with open("C:/Users/Owner/yummyFruits.txt", "r", encoding="utf-8") as yummy:
    print(yummy.read())

Banana
Orange
Apple
Strawberry
Cherry

‚Ä¢ Same output was displayed as the previous one. In this writing method, which we do without using the for loop, the strings in the list must also include the separator chars such as \n, \t, space.

In [40]:
with open("C:/Users/Owner/yummyFruits.txt", "r", encoding="utf-8") as yummy:
    print(yummy.readlines())

['Banana\n', 'Orange\n', 'Apple\n', 'Strawberry\n', 'Cherry\n']

‚úèÔ∏èHomework: Write a code that inserts a newline char \n to between lines of the text of the 'fishes.txt' file and reads the new content of that file.

In [35]:
with open('fishes.txt', 'r', encoding = "utf-8") as sea:
    fish_lines = sea.readlines()
with open('fishes.txt', 'w', encoding = "utf-8") as sea:
    for reef in fish_lines:
        sea.write(reef + '\n')
with open('fishes.txt', 'r', encoding = "utf-8") as sea:
    print(sea.read())

Orca is a kind of Dolphin.

Blue Whale is the largest animal known on earth.

Sharks are the sister group to the Rays (batoids).

The Tuna Fish can weigh up to 260 kg.

Squid and Octopus are in the same class.

### Appending to File using 'a' Mode

‚Ä¢ This mode keeps the existing content of the file and saves the new content to the continuation of the file. This need with 'a' mode which stands for append.
‚Ä¢ How we append: Let's add melon to our fruits.txt file as the last line. Let's remember our fruits

In [6]:
fruits = ['Banana\n', 'Orange\n', 'Apple\n', 'Strawberry\n', 'Cherry\n']
with open("C:/Users/Owner/Desktop/fruits.txt", 'w', encoding="utf-8") as file:
    file.writelines(fruits)  # creates a file containing the elements of the list

In [8]:
with open("C:/Users/Owner/Desktop/fruits.txt", "r", encoding="utf-8") as file:
    print(file.read())  # reads the content of the file

Banana
Orange
Apple
Strawberry
Cherry

In [9]:
with open("C:/Users/Owner/Desktop/fruits.txt", "a", encoding="utf-8") as file:
    file.write("Melon\n")# adds "Melon" to the end of the existing file

In [10]:
with open("C:/Users/Owner/Desktop/fruits.txt", "r", encoding="utf-8") as file:
    print(file.read())  # reads the content of the file

Banana
Orange
Apple
Strawberry
Cherry
Melon

# Working with the CSV (Comma Separated Values) Files

## What is a CSV File?

‚Ä¢ It is a file type in all programming languages. 
‚Ä¢ Simple structure and easy creation: data are usually stored in this format.
‚Ä¢ It's a plain text like .txt files. CSV files use a comma to separate each data value. 
‚Ä¢ Save the plain text file as a .csv extension: there you have a CSV file.
‚Ä¢ A CSV file is basically a table made up of rows and columns.

‚Ä¢ Save fruits.txt file with a .csv extension into directory where Anconda3/Python installed.

‚Ä¢ Our first CSV file consists of 3 columns and 5 rows. It's time to read this.

## Reading Methods of the CSV Files

### ways to read CSV files

1. Ordinary Reading Method ~ open() function and .read() method
2. use csv Module.
3. Use the Pandas library for which created data analysis purposes.

### 1. Ordinary Reading Method ~ open() function and .read() method

This method is quite simple and does not differ from reading the text files. Let's read the fruits.csv file:

In [13]:
with open("C:/Users/Owner/fruits.csv", 'r', encoding="utf-8") as file:
    print(file.read())

1,Banana,4 lb
2,Orange,5 lb
3,Apple,2 lb
4,Strawberry,6 lb
5,Cherry,3 lb

‚Ä¢ Content of the CSV file is displayed in plain text. 
‚Ä¢ In cases where the file content is very long and the number of rows and columns is high, this method is quite useless.

### 2. Reading the CSV Files with 'csv' Module

‚Ä¢ Content of the CSV files is displayed in a more readable format: this method is more preferred than the previous one.
    ‚Ä¢ First: load csv module. 
    ‚Ä¢ Second: use csv.reader() function in a for loop to read the CSV file.

In [11]:
import csv  # loads csv module

In [6]:
with open("fruits.csv", 'r', newline = '', encoding = 'utf-8') as file:
    csv_rows = csv.reader(file)  
    for row in csv_rows: 
        print(row)

['1', 'Banana', '4 lb']
['2', 'Orange', '5 lb']
['3', 'Apple', '2 lb']
['4', 'Strawberry', '6 lb']
['5', 'Cherry', '3 lb']
[]

üí°  csv.reader() function takes each row into a list as iterable.

‚Ä¢ Rows are displayed in list type. 
‚Ä¢ Each element of the rows is located as separate strings in the list. There are three strings in each list.

### newline parameter

‚Ä¢ newline controls how universal newlines works (it only applies to text mode). It can be None, '', '\n', '\r', and '\r\n'. 
‚Ä¢ It works as follows:
    * On input, if newline is None, universal newlines mode is
  enabled. Lines in the input can end in '\n', '\r', or '\r\n', and
  these are translated into '\n' before being returned to the
  caller. If it is '', universal newline mode is enabled, but line
  endings are returned to the caller untranslated. If it has any of
  the other legal values, input lines are only terminated by the given
  string, and the line ending is returned to the caller untranslated.

* On output, if newline is None, any '\n' characters written are
  translated to the system default line separator, os.linesep. If
  newline is '' or '\n', no translation takes place. If newline is any
  of the other legal values, any '\n' characters written are translated
  to the given string.

‚Ä¢ csv dosyalarƒ±nƒ±n sonundaki karakteri belli etmemizi saƒülƒ±yor. Normalde  dosyalarƒ±n sonunda \n karakteri olur. Bazƒ± dosyalama sisteminde \r'de var. (cursor'ƒ± ba≈üa getirir). Bazƒ± csv dosyalar b√∂yle olabilir. Kƒ±llandƒ±ysan newline bo≈ü stringe e≈üitlersin. Dosya hatasƒ± almazsƒ±n abi. tanƒ±mlarsƒ±n. 
‚Ä¢ If is not specified (like newline=''), newlines embedded inside quoted fields will not be interpreted correctly, and on platforms that use \r\n line endings on write an extra \r (return) will be added.
‚Ä¢ It is best practice and always safe to specify newline='', since the csv module does its own newline handling.

üí° delimeter parameter:
‚Ä¢ The default value of the delimiter parameter is ",". 
‚Ä¢ Thus, we can display each comma-separated element as separate strings. 
‚Ä¢ At this time let's use the delimiter="," parameter and see the same result as the previous one.

In [12]:
with open("fruits.csv", 'r', newline = '', encoding = 'utf-8') as file:
    csv_rows = csv.reader(file, delimiter= ",")# gives the same output as the previous one
    for row in csv_rows: 
        print(row)

['1', 'Banana', '4 lb']
['2', 'Orange', '5 lb']
['3', 'Apple', '2 lb']
['4', 'Strawberry', '6 lb']
['5', 'Cherry', '3 lb']
[]

‚Ä¢ Displaying each row in the list as a single string. 
‚Ä¢ Determine a character that is not included in the CSV file and allocate this character as the value of delimiter.

In [15]:
with open("fruits.csv", 'r', newline = '', encoding= 'utf-8') as file:
    csv_rows = csv.reader(file, delimiter = ':')# ":" char is not used in file as value of dm
    for row in csv_rows: 
        print(row)

['1,Banana,4 lb']
['2,Orange,5 lb']
['3,Apple,2 lb']
['4,Strawberry,6 lb']
['5,Cherry,3 lb']
[]

In [18]:
import pandas as pd

## Reading excel files

In [26]:
df=pd.read_excel("Excel_Sample.xlsx", index_col=0, sheet_name="Sheet1", index=False)
df

               a   b     c   d
Unnamed: 0
0.0          0.0   1   2.0   3
1.0          4.0   5   6.0   7
2.0          8.0   9  10.0  11
3.0         12.0  13  14.0  15
4.0          NaN  15   NaN  17
NaN         18.0  19  20.0  21

## Reading from html

In [32]:
df=pd.read_html("https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/")
df[0]

,Bank NameBank,CityCity,StateSt,CertCert,Acquiring InstitutionAI,Closing DateClosing,FundFund
0,Almena State Bank,Almena,KS,15426,Equity Bank,"October 23, 2020",10538
1,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb","October 16, 2020",10537
2,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.","April 3, 2020",10536
3,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,"February 14, 2020",10535
4,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,"November 1, 2019",10534
...,...,...,...,...,...,...,...
558,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB","July 27, 2001",6004
559,Malta National Bank,Malta,OH,6629,North Valley Bank,"May 3, 2001",4648
560,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,"February 2, 2001",4647
561,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,"December 14, 2000",4646
562,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000",4645

In [33]:
#conda install sqlalchemy
#conda install lxml
#conda install html5lib
#conda install BeautifulSoup4

In [4]:
import pandas as pd
df = pd.read_csv("C:/Users/Owner/example.csv")
print(df)
print(df.dtypes)

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
a    int64
b    int64
c    int64
d    int64
dtype: object

In [7]:
df = pd.read_csv("C:/Users/Owner/example.csv", dtype = {"a": "int32"}) # Defining type of each column before reading csv
print(df.dtypes)

a    int32
b    int64
c    int64
d    int64
dtype: object

In [40]:
df.to_csv("My_output")

In [41]:
pd.read_csv("My_output")

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [42]:
df.to_csv("My_output", index=False)

In [43]:
pd.read_csv("My_output")

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

        name    mask    weapon
0    Raphael     red       sai
1  Donatello  purple  bo staff

In [45]:
df.to_csv(index=False)

'name,mask,weapon\r\nRaphael,red,sai\r\nDonatello,purple,bo staff\r\n'

In [ ]:
Writing to csv: df.to_csv
‚Ä¢ Write object to a comma-separated values (csv) file.

‚Ä¢ Examples

In [2]:
import pandas as pd
df = pd.DataFrame({'name': ['Raphael', 'Donatello'],
                    'mask': ['red', 'purple'],
                    'weapon': ['sai', 'bo staff']})
df.to_csv(index=False)

'name,mask,weapon\r\nRaphael,red,sai\r\nDonatello,purple,bo staff\r\n'

In [46]:
conda install xlrd

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\Owner\anaconda3

  added / updated specs:
    - xlrd


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    conda-4.10.3               |   py37haa95532_0         2.9 MB
    ------------------------------------------------------------
                                           Total:         2.9 MB

The following packages will be UPDATED:

  conda                                4.9.2-py37haa95532_0 --> 4.10.3-py37haa95532_0



Downloading and Extracting Packages

conda-4.10.3         | 2.9 MB    |            |   0%
conda-4.10.3         | 2.9 MB    |            |   1%
conda-4.10.3         | 2.9 MB    | 2          |   2%
conda-4.10.3         | 2.9 MB    | 3          |   4%
conda-4.10.3         | 2.9 MB    | 4          |   4%
conda-4.10.3         | 2.9 MB    | 4          |   5%
conda-4.10.3         | 2.9 MB    | 7          |   8%
conda-4.10.3         | 2.9 MB    | 8          |   9%
conda-4.10.3         | 2.9 MB    | #          |  10%
conda-4.10.3         | 2.9 MB    | #1         |  12%
conda-4.10.3         | 2.9 MB    | #3         |  13%
conda-4.10.3         | 2.9 MB    | #7         |  18%
conda-4.10.3         | 2.9 MB    | ##         |  20%
conda-4.10.3         | 2.9 MB    | ##1        |  22%
conda-4.10.3         | 2.9 MB    | ##3        |  23%
conda-4.10.3         | 2.9 MB    | ##4        |  24%
conda-4.10.3         | 2.9 MB    | ##6        |  26%
conda-4.10.3         | 2.9 MB    | ##7        |  28%
conda-4.10.3         | 2.9 MB    | ##9        |  30%
conda-4.10.3         | 2.9 MB    | ###1       |  31%
conda-4.10.3         | 2.9 MB    | ###5       |  36%
conda-4.10.3         | 2.9 MB    | ###7       |  38%
conda-4.10.3         | 2.9 MB    | ###9       |  40%
conda-4.10.3         | 2.9 MB    | ####1      |  41%
conda-4.10.3         | 2.9 MB    | ####6      |  46%
conda-4.10.3         | 2.9 MB    | ####8      |  48%
conda-4.10.3         | 2.9 MB    | #####      |  50%
conda-4.10.3         | 2.9 MB    | #####3     |  53%
conda-4.10.3         | 2.9 MB    | #####6     |  56%
conda-4.10.3         | 2.9 MB    | #####9     |  59%
conda-4.10.3         | 2.9 MB    | ######4    |  65%
conda-4.10.3         | 2.9 MB    | ######7    |  68%
conda-4.10.3         | 2.9 MB    | #######1   |  71%
conda-4.10.3         | 2.9 MB    | #######3   |  74%
conda-4.10.3         | 2.9 MB    | #######7   |  77%
conda-4.10.3         | 2.9 MB    | ########1  |  82%
conda-4.10.3         | 2.9 MB    | ########7  |  87%
conda-4.10.3         | 2.9 MB    | #########1 |  91%
conda-4.10.3         | 2.9 MB    | #########5 |  96%
conda-4.10.3         | 2.9 MB    | #########9 |  99%
conda-4.10.3         | 2.9 MB    | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

Note: you may need to restart the kernel to use updated packages.

In [47]:
pd.read_excel("Excel_Sample.xlsx", sheet_name="Sheet1")

   Unnamed: 0     a   b     c   d
0         0.0   0.0   1   2.0   3
1         1.0   4.0   5   6.0   7
2         2.0   8.0   9  10.0  11
3         3.0  12.0  13  14.0  15
4         4.0   NaN  15   NaN  17
5         NaN  18.0  19  20.0  21

In [48]:
df.to_excel("Excel_Sample2.xlsx", sheet_name="NewSheet")

In [50]:
data = pd.read_html("https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/")

In [51]:
type(data)

list

In [52]:
data[0].head()

,Bank NameBank,CityCity,StateSt,CertCert,Acquiring InstitutionAI,Closing DateClosing,FundFund
0,Almena State Bank,Almena,KS,15426,Equity Bank,"October 23, 2020",10538
1,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb","October 16, 2020",10537
2,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.","April 3, 2020",10536
3,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,"February 14, 2020",10535
4,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,"November 1, 2019",10534

In [53]:
from sqlalchemy import create_engine

In [54]:
engine = create_engine("sqlite:///:memory:")

In [55]:
df.to_sql("my_table", engine)

In [56]:
sqldf=pd.read_sql("my_table", con=engine)

In [57]:
sqldf

   index       name    mask    weapon
0      0    Raphael     red       sai
1      1  Donatello  purple  bo staff

In [4]:
drinks = pd.read_csv("http://bit.ly/drinksbycountry")

In [5]:
planets = sns.load_dataset("planets")

In [29]:
import requests
import pandas as pd
from zipfile import ZipFile
from io import BytesIO

#r = requests.get("https://correlatesofwar.org/data-sets/national-material-capabilities/nmc_documentation-6-0.zip/@@download/file/NMC_Documentation%206.0.zip")
#files = ZipFile(BytesIO(r.content))
#df = pd.read_csv(files.open("NMC-60-abridged.csv"))

	‚óã Data Input and Output
		√ò panels as a library has the ability to read data and write data to a wide variety of sources. 4 main data sources: csv, Excel, HTML, sql.
		√ò Download these libraries to work:
			conda install sqlalchemy
			conda install lxml
			conda install html5lib
			conda install BeautifulSoup4

		√ò PWD: report back the location. This is the same file location. The example see every file in the example Excel file should be in.

In [2]:
import pandas as pd
df = pd.read_csv("C:/Users/Owner/filled_jobs.csv")

In [25]:
print(df, "\n")

                Region   Period   Value Status    Units  Magnitude  \
0      Auckland Region  2019.05  721535      P  Number           0
1      Auckland Region  2019.06  723158      P  Number           0
2      Auckland Region  2019.07  729740      P  Number           0
3      Auckland Region  2019.08  731506      P  Number           0
4      Auckland Region  2019.09  735222      P  Number           0
..                 ...      ...     ...    ...      ...        ...
219  West Coast Region  2020.02   16556      P  Number           0
220  West Coast Region  2020.03   16608      P  Number           0
221  West Coast Region  2020.04   16244      P  Number           0
222  West Coast Region  2020.05   16255      P  Number           0
223  West Coast Region  2020.06   16187      P  Number           0

    Series_title_1
0          Actual
1          Actual
2          Actual
3          Actual
4          Actual
..             ...
219        Actual
220        Actual
221        Actual
222        Actual
223        Actual

[224 rows x 7 columns]

In [27]:
print(df.head(10), "\n")

            Region   Period   Value Status    Units  Magnitude Series_title_1
0  Auckland Region  2019.05  721535      P  Number           0        Actual
1  Auckland Region  2019.06  723158      P  Number           0        Actual
2  Auckland Region  2019.07  729740      P  Number           0        Actual
3  Auckland Region  2019.08  731506      P  Number           0        Actual
4  Auckland Region  2019.09  735222      P  Number           0        Actual
5  Auckland Region  2019.10  739363      P  Number           0        Actual
6  Auckland Region  2019.11  751806      P  Number           0        Actual
7  Auckland Region  2019.12  756439      P  Number           0        Actual
8  Auckland Region  2020.01  735174      P  Number           0        Actual
9  Auckland Region  2020.02  742294      P  Number           0        Actual

In [28]:
print(len(df.index))

224

In [29]:
df.columns

Index(['Region', 'Period', 'Value', 'Status', 'Units', 'Magnitude',
       'Series_title_1'],
      dtype='object')

In [ ]:
#with open("filled_jobs.csv", "r", encoding = "utf-8") as file:
    #print(file.read())