In [11]:
first_num = 6
second_num = 2
print(first_num + second_num)
print(first_num ** second_num)

8
36

In [3]:
days_feb = 28
print(str(days_feb) + " days in February")
f"There are {days_feb} in February"

28 days in February

'There are 28 in February'

In [5]:
today = "monday"
"Today is" +" " + today

'Today is monday'

In [6]:
first_num = "5"
second_num = "6"
print(first_num + second_num)
print(int(first_num)+int(second_num))

56
11

In [8]:
num1 = input("enter num1")
num2=input("enter num2")
print(num1+num2)
print(int(num1)+int(num2))

enter num12
enter num22
22
4

In [16]:
first_num = input("Enter first number")
second_num = input("Enter second number")
print(int(first_num) + int(second_num))
print(float(first_num) + float(second_num))

Enter first number 5
Enter second number 6

11
11.0

In [17]:
pi = 3.14159
print(pi)

3.14159

In [19]:
first_num = 5
second_num = 6
print(first_num ** second_num)

15625

In [32]:
num1=5
num2=3
print(num1**num2)
print((num1+num2)**2)#paranthesis has priority
print(num1+num2)
print(num1-num2)
print(num1*num2)
print(float(num1/num2))

125
64
8
2
15
1.6666666666666667

**formatting to two decimal places**

USE str.format() TO SPECIFY THE NUMBER OF DECIMAL PLACES

In [24]:
value = 3.3333333333

formatted_string = "{:.2f}".format(value)


float_value = float(formatted_string)

print(float_value)

3.33

In [33]:
value = 3.3333333333
float("{:.2f}".format(value))

3.33

In [35]:
num = 3.147
newnum = round(num, 2)
newnum

3.15

In [10]:
number = input("please enter a number")
number1 = ("number"*4)
print(number)

please enter a number2
2

In [21]:
first_num = 10
second_num = 3
first_num%second_num

1

In [ ]:
Temp_C = input("enter temperature as C") 
print(int(Temp_C))

In [48]:
fruit = 'orange'
fruit += ' apple'
fruit += ' banana'
print(fruit)

orange apple banana

In [53]:
fruit1 = "Apple"
fruit2 = "Orange"
print(2*fruit1+" "+3*fruit2)

AppleApple OrangeOrangeOrange

In [55]:
phrase = 'I have %d %s and %.2f brothers' % (4, "children", 5)  
print (phrase)

I have 4 children and 5.00 brothers

In [62]:
sentence = "apologizing is a virtue"
print(".%11s" % sentence)  # we get first 11 characters of the string

.apologizing is a virtue

In [63]:
print('%(amount)d pounds of %(fruit)s left' % {'amount': 33, 'fruit':'bananas'})

33 pounds of bananas left

In [66]:
fruit = 'Orange'
vegetable = 'Tomato'
amount = 4
print('The amount of {} we bought is {} pounds'.format(fruit, amount))
print('The amount of {} we bought is {} pounds'.format(vegetable, amount))

The amount of Orange we bought is 4 pounds
The amount of Tomato we bought is 4 pounds

In [75]:
state = "California"
adjective = "crowded"
country = "USA"

print('{state} is the most {adjective} state of the {country}'.format(state='California', country ='USA', adjective='crowded'))
print("{} is the most {} state of the {}".format(state, adjective, country))

California is the most crowded state of the USA
California is the most crowded state of the USA

In [76]:
print("{0} {1}".format('first', 'second'))

first second

In [78]:
print("{9} {7} {1} {10} {3} {2} {5} {8} {6} {0} {4}".format('in', 'know', 'bring', 'to', 'students.', 'out', 'best', 'teachers', 'the', 'Good', 'how'))

Good teachers know how to bring out the best in students.

In [80]:
fruit = 'Orange'
vegetable = 'Tomato'
amount = 6
output = f"The amount of {fruit} and {vegetable} we bought are totally {amount} pounds"
print(output)

The amount of Orange and Tomato we bought are totally 6 pounds

In [81]:
my_name = 'JOSEPH'
output = f"My name is {my_name.capitalize()}"
print(output)

My name is Joseph

In [100]:
first_name = "Gürkan"
last_name = "Yeşilyurt"
#output = "Hello, " + first_name + " " + last_name
#output = "Hello, {} {}".format(first_name, last_name)
#output = "Hello, {1}, {0}".format(first_name, last_name)
output = f"Hello, {first_name} {last_name}"
print(output)

Hello, Gürkan Yeşilyurt

In [23]:
text = 'www.clarusway.com'
print(text.endswith('om'))
print(text.startswith('w'))

True
True

In [26]:
text = "deneme metni"
print(text.endswith("i"))
print(text.startswith("k"))

True
False

In [27]:
email = "clarusway@clarusway.com is my e-mail address"
print(email.startswith("@", 9))
print(email.endswith("-", 10, 32))

True
True

In [2]:
sentence = "I live and work in Virginia"
print(sentence.upper())  
print(sentence.lower())
print(sentence.swapcase())
print(sentence)  # note that, source text is

I LIVE AND WORK IN VIRGINIA
i live and work in virginia
i LIVE AND WORK IN vIRGINIA
I live and work in Virginia

In [3]:
sentence = "I live and work in Virginia"
title_sentence = sentence.title() 
print(title_sentence)  
changed_sentence = sentence.replace("i", "+")
print(changed_sentence)  
print(sentence)  # note that, again source text is unchanged

I Live And Work In Virginia
I l+ve and work +n V+rg+n+a
I live and work in Virginia

In [5]:
print("Actions speaks louder than words".upper().swapcase().capitalize())

Actions speaks louder than words

In [9]:
sentence = "I live and work in Virginia"
title_sentence = sentence.title()
print(title_sentence)

I Live And Work In Virginia

In [28]:
print("I work in Cafe Veneti")

I work in Cafe Veneti

In [26]:
str("Cafe Veneti'de çalışıyorum")

"Cafe Veneti'de çalışıyorum"

In [24]:
Sentence = "Cafe Veneti'de çalışıyorum"
print(Sentence.upper())
print(Sentence.swapcase())
print(Sentence.capitalize())
print(Sentence.lower())
print(Sentence.title())

CAFE VENETI'DE ÇALIŞIYORUM
cAFE vENETI'DE ÇALIŞIYORUM
Cafe veneti'de çalışıyorum
cafe veneti'de çalışıyorum
Cafe Veneti'De Çalışıyorum

In [2]:
a = 3
b = 4
c = (a**2 + b**2)**0.5
print(c)

5.0

In [3]:
sen = "yakup"
print("ben", 2, sen )

ben 2 yakup

In [5]:
print()

In [13]:
print("ahmet", "mehmet", "aslı", sep = "/", end = "-")
print("ahmet", "mehmet", "aslı", sep = "/")

ahmet/mehmet/aslı-ahmet/mehmet/aslı

In [18]:
x = 5
print("value of x: ", x)
x += 2
print("2 more of x: ", x, "\n")
y = 10
print("value of y:", y)
y-=2
print("2 minus y: ", y, "\n")

value of x:  5
2 more of x:  7

value of y: 10
2 minus y:  8

In [15]:
x += 2
print("2 more of x: ", x, "\n")

2 more of x:  7

In [24]:
text = ("Clarusway", "Clarusway", "Clarusway", "\n", "\t", "Clarusway", "Clarusway", "Clarusway", "\n","\t", "\t", "Clarusway", "Clarusway", "Clarusway")
print(text)

('Clarusway', 'Clarusway', 'Clarusway', '\n', '\t', 'Clarusway', 'Clarusway', 'Clarusway', '\n', '\t', '\t', 'Clarusway', 'Clarusway', 'Clarusway')

In [46]:
text = ("Clarusway, Clarusway, Clarusway, \n\tClarusway, Clarusway, Clarusway,") 
text2= ("\n\t\tClarusway, Clarusway, Clarusway ")
print(text + text2)

Clarusway, Clarusway, Clarusway,
	Clarusway, Clarusway, Clarusway,
		Clarusway, Clarusway, Clarusway

In [47]:
print(2 and 3)

3

In [48]:
print(1 and 0)

0

In [5]:
x = 1000
x(1, 52) = 1000 * 0.07 + x
print(x 52)

SyntaxError: invalid syntax (<ipython-input-5-1bcfb2de6bbc>, line 3)

In [11]:
number_1 = input("Enter first number")
number_2 = input("Enter second number")
print(int(number_1) + int(number_2))

Enter first number 5
Enter second number 5

10

In [12]:
number_1 = int(input("Enter first number"))
number_2 = int(input("Enter second number"))
print(number_1 + number_2)

Enter first number 5
Enter second number 5

10

In [13]:
number_1 = int(input("Enter first number"))
number_2 = int(input("Enter second number"))
print("{} + {} = ".format(number_1, number_2))
print(number_1 + number_2)

Enter first number 5
Enter second number 8

5 + 8 =
13

In [14]:
number_1 = int(input("Enter first number"))
number_2 = int(input("Enter second number"))
print("{} * {} = ".format(number_1, number_2))
print(number_1 * number_2)

Enter first number 6
Enter second number 8

6 * 8 =
48

In [2]:
fruit = "orange"
print("word :" , fruit)

word : orange

In [3]:
print("1st letter: ", fruit[0])

1st letter:  o

In [4]:
print("1st letter: ", fruit[1])

1st letter:  r

In [5]:
print("3rd to 5th letters: ", fruit[2:5])

3rd to 5th letters:  ang

In [6]:
print("3rd to 5th letters: ", fruit[2:])

3rd to 5th letters:  ange

In [15]:
vegetable = "lettuce"
vegetable[4]
print(vegetable[3:])

tuce

In [13]:
print(vegetable[2:5])

ttu

In [42]:
city = "Phoenix"
city[-3:]

'nix'

In [28]:
city = "Phoenix"
print(city[1::2])

hei

In [36]:
numbers = "0123456789"
print(numbers[1:8:3])

147

In [49]:
animal = "hippopotamus"
print(animal[1:])
print(animal[:6])
print(animal[::2])
print(animal[1:7:2])
print(animal[-3:])
print(animal[::-1])

ippopotamus
hippop
hpooau
ipp
mus
sumatopoppih

In [55]:
animal = "hippopotamus"
print(animal[-6:-1:2])

oau

In [56]:
vegetable = "Tomato"
print("length of the word", vegetable, "is:", len(vegetable))

length of the word Tomato is: 6

In [59]:
str_one = "upper"
str_two = "case"
str_comb = str_one + str_two
print("upper" + "case")
print(str_one + str_two)
print(str_comb)

uppercase
uppercase
uppercase

In [62]:
str_one = "upper"
str_two = 3* "upper"
str_comb = 3* "upper"
print(str_two)
print(str_comb)
print(* str_one)

upperupperupper
upperupperupper
u p p e r

In [65]:
str_one = "upper"
str_one += "case"
print(str_one)
str_one += "letter"
print(str_one)
str_one += "end"
print(str_one)

uppercase
uppercaseletter
uppercaseletterend

In [70]:
str_one = "upper"
str_two = 3 * "upper"
str_comb = 3 * str_one
print(str_two)
print(str_comb)
print(* str_two)

upperupperupper
upperupperupper
u p p e r u p p e r u p p e r

In [74]:
phrase1 = "There are 3 %s in the game room"
phrase2 = "There is only a %.5s here"
print(phrase1 % "children")
print(phrase2 % "children")
print("There is only a %.5s here" % "children")

There are 3 children in the game room
There is only a child here
There is only a child here

In [4]:
name = "gürkan"
surname = "yeşilyurt"
print(name + " " + surname)

gürkan yeşilyurt

In [ ]:
sentence = "The dog is named Sammy"
print(sentence.upper())
print(sentence.lower())
print(sentence.capitalize())
print(sentence.count("g"))

In [ ]:
space_string = "  listen first    "
print(space_string.strip())

In [ ]:
space_string = "  listen first    "
print(space_string.rstrip())

In [ ]:
source_string = "interoperability"
print(source_string.lstrip("in"))

In [ ]:
source_string = "interoperability"
print(source_string.rstrip("ty"))

In [ ]:
first_name = "Gürkan"
print(first_name)

In [ ]:
first_name = "Gürkan"
print(input(first_name)

In [ ]:
first_name = "Gürkan"
second_name = "Yeşilyurt"
print(first_name + second_name)
print(first_name.upper())
print(first_name.lower())
print(second_name.capitalize())
print(first_name.count("a"))

In [ ]:
first_name = input("Please enter your first name")
second_name = input("Please enter your second name")
print("Hello " + first_name + " " + second_name)

In [ ]:
first_name = input("Please enter your first name")
second_name = input("Please enter your second name")
print("Hello " + first_name.capitalize() + " " + second_name.upper())

In [ ]:
first_name = "Gürkan"
second_name = "Yeşilyurt"
print(first_name + second_name)

In [ ]:
first_name = "Gürkan"
second_name = "Yeşilyurt"
print(first_name + second_name)
print("Hello " + first_name + " " + second_name)

In [ ]:
first_name = input("Please enter your name")
second_name = input("Please enter your surname")
print(first_name + second_name)
print("Hello " + first_name.capitalize() + " " + second_name.upper())

In [ ]:
sentence = 'With hard work and dedication, anything is possible.'
print(sentence.swapcase())
print(sentence.lower())
print(sentence.upper())
print(sentence.replace ("i", "1"))
print(sentence.title())

In [ ]:
print('www', 'clarusway', "com", sep='.', end=' ')

In [1]:
print("Gurkan", "Yesilyurt", sep="/", end="")
print("will", end="")

Gurkan/Yesilyurtwill

In [ ]:
print('www', 'clarusway', "com", sep='.', end=' ')
print('will', end=' ')
print('open', end=' ')
print('your', end=' ')
print('path', end='.')

In [ ]:
print(str("clarusway" + 2020)

In [ ]:
print("clarusway" + "2020")

In [ ]:
print(572, 3.14, "3.14")

In [2]:
from math import *

In [3]:
num = 3.7
floor(num)

3

In [1]:
#common functions in Python related to nums

num = -5
print(abs(num))# give absolute value of num -->5
print(pow(3,2))#-->9
print(max(4,6))# maximum -->6
print(min(4,6))# minimum -->4
print(round(3.7))# rounds the num -->4

from math import *
print(floor(3.7))#3, chopp off decimals
print(ceil(3.2))#4, opposite of floor. it pushes next num
print(sqrt(36))

5
9
6
4
4
3
4
6.0

In [2]:
#Working with numbers
print(2)
print(3+4)
print(3 * 4 + 5)
print(3 * (4 + 5))
print(10%3)#Modulus, spits out remainder

2
7
17
27
1