# List

List is a structure in Python to store information

**Creating a list**: Depends on what you are going to do.

#### By enclosing values in square brackets, seperated by commas

In [2]:
country = ['USA', 'Brasil', 'UK', 'Germany', 'Turkey', 'New Zealand']
print(country)#Names printed in same order as they stored, because lists are ordered.

['USA', 'Brasil', 'UK', 'Germany', 'Turkey', 'New Zealand']

#### By 'list()' function

Create a list from an iterable object (whose elem can be imported ind).

The lists are iterable like other collections and string types.

In [1]:
list("I quit smoking")# Gives a multi element list, all characters of string including spaces.

['I', ' ', 'q', 'u', 'i', 't', ' ', 's', 'm', 'o', 'k', 'i', 'n', 'g']

In [4]:
string_1=list("I quit smoking")

In [5]:
new_list_2 = [string_1]  # this is a single element list
print(new_list_2)

[['I', ' ', 'q', 'u', 'i', 't', ' ', 's', 'm', 'o', 'k', 'i', 'n', 'g']]

**Indexing a List**

In [27]:
friends = ["Kevin", "Karen", "Jim", "Oscar", "Toby"]

In [28]:
print(friends)

['Kevin', 'Karen', 'Jim', 'Oscar', 'Toby']

In [29]:
friends

['Kevin', 'Karen', 'Jim', 'Oscar', 'Toby']

In [30]:
friends[0]

'Kevin'

In [31]:
friends[-1]

'Toby'

In [33]:
friends[1:3]#it's gonna grab all the elements up to but not including 3rd element

['Karen', 'Jim']

In [34]:
friends[1] = "Mike"
friends

['Kevin', 'Mike', 'Jim', 'Oscar', 'Toby']

In [73]:
colors = ['red', 'purple', 'blue', 'yellow', 'green']
print(colors[2])  # If we start at zero, the second element will be 'blue'.

blue

In [74]:
city = ["İstanbul", "Bursa", "Ankara"]
print(city[1])
print(city)

Bursa
['İstanbul', 'Bursa', 'Ankara']

In [75]:
grocer = ["banana", ["orange", ["apple", "eggplant", "melon", "spinach", "cheese", "leek" ], "water"], "mandarin"]
print(grocer[1])
print(grocer[1][0])
print(grocer[1][1])
print(grocer[1][1][1])
print(grocer[2])

['orange', ['apple', 'eggplant', 'melon', 'spinach', 'cheese', 'leek'], 'water']
orange
['apple', 'eggplant', 'melon', 'spinach', 'cheese', 'leek']
eggplant
mandarin

### **List Functions**

In [56]:
friends = ["Kevin", "Karen", "Jim", "Oscar", "Toby"]
lucky_nums=[4,8,15,16,23,42]

In [39]:
print(friends)#print function

['Kevin', 'Karen', 'Jim', 'Oscar', 'Toby']

**Length function**: counts the list elements

In [30]:
friends = ["Kevin", "Karen", "Jim", "Oscar", "Toby"]
len(friends)

5

**Extend function**: adding 2 list together

In [44]:
friends.extend(lucky_nums)
print(friends)

['Kevin', 'Karen', 'Jim', 'Oscar', 'Toby', 4, 8, 15, 16, 23, 42]

**Append function**: adds an object to the end of list.

In [57]:
friends.append("John")

In [58]:
friends

['Kevin', 'Karen', 'Jim', 'Oscar', 'Toby', 'John']

Examples

In [76]:
newList = []
newList

[]

In [77]:
newList.append(1)
newList

[1]

**Insert function**: Adding an elemt inside the list

In [59]:
friends.insert(0, "Mike")

In [60]:
friends

['Mike', 'Kevin', 'Karen', 'Jim', 'Oscar', 'Toby', 'John']

**Remove function**: removes the element

In [61]:
friends.remove("Toby")
friends

['Mike', 'Kevin', 'Karen', 'Jim', 'Oscar', 'John']

**Clear function**: Clears all the elemnts inside the list

In [62]:
friends.clear()

In [63]:
friends

[]

**Pop function**: Get rids of the last element

In [64]:
friends = ["Kevin", "Karen", "Jim", "Oscar", "Toby"]
friends.pop()
friends

['Kevin', 'Karen', 'Jim', 'Oscar']

**Index function**: checks the element whether it is inside or not

In [65]:
friends.index("Jim")

2

**Count function**: counts the similar elements inside the list

In [66]:
friends = ["Kevin", "Karen", "Jim","Jim", "Jim", "Oscar", "Toby"]

In [67]:
friends.count("Jim")

3

**Sort function**: Sorts the list ascending or descending

In [69]:
friends.sort()#sorts in ascending order in default
friends

['Jim', 'Jim', 'Jim', 'Karen', 'Kevin', 'Oscar', 'Toby']

In [71]:
friends.sort(reverse=True)
friends

['Toby', 'Oscar', 'Kevin', 'Karen', 'Jim', 'Jim', 'Jim']

**Copy Function**: create a list and make it copy of another

In [72]:
friends2 = friends.copy()
friends2

['Toby', 'Oscar', 'Kevin', 'Karen', 'Jim', 'Jim', 'Jim']

**General Example**

In [29]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']
city_list = []
city_list.append(city) # we have created a nested list
print(city_list)
city_list.append('Addis Ababa') #.append() an object to end of a list. 
print(city_list)
city_list.insert(2, 'Stockholm') # .insert() adds a new object to list at a speciﬁc index. 
print(city_list)
city_list[1] = 'Melbourne'  # we assign 'Melbourne' to index 1
print(city_list)
city_list[0].remove("London")#.remove() removes the elements 
print(city_list)
city_list[0].sort()  # list.sort()  sort the elements in alphabetical order
print(city_list)

[['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]
[['New York', 'London', 'Istanbul', 'Seoul', 'Sydney'], 'Addis Ababa']
[['New York', 'London', 'Istanbul', 'Seoul', 'Sydney'], 'Addis Ababa', 'Stockholm']
[['New York', 'London', 'Istanbul', 'Seoul', 'Sydney'], 'Melbourne', 'Stockholm']
[['New York', 'Istanbul', 'Seoul', 'Sydney'], 'Melbourne', 'Stockholm']
[['Istanbul', 'New York', 'Seoul', 'Sydney'], 'Melbourne', 'Stockholm']

In [45]:
fruits = ["apple", "banana", "bear", "cherry"]
fruit_list = []
fruit_list.append(fruits)
#print(fruits)
#print(fruit_list)
print(fruit_list[0])
print(fruit_list[0][0:1])

['apple', 'banana', 'bear', 'cherry']
['apple']

In [50]:
fruits = ['apple', 'banana', 'watermelon', 'orange', 'mango', 'avocado']
fruit_list = []
fruit_list.append(fruits)
print(fruit_list)

[['apple', 'banana', 'watermelon', 'orange', 'mango', 'avocado']]

In [54]:
fruits = ['apple', 'banana', 'watermelon', 'orange', 'mango', 'avocado']
fruit_list = []
fruit_list.insert(0)
print(fruit_list[0][2][7])

TypeError: insert() takes exactly 2 arguments (1 given)

In [57]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
city.insert(2, 'Stockholm')
#print(city)
print(city[0:2])

['New York', 'London']

In [55]:
numbers = [1, 3, 5, 7, 9, 11, 13, 15, 17]
print(numbers[2:5])

[5, 7, 9]

In [56]:
numbers = [1, 3, 5, 7, 9, 11, 13, 15, 17]
print(numbers[2:5])

[5, 7, 9]

In [65]:
count = list(range(11))
print(count)
print(count[0:11:2])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 2, 4, 6, 8, 10]

In [63]:
city = "Bursa"
liste = list(city)
print(liste)

['B', 'u', 'r', 's', 'a']

In [66]:
even_numbers = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

print(even_numbers[4:9])

[10, 12, 14, 16, 18]

In [67]:
print(len([[12, 34, 56]]))

1

In [68]:
print(len([[12, 34, 56]][0]))

3

In [1]:
numbers = [1, 3, 5, 7, 9, 11, 13, 15, 17]
print(numbers[2:5])

[5, 7, 9]

In [2]:
cities =  ["ankara", "istanbul", "bursa", "izmir"]
print(cities[0:2])

['ankara', 'istanbul']

In [10]:
animals = ['elephant', 'bear', 'fox', 'wolf', 'rabbit', 'deer', 'giraffe']
print(animals[3:])

['wolf', 'rabbit', 'deer', 'giraffe']

In [33]:
aa = [1,2,3,4,5]
aa

[1, 2, 3, 4, 5]

In [35]:
aa[1]=0
aa

[1, 0, 3, 4, 5]

In [38]:
aa[2:]="clarusway"
aa

[1, 0, 'c', 'l', 'a', 'r', 'u', 's', 'w', 'a', 'y']

In [39]:
list_1 = ["h", "a", "p", "p", "y"]
word = "happy"
list_2 = list(word)
print(list_1)
print(list_2)

['h', 'a', 'p', 'p', 'y']
['h', 'a', 'p', 'p', 'y']

In [44]:
text = "2020's hard"
#list_1 = ["2020's", "hard"]
list_1 = ["2020's hard"]
print(list_1)
list(text)

["2020's hard"]

['2', '0', '2', '0', "'", 's', ' ', 'h', 'a', 'r', 'd']

In [21]:
sample_list = [{"section":5, "topic":2}, 'clarusway', [1, 4], 2020, 3.14, 1+618j, False, (10, 20)]

In [23]:
for i in sample_list:
    print("The type of", i, "is", type(i))

The type of {'section': 5, 'topic': 2} is <class 'dict'>
The type of clarusway is <class 'str'>
The type of [1, 4] is <class 'list'>
The type of 2020 is <class 'int'>
The type of 3.14 is <class 'float'>
The type of (1+618j) is <class 'complex'>
The type of False is <class 'bool'>
The type of (10, 20) is <class 'tuple'>

In [2]:
print(sample_list[1])

clarusway

In [8]:
print(sample_list[-1:])

[(10, 20)]

In [1]:
list = [1, 2, 3, 4, 5]

In [2]:
list.reverse()

In [3]:
print(list)

[5, 4, 3, 2, 1]

In [1]:
my_list = [1,2,3,4,5]

In [2]:
(x**2 for x in my_list) # comprehension yapısıdır.

In [10]:
list((x**2 for x in my_list))

[1, 4, 9, 16, 25]

In [11]:
a = (x**2 for x in my_list)

In [12]:
for i in a:
    print(i)

1
4
9
16
25

In [13]:
sum((x**2 for x in my_list))# sum fonksiyonu iterable alır.

55

In [14]:
max((x**2 for x in my_list))

25

In [15]:
eski = [1,2,3]
yeni = eski

In [16]:
yeni

[1, 2, 3]

In [17]:
yeni.append("a")

In [18]:
yeni

[1, 2, 3, 'a']

In [19]:
eski

[1, 2, 3, 'a']

In [23]:
eskim = ["kedi", 0, 5, 6.7]#eski listeyi korumak için copy kullanılır
yenim = eskim.copy()

In [25]:
yenim

['kedi', 0, 5, 6.7]

In [26]:
yenim.append("tavşan")

In [27]:
yenim

['kedi', 0, 5, 6.7, 'tavşan']

In [28]:
eskim

['kedi', 0, 5, 6.7]

In [29]:
yenim=eskim[:] #buda copy fonk. görür

In [30]:
yenim.append("dana")

In [31]:
yenim

['kedi', 0, 5, 6.7, 'dana']

In [32]:
eskim

['kedi', 0, 5, 6.7]

In [33]:
diller = ["fransızca", "ingilizce", "flemenkçe"]

In [34]:
diller2 = ["ispanyolca", "arapça"]

In [35]:
diller + diller2

['fransızca', 'ingilizce', 'flemenkçe', 'ispanyolca', 'arapça']

In [36]:
diller.extend(diller2)#extend metodu, iterable alır.

In [37]:
diller

['fransızca', 'ingilizce', 'flemenkçe', 'ispanyolca', 'arapça']

In [38]:
dil_tuple = ("rusça", "almanca")

In [39]:
dil_küme = {"japonca", "çince"}

In [40]:
diller.extend(dil_tuple)

In [41]:
diller

['fransızca',
 'ingilizce',
 'flemenkçe',
 'ispanyolca',
 'arapça',
 'rusça',
 'almanca']

In [42]:
diller.extend(dil_küme)

In [43]:
diller

['fransızca',
 'ingilizce',
 'flemenkçe',
 'ispanyolca',
 'arapça',
 'rusça',
 'almanca',
 'japonca',
 'çince']

In [44]:
diller = ["python", "java", "c++", "fransız", "c"]

In [45]:
yeni_deger = diller.pop(3)

In [46]:
yeni_deger

'fransız'

In [47]:
diller

['python', 'java', 'c++', 'c']

In [48]:
diller.pop()

'c'

In [49]:
diller

['python', 'java', 'c++']

In [50]:
diller.pop(-3)

'python'

In [51]:
diller

['java', 'c++']

In [ ]:
grocer[1]