# Collection Types

Main collection types (LiTuDiS`) 
1. list, 
2. tuple, 
3. dictionary, 
4. set
5. arrays

üëâüèª Diffrence: data types hold a single value and collection types: hold multiple values in a single object.

# 1. List

List is a structure in Python to store information.
List is only an ordered collection of valid Pvalues.
It includes collection of items which are mutable-changable with guaranteed order
list is more like an array in other languages (ex JS).

## Creating a list

Depends on what you are going to do.

#### By enclosing values in square brackets, seperated by commas

In [2]:
country = ['USA', 'Brasil', 'UK', 'Germany', 'Turkey', 'New Zealand']
print(country)#Names printed in same order as they stored, because lists are ordered.

['USA', 'Brasil', 'UK', 'Germany', 'Turkey', 'New Zealand']

üí°Tips:Names printed in same order as they stored, because lists are ordered.

#### By 'list()' function

Create a list from an iterable object (whose elem can be imported ind).

The lists are iterable like other collections and string types.

In [25]:
string_1 = 'I quit smoking'

In [27]:
new_list1 = list(string_1)# Gives a multi element list, all characters of string including spaces.

In [28]:
print(new_list1)

['I', ' ', 'q', 'u', 'i', 't', ' ', 's', 'm', 'o', 'k', 'i', 'n', 'g']

In [29]:
new_list_2 = [string_1]  # this is a single element list
print(new_list_2)

['I quit smoking']

In [ ]:
üí°Tips:
    ‚Ä¢ list() function: all characters of string inc.spaces moved into new_list_1.
Lists can contain more than one of the same value.

‚Ä¢ list() function creates list that contains each component of a specific iterable object, such as a string.

In [ ]:
‚Ä¢ Components of a list are not limited to a single data type.

In [31]:
mixed_list = [11, 'Joseph', False, 3.14, None, [1, 2, 3]]
mixed_list

[11, 'Joseph', False, 3.14, None, [1, 2, 3]]

## Basic operaitons with lists

‚Ä¢ Make an empty list to fill it later with the data you want.

In [33]:
empty_list_1= []
empty_list_2 = list()

### **List Functions**

In [63]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']

In [64]:
city.append("Addis Ababa")#.append() function an object to end of a list. 
                            #Append function: adds an object to the end of list.
city

['New York', 'London', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']

In [65]:
city.insert(2,"Stockholm")# .insert() adds a new object to list at a speciÔ¨Åc index. 
                            # Insert function: Adding an elemt inside the list
city

['New York',
 'London',
 'Stockholm',
 'Istanbul',
 'Seoul',
 'Sydney',
 'Addis Ababa']

In [66]:
city[1]

'London'

In [67]:
city[1] = "Melbourne"# we assign 'Melbourne' to index 1, and initial value disappears
city

['New York',
 'Melbourne',
 'Stockholm',
 'Istanbul',
 'Seoul',
 'Sydney',
 'Addis Ababa']

In [68]:
city.remove("Seoul") #remove() function removes the elements 
city

['New York', 'Melbourne', 'Stockholm', 'Istanbul', 'Sydney', 'Addis Ababa']

In [50]:
city.sort()# list.sort()  sort the elements in alphabetical order
                # Sort function: Sorts the list ascending or descending
                ##sorts in ascending order in default
city

['Addis Ababa', 'Istanbul', 'Melbourne', 'New York', 'Stockholm', 'Sydney']

In [69]:
city.sort(reverse=True)
city

['Sydney', 'Stockholm', 'New York', 'Melbourne', 'Istanbul', 'Addis Ababa']

üí°Tips: Elements of a list are counted from left to right and start with zero as in string types.

In [51]:
len(city)# gives length of the list elements, Length function: counts the list elements

6

In [57]:
city.index("Addis Ababa")# Return first index of value.
                            # Index function: checks the element whether it is inside or not

0

### remove item from a list

Remove all items: clear()
Remove an item by index and get its value: pop()
Remove an item by value: remove()
Remove items by index or slice: del.
Remove items that meet the condition: List comprehensions.

In [70]:
city

['Sydney', 'Stockholm', 'New York', 'Melbourne', 'Istanbul', 'Addis Ababa']

In [71]:
del city[0] 
city

['Stockholm', 'New York', 'Melbourne', 'Istanbul', 'Addis Ababa']

In [72]:
city.pop() #Pop function: Get rids of the last element
city

['Stockholm', 'New York', 'Melbourne', 'Istanbul']

In [81]:
print(city)

['Stockholm', 'New York', 'Melbourne', 'Istanbul', 'Kevin', 'Karen', 'Jim', 'Oscar', 'Toby', 'Kevin', 'Karen', 'Jim', 'Oscar', 'Toby']

In [79]:
friends = ["Kevin", "Karen", "Jim", "Oscar", "Toby"]

In [ ]:
city.extend(friends)#adds 2 list together

In [82]:
city.clear() #Clear function: Clears all the elemnts inside the list

In [83]:
city

[]

In [86]:
city.count("Addis Ababa")#Count function: counts the similar elements inside the list

0

In [87]:
city2 = city.copy()#Copy Function: create a list and make it copy of another
city2

[]

## Accessing lists

Each item in list has an index corresponding to their location. Using indexes, we can access elements within a sequence.

**Indexing a List**

Behind the scene: indexes are on the commas and on square braquets
	‚óã Accessing elements: using index numbers enclosed by sbs.
	‚óã The first index of the element of a list is 0.

In [1]:
colors = ['red', 'purple', 'blue', 'yellow', 'green']
print(colors[2])  # If we start at zero,
                    # the second element will be 'blue'-->blue

blue

In [2]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']
city_list = []
city_list.append(city) # we have created a nested list
print(city_list)

[['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]

üí°Tips :city_list includes only one element and it has double sbs.

In [5]:
print(city_list[0]) # access to first and only element,  is ltd. We can still access its elements via indexing.
print(city_list[0][2])#is std. We can also access its elements via indexing. 
print(city_list[0][2][3])

['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']
Istanbul
a

#### Slicing lists

‚óã Accessing individual elements of a list or part of those items. Index numbers used for slicing. 
‚óã Slicing: A mechanism to select a range of items from sequence types like list, tuple, strings etc.

üí°Tips :Slicing is just similar to indexing. The difference is adding colon or colons in square brackets.

‚óã Formula syntax for slicing sequence: sequence[start:stop:step]
	√ò start is an index of the first element required (the element is included in the slice) and 
	√ò stop is an index of the end element (the element is not included in the slice), 
	√ò step is an interval between elements to be chosen.

In [6]:
numbers = [1, 3, 5, 7, 9, 11, 13, 15, 17]
print(numbers[2:5])  # index 5 is not included

[5, 7, 9]

Make a list of numbers from 1 to 10 using 'range()' function and select even ones:

In [28]:
even = []
odd = []
mylist = list(range(1,11))
for i in mylist:
    if i%2 == 0:
        even.append(i)
    else: odd.append(i)
even

[2, 4, 6, 8, 10]

In [40]:
[i for i in mylist if i%2==0]

[2, 4, 6, 8, 10]

In [ ]:
‚óã Each part of the slice has a default value, so they are optional. If we don't assign a value to the start index, it is considered to be 0; if we don't assign a value to the stop index, it will be the same as the length of the sequence.
¬Æ my_list[:]: returns the full copy of the sequence
¬Æ my_list[start:] : returns elements from start to the end element
¬Æ my_list[:stop] : returns element from the 1st element to stop-1
¬Æ my_list[::step] : returns each element with a given step

In [1]:
animals = ['elephant', 'bear', 'fox', 'wolf', 'rabbit', 'deer', 'giraffe']

In [2]:
animals[:]

['elephant', 'bear', 'fox', 'wolf', 'rabbit', 'deer', 'giraffe']

In [3]:
animals[2:]

['fox', 'wolf', 'rabbit', 'deer', 'giraffe']

In [4]:
animals[:2]

['elephant', 'bear']

In [5]:
animals[::2]

['elephant', 'fox', 'rabbit', 'giraffe']

### Negative indexing

Negative indexing is the best and shortest way to reach the elements at the end of the list. The negative indexing works in reverse. We can reach the last element of a list as list_name[-1].

In [6]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']
print(city[-4])

London

Negative slicing also works similarly, as we see in single element access. In this case, step index can also be negative. If the step index is negative the elements of sequence will return in reverse order.

In [7]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[-3:])

['lobster', 'squid', 'octopus']

In [8]:
print(reef[:-3])

['swordfish', 'shark', 'whale', 'jellyfish']

In [13]:
print(reef[::-1])  # we have produced the reverse of the list
                    # list[::-1] is used to reverse the order of a sequence of the elements in the list.

['octopus', 'squid', 'lobster', 'jellyfish', 'whale', 'shark', 'swordfish']

In [10]:
print(reef[::-2])

['octopus', 'lobster', 'whale', 'swordfish']

üí°Tips : If you choose negative step with the start and end indexes together, those should be used accordingly, that is, the end index should be less than the start index.

In [11]:
odd_no = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(odd_no[7:3:-1])

[8, 7, 6, 5]

In [12]:
print(odd_no[2:6:-1])

[]

In [28]:
print(friends)

['Kevin', 'Karen', 'Jim', 'Oscar', 'Toby']

In [29]:
friends

['Kevin', 'Karen', 'Jim', 'Oscar', 'Toby']

In [30]:
friends[0]

'Kevin'

In [31]:
friends[-1]

'Toby'

In [33]:
friends[1:3]#it's gonna grab all the elements up to but not including 3rd element

['Karen', 'Jim']

In [34]:
friends[1] = "Mike"
friends

['Kevin', 'Mike', 'Jim', 'Oscar', 'Toby']

In [73]:
colors = ['red', 'purple', 'blue', 'yellow', 'green']
print(colors[2])  # If we start at zero, the second element will be 'blue'.

blue

In [74]:
city = ["ƒ∞stanbul", "Bursa", "Ankara"]
print(city[1])
print(city)

Bursa
['ƒ∞stanbul', 'Bursa', 'Ankara']

In [75]:
grocer = ["banana", ["orange", ["apple", "eggplant", "melon", "spinach", "cheese", "leek" ], "water"], "mandarin"]
print(grocer[1])
print(grocer[1][0])
print(grocer[1][1])
print(grocer[1][1][1])
print(grocer[2])

['orange', ['apple', 'eggplant', 'melon', 'spinach', 'cheese', 'leek'], 'water']
orange
['apple', 'eggplant', 'melon', 'spinach', 'cheese', 'leek']
eggplant
mandarin

In [56]:
friends = ["Kevin", "Karen", "Jim", "Oscar", "Toby"]
lucky_nums=[4,8,15,16,23,42]

In [39]:
print(friends)#print function

['Kevin', 'Karen', 'Jim', 'Oscar', 'Toby']

**General Example**

In [29]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']
city_list = []
city_list.append(city) # we have created a nested list
print(city_list)
city_list.append('Addis Ababa') #.append() an object to end of a list. 
print(city_list)
city_list.insert(2, 'Stockholm') # .insert() adds a new object to list at a speciÔ¨Åc index. 
print(city_list)
city_list[1] = 'Melbourne'  # we assign 'Melbourne' to index 1
print(city_list)
city_list[0].remove("London")#.remove() removes the elements 
print(city_list)
city_list[0].sort()  # list.sort()  sort the elements in alphabetical order
print(city_list)

[['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]
[['New York', 'London', 'Istanbul', 'Seoul', 'Sydney'], 'Addis Ababa']
[['New York', 'London', 'Istanbul', 'Seoul', 'Sydney'], 'Addis Ababa', 'Stockholm']
[['New York', 'London', 'Istanbul', 'Seoul', 'Sydney'], 'Melbourne', 'Stockholm']
[['New York', 'Istanbul', 'Seoul', 'Sydney'], 'Melbourne', 'Stockholm']
[['Istanbul', 'New York', 'Seoul', 'Sydney'], 'Melbourne', 'Stockholm']

In [45]:
fruits = ["apple", "banana", "bear", "cherry"]
fruit_list = []
fruit_list.append(fruits)
#print(fruits)
#print(fruit_list)
print(fruit_list[0])
print(fruit_list[0][0:1])

['apple', 'banana', 'bear', 'cherry']
['apple']

In [50]:
fruits = ['apple', 'banana', 'watermelon', 'orange', 'mango', 'avocado']
fruit_list = []
fruit_list.append(fruits)
print(fruit_list)

[['apple', 'banana', 'watermelon', 'orange', 'mango', 'avocado']]

In [54]:
fruits = ['apple', 'banana', 'watermelon', 'orange', 'mango', 'avocado']
fruit_list = []
fruit_list.insert(0)
print(fruit_list[0][2][7])

TypeError: insert() takes exactly 2 arguments (1 given)

In [57]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
city.insert(2, 'Stockholm')
#print(city)
print(city[0:2])

['New York', 'London']

In [55]:
numbers = [1, 3, 5, 7, 9, 11, 13, 15, 17]
print(numbers[2:5])

[5, 7, 9]

In [56]:
numbers = [1, 3, 5, 7, 9, 11, 13, 15, 17]
print(numbers[2:5])

[5, 7, 9]

In [65]:
count = list(range(11))
print(count)
print(count[0:11:2])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 2, 4, 6, 8, 10]

In [63]:
city = "Bursa"
liste = list(city)
print(liste)

['B', 'u', 'r', 's', 'a']

In [66]:
even_numbers = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

print(even_numbers[4:9])

[10, 12, 14, 16, 18]

In [67]:
print(len([[12, 34, 56]]))

1

In [68]:
print(len([[12, 34, 56]][0]))

3

In [1]:
numbers = [1, 3, 5, 7, 9, 11, 13, 15, 17]
print(numbers[2:5])

[5, 7, 9]

In [2]:
cities =  ["ankara", "istanbul", "bursa", "izmir"]
print(cities[0:2])

['ankara', 'istanbul']

In [33]:
aa = [1,2,3,4,5]
aa

[1, 2, 3, 4, 5]

In [35]:
aa[1]=0
aa

[1, 0, 3, 4, 5]

In [38]:
aa[2:]="clarusway"
aa

[1, 0, 'c', 'l', 'a', 'r', 'u', 's', 'w', 'a', 'y']

In [39]:
list_1 = ["h", "a", "p", "p", "y"]
word = "happy"
list_2 = list(word)
print(list_1)
print(list_2)

['h', 'a', 'p', 'p', 'y']
['h', 'a', 'p', 'p', 'y']

In [44]:
text = "2020's hard"
#list_1 = ["2020's", "hard"]
list_1 = ["2020's hard"]
print(list_1)
list(text)

["2020's hard"]

['2', '0', '2', '0', "'", 's', ' ', 'h', 'a', 'r', 'd']

In [21]:
sample_list = [{"section":5, "topic":2}, 'clarusway', [1, 4], 2020, 3.14, 1+618j, False, (10, 20)]

In [23]:
for i in sample_list:
    print("The type of", i, "is", type(i))

The type of {'section': 5, 'topic': 2} is <class 'dict'>
The type of clarusway is <class 'str'>
The type of [1, 4] is <class 'list'>
The type of 2020 is <class 'int'>
The type of 3.14 is <class 'float'>
The type of (1+618j) is <class 'complex'>
The type of False is <class 'bool'>
The type of (10, 20) is <class 'tuple'>

In [2]:
print(sample_list[1])

clarusway

In [8]:
print(sample_list[-1:])

[(10, 20)]

In [1]:
list = [1, 2, 3, 4, 5]

In [2]:
list.reverse()

In [3]:
print(list)

[5, 4, 3, 2, 1]

In [1]:
my_list = [1,2,3,4,5]

In [2]:
(x**2 for x in my_list) # comprehension yapƒ±sƒ±dƒ±r.

In [10]:
list((x**2 for x in my_list))

[1, 4, 9, 16, 25]

In [11]:
a = (x**2 for x in my_list)

In [12]:
for i in a:
    print(i)

1
4
9
16
25

In [13]:
sum((x**2 for x in my_list))# sum fonksiyonu iterable alƒ±r.

55

In [14]:
max((x**2 for x in my_list))

25

In [15]:
eski = [1,2,3]
yeni = eski

In [16]:
yeni

[1, 2, 3]

In [17]:
yeni.append("a")

In [18]:
yeni

[1, 2, 3, 'a']

In [19]:
eski

[1, 2, 3, 'a']

In [23]:
eskim = ["kedi", 0, 5, 6.7]#eski listeyi korumak i√ßin copy kullanƒ±lƒ±r
yenim = eskim.copy()

In [25]:
yenim

['kedi', 0, 5, 6.7]

In [26]:
yenim.append("tav≈üan")

In [27]:
yenim

['kedi', 0, 5, 6.7, 'tav≈üan']

In [28]:
eskim

['kedi', 0, 5, 6.7]

In [29]:
yenim=eskim[:] #buda copy fonk. g√∂r√ºr

In [30]:
yenim.append("dana")

In [31]:
yenim

['kedi', 0, 5, 6.7, 'dana']

In [32]:
eskim

['kedi', 0, 5, 6.7]

In [33]:
diller = ["fransƒ±zca", "ingilizce", "flemenk√ße"]

In [34]:
diller2 = ["ispanyolca", "arap√ßa"]

In [35]:
diller + diller2

['fransƒ±zca', 'ingilizce', 'flemenk√ße', 'ispanyolca', 'arap√ßa']

In [36]:
diller.extend(diller2)#extend metodu, iterable alƒ±r.

In [37]:
diller

['fransƒ±zca', 'ingilizce', 'flemenk√ße', 'ispanyolca', 'arap√ßa']

In [38]:
dil_tuple = ("rus√ßa", "almanca")

In [39]:
dil_k√ºme = {"japonca", "√ßince"}

In [40]:
diller.extend(dil_tuple)

In [41]:
diller

['fransƒ±zca',
 'ingilizce',
 'flemenk√ße',
 'ispanyolca',
 'arap√ßa',
 'rus√ßa',
 'almanca']

In [42]:
diller.extend(dil_k√ºme)

In [43]:
diller

['fransƒ±zca',
 'ingilizce',
 'flemenk√ße',
 'ispanyolca',
 'arap√ßa',
 'rus√ßa',
 'almanca',
 'japonca',
 '√ßince']

In [44]:
diller = ["python", "java", "c++", "fransƒ±z", "c"]

In [45]:
yeni_deger = diller.pop(3)

In [46]:
yeni_deger

'fransƒ±z'

In [47]:
diller

['python', 'java', 'c++', 'c']

In [48]:
diller.pop()

'c'

In [49]:
diller

['python', 'java', 'c++']

In [50]:
diller.pop(-3)

'python'

In [51]:
diller

['java', 'c++']

In [ ]:
g√ºrkan = {}# Creation of an object on the fly. It gives you power and by using list, store multiple things, ability to add in other dictionaries.Pfor beginnrs-25 
g√ºrkan["first"] = "G√ºrkan"
g√ºrkan["first"] = "G√ºrkan"
g√ºrkan["last"] = "Ye≈üilyurt"

ge√ßi≈ü = []
ge√ßi≈ü.append(g√ºrkan)
ge√ßi≈ü.append(canan)
ge√ßi≈ü.append ({
    "first": "Canan", "last": "Ye≈üilyurt",
    "first": "B√º≈üra", "last":"Ye≈üilyurt"
})
print(ge√ßi≈ü)

In [ ]:
grocer[1]

# 5. arrays

Arrays are one kind of collection type. 
They are going to be collections of only numeric data types. And it has to be same type. 
I have to create an array object and I have to go get that by bringing it from array library.

Docstring: Return a new array whose items are restricted by typecode, and initialized from the optional initializer value, which must be a list, string or iterable over elements of the appropriate type.

Typecode: 
    Arrays in python behave very similar to lists but they have the same data type of values stored in it. 
    The data type is specified at the array creation time by using a single character is called the type code.

In [1]:
from array import array

In [22]:
array("d") #'d': typecode, floating point:C Type, 8:minimum size in bytes

array('d')

In [7]:
type(array("d"))

array.array

In [16]:
scores = array("d")
scores

array('d')

In [17]:
type(scores)

array.array

In [18]:
scores.append(97)

In [19]:
scores.append(98)

In [20]:
scores

array('d', [97.0, 98.0])

In [21]:
scores[1]

98.0

‚úèÔ∏èHomework: Guess and figure out the output of this syntax

In [52]:
my_list = [1, 3, 5, 7]
print(my_list * 3)

[1, 3, 5, 7, 1, 3, 5, 7, 1, 3, 5, 7]

In [2]:
import numpy as np

In [3]:
my_list2 = np.array([1,3,5,7])
print(my_list2*3)

[ 3  9 15 21]

## List comprehension

saves you from bunch of writing

In [41]:
my_list = [1, 2, 3, 4, 5, 6]

with for loop

In [42]:
odd_sqr = []
even_sqr = []
for i in my_list:
    if i % 2 != 0:
        odd_sqr.append(i**2)
    else: even_sqr.append(i**2)

In [43]:
odd_sqr

[1, 9, 25]

In [44]:
even_sqr

[4, 16, 36]

with list comprehension

form√ºl: [expression for item in iterable]

# for item in iterable:
#     expression

In [45]:
[i**2 for i in my_list if i%2==0]

[4, 16, 36]

In [46]:
[i**2 for i in my_list if i%2 !=0]

[1, 9, 25]

In [47]:
(i**2 for i in my_list if i%2 !=0)

example

In [48]:
string = ["ali", "veli", "ay≈üe"]
for i in string:
    print(len(i))

3
4
4

In [49]:
[len(i) for i in string]

[3, 4, 4]

In [50]:
x = [1,2,3,4]

In [51]:
out = []

for item in x:
    out.append(item**2)
out

[1, 4, 9, 16]

aga bu for loop o gadar √ßok kullanƒ±lƒ± ki list comp yapmƒ±≈ülar

In [ ]:
[item**2 for item in x]