# Set

`Definition`: Collection of elements with no repeats and without insertion order but sorted order.

set is a collection of unique element

‚Ä¢ Basic uses: 
‚óã Membership testing and eliminating duplicate entries. 
‚óã Math. ops like union, intersection, difference, and symmetric difference.
‚óã In situations where things are grouped together (order not important).

They can hold multiple data in them, but only one of value.

üëâüèª Sets have `unordered` and `unique` objects.

## Creating a Set

### 1. With `curly braces {}`

In [17]:
colorset = {'purple', 'orange', 'red', 'darkblue', 'yellow', 'red'}
print(colorset)
print(colorset)

{'purple', 'yellow', 'darkblue', 'orange', 'red'}
{'purple', 'yellow', 'darkblue', 'orange', 'red'}

Two 'red' values we have defined in the set have fallen to one. Every time you print, the order of the objects in the set changes.

In [18]:
type(colorset)

set

### 2. `set() function`

`Only way` to create an `empty set`.

‚ö†Ô∏èAvoid ! : Do not use `{}` to create an empty set. It will create `empt dict`.

In [8]:
g√ºrkan = {} 
g√ºrkan["last"] = "Ye≈üilyurt"
g√ºrkan

{'first': 'G√ºrkan', 'last': 'Ye≈üilyurt'}

In [2]:
empty_set = set()

In [19]:
type(empty_set)

set

In [21]:
set('unselfishness')

{'e', 'f', 'h', 'i', 'l', 'n', 's', 'u'}

üëâüèª Letters of the string type data are only written once. Using sets can help you avoid repetitions.

## Converting a list into a set

In [45]:
flowerlist = ['rose', 'violet', 'carnation', 'rose', 'orchid', 'rose', 'orchid']
flowerset = set(flower_list)
new_flower_list = list(flowerset) # this new list opens repeted objects
print(flowerset) 
print(flowerlist)

{'violet', 'rose', 'carnation', 'orchid'}
['rose', 'violet', 'carnation', 'rose', 'orchid', 'rose', 'orchid']

**Question**: Which one of the following `is not` the correct syntax for creating a set in Python?

a. set([[1,2],[3,4],[4,5]])<--
b. set([1,2,2,3,4,5])
c. {1,2,3,4}
d. set((1,2,3,4))

In [13]:
set([[1,2],[3,4],[4,5]])

TypeError: unhashable type: 'list'

In [15]:
set([1,2,2,3,4,5])

{1, 2, 3, 4, 5}

In [20]:
type(set([1,2,2,3,4,5]))

set

In [14]:
{1,2,3,4}

{1, 2, 3, 4}

In [46]:
type({1,2,3,4})

set

In [16]:
set((1,2,3,4))

{1, 2, 3, 4}

In [47]:
type(set((1,2,3,4)))

set

### Main Operations with Sets

In [58]:
a = set('abracadabra')
b = set('alacazam')
print(a)
print(b)

{'a', 'c', 'b', 'r', 'd'}
{'a', 'z', 'm', 'c', 'l'}

`remove()` method: Allows us to delete an item.

In [59]:
a.remove("c")
a

{'a', 'b', 'd', 'r'}

`add()` method: Adds a new item to the set.

In [61]:
a.add("c")
a

{'a', 'b', 'c', 'd', 'r'}

`difference()` method: Gets the difference of two sets.

In [51]:
a.difference(b)

{'b', 'd', 'r'}

In [49]:
a-b

{'b', 'd', 'r'}

`intersection()` method: Returns the intersection of two sets.

In [54]:
a.intersection(b)

{'a', 'c'}

In [55]:
a&b

{'a', 'c'}

`union()` method:  Returns the unification of two sets.

In [52]:
a.union(b)

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [53]:
a|b

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

`len()` function

In [62]:
len(a)

5

`in` operator

In [63]:
"c" in set(a)

True

In [2]:
{1,2,3}

{1, 2, 3}

In [4]:
{1,1,1, 2,2,3,3,3,3}

{1, 2, 3}

In [5]:
set([1,1,1,1,2,2,5,5,5,6,6,6])

{1, 2, 5, 6}

In [6]:
s = {1,2,3}

In [7]:
s.add(5)

In [8]:
s

{1, 2, 3, 5}

In [9]:
s.add(5)

In [10]:
s

{1, 2, 3, 5}