### Collection Types

Data types like int and string hold a single value, collection types hold multiple values.
They are used to group several items to render as a single object.

# Tuples

In [ ]:
Kind of data structure, basically means: container where we can store different values

## Definition

‚Ä¢ Another collection type. 
‚Ä¢ Commonly used for small collections of values that will not need to change, such as an IP address and port. 
‚Ä¢ For unchanged data tuples is used because they are faster than lists.
‚Ä¢ The same indexing rules for lists also apply to tuples. 
‚Ä¢ Tuples can also be nested and the values can be any valid data types. 
‚Ä¢ Case analogy.  Put data, close the lid and not change.

‚ö†Ô∏èAttention !: Tuple is similar to list. Difference: tuple is immutable. Methods like append() or remove() do not exist.

### Benefits of Immutability: Basic advantages of tuples

‚Ä¢ Tuples are faster and more powerful in-memory than lists. Need to deal with large amounts of data: Tuple. 
‚Ä¢ If you don't want to change your data you may have to choose tuples.
‚Ä¢ ƒ∞mmutability- data in a tuple can not be altered by mistake.
‚Ä¢ A tuple can be used as a dictionary (we will see in the next lesson) key, while 'TypeError' can result in lists as keys. And this is the usefulness of tuples in the data processing.

## Creating a Tuple

### 1. By `enclosing values in parentheses` üëâüèª'()', separated by commas.

In [2]:
tuple = (1,2,3)
print(tuple)
print(type(tuple))

(1, 2, 3)
<class 'tuple'>

In [2]:
empty_tuple = ()#empty tuple 
type(empty_tuple)

tuple

In [3]:
print(type(empty_tuple))

<class 'tuple'>

‚óã For single element tuples and a comma used at the end of the element.

In [6]:
try_tuple = ("love",)# If no comma, then it becomes string.
print(try_tuple)
print(type(try_tuple))

('love',)
<class 'tuple'>

‚óã Separating more than one elements: commas.

In [23]:
tuple_ex = ("apple", "pear")
print(type(tuple_ex), tuple_ex)

<class 'tuple'> ('apple', 'pear')

### 2. By `tuple()` function.

`Docstring`: Built-in immutable sequence.

‚Ä¢ If no argument is given, the constructor returns an empty tuple.
‚Ä¢ If iterable is specified the tuple is initialized from iterable's items.
‚Ä¢ If the argument is a tuple, the return value is the same object.

In [9]:
tuple()

TypeError: 'tuple' object is not callable

‚óã Used if tuple be made of an iterable object: that is, a type of object whose elements you can import individually.
‚óã The tuple is also iterable like other collections and string types. 
‚óã With this function, you can create an empty tuple as well.

In [9]:
empty_tuple = tuple()

In [6]:
planets = "mercury", "jupyter", "saturn"
print(planets)
print(type(planets))

('mercury', 'jupyter', 'saturn')
<class 'tuple'>

### Convert between list and tuple.

In [15]:
my_tuple = (1,4,3,4,5,6,7,4)
my_list = list(my_tuple)
print(my_list)
print(type(my_list))

[1, 4, 3, 4, 5, 6, 7, 4]
<class 'list'>

In [16]:
my_list= [1,4,3,4,5,6,7,4]
my_tuple = tuple(my_list)
print(my_tuple)
print(type(my_tuple))

(1, 4, 3, 4, 5, 6, 7, 4)
<class 'tuple'>

#### An iterable string can be converted to a tuple :

In [17]:
mountain = tuple('Alps')
print(mountain)

('A', 'l', 'p', 's')

### How can We Use a Tuple ?

In [ ]:
‚Ä¢ Both lists and tuples are ordered (when storing elements  sure that their order will remain the same. 
‚Ä¢ You can also duplicate values or mix different dts in tuples.

In [10]:
mix_value_tuple = (0, 'bird', 3.14, True)
print(len(mix_value_tuple))

4

### Indexing in tuples

In [33]:
even_no = (0, 2, 4)
print((even_no[0]), end = " ")    
print((even_no[1]), end = " ")    
print(even_no[2])

0 2 4

### Assigning multiple dts in tuples

In [37]:
mix_tuple = ("11", 11, [2, "two", ("six", 6)], 5, "fair")
str_six = mix_tuple[2][2][0]
print(str_six)

six

### Tuples does not support item assignment

Tuples are immutable

In [22]:
city_list = ['Tokyo', 'Istanbul', 'Moskow', 'Dublin']
my_tuple = tuple(city_list)
print(my_tuple)
my_tuple[0] = "London"# # you can't assign a value

('Tokyo', 'Istanbul', 'Moskow', 'Dublin')

TypeError: 'tuple' object does not support item assignment

‚úèÔ∏èHomework: Examine the use of .index() and .count() methods of the tuples.

In [17]:
my_tuple = (1,1,2,3)

In [18]:
my_tuple

(1, 1, 2, 3)

### index() method

Return first index of value.

Raises ValueError if the value is not present.

In [19]:
my_tuple.index(3)

3

### count() method

Return number of occurrences of value.

In [20]:
my_tuple.count(1)

2

### len() method

Return the number of items in a container.

In [22]:
len(my_tuple)

4

What is the data type of the following?
type(aTuple[2:3])

In [1]:
aTuple = (1, "Tony", 1+3j)
aTuple

(1, 'Tony', (1+3j))

In [2]:
1+3j

(1+3j)

In [6]:
aTuple[2:3]

((1+3j),)

In [5]:
type(aTuple[2:3])

tuple

## tuple kullanarak √ßoklu deƒüer assign etmek

In [3]:
v = ("five", 5, True)
v

('five', 5, True)

In [5]:
v = "five", 5, True
v

('five', 5, True)

In [6]:
x, y, z = v
print(x,y,z)

five 5 True

In [9]:
x, y, z = v
print(x,y,z, sep="\n")

five
5
True

In [15]:
list(range(1,8))

[1, 2, 3, 4, 5, 6, 7]

In [18]:
days = list(range(1,8))
(mo, tu, we, th, fr, sa, su) = days

In [20]:
tu

2

In [22]:
type((mo, tu, we, th, fr, sa, su))

tuple

(mo, tu, we, th, fr, sa, su) = tuple(range(1,8))
tu

In [31]:
x, y = (10, 20)
x

10

In [32]:
items = (10, 20)
x,y = items
x

10

In [33]:
a, _, b, _ = (10, 20, 30, 40)#alt √ßizgi ile istenmeyen itemlar atlanƒ±r
print(a, b)

10 30

### * operator

In [37]:
x, y, *z = (1, 11, 22, 33, 44, 55, 66, 77)#* ba≈üta elemanlarƒ±na ayƒ±rmak anlamƒ±na gelir. deƒüi≈ükeni elemanlarƒ±na ayƒ±rdƒ±
print(x)
print(y)
print(z)

1
11
[22, 33, 44, 55, 66, 77]

In [38]:
x, y, *_ = (11, 22, 33, 44, 55, 66)#_var ama yok demek
print(x)

11

In [39]:
x, y, *z, t = (11, 22, 33, 44, 55, 66)
print(t)
print(z)

66
[33, 44, 55]