### Collection Types

Dts like int and str hold a single value, cots hold multiple values.
Why cots: to group several items to render as a single object.

# Tuples

In [ ]:
Kind of data structure, basically means: container where we can store different values

Another cot - similar to list. Difference: tuple is immutable. Methods like append() or remove() do not exist.
Commonly used for small collections of values that will not need to change, such as an IP address and port. For unchanged data: tuples because faster than lists.
The same indexing rules for lists also apply to tuples. Tuples can also be nested and the values can be any valid Python valid.
Case analogy.  Put data, close the lid and not change.

### Creating a Tuple

#### By enclosing values  in parentheses üëâüèª'()', separated by commas.

In [2]:
empty_tuple = ()#empty tuple 
type(empty_tuple)

tuple

In [3]:
print(type(empty_tuple))

<class 'tuple'>

For single element tuples and a comma used at the end of the element.

In [6]:
try_tuple = ("love",)# If no comma, then it becomes string.
print(try_tuple)
print(type(try_tuple))

('love',)
<class 'tuple'>

Separating **more than one** elements: commas.

In [23]:
tuple_ex = ("apple", "pear")
print(type(tuple_ex), tuple_ex)

<class 'tuple'> ('apple', 'pear')

#### By tuple() function.

**Used if tuple be made of an iterable object**: that is, a type of object whose elements you can import individually.
The tuple is also iterable like other collections and string types. 
With this function, you can create an empty tuple as well.

In [9]:
empty_tuple = tuple()

In [12]:
planets = "mercury", "jupyter", "saturn"
print(planets)
print(type(planets))

('mercury', 'jupyter', 'saturn')
<class 'tuple'>

### Convert between list and tuple.

In [15]:
my_tuple = (1,4,3,4,5,6,7,4)
my_list = list(my_tuple)
print(my_list)
print(type(my_list))

[1, 4, 3, 4, 5, 6, 7, 4]
<class 'list'>

In [16]:
my_list= [1,4,3,4,5,6,7,4]
my_tuple = tuple(my_list)
print(my_tuple)
print(type(my_tuple))

(1, 4, 3, 4, 5, 6, 7, 4)
<class 'tuple'>

#### An iterable string can be converted to a tuple :

In [17]:
mountain = tuple('Alps')
print(mountain)

('A', 'l', 'p', 's')

### Indexing in tuples

In [33]:
even_no = (0, 2, 4)
print((even_no[0]), end = " ")    
print((even_no[1]), end = " ")    
print(even_no[2])

0 2 4

### Tuples does not support item assignment

Tuples are immutable

In [22]:
city_list = ['Tokyo', 'Istanbul', 'Moskow', 'Dublin']
my_tuple = tuple(city_list)
print(my_tuple)
my_tuple[0] = "London"# # you can't assign a value

('Tokyo', 'Istanbul', 'Moskow', 'Dublin')

TypeError: 'tuple' object does not support item assignment

### Assigning multiple dts in tuples

In [ ]:
mix_value_tuple = (0, 'bird', 3.14, True)
print(len(mix_value_tuple))

In [37]:
mix_tuple = ("11", 11, [2, "two", ("six", 6)], 5, "fair")
str_six = mix_tuple[2][2][0]
print(str_six)

six