**Indexing String**

In [81]:
text = "In God wee Trust"
print(text)
print(text[:9])

In God wee Trust
In God we

In [66]:
fruit = 'Orange'
print(fruit[0])
print(fruit[1:3])
print(fruit[2:])
print(fruit[0::2])
print(fruit[-1])
print(fruit[:-1])
print(fruit[:-1:2])

O
ra
ange
Oag
e
Orang
Oag

**String Formatting with Arithmetic Syntax**

In [67]:
"clarus"+"way"

'clarusway'

In [68]:
print("clarus"+"way")

clarusway

In [69]:
text1 = "clarus"
text2 = "way"
text1+text2

'clarusway'

In [80]:
print('no way!'*3)
print("no way!"*3, sep="555")
print(* "no way!"*3)
print(* "no way!"*3, sep=",")

no way!no way!no way!
no way!no way!no way!
n o   w a y ! n o   w a y ! n o   w a y !
n,o, ,w,a,y,!,n,o, ,w,a,y,!,n,o, ,w,a,y,!

**addition operation in-place**

In [82]:
city = "Ankara"
city +="Istanbul"
city

'AnkaraIstanbul'

In [5]:
3*"no way!"

'no way!no way!no way!'

In [6]:
print(3*"no way!")

no way!no way!no way!

In [7]:
fruit = "Orange"
vegetable="Tomato"

In [8]:
fruit+vegetable

'OrangeTomato'

In [9]:
3*fruit

'OrangeOrangeOrange'

**len BiF**

Return the number of items in a container.

In [86]:
vegetable = "tomato"
len(vegetable)

6

# String Formatting with '%' Operator

In [11]:
phrase = "I work in Vire library from %d to %d."%(13, 17) 
phrase

'I work in Vire library from 13 to 17.'

In [17]:
print("I have %f euro in my pocket."%(3))
print("I have %.1f euro in my pocket."%(3))

I have 3.000000 euro in my pocket.
I have 3.0 euro in my pocket.

In [13]:
phrase = "I work sometimes in %s sometimes at %s."%("library", "home")
phrase

'I work sometimes in library sometimes at home.'

In [28]:
print("%.11s" %phrase)

I work some

In [30]:
"%(amount)d pounds of %(fruits)s left"%{"amount": 33, "fruits": "banana"}

'33 pounds of banana left'

In [1]:
phrase = 'I have %d %s and %.2f brothers' % (4, "children", 5)  
print (phrase)

I have 4 children and 5.00 brothers

In [1]:
print('%(amount)d pounds of %(fruit)s left' % {'amount': 33, 'fruit':'bananas'})

33 pounds of bananas left

In [7]:
phrase = "I have %d %s and %d daughters" % (2, "boys", 5)
print(phrase)

I have 2 boys and 5 daughters

In [ ]:
print("Wallet costs me %(price).2f euros" %{"price": 20})

# String Formatting with 'string.format()' Method

In [31]:
"Çalış çalış çalış {} gibi çalış".format("eşek")

'Çalış çalış çalış eşek gibi çalış'

In [32]:
print("Çalış çalış çalış {} gibi çalış".format("eşek"))

Çalış çalış çalış eşek gibi çalış

In [ ]:
fruit = 'Orange'
vegetable = 'Tomato'
amount = 4
print('The amount of {} we bought is {} pounds'.format(fruit, amount))

In [ ]:
p1 = "yoghurt"
p2 = "egg"
p3 = "sparkling water"
p4 = "milk"
print("Today I went to market and I bought 1 kg. of {}, 15 {}, 1 lt. of {} and 1 lt. of {}"\
      .format(p1, p2, p3, p4))
#print(text)

In [8]:
sentence = "apologizing is a virtue"
print("%.11s" % sentence)  # we get first 11 characters of the string

apologizing

In [9]:
sentence = "hadi lan ordan"
print("%.4s" % sentence)

hadi

In [11]:
print('%(amount)d pounds of %(fruit)s left' %{'amount': 33, 'fruit':'bananas'})

33 pounds of bananas left

In [17]:
phrase = "{2} {3} {1} {0}".format("circumstances", "in all", "generosity", "wins")
print(phrase)

generosity wins in all circumstances

In [27]:
#conditon = "circumstances"
#morality = "generosity"
phrase = "{morality} {1} {0} {condition}".format("in all","wins", morality = "generosity", condition = "circumstances")
print(phrase)

generosity wins in all circumstances

In [30]:
Phrase = "If we had bought {} crypto coins at the weekend, we would have had {} with a profit share of {} after {} days".format("$2000","4152.32$","%11","5") 
print(Phrase)

If we had bought $2000 crypto coins at the weekend, we would have had 4152.32$ with a profit share of %11 after 5 days

In [1]:
print('{state} is the most {adjective} state of the {country}'.format(state='California', country='USA', adjective='crowded'))

California is the most crowded state of the USA

In [2]:
print("Today I went to market and I bought 1 kg. of {p1}, 15 {p2}, 1 lt. of {p3} and 1 lt. of {p4}"\
      .format(p1 = "yoghurt", p2 = "egg", p3 = "sparkling water", p4 = "milk"))

Today I went to market and I bought 1 kg. of yoghurt, 15 egg, 1 lt. of sparkling water and 1 lt. of milk

In [3]:
print("Bugün hava çok {}. Sanırım {derece} derece.".format("sıcak", derece = 35))

Bugün hava çok sıcak. Sanırım 35 derece.

# String Formatting with 'f-string'

In [35]:
faktör = "tekrar"

In [36]:
f"{faktör} öğrenmenin temelidir."

'tekrar öğrenmenin temelidir.'

In [32]:
sample = f"{2**3}"
print(sample)

8

In [38]:
name = "MARIAM"
output = f"My name is {name.capitalize()}"
print(output)

My name is Mariam

In [40]:
name = "Gurkan"
job = "IT student"
print ( 
    f"{name} is a "
    f"{job} at Clarusway."


)

Gurkan is a IT student at Clarusway.

In [4]:
fruit = 'Orange'
vegetable = 'Tomato'
amount = 6
output = f"The amount of {fruit} and {vegetable} we bought are totally {amount} pounds"
print(output)

The amount of Orange and Tomato we bought are totally 6 pounds

In [5]:
transportation = "taxi"
payment_method = "cash"
means = "ferryboat"
phrase = f" We will get to port by {transportation} and paid it {payment_method} and go to Crete by {means}."
print(phrase)

 We will get to port by taxi and paid it cash and go to Crete by ferryboat.

In [6]:
f"{4*6}"

'24'

In [7]:
my_name = "GURKAN"
output = f"My name is {my_name.capitalize()}"
print(output)

My name is Gurkan

In [8]:
name = "Joseph"
job = "teachers"
domain = "Data Science"
message = (
f"Hi {name}. "
f"You are one of the {job} "
f"in the {domain} section."
)
print(message)

Hi Joseph. You are one of the teachers in the Data Science section.

In [9]:
who = "we"
means = "ferryboat"
where = "Crete"
message = (
f"{who} bugün "
    f"{means} ile gece vakti "
    f"{where}'e gidiyoruz."
  )
print(message)

we bugün ferryboat ile gece vakti Crete'e gidiyoruz.

In [10]:
who = "we"
means = "ferryboat"
where = "Crete"
message = f"{who} bugün "\
    f"{means} ile gece vakti "\
    f"{where}'e gidiyoruz."
print(message)

we bugün ferryboat ile gece vakti Crete'e gidiyoruz.

In [42]:
var_str = "In God we Trust"
var_str.lower()
print(var_str)

In God we Trust

In [46]:
text = "www.clarusway.com"
print(text.endswith(".com"))
print(text.startswith("http"))

True
False

In [48]:
email = "clarusway@clarusway.com is my e-mail address"
print(email.startswith("@", 9))
print(email.endswith("-", 10, 32))

True
True

In [49]:
text = "S0d0me and G0m0re"
    print(text.replace("0", "o"))

Sodome and Gomore

In [51]:
number = 32
print(1988 + int(number))

2020

In [53]:
text = "{0}! I am a {1} programmer and I {2} Clarusway.".format("Hello", "new", "love")
print(text)

Hello! I am a new programmer and I love Clarusway.

**String Operations**

**Index BiF**

Return the lowest index in S where substring sub is found, such that sub is contained within S[start:end].

In [18]:
text = "what is index"
text.index("w")

0

In [27]:
text = "I study Python"
print(text.index("u"))

4

**rstrip BiF**

Return a copy of the string with trailing whitespace removed.

Remove any white spaces at the end of the string

In [32]:
text = "rightStrip"
print(text.rstrip("p"))

rightStri

In [35]:
text = "leftStrip"
print(text.lstrip("l"))

eftStrip

In [22]:
text = "tyou can learn almost everything in pre-clasz"
print(text.rstrip("z").lstrip("t").upper())
#text = text.rstrip("z").lstrip("t").upper()
#print(text)

YOU CAN LEARN ALMOST EVERYTHING IN PRE-CLAS

In [39]:
txt = "     banana     "
print(txt.rstrip())
print(txt.rstrip().lstrip())

     banana
banana

In [45]:
print("of all fruits", txt.rstrip(), "is my favorite")

of all fruits      banana is my favorite

The rstrip() method removes any trailing characters (characters at the end a string), space is the default trailing character to remove.

string.rstrip(characters)

In [46]:
txt = "banana,,,,,ssqqqww....."

In [47]:
x = txt.rstrip(",.qsw")
x

'banana'

In [48]:
"eyes are burning..      ".rstrip(". ")

'eyes are burning'

**replace BiF**

Return a copy with all occurrences of substring old replaced by new.

In [53]:
phrase = "That's not like you think"
phrase.replace("not", "")

"That's  like you think"

In [51]:
text = "In God wee Trust"
#print(text.del[9])
print(text.replace("ee", "e"))

In God we Trust

In [96]:
print(type(input("enter a number: ")))

enter a number: 2
<class 'str'>

In [104]:
a = 3
b = 4
print("{} + {}'nin toplamı {}'dır.".format(a, b, a + b))

3 + 4'nin toplamı 7'dır.

In [110]:
text = "{:.2s}, {:.3s}, {:.4s}".format("3.1423", "5.367", "7.324324")
text

'3., 5.3, 7.32'

In [113]:
text1 = "{:>30}".format("test")
text1

'                          test'

In [115]:
text1 = "formatlama {:<30} formatlama".format("test")
text1

'formatlama test                           formatlama'

In [ ]:
text1 = "{:>30}".format("test")
text1

In [118]:
text = "{:^20}".format("gurkan")
text

'       gurkan       '

In [1]:
numbers = [1, 3, 5, 7, 9, 11, 13, 15, 17]
print(numbers[2:5])

[5, 7, 9]

In [2]:
cities =  ["ankara", "istanbul", "bursa", "izmir"]
print(cities[0:2])

['ankara', 'istanbul']

In [9]:
#count = list(range(11))
count = range(11)
print(count)
print(count[0:11:2])

range(0, 11)
range(0, 11, 2)

In [10]:
animals = ['elephant', 'bear', 'fox', 'wolf', 'rabbit', 'deer', 'giraffe']
print(animals[3:])

['wolf', 'rabbit', 'deer', 'giraffe']

In [1]:
print("{4} {9} {1} {7} {5} {0} {6} {8} {3} {2}".\
      format('while', 'dream', 'work.', 'and', 'Some', 'success', 'others', 'of', 'wake up', 'people'))

Some people dream of success while others wake up and work.

In [6]:
print("{2} {1} {0}".format ("Python.", "study", "I"))

I study Python.

In [8]:
print(not None or 1)

True

In [11]:
print ("{3} {2} {4} {1} {0}".format("job.", "a", "will", "I", "find"))

I will find a job.

In [12]:
section_3_5 = "python data types and useful operations"
print(section_3_5.title())

Python Data Types And Useful Operations

In [21]:
float("140" * int(input("Enter a number:" )))

Enter a number:2

140140.0

In [26]:
var1 = "sleep"
var2 = "eat"
var3 = "better"
var4 = "life"
sentence = f"The less you {var1} and {var2}, the {var3} your {var4} will be."
print(sentence)

The less you sleep and eat, the better your life will be.

In [23]:
fruit = 'Orange'
vegetable = 'Tomato'
amount = 6
output = f"The amount of {fruit} and {vegetable} we bought are totally {amount} pounds"
print(output)

The amount of Orange and Tomato we bought are totally 6 pounds

In [31]:
city = "SARAJEVO"
output = f"I live in {city.capitalize()}."
print(output)

I live in Sarajevo.

In [32]:
print("Being a good person")

Being a good person

In [33]:
aa = [1,2,3,4,5]
aa

[1, 2, 3, 4, 5]

In [35]:
aa[1]=0
aa

[1, 0, 3, 4, 5]

In [38]:
aa[2:]="clarusway"
aa

[1, 0, 'c', 'l', 'a', 'r', 'u', 's', 'w', 'a', 'y']

In [39]:
list_1 = ["h", "a", "p", "p", "y"]
word = "happy"
list_2 = list(word)
print(list_1)
print(list_2)

['h', 'a', 'p', 'p', 'y']
['h', 'a', 'p', 'p', 'y']

In [44]:
text = "2020's hard"
#list_1 = ["2020's", "hard"]
list_1 = ["2020's hard"]
print(list_1)
list(text)

["2020's hard"]

['2', '0', '2', '0', "'", 's', ' ', 'h', 'a', 'r', 'd']