In [1]:
import pandas as pd

In [4]:
import seaborn as sns

In [15]:
df = sns.load_dataset("mpg")

In [16]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [17]:
df.shape

(398, 9)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    object
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [19]:
df.name.nunique()

305

In [20]:
df.drop(["name"], axis = 1, inplace=True)

In [21]:
df.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model_year      0
origin          0
dtype: int64

In [22]:
df.dropna(inplace=True)

In [23]:
df.isnull().sum().any()

False

In [24]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,18.0,8,307.0,130.0,3504,12.0,70,usa
1,15.0,8,350.0,165.0,3693,11.5,70,usa
2,18.0,8,318.0,150.0,3436,11.0,70,usa
3,16.0,8,304.0,150.0,3433,12.0,70,usa
4,17.0,8,302.0,140.0,3449,10.5,70,usa

In [26]:
from datetime import datetime

In [33]:
datetime.today().year

2022

In [34]:
df["age"] = datetime.today().year - (1900 + df.model_year)

In [35]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,age
0,18.0,8,307.0,130.0,3504,12.0,70,usa,52
1,15.0,8,350.0,165.0,3693,11.5,70,usa,52
2,18.0,8,318.0,150.0,3436,11.0,70,usa,52
3,16.0,8,304.0,150.0,3433,12.0,70,usa,52
4,17.0,8,302.0,140.0,3449,10.5,70,usa,52

In [36]:
df.drop(["model_year"], axis=1, inplace=True)

In [37]:
df.head()

    mpg  cylinders  displacement  horsepower  weight  acceleration origin  age
0  18.0          8         307.0       130.0    3504          12.0    usa   52
1  15.0          8         350.0       165.0    3693          11.5    usa   52
2  18.0          8         318.0       150.0    3436          11.0    usa   52
3  16.0          8         304.0       150.0    3433          12.0    usa   52
4  17.0          8         302.0       140.0    3449          10.5    usa   52

In [39]:
df.origin.value_counts()

usa       245
japan      79
europe     68
Name: origin, dtype: int64

In [42]:
df.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower      float64
weight            int64
acceleration    float64
origin           object
age               int64
dtype: object

In [43]:
df["origin"] = df.origin.astype("category")
df.dtypes

mpg              float64
cylinders          int64
displacement     float64
horsepower       float64
weight             int64
acceleration     float64
origin          category
age                int64
dtype: object

In [44]:
df.origin.head()

0    usa
1    usa
2    usa
3    usa
4    usa
Name: origin, dtype: category
Categories (3, object): [europe, japan, usa]

In [49]:
df.origin.cat.codes.head(2)

0    2
1    2
dtype: int8

In [50]:
df.head()

    mpg  cylinders  displacement  horsepower  weight  acceleration origin  age
0  18.0          8         307.0       130.0    3504          12.0    usa   52
1  15.0          8         350.0       165.0    3693          11.5    usa   52
2  18.0          8         318.0       150.0    3436          11.0    usa   52
3  16.0          8         304.0       150.0    3433          12.0    usa   52
4  17.0          8         302.0       140.0    3449          10.5    usa   52

In [51]:
df.memory_usage(deep = True)

Index           3136
mpg             3136
cylinders       3136
displacement    3136
horsepower      3136
weight          3136
acceleration    3136
origin           657
age             3136
dtype: int64

In [54]:
df=pd.get_dummies(df, drop_first=True)

In [55]:
df.sample(10)#dummy trap

,mpg,cylinders,displacement,horsepower,weight,acceleration,age,origin_japan,origin_usa
372,27.0,4,151.0,90.0,2735,18.0,38,0,1
16,18.0,6,199.0,97.0,2774,15.5,50,0,1
224,15.0,8,302.0,130.0,4295,14.9,43,0,1
268,27.2,4,119.0,97.0,2300,14.7,42,1,0
87,13.0,8,350.0,145.0,3988,13.0,47,0,1
204,32.0,4,85.0,70.0,1990,17.0,44,1,0
397,31.0,4,119.0,82.0,2720,19.4,38,0,1
81,28.0,4,97.0,92.0,2288,17.0,48,1,0
116,16.0,8,400.0,230.0,4278,9.5,47,0,1
40,14.0,8,351.0,153.0,4154,13.5,49,0,1

In [56]:
X= df.drop(["mpg"], axis=1)
y=df["mpg"]

In [57]:
X.head()

,cylinders,displacement,horsepower,weight,acceleration,age,origin_japan,origin_usa
0,8,307.0,130.0,3504,12.0,50,0,1
1,8,350.0,165.0,3693,11.5,50,0,1
2,8,318.0,150.0,3436,11.0,50,0,1
3,8,304.0,150.0,3433,12.0,50,0,1
4,8,302.0,140.0,3449,10.5,50,0,1

In [58]:
y.head()

0    18.0
1    15.0
2    18.0
3    16.0
4    17.0
Name: mpg, dtype: float64

In [59]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X,y, test_size=0.2, random_state=42)

In [60]:
def eval_metrics(actual, pred):
    rmse = np.sqrt(mean_squared_error(actual, pred))
    mae = mean_absolute_error(actual, pred)
    mse = mean_squared_error(actual, pred)
    score = r2_score(actual, pred)
    return print("r2_score:", score, "\n","mae:", mae, "\n","mse:",mse, "\n","rmse:",rmse)

In [61]:
from sklearn.linear_model import LinearRegression

In [62]:
lm = LinearRegression()

In [63]:
lm.fit(X_train, y_train);

In [64]:
lm.intercept_

79.20294463155587

In [65]:
lm.coef_

array([-0.34210131,  0.01920596, -0.0216204 , -0.00642267,  0.04219811,
       -0.79716146,  0.33046978, -2.87549946])

In [66]:
y_pred=lm.predict(X_test)

In [67]:
eval_metrics(y_test, y_pred)

r2_score: 0.7922774714022587
 mae: 2.461999698066143
 mse: 10.602279011688335
 rmse: 3.256114096847396

In [68]:
my_dict={"Actual":y_test, "Pred":y_pred}
compare=pd.DataFrame(my_dict)

In [69]:
compare.sample(10)

     Actual       Pred
356    32.4  33.144070
134    16.0  17.614717
248    36.1  34.265982
289    16.9  16.903831
349    34.1  35.279429
30     28.0  22.754263
102    26.0  29.598336
114    26.0  26.411013
205    28.0  30.182539
159    14.0  11.919123

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.model_selection import train_test_split, GridSearchCV
import warnings
warnings.filterwarnings('ignore')