In [1]:
import pandas as pd

In [2]:
import seaborn as sns

In [3]:
df = sns.load_dataset("mpg")

In [4]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [5]:
df.shape

(398, 9)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    object
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [7]:
df.name.nunique()

305

In [8]:
df.drop(["name"], axis = 1, inplace=True)

In [9]:
df.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model_year      0
origin          0
dtype: int64

In [10]:
df.dropna(inplace = True)

In [11]:
df.isnull().sum().any()

False

In [12]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,18.0,8,307.0,130.0,3504,12.0,70,usa
1,15.0,8,350.0,165.0,3693,11.5,70,usa
2,18.0,8,318.0,150.0,3436,11.0,70,usa
3,16.0,8,304.0,150.0,3433,12.0,70,usa
4,17.0,8,302.0,140.0,3449,10.5,70,usa

In [13]:
import datetime

In [14]:
from datetime import datetime

In [15]:
datetime.today()

datetime.datetime(2022, 2, 1, 23, 27, 49, 755335)

In [16]:
datetime.today().year

2022

In [17]:
df["age"] = datetime.today().year - (1900 + df.model_year)

In [18]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,age
0,18.0,8,307.0,130.0,3504,12.0,70,usa,52
1,15.0,8,350.0,165.0,3693,11.5,70,usa,52
2,18.0,8,318.0,150.0,3436,11.0,70,usa,52
3,16.0,8,304.0,150.0,3433,12.0,70,usa,52
4,17.0,8,302.0,140.0,3449,10.5,70,usa,52

In [19]:
df.drop("model_year", axis = 1, inplace = True)
#df.drop(["model_year"], axis=1, inplace=True)
df.head()

    mpg  cylinders  displacement  horsepower  weight  acceleration origin  age
0  18.0          8         307.0       130.0    3504          12.0    usa   52
1  15.0          8         350.0       165.0    3693          11.5    usa   52
2  18.0          8         318.0       150.0    3436          11.0    usa   52
3  16.0          8         304.0       150.0    3433          12.0    usa   52
4  17.0          8         302.0       140.0    3449          10.5    usa   52

In [20]:
df.origin.value_counts()

usa       245
japan      79
europe     68
Name: origin, dtype: int64

In [21]:
df.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower      float64
weight            int64
acceleration    float64
origin           object
age               int64
dtype: object

In [22]:
df=pd.get_dummies(df, drop_first=True)

In [23]:
df.sample(10)#dummy trap

,mpg,cylinders,displacement,horsepower,weight,acceleration,age,origin_japan,origin_usa
353,33.0,4,105.0,74.0,2190,14.2,41,0,0
115,15.0,8,350.0,145.0,4082,13.0,49,0,1
316,19.1,6,225.0,90.0,3381,18.7,42,0,1
244,43.1,4,90.0,48.0,1985,21.5,44,0,0
202,17.5,6,258.0,95.0,3193,17.8,46,0,1
285,17.0,8,305.0,130.0,3840,15.4,43,0,1
266,30.0,4,98.0,68.0,2155,16.5,44,0,1
386,25.0,6,181.0,110.0,2945,16.4,40,0,1
155,15.0,6,250.0,72.0,3158,19.5,47,0,1
201,18.5,6,250.0,110.0,3645,16.2,46,0,1

In [24]:
X = df.drop(["mpg"], axis = 1)
y = df["mpg"]

In [25]:
X.head()

,cylinders,displacement,horsepower,weight,acceleration,age,origin_japan,origin_usa
0,8,307.0,130.0,3504,12.0,52,0,1
1,8,350.0,165.0,3693,11.5,52,0,1
2,8,318.0,150.0,3436,11.0,52,0,1
3,8,304.0,150.0,3433,12.0,52,0,1
4,8,302.0,140.0,3449,10.5,52,0,1

In [26]:
y.head()

0    18.0
1    15.0
2    18.0
3    16.0
4    17.0
Name: mpg, dtype: float64

## sklearn

Type:        module
Docstring: Machine learning module for Python
==================================

sklearn is a Python module integrating classical machine learning algorithms in the tightly-knit world of scientific Python
packages (numpy, scipy, matplotlib).

It aims to provide simple and efficient solutions to learning problems that are accessible to everybody and reusable in various contexts:machine-learning as a versatile tool for science and engineering.

See http://scikit-learn.org for complete documentation.

In [27]:
import sklearn

In [28]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X,y, test_size=0.2, random_state=42)

Regression Evaluation Metrics
Here are three common evaluation metrics for regression problems:

Mean Absolute Error (MAE) is the mean of the absolute value of the errors:

1𝑛∑𝑖=1𝑛|𝑦𝑖−𝑦̂ 𝑖|
 
Mean Squared Error (MSE) is the mean of the squared errors:

1𝑛∑𝑖=1𝑛(𝑦𝑖−𝑦̂ 𝑖)2
 
Root Mean Squared Error (RMSE) is the square root of the mean of the squared errors:

1𝑛∑𝑖=1𝑛(𝑦𝑖−𝑦̂ 𝑖)2⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯
 
Comparing these metrics:

MAE is the easiest to understand, because it's the average error.
MSE is more popular than MAE, because MSE "punishes" larger errors, which tends to be useful in the real world.
RMSE is even more popular than MSE, because RMSE is interpretable in the "y" units.
All of these are loss functions, because we want to minimize them.

In [29]:
def eval_metrics(actual, pred):
    rmse = np.sqrt(mean_squared_error(actual, pred))
    mae = mean_absolute_error(actual, pred)
    mse = mean_squared_error(actual, pred)
    score = r2_score(actual, pred)
    return print("r2_score:", score, "\n","mae:", mae, "\n","mse:",mse, "\n","rmse:",rmse)

In [61]:
from sklearn.linear_model import LinearRegression

In [62]:
lm = LinearRegression()

In [63]:
lm.fit(X_train, y_train);

In [64]:
lm.intercept_

79.20294463155587

In [65]:
lm.coef_

array([-0.34210131,  0.01920596, -0.0216204 , -0.00642267,  0.04219811,
       -0.79716146,  0.33046978, -2.87549946])

In [66]:
y_pred=lm.predict(X_test)

In [67]:
eval_metrics(y_test, y_pred)

r2_score: 0.7922774714022587
 mae: 2.461999698066143
 mse: 10.602279011688335
 rmse: 3.256114096847396

In [68]:
my_dict={"Actual":y_test, "Pred":y_pred}
compare=pd.DataFrame(my_dict)

In [69]:
compare.sample(10)

     Actual       Pred
356    32.4  33.144070
134    16.0  17.614717
248    36.1  34.265982
289    16.9  16.903831
349    34.1  35.279429
30     28.0  22.754263
102    26.0  29.598336
114    26.0  26.411013
205    28.0  30.182539
159    14.0  11.919123

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.model_selection import train_test_split, GridSearchCV
import warnings
warnings.filterwarnings('ignore')