In [1]:
import datetime

In [2]:
datetime.date

datetime.date

In [3]:
datetime.date.today()

datetime.date(2023, 7, 11)

In [4]:
datetime.datetime.now()

datetime.datetime(2023, 7, 11, 9, 58, 10, 228180)

In [6]:
from datetime import date

In [7]:
arrival= date(2023, 2,22)
now = date(2023, 7,11)

In [8]:
now-arrival

datetime.timedelta(days=139)

In [9]:
import pandas as pd

In [12]:
df = pd.DataFrame(data = [(1200,2,70), (1500, 3,120), (2100, 4,230), (1100, 3,105), (1300, 2,90), (900, 1,55)], columns = ["area", "bedrooms", "price"])

In [19]:
df.to_excel("home price.xlsx")