In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("C:/Users/Owner/Desktop/VWTouran.xlsx")

In [3]:
df.head()

,Date,Garage,Unnamed: 2,travail,Prix,garantie,commentaires
0,2022-07-01 00:00:00,SARL GARAGE LEBOULENGER,241976.0,Entretien vidange 2,NaN,NaN,NaN
1,NaN,NaN,NaN,Main d'oeuvre mecanique Tx1,35.25,NaN,"vidange moteur, remplacer joint, controle etat..."
2,NaN,NaN,NaN,huile titan GT1 PRO C3 5W30 AUL X4,50.00,NaN,NaN
3,NaN,NaN,NaN,Filtre a huile,12.74,NaN,NaN
4,NaN,NaN,NaN,joint de vidange -unite,0.97,NaN,NaN

In [4]:
df.columns

Index(['Date', 'Garage', 'Unnamed: 2', 'travail', 'Prix', 'garantie',
       'commentaires'],
      dtype='object')

In [5]:
df.columns[2]

'Unnamed: 2'

In [6]:
df.rename(columns = {"Unnamed: 2": "Kilometre"}, inplace=True) # raname is method. Method is associated with object/classes. Means it is implicitly used for an object for which it is called.
df.head()

,Date,Garage,Kilometre,travail,Prix,garantie,commentaires
0,2022-07-01 00:00:00,SARL GARAGE LEBOULENGER,241976.0,Entretien vidange 2,NaN,NaN,NaN
1,NaN,NaN,NaN,Main d'oeuvre mecanique Tx1,35.25,NaN,"vidange moteur, remplacer joint, controle etat..."
2,NaN,NaN,NaN,huile titan GT1 PRO C3 5W30 AUL X4,50.00,NaN,NaN
3,NaN,NaN,NaN,Filtre a huile,12.74,NaN,NaN
4,NaN,NaN,NaN,joint de vidange -unite,0.97,NaN,NaN

In [7]:
df.dtypes

Date             object
Garage           object
Kilometre       float64
travail          object
Prix            float64
garantie         object
commentaires     object
dtype: object

In [8]:
#df["Date"] = pd.to_datetime(df["Date"]) #ParserError: Unknown string format: 22 Fevrier 2021

In [9]:
df.Date.value_counts()

2022-07-01 00:00:00    1
10 decembre 2020       1
22 julliet 2020        1
21 fevrier 2020        1
2022-06-24 00:00:00    1
03 julliet 2020        1
20 julliet 2020        1
06 fevrier 2020        1
13 novembre 2019       1
22 Fevrier 2021        1
13 fevrier 2020        1
Name: Date, dtype: int64

In [10]:
df.Date.replace("20 julliet 2020", "20-07-2020", inplace=True)
df.Date.replace("13 fevrier 2020", "13-02-2020", inplace=True)
df.Date.replace("06 fevrier 2020", "06-02-2020", inplace=True)
df.Date.replace("13 novembre 2019", "13-11-2019", inplace=True)
df.Date.replace("10 decembre 2020", "10-12-2020", inplace=True)
df.Date.replace("22 Fevrier 2021", "22-02-2021", inplace=True)
df.Date.replace("2022-06-24 00:00:00", "24-06-2022", inplace=True)
df.Date.replace("03 julliet 2020", "03-07-2020", inplace=True)
df.Date.replace("2022-07-01 00:00:00", "01-07-2022", inplace=True)
df.Date.replace("21 fevrier 2020", "21-02-2020", inplace=True)
df.Date.replace("22 julliet 2020", "22-07-2020", inplace=True)

In [11]:
df.Date.value_counts()

13-11-2019             1
20-07-2020             1
22-02-2021             1
2022-06-24 00:00:00    1
03-07-2020             1
06-02-2020             1
2022-07-01 00:00:00    1
10-12-2020             1
13-02-2020             1
21-02-2020             1
22-07-2020             1
Name: Date, dtype: int64

In [12]:
#dict = {"2022-07-01 00:00:00": "2022-07-01", "2022-06-24 00:00:00": "2022-06-24",
                    #"22 Fevrier 2021":"2021-02-22" , "13 novembre 2019": "2019-11-13", 
                     #  "10 decembre 2020":"2020-12-10", "03 julliet 2020": "2020-07-03",
                      #"22 julliet 2020":"2020-07-22"  , 
                      #"21 fevrier 2020": "2020-02-21" , "20 julliet 2020":"2020-07-20",
                      #"06 fevrier 2020":"2020-02-06"  , "13 fevrier 2020": "2020-02-13"}
#df.Date = df.Date.map(dict)
#df.Date.value_counts()

In [13]:
df.dtypes

Date             object
Garage           object
Kilometre       float64
travail          object
Prix            float64
garantie         object
commentaires     object
dtype: object

In [14]:
df["Date"] = pd.to_datetime(df.Date)

In [15]:
df.dtypes

Date            datetime64[ns]
Garage                  object
Kilometre              float64
travail                 object
Prix                   float64
garantie                object
commentaires            object
dtype: object

In [16]:
df.Date.value_counts()

2020-07-20    1
2020-02-21    1
2021-02-22    1
2019-11-13    1
2020-10-12    1
2020-03-07    1
2022-07-01    1
2022-06-24    1
2020-02-13    1
2020-06-02    1
2020-07-22    1
Name: Date, dtype: int64

In [17]:
df.head()

,Date,Garage,Kilometre,travail,Prix,garantie,commentaires
0,2022-07-01,SARL GARAGE LEBOULENGER,241976.0,Entretien vidange 2,NaN,NaN,NaN
1,NaT,NaN,NaN,Main d'oeuvre mecanique Tx1,35.25,NaN,"vidange moteur, remplacer joint, controle etat..."
2,NaT,NaN,NaN,huile titan GT1 PRO C3 5W30 AUL X4,50.00,NaN,NaN
3,NaT,NaN,NaN,Filtre a huile,12.74,NaN,NaN
4,NaT,NaN,NaN,joint de vidange -unite,0.97,NaN,NaN

### Use .str.startswith

In [19]:
df[df.travail.str.startswith("Entretien") == True]
#df.travail.startswith("Entretien") # AttributeError: 'Series' object has no attribute 'startswith'

,Date,Garage,Kilometre,travail,Prix,garantie,commentaires
0,2022-07-01,SARL GARAGE LEBOULENGER,241976.0,Entretien vidange 2,NaN,NaN,NaN

In [20]:
df.travail

0                       Entretien vidange 2
1               Main d'oeuvre mecanique Tx1
2        huile titan GT1 PRO C3 5W30 AUL X4
3                            Filtre a huile
4                   joint de vidange -unite
                      ...
64                                      NaN
65    VIDANGE BOITE DE VITESSE REMPLACEMENT
66                   main doeuvre 1,5 heure
67                      Filtre huile 282828
68                                 Huile BV
Name: travail, Length: 69, dtype: object

In [24]:
df[df.travail.str.count("vidange") == 1.0]

,Date,Garage,Kilometre,travail,Prix,garantie,commentaires
0,2022-07-01,SARL GARAGE LEBOULENGER,241976.0,Entretien vidange 2,NaN,NaN,NaN
4,NaT,NaN,NaN,joint de vidange -unite,0.97,NaN,NaN

In [27]:
df[df.travail.str.find("vidange") > 0]

,Date,Garage,Kilometre,travail,Prix,garantie,commentaires
0,2022-07-01,SARL GARAGE LEBOULENGER,241976.0,Entretien vidange 2,NaN,NaN,NaN
4,NaT,NaN,NaN,joint de vidange -unite,0.97,NaN,NaN

In [28]:
df.Garage

0     SARL GARAGE LEBOULENGER
1                         NaN
2                         NaN
3                         NaN
4                         NaN
               ...
64                        NaN
65               GARAGE MALLE
66                        NaN
67                        NaN
68                        NaN
Name: Garage, Length: 69, dtype: object

In [29]:
df[0:25]

,Date,Garage,Kilometre,travail,Prix,garantie,commentaires
0,2022-07-01,SARL GARAGE LEBOULENGER,241976.0,Entretien vidange 2,NaN,NaN,NaN
1,NaT,NaN,NaN,Main d'oeuvre mecanique Tx1,35.25,NaN,"vidange moteur, remplacer joint, controle etat..."
2,NaT,NaN,NaN,huile titan GT1 PRO C3 5W30 AUL X4,50.00,NaN,NaN
3,NaT,NaN,NaN,Filtre a huile,12.74,NaN,NaN
4,NaT,NaN,NaN,joint de vidange -unite,0.97,NaN,NaN
5,NaT,NaN,NaN,lave glace -20 dose,2.25,NaN,NaN
6,NaT,NaN,NaN,nettoyant-degraissant-dose,1.08,NaN,NaN
7,NaT,NaN,NaN,"REMPLACER FILTRES A AIR, GASOIL ET HABITACLE",NaN,NaN,NaN
8,NaT,NaN,NaN,Main d'oeuvre mecanique Tx1,42.30,NaN,NaN
9,NaT,NaN,NaN,filtre a air,23.79,NaN,NaN
10,NaT,NaN,NaN,filtre a carburant,40.95,NaN,NaN
11,NaT,NaN,NaN,filtre a d'habitacle a pollens,17.44,NaN,NaN
12,NaT,NaN,NaN,RECHERCHE DE PANNE LAVE GLACE,NaN,NaN,NaN
13,NaT,NaN,NaN,REMPLACER MOTEUR ESSUIE VITRE AR,NaN,NaN,NaN
14,NaT,NaN,NaN,"Main d'oeuvre mecanique Tx2,5",122.50,NaN,NaN
15,NaT,NaN,NaN,Moteur EV AR-piece de reemploi,50.00,NaN,NaN
16,NaT,NaN,NaN,part recyclage dechets,0.50,NaN,NaN
17,NaT,NaN,NaN,NaN,NaN,NaN,NaN
18,NaT,NaN,NaN,NaN,NaN,NaN,NaN
19,NaT,NaN,NaN,NaN,NaN,NaN,NaN
20,NaT,NaN,NaN,NaN,NaN,NaN,NaN
21,2022-06-24,SARL GARAGE LEBOULENGER,241976.0,Remplacer contacteur antivol (neiman),NaN,NaN,NaN
22,NaT,NaN,NaN,barillet,217.40,NaN,NaN
23,NaT,NaN,NaN,antivol,140.88,NaN,NaN
24,NaT,NaN,NaN,VIS,7.36,NaN,NaN

In [30]:
df.isnull().head()

    Date  Garage  Kilometre  travail   Prix  garantie  commentaires
0  False   False      False    False   True      True          True
1   True    True       True    False  False      True         False
2   True    True       True    False  False      True          True
3   True    True       True    False  False      True          True
4   True    True       True    False  False      True          True

In [31]:
df.shape

(69, 7)

In [32]:
df.dropna(axis = 0, how = "all", inplace = True)
df.shape

(56, 7)

In [33]:
df[0:18]

,Date,Garage,Kilometre,travail,Prix,garantie,commentaires
0,2022-07-01,SARL GARAGE LEBOULENGER,241976.0,Entretien vidange 2,NaN,NaN,NaN
1,NaT,NaN,NaN,Main d'oeuvre mecanique Tx1,35.25,NaN,"vidange moteur, remplacer joint, controle etat..."
2,NaT,NaN,NaN,huile titan GT1 PRO C3 5W30 AUL X4,50.00,NaN,NaN
3,NaT,NaN,NaN,Filtre a huile,12.74,NaN,NaN
4,NaT,NaN,NaN,joint de vidange -unite,0.97,NaN,NaN
5,NaT,NaN,NaN,lave glace -20 dose,2.25,NaN,NaN
6,NaT,NaN,NaN,nettoyant-degraissant-dose,1.08,NaN,NaN
7,NaT,NaN,NaN,"REMPLACER FILTRES A AIR, GASOIL ET HABITACLE",NaN,NaN,NaN
8,NaT,NaN,NaN,Main d'oeuvre mecanique Tx1,42.30,NaN,NaN
9,NaT,NaN,NaN,filtre a air,23.79,NaN,NaN
10,NaT,NaN,NaN,filtre a carburant,40.95,NaN,NaN
11,NaT,NaN,NaN,filtre a d'habitacle a pollens,17.44,NaN,NaN
12,NaT,NaN,NaN,RECHERCHE DE PANNE LAVE GLACE,NaN,NaN,NaN
13,NaT,NaN,NaN,REMPLACER MOTEUR ESSUIE VITRE AR,NaN,NaN,NaN
14,NaT,NaN,NaN,"Main d'oeuvre mecanique Tx2,5",122.50,NaN,NaN
15,NaT,NaN,NaN,Moteur EV AR-piece de reemploi,50.00,NaN,NaN
16,NaT,NaN,NaN,part recyclage dechets,0.50,NaN,NaN
21,2022-06-24,SARL GARAGE LEBOULENGER,241976.0,Remplacer contacteur antivol (neiman),NaN,NaN,NaN

In [18]:
df.Garage.value_counts()

SOS Courroie de distribution    4
SARL GARAGE LEBOULENGER         2
SARL Garage Basnier             1
GARAGE MALLE                    1
SARL LEBRETHON                  1
SE Garage de l'ouest            1
l'auto E.LECLERC, Ifs auto      1
Name: Garage, dtype: int64

In [21]:
df["Garage"] = df.Garage.replace("SARL GARAGE LEBOULENGER", "SARL Garage Leboulanger")

In [22]:
df.Garage.value_counts()

SOS Courroie de distribution    4
SARL Garage Leboulanger         2
SARL Garage Basnier             1
GARAGE MALLE                    1
SARL LEBRETHON                  1
SE Garage de l'ouest            1
l'auto E.LECLERC, Ifs auto      1
Name: Garage, dtype: int64

In [23]:
df.head()

,Date,Garage,Kilometre,travail,Prix,garantie,commentaires
0,NaT,SARL Garage Leboulanger,241976.0,Entretien vidange 2,NaN,NaN,NaN
1,NaT,NaN,NaN,Main d'oeuvre mecanique Tx1,35.25,NaN,"vidange moteur, remplacer joint, controle etat..."
2,NaT,NaN,NaN,huile titan GT1 PRO C3 5W30 AUL X4,50.00,NaN,NaN
3,NaT,NaN,NaN,Filtre a huile,12.74,NaN,NaN
4,NaT,NaN,NaN,joint de vidange -unite,0.97,NaN,NaN

In [27]:
df.Date.value_counts()

2020-07-03    1
2020-07-20    1
2020-12-10    1
2020-02-21    1
2021-02-22    1
2019-11-13    1
2020-02-13    1
2020-02-06    1
2020-07-22    1
Name: Date, dtype: int64

In [30]:
df[df.Date == "2020-07-22"]

,Date,Garage,Kilometre,travail,Prix,garantie,commentaires
35,2020-07-22,SE Garage de l'ouest,220678.0,reparateur TG,NaN,NaN,NaN