# Arithmetic Operations

• Addition (+)
• Subtraction (-)
• Multiplication (*)
• Division (/)
• Modulus (%) ---> gives residual
• Exponentiation (**)
• Floor division (//)

## Priorities

• parentheses : ()
• power : **
• unary minus : -3
• multiplication and division : *, /
• addition and subtraction : +, -

### Arithmetic ops and print() function

In [1]:
x = 5
print ('value of x       : ', x)
x += 2
print ("2 more of x      : ", x, "\n") # '\n' = we had extra empty line.
y = 10
print ('value of y       : ', y)
y -= 2
print ("2 minus y        : ", y, "\n")
z = 6
print ('value of z       : ', z)
z *= 2
print ("2 times z        : ", z, "\n")

value of x       :  5
2 more of x      :  7

value of y       :  10
2 minus y        :  8

value of z       :  6
2 times z        :  12

### in-place Operations

Any mathematics operator can be used before the '=' character to make an in-place operation:
-= decrements the variable in place,
+= increment the variable in place,
*= multiply the variable in place,
/= divide the variable in place,
//= ﬂoor divide the variable in place, bölümün tam kısmı
%= returns the modulus of the variable in place, Kalan
**= raise to power in place.

💡 `Variable` `+=` `number` gives the same result as `Variable` = `Variable` + `number`

In [4]:
x = 2
x += 3
x

5

In [7]:
x = 2
x = x + 3 
x

5

In [11]:
x = 2
x *= 3 
x

6

In [12]:
x = 2
x = x*3
x

6

In [16]:
x = 2
x **= 3
x

8

In [15]:
x = 2
x = x**3
x

8

### Working with numbers

In [4]:
print(2)
print(3+4)
print(3 * 4 + 5)
print(3 * (4 + 5))
print(10%3)#Modulus, spits out remainder

2
7
17
27
1

In [11]:
first_num = 6
second_num = 2
print(first_num + second_num)
print(first_num ** second_num)

8
36

In [3]:
days_feb = 28
print(str(days_feb) + " days in February")
f"There are {days_feb} in February"

28 days in February

'There are 28 in February'

In [5]:
today = "monday"
"Today is" +" " + today

'Today is monday'

In [6]:
first_num = "5"
second_num = "6"
print(first_num + second_num)
print(int(first_num)+int(second_num))

56
11

In [8]:
num1 = input("enter num1")
num2=input("enter num2")
print(num1+num2)
print(int(num1)+int(num2))

enter num12
enter num22
22
4

In [16]:
first_num = input("Enter first number")
second_num = input("Enter second number")
print(int(first_num) + int(second_num))
print(float(first_num) + float(second_num))

Enter first number 5
Enter second number 6

11
11.0

In [17]:
pi = 3.14159
print(pi)

3.14159

In [19]:
first_num = 5
second_num = 6
print(first_num ** second_num)

15625

In [32]:
num1=5
num2=3
print(num1**num2)
print((num1+num2)**2)#paranthesis has priority
print(num1+num2)
print(num1-num2)
print(num1*num2)
print(float(num1/num2))

125
64
8
2
15
1.6666666666666667

**formatting to two decimal places**

USE str.format() TO SPECIFY THE NUMBER OF DECIMAL PLACES

In [24]:
value = 3.3333333333

formatted_string = "{:.2f}".format(value)


float_value = float(formatted_string)

print(float_value)

3.33

In [33]:
value = 3.3333333333
float("{:.2f}".format(value))

3.33

In [35]:
num = 3.147
newnum = round(num, 2)
newnum

3.15

In [10]:
number = input("please enter a number")
number1 = ("number"*4)
print(number)

please enter a number2
2

#### // operator

Gives the whole dividend

In [6]:
10//3

3

**% operator**

gives the residual from the division

In [2]:
num1 =10
num2 = 3
num1 % num2

1

In [48]:
fruit = 'orange'
fruit += ' apple'
fruit += ' banana'
print(fruit)

orange apple banana

In [53]:
fruit1 = "Apple"
fruit2 = "Orange"
print(2*fruit1+" "+3*fruit2)

AppleApple OrangeOrangeOrange

In [2]:
a = 3
b = 4
c = (a**2 + b**2)**0.5
print(c)

5.0

In [5]:
x = 1000
x(1, 52) = 1000 * 0.07 + x
print(x 52)

SyntaxError: invalid syntax (<ipython-input-5-1bcfb2de6bbc>, line 3)

In [11]:
number_1 = input("Enter first number")
number_2 = input("Enter second number")
print(int(number_1) + int(number_2))

Enter first number 5
Enter second number 5

10

In [12]:
number_1 = int(input("Enter first number"))
number_2 = int(input("Enter second number"))
print(number_1 + number_2)

Enter first number 5
Enter second number 5

10

In [13]:
number_1 = int(input("Enter first number"))
number_2 = int(input("Enter second number"))
print("{} + {} = ".format(number_1, number_2))
print(number_1 + number_2)

Enter first number 5
Enter second number 8

5 + 8 =
13

In [14]:
number_1 = int(input("Enter first number"))
number_2 = int(input("Enter second number"))
print("{} * {} = ".format(number_1, number_2))
print(number_1 * number_2)

Enter first number 6
Enter second number 8

6 * 8 =
48

In [2]:
from math import *

In [1]:
#common functions in Python related to nums

num = -5
print(abs(num))# give absolute value of num -->5
print(pow(3,2))#-->9
print(max(4,6))# maximum -->6
print(min(4,6))# minimum -->4
print(round(3.7))# rounds the num -->4

from math import *
print(floor(3.7))#3, chopp off decimals
print(ceil(3.2))#4, opposite of floor. it pushes next num
print(sqrt(36))

5
9
6
4
4
3
4
6.0

# Boolean Operations

Bools have two values. True and False (represent 1 and 0 or yes & no or exist & nonexistent).

In [18]:
is_pass = True #If you pass the course , whether students have passed a course or not

In [19]:
is_pass = False # If you did not pass the course

## Boolean Logic Expressions

• 3 built-in boolean operators: and, or and not. Except not, all are binary operators, which means two arguments are required.
			
			• And operator evaluates all expressions and returns:
			
				* last expression if all True.  2 and 3--> 3
				
				* ﬁrst value that evaluated False. 1 and 0.0 and 0 --> 0.0
			
			• Or operator evaluates the expressions left to right and returns:
			
				* ﬁrst True value, 2 or 3 --> 2
				
				* last value if none is True,  0 or {} --> {}
			
			• Not operator: Evaluates expression that follows as opposite of truth. Eg: not True -->False.

### `and` operator

In [20]:
2 and 3 # And operator evaluates all expressions and returns last expression if all True.

3

In [21]:
1 and 0.0 and 0 # And operator evaluates all expressions and returns ﬁrst value that evaluated False.

0.0

### `or` operator

In [22]:
2 or 3 #  Or operator evaluates the expressions left to right and returns ﬁrst True value

2

In [23]:
0 or {} # Or operator evaluates the expressions left to right and returns last value if none is True

{}

### `not` operator

In [24]:
not True # Evaluates expression that follows as opposite of truth.

False

In [27]:
x = True and not True

Value1	Logic	Value2	Returns

In [31]:
True and True

True

In [34]:
True and False

False

In [35]:
False and False

False

In [36]:
False and True

False

In [37]:
True or True

True

In [38]:
True or False

True

In [39]:
False or False

False

In [40]:
False or True

True

## Order of Priority

`not` --> `and`--> `or`

In [41]:
True and False or not False or False

True

In [ ]:
Tips:
• and and or return one of its operands, not necessarily a bool type. 
• not always returns bool type.

## Truth Values of Logic Statements

• Although Python has its own boolean data type, we often use non-boolean values in log.ops.
• The values of non-boolean types (integers, strings, etc.) are considered truthy or falsy when used with logical ops, depending on whether they are seen as True or False.
• The following values are considered False, in that they evaluate to False when applied to a boolean operator:
    ○ None.
    ○ Zero of any numeric type: 0, 0.0, 0j
    ○ Empty sequences and collections: '', [], {}.
    ○ Other than above values, any remaining value is evaluated as True.