In [108]:
import spacy

In [109]:
from spacy.lang.en.stop_words import STOP_WORDS

In [110]:
len(STOP_WORDS)

326

In [111]:
nlp = spacy.load("en_core_web_sm")

In [112]:
doc = nlp("We just open our wings, the flying part is coming soon")

In [113]:
for token in doc:
    if token.is_stop:
        print(token)

We
just
our
the
part
is

In [71]:
#let's store the clean part in array. best way is list comprehension

def preprocess(text):
    doc = nlp(text)
    
    no_stop = [token.text for token in doc if not token.is_stop and  not token.is_punct]      
    return " ".join(no_stop)

In [72]:
preprocess("We just open our wings, the flying part is coming soon")

'open wings flying coming soon'

In [36]:
preprocess("The other is not other but your divine brother")

['divine', 'brother']

apply in data frame: common use case in ML: load dataframe, build and NLP model. You need to do preprocessing on top of it.

In [37]:
import pandas as pd

In [41]:
df = pd.read_json("C:/Users/Owner/nlp-tutorials/10_stop_words/doj_press.json", lines= True)#there is one line for one json object

In [42]:
df.shape

(13087, 6)

In [43]:
df.head(5)

,id,title,contents,date,topics,components
0,None,Convicted Bomb Plotter Sentenced to 30 Years,"PORTLAND, Oregon. – Mohamed Osman Mohamud, 23,...",2014-10-01T00:00:00-04:00,[],[National Security Division (NSD)]
1,12-919,$1 Million in Restitution Payments Announced t...,WASHINGTON – North Carolina’s Waccamaw River...,2012-07-25T00:00:00-04:00,[],[Environment and Natural Resources Division]
2,11-1002,$1 Million Settlement Reached for Natural Reso...,BOSTON– A $1-million settlement has been...,2011-08-03T00:00:00-04:00,[],[Environment and Natural Resources Division]
3,10-015,10 Las Vegas Men Indicted \r\nfor Falsifying V...,WASHINGTON—A federal grand jury in Las Vegas...,2010-01-08T00:00:00-05:00,[],[Environment and Natural Resources Division]
4,18-898,$100 Million Settlement Will Speed Cleanup Wor...,"The U.S. Department of Justice, the U.S. Envir...",2018-07-09T00:00:00-04:00,[Environment],[Environment and Natural Resources Division]

we will build model to auto extract topics. that's the NLP application we build. 
filter which does not have topics.

In [46]:
type(df.topics[0])

list

In [61]:
df.topics.value_counts(dropna=True)

Environment    13087
Name: topics, dtype: int64

In [64]:
df = df[df["topics"].str.len() !=0] #filtering condition goes this bracket

In [65]:
df.head()

,id,title,contents,date,topics,components
0,None,Convicted Bomb Plotter Sentenced to 30 Years,"PORTLAND, Oregon. – Mohamed Osman Mohamud, 23,...",2014-10-01T00:00:00-04:00,Environment,[National Security Division (NSD)]
1,12-919,$1 Million in Restitution Payments Announced t...,WASHINGTON – North Carolina’s Waccamaw River...,2012-07-25T00:00:00-04:00,Environment,[Environment and Natural Resources Division]
2,11-1002,$1 Million Settlement Reached for Natural Reso...,BOSTON– A $1-million settlement has been...,2011-08-03T00:00:00-04:00,Environment,[Environment and Natural Resources Division]
3,10-015,10 Las Vegas Men Indicted \r\nfor Falsifying V...,WASHINGTON—A federal grand jury in Las Vegas...,2010-01-08T00:00:00-05:00,Environment,[Environment and Natural Resources Division]
4,18-898,$100 Million Settlement Will Speed Cleanup Wor...,"The U.S. Department of Justice, the U.S. Envir...",2018-07-09T00:00:00-04:00,Environment,[Environment and Natural Resources Division]

In [66]:
df = df.head(100) # show of application on pandas with small data

In [67]:
df.shape

(100, 6)

In [70]:
len(df["contents"].iloc[4])

6286

In [73]:
df["contents_new"] = df["contents"].apply(preprocess)

In [74]:
df.head(5)

,id,title,contents,date,topics,components,contents_new
0,None,Convicted Bomb Plotter Sentenced to 30 Years,"PORTLAND, Oregon. – Mohamed Osman Mohamud, 23,...",2014-10-01T00:00:00-04:00,Environment,[National Security Division (NSD)],PORTLAND Oregon Mohamed Osman Mohamud 23 convi...
1,12-919,$1 Million in Restitution Payments Announced t...,WASHINGTON – North Carolina’s Waccamaw River...,2012-07-25T00:00:00-04:00,Environment,[Environment and Natural Resources Division],WASHINGTON North Carolina Waccamaw River wa...
2,11-1002,$1 Million Settlement Reached for Natural Reso...,BOSTON– A $1-million settlement has been...,2011-08-03T00:00:00-04:00,Environment,[Environment and Natural Resources Division],BOSTON $ 1 million settlement reached n...
3,10-015,10 Las Vegas Men Indicted \r\nfor Falsifying V...,WASHINGTON—A federal grand jury in Las Vegas...,2010-01-08T00:00:00-05:00,Environment,[Environment and Natural Resources Division],WASHINGTON federal grand jury Las Vegas tod...
4,18-898,$100 Million Settlement Will Speed Cleanup Wor...,"The U.S. Department of Justice, the U.S. Envir...",2018-07-09T00:00:00-04:00,Environment,[Environment and Natural Resources Division],U.S. Department Justice U.S. Environmental Pro...

In [75]:
len(df["contents_new"].iloc[4])

4574

In [76]:
df["contents"].iloc[4][:300]

'The U.S. Department of Justice, the U.S. Environmental Protection Agency (EPA), and the Rhode Island Department of Environmental Management (RIDEM) announced today that two subsidiaries of Stanley Black & Decker Inc.—Emhart Industries Inc. and Black & Decker Inc.—have agreed to clean up dioxin conta'

In [77]:
df["contents_new"].iloc[4][:300]

'U.S. Department Justice U.S. Environmental Protection Agency EPA Rhode Island Department Environmental Management RIDEM announced today subsidiaries Stanley Black Decker Inc.—Emhart Industries Inc. Black Decker Inc.—have agreed clean dioxin contaminated sediment soil Centredale Manor Restoration Pro'

### Exercise

In [5]:
import spacy

In [9]:
nlp = spacy.load("en_core_web_sm")#loading the nlp model

**Exercise1:** 
- From a Given Text, Count the number of stop words in it.
- Print the percentage of stop word tokens compared to all tokens in a given text.

In [120]:
text = '''
Thor: Love and Thunder is a 2022 American superhero film based on Marvel Comics featuring the character Thor, produced by Marvel Studios and 
distributed by Walt Disney Studios Motion Pictures. It is the sequel to Thor: Ragnarok (2017) and the 29th film in the Marvel Cinematic Universe (MCU).
The film is directed by Taika Waititi, who co-wrote the script with Jennifer Kaytin Robinson, and stars Chris Hemsworth as Thor alongside Christian Bale, Tessa Thompson,
Jaimie Alexander, Waititi, Russell Crowe, and Natalie Portman. In the film, Thor attempts to find inner peace, but must return to action and recruit Valkyrie (Thompson),
Korg (Waititi), and Jane Foster (Portman)—who is now the Mighty Thor—to stop Gorr the God Butcher (Bale) from eliminating all gods.
'''

#step1: Create the object 'doc' for the given text using nlp()
 


#step2: define the variables to keep track of stopwords count and total words count



#step3: iterate through all the words in the document



#step4: print the count of stop words

    

#step5: print the percentage of stop words compared to total words in the text

In [66]:
doc = nlp(text)

In [67]:
stop_words = []
for token in doc:
    if token.is_stop:
        stop_words.append(token)

In [68]:
len(stop_words)

40

In [69]:
len(stop_words) / len([token for token in doc])

0.25

**Exercise2:** 

- Spacy default implementation considers **"not"** as a stop word. But in some scenarios removing 'not' will completely change the meaning of the statement/text. For Example, consider these two statements:

      - this is a good movie       ----> Positive Statement
      - this is not a good movie   ----> Negative Statement

- So, after applying stopwords to those 2 texts, both will return **"good movie"** and does not respect the polarity/sentiments of text.
  
- Now, your task is to remove this stop word **"not"** in spaCy and help in distinguishing the texts.


- **Hint:** GOOGLE IT! Google is your friend.

In [139]:
#use this pre-processing function to pass the text and to remove all the stop words and finally get the cleaned form
def preprocess(text):
    doc = nlp(text)
    no_stop_words = [token.text for token in doc if not token.is_stop]
    return " ".join(no_stop_words)

In [123]:
#Step1: remove the stopword 'not' in spacy
nlp.vocab #Create the vocabulary.

In [135]:
nlp.vocab["not"].is_stop = False

In [136]:
#step2: send the two texts given above into the pre-process function and store the transformed texts

In [140]:
preprocess("this is a good movie")

'good movie'

In [141]:
preprocess("this is not a good movie")

'not good movie'

In [142]:
#step3: finally print those 2 transformed texts
print(f"Text1: {positive_text}")
print(f"Text2: {negative_text}")

Text1: good movie
Text2: not good movie

**Exercise3:** 

- From a given text, output the **most frequently** used token after removing all the stop word tokens and punctuations in it.

In [162]:
text = ''' The India men's national cricket team, also known as Team India or the Men in Blue, represents India in men's international cricket.
It is governed by the Board of Control for Cricket in India (BCCI), and is a Full Member of the International Cricket Council (ICC) with Test,
One Day International (ODI) and Twenty20 International (T20I) status. Cricket was introduced to India by British sailors in the 18th century, and the 
first cricket club was established in 1792. India's national cricket team played its first Test match on 25 June 1932 at Lord's, becoming the sixth team to be
granted test cricket status.
'''
text = text.replace("\n", " ").lstrip(" ")

In [163]:
#step1: Create the object 'doc' for the given text using nlp()
doc = nlp(text)

In [164]:
#step2: remove all the stop words and punctuations and store all the remaining tokens in a new list
no_stop_punct = [token.text for token in doc if not token.is_stop and not token.is_punct]
print(no_stop_punct)

['India', 'men', 'national', 'cricket', 'team', 'known', 'Team', 'India', 'Men', 'Blue', 'represents', 'India', 'men', 'international', 'cricket', 'governed', 'Board', 'Control', 'Cricket', 'India', 'BCCI', 'Member', 'International', 'Cricket', 'Council', 'ICC', 'Test', 'Day', 'International', 'ODI', 'Twenty20', 'International', 'T20I', 'status', 'Cricket', 'introduced', 'India', 'British', 'sailors', '18th', 'century', ' ', 'cricket', 'club', 'established', '1792', 'India', 'national', 'cricket', 'team', 'played', 'Test', 'match', '25', 'June', '1932', 'Lord', 'sixth', 'team', 'granted', 'test', 'cricket', 'status']

In [ ]:
#step3: create a new dictionary and get the frequency of words by iterating through the list which contains stored tokens

In [168]:
freq_tokens= {}
for token in no_stop_punct:
    if token not in freq_tokens:
        freq_tokens[token] = 1
    else:
        freq_tokens[token] +=1

In [181]:
freq_tokens.items()

dict_items([('India', 6), ('men', 2), ('national', 2), ('cricket', 5), ('team', 3), ('known', 1), ('Team', 1), ('Men', 1), ('Blue', 1), ('represents', 1), ('international', 1), ('governed', 1), ('Board', 1), ('Control', 1), ('Cricket', 3), ('BCCI', 1), ('Member', 1), ('International', 3), ('Council', 1), ('ICC', 1), ('Test', 2), ('Day', 1), ('ODI', 1), ('Twenty20', 1), ('T20I', 1), ('status', 2), ('introduced', 1), ('British', 1), ('sailors', 1), ('18th', 1), ('century', 1), (' ', 1), ('club', 1), ('established', 1), ('1792', 1), ('played', 1), ('match', 1), ('25', 1), ('June', 1), ('1932', 1), ('Lord', 1), ('sixth', 1), ('granted', 1), ('test', 1)])

In [ ]:
#step4: get the maximum frequency word

In [184]:
max(freq_tokens.keys(), key=(lambda key: freq_tokens[key]))

'India'