#### **Excersie: 1**

- Get all the proper nouns from a given text in a list and also count how many of them.
- **Proper Noun** means a noun that names a particular person, place, or thing.

In [37]:
text = '''Ravi and Raju are the best friends from school days.They wanted to go for a world tour and 
visit famous cities like Paris, London, Dubai, Rome etc and also they called their another friend Mohan to take part of this world tour.
They started their journey from Hyderabad and spent next 3 months travelling all the wonderful cities in the world and cherish a happy moments!
'''

In [2]:
import spacy

In [4]:
nlp = spacy.blank("en")

In [9]:
nlp.pipe_names

[]

In [5]:
doc = nlp(text)

In [14]:
my_list= []
for token in doc:
    my_list.append(token)
my_list[0]

Ravi

In [16]:
nlp = spacy.load("en_core_web_sm")

In [17]:
nlp.pipe_names

['tok2vec', 'tagger', 'parser', 'attribute_ruler', 'lemmatizer', 'ner']

In [18]:
doc = nlp(text)

In [32]:
my_list =[]
for i in doc:
    if i.pos_ =="PROPN":
        my_list.append(i)

In [33]:
my_list

[Raju, Paris, London, Dubai, Rome, Mohan, Hyderabad]

In [34]:
len(my_list)

7

#### **Excersie: 2**

- Get all companies names from a given text and also the count of them.
- **Hint**: Use the spacy **ner** functionality

In [43]:
text = '''The Top 5 companies in USA are Tesla, Walmart, Amazon, Microsoft, Google and the top 5 companies in 
India are Infosys, Reliance, HDFC Bank, Hindustan Unilever and Bharti Airtel'''

In [44]:
nlp.pipe_names

['tok2vec', 'tagger', 'parser', 'attribute_ruler', 'lemmatizer', 'ner']

In [45]:
doc = nlp(text)

In [54]:
org = []
for i in doc.ents:
    if i.label_=="ORG":
        org.append(i.text)

In [57]:
print(org)
print(len(org))

['Tesla', 'Walmart', 'Amazon', 'Microsoft', 'Google', 'Infosys', 'Reliance', 'HDFC Bank', 'Hindustan Unilever', 'Bharti']
10

**Exercise1:** 
- Convert these list of words into base form using Stemming and Lemmatization and observe the transformations
- Write a short note on the words that have different base words using stemming and Lemmatization

In [64]:
#using stemming in nltk
lst_words = ['running', 'painting', 'walking', 'dressing', 'likely', 'children', 'whom', 'good', 'ate', 'fishing']

In [65]:
import nltk

In [66]:
from nltk.stem import PorterStemmer

In [67]:
stemmer = PorterStemmer()

In [85]:
stems = []
for i in lst_words:
    stems.append(stemmer.stem(i))

In [80]:
import spacy

nlp = spacy.load("en_core_web_sm")

doc= nlp(" ".join(lst_words))

In [81]:
doc.ents

()

In [117]:
lemms = [i.lemma_ for i in doc]
lemms

['run',
 'paint',
 'walk',
 'dress',
 'likely',
 'child',
 'whom',
 'good',
 'eat',
 'fishing']

In [111]:
import pandas as pd

df_list = pd.DataFrame(data = (stems, lemms))
df_list = df_list.T

In [112]:
df_list

          0        1
0       run      run
1     paint    paint
2      walk     walk
3     dress    dress
4      like   likely
5  children    child
6      whom     whom
7      good     good
8       ate      eat
9      fish  fishing

In [115]:
df_list = df_list.rename(columns = {0:"stemms", 1: "lemms"})

In [116]:
df_list

     stemms    lemms
0       run      run
1     paint    paint
2      walk     walk
3     dress    dress
4      like   likely
5  children    child
6      whom     whom
7      good     good
8       ate      eat
9      fish  fishing

**Observations**

- Words that are different in stemming and lemmatization are:
    - painting
    - likely
    - children
    - ate
    - fishing

- As Stemming achieves the base word by removing the **suffixes** [ing, ly etc], so it successfully transform the words like 'painting', 'likely', 'fishing' and lemmatization fails for some words ending with suffixes here.

- As Lemmatization uses the **dictionary** meanings while converting to the base form, so words like 'children' and 'ate' are successfully transformed and stemming fails here.

In [119]:
[i.lemma_ for i in doc]

['run',
 'paint',
 'walk',
 'dress',
 'likely',
 'child',
 'who',
 'good',
 'eat',
 'fishing']

**Exercise2:**

- convert the given text into it's base form using both stemming and lemmatization

In [125]:
text = """Latha is very multi talented girl.She is good at many skills like dancing, running, singing, playing.She also likes eating Pav Bhagi. she has a 
habit of fishing and swimming too.Besides all this, she is a wonderful at cooking too.
"""

In [134]:
#using stemming in nltk

#step1: Word tokenizing
all_word_tokens = nltk.word_tokenize(text)


#step2: getting the base form for each token using stemmer
all_base_words = []

for token in all_word_tokens:
  base_form = stemmer.stem(token)
  all_base_words.append(base_form)


#step3: joining all words in a list into string using 'join()'
final_base_text = ' '.join(all_base_words)
print(final_base_text)

latha is veri multi talent girl.sh is good at mani skill like danc , run , sing , playing.sh also like eat pav bhagi . she ha a habit of fish and swim too.besid all thi , she is a wonder at cook too .

In [135]:
#using lemmatisation in spacy


#step1: Creating the object for the given text
doc = nlp(text)
all_base_words = []

#step2: getting the base form for each token using spacy 'lemma_'
for token in doc:
  base_word =  token.lemma_
  all_base_words.append(base_word)


#step3: joining all words in a list into string using 'join()'
final_base_text = ' '.join(all_base_words)
print(final_base_text)

Latha be very multi talented girl . she be good at many skill like dancing , running , singing , play . she also like eat Pav Bhagi . she have a
 habit of fishing and swim too . besides all this , she be a wonderful at cook too .