# Functions

â€¢ Function is: 
     â—‹ Collection of organized, reusable code that is used to perform an action. 
     â—‹ Block of self-contained statements which has a valid name, parameters list, and body.
     â—‹ Block of code that executes already designed logic when it is called. (prints text, deletes data or square a number)

ðŸ’¡ Functions make programming more functional and modular to perform modular tasks. Python provides several built in functions to complete tasks and also allows a user to create new functions as well.

ðŸ‘‰ Types of functions: 
Bifs: copy(), len(), count() are the some built-in functions. 
User-defined Functions: Functions which are defined by a user known as user-defined functions.
Lambda functions:

# Built-in functions

Before coding a function be aware of built in ones. Maybe it exists. 
There are range of functions and types built into Pinterpreter, already usable.

âš ï¸ P3.8 has 69 bif.

Functions whose functionality is pre-defined. Pinterpreter has several functions that are always present for use. 

â€¢ input()
â€¢ len()
â€¢ range()
â€¢ print()
â€¢ bool()
â€¢ type()
â€¢ str()
â€¢ int()
â€¢ float()
â€¢ tuple()
â€¢ list()
â€¢ sum()
â€¢ count()
â€¢ split()
â€¢ isalpha()

# Bifs which return bool type
### all, any, callable

## all(iterable) fuction

The all() function returns True if all items in an iterable are true, otherwise it returns False.

If the iterable object is empty, the all() function also returns True.

In [4]:
all([1,1])

True

In [9]:
all("erzurum")

True

In [24]:
all([True, False])

False

In [25]:
all([True, None])

False

In [26]:
all([])

True

In [9]:
list(range(0))

[]

In [13]:
all(range(0))

True

In [19]:
all(range(1,2))

True

In [17]:
list(range(0))

[]

In [13]:
all([])

True

In [17]:
all([0, 1, 1])# Returns False because 0 is the same as False

False

In [20]:
all((0, True, False)) # This tuple returns False because both the first and the third items are False

False

In [22]:
all({0 : "Apple", 1 : "Orange"}) # Returns False because the first key is false.

                                    # For dictionaries the all() function checks the keys, not the values.

False

## any() function

`any(iterable)`: Check if any of the items in a list are True    

If the iterable object is empty, the any() function will return False.

In [11]:
mylist = [False, True, False]
any(mylist)

True

In [20]:
any(range(0))

False

### callable function

`callable(object)`: Return whether the object is callable (i.e., some kind of function). Note that classes are callable, as are instances of classes with a
__call__() method.

In [30]:
callable(map((lambda x:x**2), range(3)))

False

In [14]:
callable(mylist)

False

In [16]:
def plus(x,y):
    return x+y
plus(2,3)

5

In [17]:
callable(plus)

True

# Bifs for getting & converting data types

type(), bool(): getting the types of objects
float(), int(), str(): converting types of objects

## type()

Docstring:     
type(object_or_name, bases, dict)
type(object) -> the object's type
type(name, bases, dict) -> a new type

â€¢ Different types of objects (lists, picture of strings, integers, floats) has their own methods and properties associated. 
â€¢ type() function shows what kind of object is it. 
â€¢ class term at the beginning: this object is based on the class of string or integer etc.

In [1]:
f = 3.14
type(f)

float

In [2]:
print(type(f))

<class 'float'>

In [1]:
example = 'sometimes what you say is less important than how you say it'
print(type(example))

<class 'str'>

â€¢ when these objects are based on this class they kind of inherit all of the properties and methods governed by that class. 
â€¢ ex: upper is one of string method, call this string with this method

In [3]:
example.upper()

'SOMETIMES WHAT YOU SAY IS LESS IMPORTANT THAN HOW YOU SAY IT'

I love Python Quizz of the day
What is the result of print(type([]) is list)

In [3]:
type([])

list

In [4]:
type([]) is list

True

In [8]:
print(type([]) is list)

True

## bool()

The bool() function returns the boolean value of a specified object.

The object will always return True, unless:

The object is empty, like [], (), {}
The object is False
The object is 0
The object is None

In [21]:
x = bool(1)
x

True

### float() function

In [ ]:
Convert a string or number to a floating point number, if possible.

In [44]:
a=71
float(a)

71.0

### int() function

Convert a number or string to an integer, or return 0 if no arguments are given.

In [22]:
a = "71"
type(a)

str

In [25]:
a = int(a)

In [26]:
type(a)

int

### str() function

In [ ]:
Create a new string object from the given object. If encoding or
errors is specified, then the object must expose a data buffer
that will be decoded using the given encoding and error handler.
Otherwise, returns the result of object.__str__() (if defined)
or repr(object).

argument within paranthesis you put integer or float num

In [36]:
f=3.14 
str(f)

'3.14'

In [37]:
type(f)

float

In [10]:
f = 3.14
fNew=str(f)

In [39]:
type(fNew)

str

In [46]:
num = 5
print(str(num) + " is my favourite number")#any time you print number next to a string you must convert it to a string

5 is my favourite number

In [2]:
print(type({})) is set

<class 'dict'>

False

# Bifs to create and process the collection types.

### dict() function

â€¢  It creates a new empty dictionary.

In [49]:
dict()

{}

In [52]:
dict(animal = "dog", planet="neptun", number=40, pi =3.14, is_good=True)

{'animal': 'dog',
 'planet': 'neptun',
 'number': 40,
 'pi': 3.14,
 'is_good': True}

In [10]:
dict(cafe = "second cup", price =2.4, currency = "Â£")

{'cafe': 'second cup', 'price': 2.4, 'currency': 'Â£'}

In [12]:
example = dict(cafe = "second cup", price =2.4, currency = "Â£")

In [15]:
example.get("cafe")

'second cup'

In [18]:
example.values()

dict_values(['second cup', 2.4, 'Â£'])

In [19]:
example.update(setting="good")

In [20]:
example

{'cafe': 'second cup', 'price': 2.4, 'currency': 'Â£', 'setting': 'good'}

### list() function

In [53]:
list("I quit smoking")

['I', ' ', 'q', 'u', 'i', 't', ' ', 's', 'm', 'o', 'k', 'i', 'n', 'g']

In [54]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

`tuple()`

In [55]:
tuple('Alps')

('A', 'l', 'p', 's')

`set()`

`len()`

`len()` function return the number of items in a container.

Length (number of characters) of a text or a variable.

The formula syntax: `len`(`obj`, /)

In [8]:
len("tomato")

6

In [7]:
vegetable = 'Tomato'
print('length of the word', vegetable, 'is :', len(vegetable))

length of the word Tomato is : 6

In [14]:
text = ['one','two','three','four','five']
numbers = [1, 2, 3, 4, 5]
len(text)

5

In [15]:
len(numbers)

5

In [16]:
num = 1234
len(num)

TypeError: object of type 'int' has no len()

In [9]:
p = "Python"
len(p)

6

In [14]:
# loop over string
counter = 0
for i in p:
    print(i)
    counter +=1
print(counter)

P
y
t
h
o
n
6

`frozenset()`

## zip() function

Return a zip object whose .__next__() method returns a tuple where the i-th element comes from the i-th iterable argument. 
The .__next__() method continues until the shortest iterable in the argument sequence is exhausted and then it raises StopIteration.

It makes an iterator that aggregates elements from each of the iterables.

In [1]:
text = ['one','two','three','four','five']
numbers = [1, 2, 3, 4, 5]

In [5]:
zip(text, numbers)

In [2]:
list(zip(text, numbers))

[('one', 1), ('two', 2), ('three', 3), ('four', 4), ('five', 5)]

ðŸ’¡Tips :zip() function make an iterator that aggregates elements from each of the iterables.

In [3]:
for x, y in zip(text, numbers):
    print(x, ':', y)

one : 1
two : 2
three : 3
four : 4
five : 5

In [4]:
dict(zip(text, numbers))

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

In [5]:
list(zip(text, numbers))

[('one', 1), ('two', 2), ('three', 3), ('four', 4), ('five', 5)]

In [1]:
label = ["G1", "G2", "G3", "G4", "G5", "G6"]
men_means = [20,34,30,35,27]
women_means=[25,32,34,20,25]

In [2]:
zip(label, men_means, women_means)

In [3]:
list(zip(label, men_means, women_means))

[('G1', 20, 25),
 ('G2', 34, 32),
 ('G3', 30, 34),
 ('G4', 35, 20),
 ('G5', 27, 25)]

In [4]:
tuple(zip(label, men_means, women_means))

(('G1', 20, 25),
 ('G2', 34, 32),
 ('G3', 30, 34),
 ('G4', 35, 20),
 ('G5', 27, 25))

## filter() function

`filter(function, iterable)`

â€¢ Extract Values From Iterables
â€¢ filter() filters iterable objects with the help of a function (lambda) that tests each element in the sequence to be true or not.

### filtering with for loops

In [69]:
nums = [-2, -1, 0, 1, 2]

In [65]:
def posNumFunc(nums):
    posNumList = []
    for i in nums:
        if i > 0: # filtering condition
            posNumList.append(i)
    return posNumList

In [66]:
posNumFunc(nums)

[1, 2]

The loop in posNumFunc() iterates through nums and stores every number greater than 0 in positive_numbers. 
The conditional statement filters out the negative numbers and 0. 
This kind of functionality is known as a filtering.

### Filtering with Python

Python provides a convenient built-in function, filter(), that abstracts out the logic behind filtering operations.

The first argument, function, must be a single-argument function. 
Typically, you provide a predicate (Boolean-valued) function to this argument. 
In other words, you provide a function that returns either True or False according to a specific condition.

This function plays the role of a decision function, also known as a filtering function, because it provides the criteria to filter out unwanted values from the input iterable and to keep those values that you want in the resulting iterable. 
Note that the term unwanted values refers to those values that evaluate to false when filter() processes them using function.

The second argument, iterable, can hold any Python iterable, such as a list, tuple, or set. It can also hold generator and iterator objects. An important point regarding filter() is that it accepts only one iterable.

To perform the filtering process, filter() applies function to every item of iterable in a loop. The result is an iterator that yields the values of iterable for which function returns a true value. The process doesnâ€™t modify the original input iterable.

### Using a lambda function

In [76]:
filter(lambda x: x>0, nums)

In [78]:
posNums = filter(lambda x: x>0, nums)
list(posNums)

[1, 2]

### Using a user-defined function

In [79]:
def is_positive(n):
    return n > 0

In [81]:
list(filter(is_positive, nums))

[1, 2]

#### Extracting even nums

In [86]:
numbers = [1, 3, 10, 45, 6, 50]
evenNums = filter(lambda x: x%2==0, numbers)
list(evenNums)

[10, 6, 50]

In [4]:
first_ten = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] 
even = filter(lambda x: x%2==0, first_ten)
print(type(even))
print("even numbers are: ", list(even))

<class 'filter'>
even numbers are:  [0, 2, 4, 6, 8]

In [6]:
vowel_list = ['a', 'e', 'i', 'o', 'u']
first_ten = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
vowels = filter(lambda x: True if x in vowel_list else False, first_ten )
print("Vowels are:", list(vowels))

Vowels are: ['a', 'e', 'i']

`enumerate()`: Convert a tuple into an enumerate object.

In [56]:
x = ('apple', 'banana', 'cherry')
y = enumerate(x)
y

The enumerate() function takes a collection (e.g. a tuple) and returns it as an enumerate object.

The enumerate() function adds a counter as the key of the enumerate object.

syntax: `enumerate`(`iterable`, `start`)

A lot of times when dealing with iterators, we also get a need to keep a count of iterations. Python eases the programmersâ€™ task by providing a built-in function enumerate() for this task. Enumerate() method adds a counter to an iterable and returns it in a form of enumerate object. This enumerate object can then be used directly in for loops or be converted into a list of tuples using list() method.

In [57]:
# Python program to illustrate enumerate function

In [58]:
l1 = ["eat","sleep","repeat"] 
s1 = "geek"

In [59]:
# creating enumerate objects

In [60]:
obj1 = enumerate(l1) 
obj2 = enumerate(s1)

In [61]:
type(obj1)

enumerate

In [62]:
list(enumerate(l1))

[(0, 'eat'), (1, 'sleep'), (2, 'repeat')]

In [63]:
list(enumerate(s1))

[(0, 'g'), (1, 'e'), (2, 'e'), (3, 'k')]

In [64]:
# changing start index to 2 from 0

In [65]:
list(enumerate(s1,2))

[(2, 'g'), (3, 'e'), (4, 'e'), (5, 'k')]

In [66]:
name = "gurkan"
obj = enumerate(name)
obj
list(obj)

[(0, 'g'), (1, 'u'), (2, 'r'), (3, 'k'), (4, 'a'), (5, 'n')]

The enumerate object yields pairs containing a count (from start, which defaults to zero) and a value yielded by the iterable argument.

enumerate is useful for obtaining an indexed list

In [67]:
grocery = ["bread", "water", "olive"]
enumerate(grocery)
print(list(enumerate(grocery)))
print(dict(enumerate(grocery, 5)))

[(0, 'bread'), (1, 'water'), (2, 'olive')]
{5: 'bread', 6: 'water', 7: 'olive'}

# Bifs for tackling numbers

### max()

With a single iterable argument, return its biggest item. 
The default keyword-only argument specifies an object to return if the provided iterable is empty.

max() python bif returns the elements from the CoT with maximum value.
The max() function returns the item with the highest value, or the item with the highest value in an iterable.

If the values are strings, an alphabetically comparison is done.

max(iterable, *[, default=obj, key=func]) -> value

In [3]:
numbers = [1, 3, 7, 4, 3, 0, 3, 6, 3]

In [7]:
max(numbers)

7

In [9]:
max(numbers, key = numbers.count) # numbers.count(3) fonksiyonu en Ã§ok tekrarlandÄ±ÄŸÄ± iÃ§in (4 kez) 3 dÃ¶ner.

3

max(arg1, arg2, *args, *[, key=func]) -> value

In [1]:
list1, list2 = ["ab", 'xyz', 'zara', 'abc'], [456, 700, 2000]
print ("Max value element : ", max(list1)) # z alfabenin sonu o yÃ¼zden bunu getirir. 
print ("Max value element : ", max(list2))

Max value element :  zara
Max value element :  2000

In [2]:
max("Mike", "John", "Vicky")

'Vicky'

In [3]:
type(("Mike", "John", "Vicky"))

tuple

`min()`

`sum()`

sum(iterable, start=0, /)

Return the sum of a 'start' value (default: 0) plus an iterable of numbers
When the iterable is empty, return the start value.
This function is intended specifically for use with numeric values and may
reject non-numeric types.

## round() function

Syntax: round(numbers, ndigits)

The round() function returns a floating point number that is a rounded version of the specified number, with the specified number of decimals.

The default number of decimals is 0, meaning that the function will return the nearest integer.

Parameter Values
Parameter	Description
number	Required. The number to be rounded
digits	Optional. The number of decimals to use when rounding the number. Default is 0

In [1]:
round(5.76543, 2)

5.77

# Bifs for special purposes ~ complemented implementations

`eval()`

In [ ]:
eval(expression[, globals[, locals]])

`sorted()`

In [ ]:
sorted(iterable)

### open() function

In [26]:
file = open("C:/Users/Owner/family.txt", mode = "rt", encoding = "utf-8")

In [27]:
file.read()

'row number, first name, last name, ages\n1, gÃ¼rkan, yeÅŸilyurt, 43\n2, canan, yeÅŸilyurt, 35\n3, bÃ¼ÅŸra, yeÅŸilyurt, 15\n4, ahmet selim, yeÅŸilyurt, 11'

In [28]:
file.close()

`dir()`

In [ ]:
dir([object])

`hash()`

In [ ]:
`help()`

In [ ]:
help([object])

## input() function

`Docstring`: Read a string from standard input. The trailing newline is stripped.

The prompt string, if given, is printed to standard output without a trailing newline before reading input.

In [2]:
input("enter a number")

enter a num3

'3'

### get the value of different data types

ðŸ’¡Tips : If you want the user to input numbers, use the input() function together with the int() function.
Otherwise, the value entered by the user will be in the string dt.

In [3]:
int(input("enter a number"))

enter a number3

3

### Assigning to a variable

In [1]:
times = int(input("How many times should I say 'I love you'"))#it gets a number and assigns it to times.
for i in range(times): #range fonk. (start, stop, step), burda girilen rakam stoptur
    print("I love you")

How many times should I say 'I love you'2
I love you
I love you

Now, let's write a code that asks the user a number between 1 and 10 and puts that number into the multiplication table.

In [2]:
n = int(input('enter a number between 1-10'))
for i in range(11):
    print('{}x{} = '.format(n, i), n*i)

enter a number between 1-102
2x0 =  0
2x1 =  2
2x2 =  4
2x3 =  6
2x4 =  8
2x5 =  10
2x6 =  12
2x7 =  14
2x8 =  16
2x9 =  18
2x10 =  20

âœï¸Homework: Write the same code above by yourself but using ðŸ‘‰ðŸ»% operator in print() function.

Explanation or `user manual` of function (code bloc) or module (long code bloc).

Stored as an `attribute` of the function or the module that you can access them programmatically.

Docstring runs as an explanatory text of codes and it should be written between triple quotes. Like: """docstring""".

**Syntax**: print(`function_name`.`__doc__`)

In [4]:
print(input.__doc__)

Forward raw_input to frontends

        Raises
        ------
        StdinNotImplentedError if active frontend doesn't support stdin.

Read a string from standard input.  The trailing newline is stripped.

Takes a value from the user and assigns it to a variable.

Input statement always returns string. To treat is as a number use: float(price)

### Leap year

A leap year is exactly divisible by 4 except for century years (years ending with 00). 
The century year is a leap year only if it is perfectly divisible by 400. 
Write a Python program to check if year is a leap year or not

In [14]:
year = int(input("Enter a year in 4-digit format to check if leap or not: "))
if (year %4==0) & (year %400==0):
    print("{} is a leap year".format(year))
else: print("{} is not a leap year".format(year))

Enter a year in 4-digit format to check if leap or not: 3000
3000 is not a leap year

In [ ]:
a = int(input("Bir sayÄ± giriniz:"))
b = int(input("Bir sayÄ± giriniz:"))
c = int(input("Bir sayÄ± giriniz:"))

Ã§arpÄ±m = a*b*c
print("Result of {}*{}*{} is {}".format(a, b, c, Ã§arpÄ±m))

In [ ]:
boy = float(input("Boyun kaÃ§ gardaÅŸ (m): "))
kilo = int(input("Kilon kaÃ§ gardaÅŸ: "))
bki= kilo/boy**2
print(bki)

In [ ]:
a = input("bir sayÄ± giriniz: ")
b = int(input("bir sayÄ± giriniz: "))
a, b = b, a
print(a, b, sep="\n")

In [ ]:
adÄ± = input("adÄ±nÄ± gir gardaÅŸ: ")
soyadÄ± = input("soyadÄ± lÃ¼tfen: ")
numara = input("no: ")
#print("Benim adÄ±m {}, soyadÄ±m {}'dÄ±r. NumaramÄ± vermem gardaÅŸ".format(adÄ±, soyadÄ±))
print("adÄ±:%s" %adÄ±)

In [ ]:
word = input("Bir kelime giriniz: ")
seperation = input("Bir separation giriniz: ")
repetition = int(input("Bir repetisyon giriniz: "))
output = repetition* (word + seperation)
print(output)
print(output[:-1])

In [ ]:
word = input("Please enter a word: ")
number = int(input("Please enter a number: "))
new_word = word[-number::]
print(number*new_word)

In [ ]:
say = int(input("bir sayÄ± giriniz: "))
a = "Fizz"
b = "Buzz"
c = (say%3==0)*a + (say%5==0)*b or say
print(c)

In [ ]:
fruit = 'Orange'
print('Word                    : ' , fruit)
print('First letter            : ' , fruit[0])
print('Second letter           : ' , fruit[1])
print("3rd to 5th letters      : " , fruit[2:5])
print("Letter all after 3rd    : " , fruit[2:])

In [ ]:
isim = "GÃ¼rkan"
print(isim)
print("Ä°sminiz: ", isim)
print("Ä°lk Harf: ", isim[0])
print("3'ten 5'e kadar harfler: ", isim[2:5])
print("3'ten sonraki tÃ¼m harfler: ", isim[2:])
print(isim[:])
print(isim[2:6:2])

In [ ]:
vegetable = 'Tomato'
print('length of the word', vegetable, 'is :', len(vegetable))

In [ ]:
fruit = "melon"
print(len(fruit))
print("length of the word", fruit, "is: ", len(fruit))

In [ ]:
warning = "You must quit smoking!"
#print(warning)
#print(len(warning))
#print("length of the sentence", warning, "is: ", len(warning))
print(len(list(warning)))

In [ ]:
x = 12
y = x + 21
x = 2
print(y//x)

In [ ]:
x = 12
y = 21
print(x+y)

In [ ]:
#free code camp

In [ ]:
name = input("enter your name: ") #store input inside a variable name
age = input("enter your age: ")
"Hello " + name.capitalize() +"! "+ "You're " + age + " years old."


### calculator

In [ ]:
num1=input("Enter a number")
num2 = input("Enter another number")
result = float(num1)+float(num2)
print(result)

### mad libs

In [ ]:
color = input("Enter a color")
pluralNoun= input("Enter a plural noun")
celebrity = input("Enter a celebrity")

print("Roses are " + color)
print(pluralNoun + " are blue")
print("I love " + celebrity)

In [ ]:
first_name = input("Please enter your first name")
second_name = input("Please enter your second name")
print("Hello " + first_name.capitalize() + " " + second_name.upper())

#### Example: Write a code that asks the user a number between 1 and 10 and puts that number into the multiplication table.

In [ ]:
a = int(input("enter a number between 1 and 10"))
for i in range(1,11):
    #print(a*i)
    print("{}x{}= ".format(a,i), a*i)
    #print("%dx%d= "%(a,i))

In [2]:
name = input("name")
password = int(input("password"))
def login(name, password):
    if password ==1234 and name=="gurkan":
        print("hello owny")
    else: print("wrong credentials")

namegurkan
password1234

In [3]:
login("ahmet", 1234)

wrong credentials

In [4]:
login("gurkan", 1234)

hello owny

## ord() function

In [ ]:
Docstring: Return the Unicode code point for a one-character string.

In [1]:
ord("i")

105

In [3]:
ord("j")

106

## bit_length() function

Docstring: Number of bits necessary to represent self in binary.

Returns the number of bits required to represent an integer in binary, excluding the sign and leading zeros.

In [ ]:
Bit: state of a single wire, either 0 or 1 /smallest info that a computer can store
Bytes: 8 bit constitutes one byte, and can store one character (A)

In [15]:
(37).bit_length()

6

## bin() function

In [ ]:
Docstring: Return the binary representation of an integer.

In [13]:
bin(37)

'0b100101'

### Example

In [8]:
def alan():
    n=input("write a word or sentence and pres enter")
    n2=0
    for i in n:
        n2 += ord("i")
    print("{} yazÄ±sÄ± bilgisayarÄ±nÄ±zda {} byte alan kaplamaktadÄ±r".format(n, n2.bit_length()))

In [9]:
alan()

write a word or sentence and pres enterdddd
dddd yazÄ±sÄ± bilgisayarÄ±nÄ±zda 9 byte alan kaplamaktadÄ±r

# map() Function

map function executes the function given as the first argument on all the elements of the iterable given as the second argument. If the function given takes in more than 1 arguments, then many iterables are given.

map(function, iterable, ...)

In [6]:
print(map.__doc__)

map(func, *iterables) --> map object

Make an iterator that computes the function using arguments from
each of the iterables.  Stops when the shortest iterable is exhausted.

`iterable`: elemanlarÄ±na ayrÄ±labilen demektir.

In [7]:
print(* "erzurum", sep = ",")

e,r,z,u,r,u,m

`map()` returns a list of outputs after applying the function to each els of iterable.

The basic formula syntax is : `map(function, iterable)`

ðŸ’¡Tips : map() takes iterable objects one by one and in order.

In [2]:
map((lambda x: x**2), range(5))

In [3]:
list(map(lambda x: x**2, range(5)))

[0, 1, 4, 9, 16]

In [4]:
seq = ['soup','dog','salad','cat','great']
list(map(lambda x: x*2, seq))

['soupsoup', 'dogdog', 'saladsalad', 'catcat', 'greatgreat']

In [5]:
def times2(var):
    return var*2
list(map(times2, seq))

['soupsoup', 'dogdog', 'saladsalad', 'catcat', 'greatgreat']

## Map, applies any function to iterables (list etc.)Â¶

Example: square all the numbers in the list using `map()` and `lambda`.

In [5]:
iterable = [1, 2, 3, 4, 5]
map(lambda x:x**2, iterable)
result = map(lambda x:x**2, iterable)
print(type(result))  # it's a map type
print(list(result))  # we've converted it to list type to print
print(list(map(lambda x:x**2, iterable)))  # you can print directly

<class 'map'>
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

# print() function

`Docstring`

In [3]:
print(print.__doc__)

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

print() function is most frequently used function. (constant changes and see the results).
One expression in parentheses separated by ðŸ‘‰ comma (,)

## Kwargs

### sep()

More than one expression - are joined to each other by spaces(default). If you put "," then joined by commas.

In [7]:
print("Yesterday I ate", 2, "apples.", sep=" ")

Yesterday I ate 2 apples.

In [9]:
print("Yesterday I ate", 2, "apples.", sep = " * ")

Yesterday I ate * 2 * apples.

Kwargs run in the background of the `print()` function.

### end

command combined all expressions with space in a single line.

In [ ]:
If we didn't use end=' ', we would normally get 4 lines of output.

`print()` function by default `prints in new line`. `End argument` manages that. Ex: Continue same line if end="".

In [1]:
print('i')
print() # boÅŸ satÄ±r atar
print('will say')
print("'i missed you'")
print('to my mother')

i

will say
'i missed you'
to my mother

In [10]:
print('i', end=' ')
print('will say', end=' ')
print("'i missed you'", end=' ')
print('to my mother')

i will say 'i missed you' to my mother

In [7]:
text = ("Clarusway", "Clarusway", "Clarusway", "\n", "\t", "Clarusway", "Clarusway", "Clarusway", "\n","\t", "\t", "Clarusway", "Clarusway", "Clarusway")
print(text)

('Clarusway', 'Clarusway', 'Clarusway', '\n', '\t', 'Clarusway', 'Clarusway', 'Clarusway', '\n', '\t', '\t', 'Clarusway', 'Clarusway', 'Clarusway')

In [8]:
text = ("Clarusway, Clarusway, Clarusway, \n\tClarusway, Clarusway, Clarusway,") 
text2= ("\n\t\tClarusway, Clarusway, Clarusway ")
print(text + text2)

Clarusway, Clarusway, Clarusway,
	Clarusway, Clarusway, Clarusway,
		Clarusway, Clarusway, Clarusway

In [9]:
print(2 and 3)

3

In [ ]:
print(1 and 0)

Quiz of the day: what is the value of this Python expression? print(36/4)

In [1]:
print(36/4)

9.0

# range() function

â—‹ range() function: returns an object that produces a sequence of integers from start (including) to stop (excluding) by step.

This function takes up to 3 integer arguments. 
The formula syntax is : range(start, stop[, step])

â€¢ `range()` function creates an `iterable sequence of nums`.

In [3]:
range(0, 11)

range(0, 11)

In [4]:
type(range(0,11))

range

â€¢ And it can be converted into an `iterable object` with list, set, and tuple.

In [2]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
set(range(11))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [6]:
tuple(range(11))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

â€¢ The formula syntax: `range`(`start`, `stop`, `step`)

In [19]:
list(range(1,30,10))

[1, 11, 21]

In [20]:
list(range(30,3, -3))

[30, 27, 24, 21, 18, 15, 12, 9, 6]

`Starred expression` ðŸ‘‰ðŸ»* before range() function to separate its elements.

`Starred expression`: separates other iterable objects. For example, you can separate a string:

In [24]:
print(*range(5))

0 1 2 3 4

In [26]:
print(*("separate"))

s e p a r a t e

In [31]:
seq = range(1,5)
for i in seq:
    print(i)

1
2
3
4

In [32]:
range(3,12)

range(3, 12)

In [34]:
for i in range(3,12):
    print (i)

3
4
5
6
7
8
9
10
11

In [35]:
times = int(input("How many times should I say 'I love you'"))
for i in range(times):
    print('I love you')

How many times should I say 'I love you'3
I love you
I love you
I love you

In [36]:
for num in range(10):
    print(num)#stop number is excluded.

0
1
2
3
4
5
6
7
8
9

In [37]:
x = list(range(10))
print (x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
friends = ["Mark", "Shawn", "Sarah", "Mike", "Robert", "John", "Stewart"]
len(friends)

7

Example: make a list of numbers from 1 to 10 using 'range()' function and select even ones:

In [14]:
[i for i in list(range(11)) if i % 2 ==1]

[1, 3, 5, 7, 9]

In [15]:
even = []
odd = []
for i in range(11):
    if i % 2 == 0:
        even.append(i)
    else: odd.append(i)
print(even)
print(odd)

[0, 2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

In [17]:
list(range(1,11,2))

[1, 3, 5, 7, 9]

In [26]:
age = int(input("Enter your age"))

if age in range(5):
    print("Toddler")
elif age in range(5,13):
    print("Kid")
elif age in range(13,20):
    print("Teenager")
elif age in range(20, 100, 2): 
    print("Grown up and even age")
else: print("Grown up and odd age")

Enter your age45
Grown up and odd age

## count() function

Docstring: Return number of occurrences of value.

In [1]:
numbers = [1, 3, 7, 4, 3, 0, 3, 6, 3]

In [2]:
numbers.count(3)

4

## split() function

Docstring: Return a list of the words in the string, using sep as the delimiter string.

# syntax: string.split(separator, maxsplit)

sep
  The delimiter according which to split the string.
  None (the default value) means split according to any whitespace,
  and discard empty strings from the result.
maxsplit
  Maximum number of splits to do.
  -1 (the default value) means no limit.

# The split() method splits a string into a list.

You can specify the separator, default separator is any whitespace.

Note: When maxsplit is specified, the list will contain the specified number of elements plus one.

In [2]:
txt = "welcome to the jungle"

x = txt.split()

print(x)

['welcome', 'to', 'the', 'jungle']

In [1]:
txt = "hello, my name is Peter, I am 26 years old"

In [2]:
x = txt.split(", ")

print(x)

['hello', 'my name is Peter', 'I am 26 years old']

split off a string should say common method for splitting off a blank space.
BelirttiÄŸin karakterden itaberen metni bÃ¶ler.

In [1]:
Text1="Ã‡alÄ±ÅŸ, Ã§alÄ±ÅŸ, Ã§alÄ±ÅŸ"
Text1.split(', ')

['Ã‡alÄ±ÅŸ', 'Ã§alÄ±ÅŸ', 'Ã§alÄ±ÅŸ']

## isalpha() function

Docstring:
Return True if the string is an alphabetic string, False otherwise.

A string is alphabetic if all characters in the string are alphabetic and there
is at least one character in the string.

In [8]:
txt = "hello, my name is Peter, I am 26 years old"

In [9]:
txt.isalpha()

False

In [12]:
[x for x in txt if txt.isalpha()]

[]

In [24]:
[x for x in txt if not txt.isalpha()]

['h',
 'e',
 'l',
 'l',
 'o',
 ',',
 ' ',
 'm',
 'y',
 ' ',
 'n',
 'a',
 'm',
 'e',
 ' ',
 'i',
 's',
 ' ',
 'P',
 'e',
 't',
 'e',
 'r',
 ',',
 ' ',
 'I',
 ' ',
 'a',
 'm',
 ' ',
 '2',
 '6',
 ' ',
 'y',
 'e',
 'a',
 'r',
 's',
 ' ',
 'o',
 'l',
 'd']

## id function

Return the identity of an object.

This is guaranteed to be unique among simultaneously existing objects.

(CPython uses the object's memory address.)

In [1]:
a = [1,2,3] #a and b is different objects in memory.
b = [1,2,3]

In [2]:
id(a)

1924120026248

In [3]:
id(b)

1924120016008

# User defined functions

â€¢ If there is no bif for the intended purposes, you can write it your own function then. 

â€¢ This eliminates mess in your code because it saves you from unnecessary repetitions.

â€¢ To define a Python function, def keyword is used.

â€¢ Functions provide organized, reusable and modular code to perform a set of speciï¬c actions. Functions simplify coding process.

â€¢ You type arguments (data) into a function and it returns/outputs you want.

## Writing and reading a function

ðŸ’¡ Difference between parameter and argument: Parameter is the name of variable. Argument is the value.

In [ ]:
def myfunc(fonksiyon adÄ±)(parameters):
    action to be taken (code)

In [32]:
def multiply(a,b): #multiply: name of function, a,b-->parameters
    """This function multiplies two numbers. Call this function with its name and give 2 arguments as numbers. And see the result"""
    print(a*b)

In [34]:
print(multiply.__doc__)

This function multiplies two numbers. Call this function with its name and give 2 arguments as numbers. And see the result

## Calling a function

In [ ]:
â€¢ Calling a function means using it.

â€¢ Just write the name of the function and arguments (numbers etc.) inside the parenthesis.

â€¢ If the name of a function is followed by parentheses, it means that it was called to get the result.

In [36]:
multiply(2,3) # The values inside paranthesis are arguments

6

In [37]:
multiply("Functions are so useful man!", 3)

Functions are so useful man!Functions are so useful man!Functions are so useful man!

In [38]:
def square(a,b):
    return a**2 + b**2

In [39]:
square(3,4)

25

In [40]:
type(square(3,4))#nonetype fonksiyonun kendisinin tipi yani printin.

int

ðŸ’¡ Function may be called without parameter and argument

In [41]:
def motto(): 
    print("Keep on doing!, You'll catch it")

In [42]:
motto()

Keep on doing!, You'll catch it

ðŸ’¡ Function may be called with parameter and without keyword arguments

In [45]:
def prod(num1=5, num2= 4):
    prod = num1*num2
    print(prod)

In [46]:
prod()

20

ðŸ’¡ Function may be called with parameter and arguments

In [47]:
def prod(num1=5, num2=4):
    prod = num1 * num2 
    print(prod)
prod(5,6)

30

## Execution of function

Functions did not return any types or values but executed some actions.

To use the output of the functions, we need to define our function using the keyword return in addition to def.

### Return Keyword

The purpose of a function is to receive the inputs and return output.

The return statement is used for sending a value back to its caller.

In [27]:
def multiply(a,b):
    print(a*b) #it prints something

In [28]:
multiply(2,3)# just prints some data that you passed into.

6

In [29]:
type(multiply(2,3))#We can't use the result of the first function since it is NoneType data.

6

NoneType

In [30]:
def multiply(a,b):
    return a*b  #returns any numeric data type value

In [32]:
multiply(2,3) # generates a numeric type value.

6

In [31]:
type(multiply(2,3))#We can use the result of second one since it is integer data.

int

ðŸ’¡ Argument within print () function cannot be assigned to a variable

In [36]:
text = print("It can't be assigned to any variable")
print(text)

It can't be assigned to any variable
None

### Correct Use of Arguments

When calling a function, there are several ways to use arguments.

#### Positional Arguments

Positions (sequence) of the arguments matter. When calling a function with posar, they must be passed in order from ltor.

In [14]:
def posar(a,b):
    print(a, "is the first argument")
    print(b, "is the second argument")

In [15]:
posar(3, 4)

3 is the first argument
4 is the second argument

In [16]:
posar(4,3)

4 is the first argument
3 is the second argument

ðŸ’¡Positional parameters requires arguments (values) when calling function otherwise it doesnt work.

In [17]:
posar(3)

TypeError: posar() missing 1 required positional argument: 'b'

#### Keyword Arguments

If you do not want posar to restrict you, call the function by keyword arguments.

The formula syntax is : kwargs=values

In [53]:
def who(first, last):
    print("Your first name is ", first, "\b.")
    print("Your last name is ", last, "\b.")

In [54]:
who(last = "von Rossum", first = "Guido")# kwargs to pass values into the function. "Guido" and "van Rossum" are arguments.

Your first name is  Guido .
Your last name is  von Rossum .

In [55]:
who(first = "Guido", last = "von Rossum")

Your first name is  Guido .
Your last name is  von Rossum .

#### Parrot example

In [24]:
def parrot(voltage, state='a stiff', action='voom', type='Norwegian Blue'):
    print("-- This parrot wouldn't", action, end = " ")
    print("if you put", voltage, "volts through it.")
    print("-- Lovely plumage, the", type)
    print("-- It's", state, "!")

In [26]:
parrot(1000)  # Calling the function with one positional argument.

-- This parrot wouldn't voom if you put 1000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !

In [27]:
parrot(voltage=1000000, action='VOOOOOM') # 2 kwargs

-- This parrot wouldn't VOOOOOM if you put 1000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !

In [28]:
parrot('a million', 'bereft of life', 'jump') # 3 pas

-- This parrot wouldn't jump if you put a million volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's bereft of life !

In [29]:
parrot('a thousand', state='pushing up the daisies')  # 1 p, 1 kw

-- This parrot wouldn't voom if you put a thousand volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's pushing up the daisies !

### Invalid calls

ðŸ’¡ Required argument missing

In [30]:
parrot()

TypeError: parrot() missing 1 required positional argument: 'voltage'

ðŸ’¡ In a function call, kwargs must follow posar.

In [31]:
parrot(voltage=5.0, 'dead')  # non-kwarg after a kwarg

SyntaxError: positional argument follows keyword argument (<ipython-input-31-b6e601982001>, line 1)

ðŸ’¡ No argument may receive a value more than once.

In [34]:
parrot('dead', voltage=5.0)# multiple values for the same argument

TypeError: parrot() got multiple values for argument 'voltage'

ðŸ’¡ All the kwargs passed must match one of the arguments accepted by the function.

In [35]:
parrot(actor='John Cleese')  # e.g. actor is not a valid argument for the parrot function

TypeError: parrot() got an unexpected keyword argument 'actor'

### Special Arguments

### Default Arguments

set defvalue for args --> function called with fewer args.

In [36]:
def city(capital, continent = "Europe"):
    print(capital, "is in", continent)

In [40]:
city(capital = "athens") # No need to pass any argument for continent. Because it is defined by default as "Europe".

athens is in Europe

In [41]:
city("athens")

athens is in Europe

In [42]:
city("ankara", continent = "Asia")#default value changed by kwargs

ankara is in Asia

We can change the default value by positional arguments.

In [43]:
city("cape town", "africa")

cape town is in africa

### Arbitrary number of arguments (*args)

To allow each user to make multiple entries with arnumargs.
*args: Receive multiple arguments as a tuple

In [5]:
def fruit(fruit1, fruit2):
    print("Give me", fruit1, "and", fruit2, "please!")

In [6]:
fruit("apple", "mandarine")

Give me apple and mandarine please!

In [13]:
def fruit(*fruits):
    print("Give me:", *fruits, "please!")

In [14]:
fruit("apple", "mandarine", "bear")

Give me: apple mandarine bear please!

In [24]:
def fruits(*fruits):
    print('Bring :')
    for i in fruits:
        print('-', i)

In [25]:
fruits('apple', 'bear', 'banana')

Bring :
- apple
- bear
- banana

If you define a parameter preceded by * like *args, the function can receive any number of arguments.

In [77]:
def my_sum(*args):
    return sum(args)

print(my_sum(1, 2, 3))

6

In the function, multiple arguments are received as a tuple. In the example, a tuple is passed to the sum() function to calculate the sum.

### Arbitrary keyword arguments

Syntax: **kwargs

Kwargs works in acoordance with the format of dictionary. 

The formula syntax is : **kwargs

In [34]:
def animal(**kwargs):
    for key, value in kwargs.items():
        print(value, "are", key)

In [35]:
animal(Carnivores="Lions", Omnivores="Bears", Herbivores="Deers", Nomnivores ="Human")

Lions are Carnivores
Bears are Omnivores
Deers are Herbivores
Human are Nomnivores

SayÄ±sÄ± belirsiz olan argÃ¼manlarÄ± Ã§ift yÄ±ldÄ±z ile topluyabiliyorum.

In kwargs, we can determine the number of the args and their assigned value pairs.

Note: In the next call of this function, we can use different arguments both in number and value from the above argument pairs.

### Passing all arguments with a single variable `list`.

In [3]:
def brothers(bro1, bro2, bro3, bro4): #multiple positional paameters
    print("Here are the names of brothers:")
    print(bro1, bro2, bro3, bro4, sep = "\n")

In [4]:
bros = ["bÃ¼ÅŸra", "selo", "sinem", "okan"]
brothers(*bros)

Here are the names of brothers:
bÃ¼ÅŸra
selo
sinem
okan

### Passing all arguments with a single variable `dictionary`.

In [5]:
def generation(x,y): # defined by posar
    print(x, "belongs to Generation X")
    print(y, "belongs to Generation Y")

In [6]:
dict_gen= {"x": "Fred", "y": "Marry"}
generation(**dict_gen) # SÃ¶zlÃ¼k ** ile fonksiyona sokulmuÅŸ, We call the function by a single argument (variable)

Fred belongs to Generation X
Marry belongs to Generation Y

In [7]:
def gene(x = "Solomon", y = "David"): #defined by kwargss (defvalues assigned to x and y)
    print(x, "belongs to Generation X")
    print(y, "belongs to Generation Y")

    
dict_gene = {"y" : "Marry", "x" : "Fred"} 
gene(**dict_gene) # multiple keyword arguments, using **kwargs syntax in parentheses,

Fred belongs to Generation X
Marry belongs to Generation Y

## Exercises

In [1]:
def longer(a,b):
    if len(a) > len(b):
        return a
    else: return b

In [2]:
longer("John", "Kevin")

'Kevin'

In [84]:
def longer(*names):
    for i in names:
        print (i[0])

In [85]:
longer("Mike", "Denis", "Arnold")

M
D
A

# Lambda Functions

ðŸ‘‰ A lambda function is an anonymous function in Python. It is another way to define functions.

## Why lambda function?

â€¢ If function is to be used one-time, it is best option.

## Advantages of the lambda function

1. Simple syntax, easy to read
2. Assignable to a variable
3. May be used in several built-in functions
4. Useful inside user-defined functions (def)

## Defining a Lambda Function

**The formula syntax**: `lambda` `parameters` : expression

lambda keyword is used to define a function instead of "def".
Lambda functions can have any number of parameters but only one statement.

Input with arguments ---> `Î»` --->outputs

### `def` and `lambda` Functions

## Differences Between lambda and def

- Def can hold multiple expressions while lambda is a uni-expression function.
- Def generates a function and designates a name to call it later. Lambda forms a function object and returns it.
- Def can have a return statement. Lambda canâ€™t have return statements. 
- Lambda supports to get used inside a list and dictionary.

In [1]:
def square(a):
    return a**2
square(3)

9

In [2]:
lambda x: x**2

## lambda first type of usage

### Single parameter

In [3]:
(lambda x: x**2) (3)

9

In [8]:
a = (lambda x: x**2)(3)
print(a)

9

### Multiple parameters

ðŸ‘‰ Lambda function can take multiple parameters separated by commas, but it must be defined with a single expression. 

This expression is evaluated and the result is returned

âš ï¸Avoid: Note that you do not need to use return statement in lambda functions.

In [57]:
(lambda x,y: x+y/2)(2,6) # x and y are parameters, written with comma.

5.0

In [29]:
letter1 = ['o', 's', 't', 't']
letter2 = ['n', 'i', 'e', 'w']
letter3 = ['e', 'x', 'n', 'o']
list(map(lambda x, y, z: x+y+z, letter1, letter2, letter3))

['one', 'six', 'ten', 'two']

In [36]:
nums1 = [9, 6, 7, 4]
nums2 = [3, 6, 5, 8]
list(map(lambda nums1, nums2: (nums1+nums2)/2, nums1, nums2))

[6.0, 6.0, 6.0, 6.0]

In [47]:
words1 = ["you", "much", "hard"]
words2 = ["i", "you", "he"]
words3 = ["love", "ate", "works"]
list(map(lambda x,y,z: x+ " " + y +" " + z, words1, words2, words3 ))

['you i love', 'much you ate', 'hard he works']

## lambda second type of usage

This usage resembles def. 
You assign a lambda function to a variable, and call it.

In [58]:
square = lambda x: x**2 # like def
square(4)

16

In [61]:
average = lambda x,y: (x+y)/2
average(2,4)

3.0

In [2]:
reverse = lambda x: x[::-1]
reverse("call it man!")

'!nam ti llac'

### Conditional statements

Formula syntax

`lambda` `parameters`: `first_result` **if** `conditional statement` **else** `second_result`

In [7]:
lambda x: "odd" if x % 2 != 0 else "even"

In [8]:
(lambda x: "odd" if x%2==1 else "even") (2)

'even'

âš ï¸Avoid: Note that you can't use the usual conditional statement with lambda def.

In [9]:
nums = [-12, 21, 10, 2, 3, 4]
odd = []
even = []
list(map(lambda x: odd.append(x) if x % 2 ==1 else even.append(x), nums))
print(odd)
print(even)

[21, 3]
[-12, 10, 2, 4]

In [15]:
for x in nums:
    print(x, ":",(lambda a: "odd" if a % 2 !=0 else "even")(x))

-12 : even
21 : odd
10 : even
2 : even
3 : odd
4 : even

### Assigning lambda function to a variable,

In [16]:
echo_word = (lambda x, y: x*y)(3, "hello ")

In [15]:
print(echo_word)

hello hello hello

### How does it work?

## 1.By enclosing the function in `parentheses`

The formula syntax is : (`lambda` `parameters` : `expression`)|(`arguments`)

In [19]:
(lambda x: x**2)(2)  # squares '2' #Def can hold multiple expressions while lambda is a uni-expression function.

4

In [21]:
(lambda x,y: (x+y)/2)(2,3)

2.5

## 2.By assigning a function object to a `variable`

In [24]:
average = (lambda x,y: (x+y)/2)(2,3)
average

2.5

In [29]:
mean = lambda x, y: (x+y)/2
mean(2,4)

3.0

assigning lambda function to a nested variables

In [30]:
multiply = lambda x: x * 4
add = lambda x, y: x + y
print(add(multiply(10), 5))

45

## 3.Lambda within `Bifs`

â€¢ We may need built in function + additional functions. 
â€¢ This can be done by def, but with lambda save time and make it clear to read.

### Lambda within map() function :

â€¢ map() returns a list of outputs after applying the function to each elements of iterable.

The basic formula syntax is : map(function, iterable)

In [23]:
seq = ['soup','dog','salad','cat','great']

In [2]:
list(map(lambda x: x*2, seq))

['soupsoup', 'dogdog', 'saladsalad', 'catcat', 'greatgreat']

In [27]:
list =[]
for i in seq:
    list.append(i*2)
list

['soupsoup', 'dogdog', 'saladsalad', 'catcat', 'greatgreat']

In [30]:
seq = ['soup','dog','salad','cat','great']
def times2(var):
    set(map(times2, seq)) # This error occurred because you previously used list object. Never call list() object, if you ever used list before.

In [31]:
seq = ['soup','dog','salad','cat','great']
def times2(var):
    return var*2
set(map(times2, seq))

{'catcat', 'dogdog', 'greatgreat', 'saladsalad', 'soupsoup'}

In [41]:
for i in map(times2, seq):
    print(i)

soupsoup
dogdog
saladsalad
catcat
greatgreat

â€¢ Example: square all the numbers in the list using map() and lambda.

In [1]:
iterable = [1, 2, 3, 4, 5]
list(map(lambda x: x**2, iterable))

[1, 4, 9, 16, 25]

â˜ Using def there are at least two additional lines of code. If we will not use the square function again we can put lambda expression in map() function.

â€¢ Example with multiple arguments:

In [10]:
letter1 = ['o', 's', 't', 't']
letter2 = ['n', 'i', 'e', 'w']
letter3 = ['e', 'x', 'n', 'o']
list(map(lambda x,y,z: x+y+z, letter1, letter2, letter3))# We have combined 3 strings using ðŸ‘‰ðŸ»+ operator in the lambda definition.

['one', 'six', 'ten', 'two']

In [ ]:
nums = [1, 2, 3, 4, 5]
list(map(lambda x: x*3, nums))

## Lambda within filter() function :

### filter the even nums

In [13]:
first_ten = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] 
even_nums = list(filter(lambda x: x%2==0, first_ten))# it's 'filter' type, IOT print the result, better convert it to list
print("Even nums are: ", even_nums )

Even nums are:  [0, 2, 4, 6, 8]

In [4]:
number_list=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(filter(lambda x: x%2==1, number_list))

[1, 3, 5, 7, 9]

â€¢ lambda expression takes in a number (x) and returns a true or false value based off some sort of conditional operation.
â€¢ So a filter must be using some sort of function or lambda expression that returns a boolean value. 
â€¢ Then pass it into an iterable object.
â€¢ And when you call list on it it will only return the values where this statement happened to be true.

ðŸ’¡Tips: filter() filters each element in the iterable object, depending on whether the function's result is True or False.

### filter the vowels from the first ten letters in the list.

In [16]:
vowel_list = ['a', 'e', 'i', 'o', 'u']
first_ten = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
vowels = list(filter(lambda x: x in vowel_list, first_ten))
#vowels = filter(lambda x: True if x in vowel_list else False, first_ten) 
print("Vowels are: ", vowels )

Vowels are:  ['a', 'e', 'i']

â˜ lambda definition in this ex gives only True or False as a result.

### filtering the words

In [14]:
words = ["apple", "swim", "clock", "me", "kiwi", "banana"]

In [20]:
filtered = []
for i in words:
    if len(i) > 4:
        filtered.append(i)
print(filtered)

['apple', 'clock', 'banana']

In [22]:
list(filter(lambda x: len(x)>4, words))

['apple', 'clock', 'banana']

In [25]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(filter(lambda x: x>5, nums))

[6, 7, 8, 9, 10]

In [26]:
number_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] 
divisible_list = filter(lambda x:x%3==0, number_list) 
print(list(divisible_list))

[0, 3, 6, 9, 12]

## Lambda within User-Defined Functions

â€¢ Using a lambda statement in a user-defined function provides advantages. 
â€¢ We can define a group of functions that we may use later in our program flow.

In [3]:
def modular_function(n):
    return lambda x: x ** n

power_of_2 = modular_function(2)  # first sub-function derived from def
power_of_3 = modular_function(3)  # second sub-function derived from def
power_of_4 = modular_function(4)  # third sub-function derived from def

print(power_of_2(2))  # 2 to the power of 2
print(power_of_3(2))  # 2 to the power of 3
print(power_of_4(2))  # 2 to the power of 4

4
8
16

In [15]:
def power(n):
    return lambda x:x**n
power(3)(2)

8

â€¢ The modular_function takes one parameter (n), and returns a function that takes the power of any given number x by that n.
â€¢ This usage enabled us to use a function as flexible. 
â€¢ Thanks to lambda, we could use a single def in different ways with the arguments we wanted. We've created three sub-functions derived from a single def. This is flexibility!
â€¢ We can define a function with the same logic as the previous example that repeats the string passed into it.

In [5]:
def repeater(n):
    return lambda x: x * n

repeat_2_times = repeater(2)  # repeats 2 times
repeat_3_times = repeater(3)  # repeats 3 times
repeat_4_times = repeater(4)  # repeats 4 times

print(repeat_2_times('alex '))
print(repeat_3_times('lara '))
print(repeat_4_times('linda '))

alex alex
lara lara lara
linda linda linda linda

### lambda with indexing

In [7]:
(lambda x : x[::-1])("hello")

'olleh'

In [10]:
"hello"[::-1]

'olleh'

## lambda functions with pandas dataframes

In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame(index = ["A", "B", "C", "D", "E"])
df

Empty DataFrame
Columns: []
Index: [A, B, C, D, E]

In [4]:
df["col1"] = [1,2,3,4,0]
df["col2"] = [10, 20, 30, 40, 25]

In [5]:
df

   col1  col2
A     1    10
B     2    20
C     3    30
D     4    40
E     0    25

### update all the dataframe

In [7]:
df = df.apply(lambda x: x*5)
df

   col1  col2
A     5    50
B    10   100
C    15   150
D    20   200
E     0   125

### update only one columns

In [9]:
df["col1"] = df.col1.apply(lambda x: x/2)
df

   col1  col2
A   2.5    50
B   5.0   100
C   7.5   150
D  10.0   200
E   0.0   125

### update only one row

In [10]:
df = df.apply(lambda x: x+5 if x.name in ["B"] else x, axis=1)
df

   col1   col2
A   2.5   50.0
B  10.0  105.0
C   7.5  150.0
D  10.0  200.0
E   0.0  125.0

In [92]:
df = df.apply(lambda x: x+20 if x.name in ["col1"] else x, axis =0)
df

   col1  col2
A    22    11
B    28    26
C    24    31
D    25    41
E    21    26

In [11]:
df["col3"] = ["John", "Mike", "Julie", "Suzan", "Edward"]

df

   col1   col2    col3
A   2.5   50.0    John
B  10.0  105.0    Mike
C   7.5  150.0   Julie
D  10.0  200.0   Suzan
E   0.0  125.0  Edward

In [12]:
df["col4"] = df.col3.apply(lambda x: x[::-1])
#df["col4"] = [x[::-1] for x in df.col3]
df

   col1   col2    col3    col4
A   2.5   50.0    John    nhoJ
B  10.0  105.0    Mike    ekiM
C   7.5  150.0   Julie   eiluJ
D  10.0  200.0   Suzan   nazuS
E   0.0  125.0  Edward  drawdE

In [95]:
df.col1.name

'col1'

In [96]:
df.index[1]

'B'

In [97]:
df.columns

Index(['col1', 'col2', 'col3', 'col4'], dtype='object')

In [98]:
df.loc[df.index[1],df.columns[0]:df.columns[1]]

col1    28
col2    26
Name: B, dtype: object

In [99]:
df.index[1]

'B'

## Exercises

In [103]:
iterable = [1, 2, 3, 4, 5]
result = list(map(lambda x: x**2, iterable))
print(result)
print(type(result))

[1, 4, 9, 16, 25]
<class 'list'>

In [108]:
def square(n):
    return n**2
result = list(map(square, iterable))
print(result)
print(type(result))

[1, 4, 9, 16, 25]
<class 'list'>

## Applying lambda function to list

There are many ways of applying a function to every element in the list. 
1. for loop.
2. map() function & lambda expression.
3. List Comprehension.
4. def function

### 1. with for loop

In [ ]:
iterable = [1,2,3,4,5]

In [17]:
my_list= []
for i in iterable:
    my_list.append(i**2)
print(my_list)

[1, 4, 9, 16, 25]

### 2. with map function

In [14]:
list(map(lambda x: x**2, iterable))

[1, 4, 9, 16, 25]

### 3. List comprehension

In [16]:
[i**2 for i in iterable]

[1, 4, 9, 16, 25]

### 4. def

In [22]:
def square(x):
    for i in iterable:
        print(i**2)
square(iterable)

1
4
9
16
25

### Filter even and odd numbers from the list

In [1]:
first_ten = [0,1,2,3,4,5,6,7,8,9]

In [35]:
#with lambda function
print("Even nums are: ", list(filter(lambda x: x%2==0, first_ten)))
print("Odd nums are: ", list(filter(lambda x: x%2==1, first_ten)))

Even nums are:  [0, 2, 4, 6, 8]
Odd nums are:  [1, 3, 5, 7, 9]

In [54]:
print(type(filter(lambda x: x%2==0, first_ten)))

<class 'filter'>

In [36]:
# With for loop
even = []
odd = []
for i in first_ten:
    if i % 2==0:
        even.append(i)
    else: odd.append(i)
print(even)
print(odd)

[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]

In [39]:
# With list comprehension
even = [i for i in first_ten if i %2==0]
odd = [i for i in first_ten if i %2==1]
print(even)
print(odd)

[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]

In [42]:
["even" if i %2==0 else "odd" for i in first_ten]

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

## Assignment - 3 (Negative Meaning)

In [6]:
def not_string(word): 
    if word[0:3] == "not":
        return word
    else:
        return "not"+ " " + word
print(not_string("not bad"))
print(not_string("bad"))

not bad
not bad

In [8]:
(lambda x: x if x[0:3] == "not" else "not" + " " + x)("bad")

'not bad'

# Here

In [298]:
def missing_char(word, n):
    word1 = list(word)
    word1.pop(n)
    
    def listtostring(word1):
        str1 = ""
        for i in word1:
            str1 += i
        return str1
    return listtostring(word1)

In [299]:
print(missing_char("kitchen", 5))
print(missing_char("kitchen", 6))
print(missing_char("kitchen", 4))

kitchn
kitche
kitcen

In [302]:
def missing_char(word, n):
    word1 = list(word)
    word1.pop(n)
    x = "".join(word1)  #listtostring iÃ§in "join" metodu var.    #tuple, list farketmez stringe Ã§evirir.
    return x

In [303]:
print(missing_char("kitchen", 5))

kitchn

In [310]:
def missing_char(word, n):
    print(word)
    print(len(word))
    word = word.replace(word[n], "")
    print(word)
    print(len(word))

In [311]:
print(missing_char("otobus", 2))

otobus
6
tbus
4
None

In [15]:
text = "pazar"

In [16]:
text.replace("pazar", "cuma"[1:5])

'uma'

In [17]:
text.upper()

'PAZAR'

In [18]:
"ahmet"

'ahmet'

In [23]:
"ahmet".replace("ahmet", "mehmet"[0:5])

'mehme'

In [32]:
def missing_char(word, n): #Assignment - 4 (Missing Char)
    print(word)
    print(len(word))
    word = word.replace(word[n], "")
    print(word)
    print(len(word))

In [33]:
missing_char("ahmet", 2)

ahmet
5
ahet
4

SyntaxError: unexpected EOF while parsing (<ipython-input-34-e596696dd82c>, line 1)

In [35]:
print(front_back('clarusway'))

NameError: name 'front_back' is not defined

In [41]:
text = "interoperability"

In [49]:
text.strip("lity")

'nteroperab'

In [54]:
def front_back(word):#Assignment - 5 (Front-Back Char)
   word_list = list(word)
   keep_in_mind = word_list[0], word_list[-1]
   word_list[0] = keep_in_mind[1]
   word_list[-1] = keep_in_mind[0]
   return (''.join(word_list))

In [55]:
front_back("clarusway")

'ylaruswac'

In [61]:
def front_back(word):#Assignment - 5 (Front-Back Char)
    if len(word) == 1:
        return word
    return word[-1] + word[1:-1] + word[0]

In [62]:
print(front_back('clarusway'))
print(front_back('a'))
print(front_back('ab'))

ylaruswac
a
ba

In [67]:
def animals(**kwargs):
    for key, value in kwargs.items():
        print(value, "are", key)

In [70]:
animals(Carnivores = "Lions", Omnivores = "Bears", Herbivores = "Deers")

Lions are Carnivores
Bears are Omnivores
Deers are Herbivores

In [90]:
def my_min(x,y):
    if x < y:
        print("minnum is: ",x)
    else: print("minnum is: ", y)

In [91]:
my_min(1,2)

minnum is:  1

In [95]:
def my_min(*numbers): # Assignment-6(Find Minimum)
    if [i] in numbers < [i+1]:
        print("minnum is: ",i)
    else:print("minnum is: ",i+1) 
    i +=1

In [96]:
print(my_min(5,6,7))

UnboundLocalError: local variable 'i' referenced before assignment

In [97]:
def my_min(*x):
        Return min(x)

SyntaxError: invalid syntax (<ipython-input-97-15855666d7a0>, line 2)

In [99]:
def my_min(*x): # Assignment-6(Find Minimum)
    mylist = []
    for i in x:
        mylist.append(i)
    mylist.sort()
    return mylist[0]

In [100]:
print(my_min(3,8,-9,0,12,1.2))

-9

lambda with filter function

		seq = ['soup','dog','salad','cat','great']
		list(filter(lambda x: x.startswith("s"), seq))--->['soup', 'salad']
		Vs
		lst = []
		for i in seq:
		    if i.startswith("s"):
        lst.append(i)

In [109]:
def my_sum(*i):# Assignment-7(Sum numbers)
    return sum(i)

In [110]:
print(my_sum(9, 1, 3, 0, -1))

12

In [130]:
def my_fact(n):
    number = int(input("Please enter a number: "))
    factorial=1
    for i in range(1,number+1):
        factorial = i*factorial
    return factorial

In [131]:
print(my_fact(5))

Please enter a number: 5
120

In [132]:
number = int(input("Enter a number please : "))
number_list = []
factorial = 1
for i in range(number):
    number_list.append(i + 1)
n = len(number_list)
for i in range(n) :
    factorial *= number_list[i]
factorial

Enter a number please : 5

120

In [134]:
def faktoriyel(a):
    a = int(input("bir sayÄ± giriniz: "))
    count = 1
    for i in range(a,0,-1):
        count *= i
    return count
faktoriyel(a)

bir sayÄ± giriniz: 5

120

In [135]:
def most_freq(given_list):
    x = [given_list.count(x) for x in given_list]
    return (given_list[x.index(max(x))])

In [136]:
print(most_freq([1,2,3,3,3,3,4,4,5,5]))

3

In [157]:
def repeater(n):
    return lambda x: x*n
repeat2times = repeater(2)

In [158]:
print(repeat2times("alex "))

alex alex

In [161]:
def functioner(n):
    return lambda x: x+n

In [162]:
myPrint_smile = functioner(":)")

In [163]:
print(myPrint_smile("Hello "))

Hello :)

In [164]:
def x():
    return 1,2,3,4

In [165]:
x()

(1, 2, 3, 4)

In [166]:
a, b, c, d = x()

In [167]:
print(a,b,c,d,)

1 2 3 4

In [168]:
for i in x():
    print(i)

1
2
3
4

In [173]:
def func_generator(function):
    return lambda x : function(x)

In [196]:
(lambda x:print(x))("nur")

nur

In [194]:
my_print = func_generator(print)

In [195]:
my_print("hello world")

hello world

In [184]:
def func_generator(function):
    return lambda x : function(x)

In [197]:
(lambda x: max(x))([1,3,7,4,2])

7

In [187]:
my_max = func_generator(max)

In [188]:
my_max([2,5,9,11])

11

In [189]:
my_bool = func_generator(bool)

In [190]:
my_bool([])

False

In [191]:
my_sorted = func_generator(sorted)

In [192]:
my_sorted([3,1,6,8,4]) #[1,3,4,6,8]

[1, 3, 4, 6, 8]

In [200]:
def equal(a,b,c): #kaÃ§ tane sayÄ± eÅŸit
    nums = [a,b,c]
    res = nums.count(max(nums, key = nums.count))
    return res if res > 1 else 0

In [205]:
equal(1,2,2)

2

In [201]:
res = [x,y,z].count(max([x,y,z], key = [x,y,z].count))

2

In [203]:
equall = lambda x,y,z: [x,y,z].count(max([x,y,z], key = [x,y,z].count)) if [x,y,z].count(max([x,y,z], key = [x,y,z].count)) > 1 else 0

In [204]:
equal(1,2,2)

2

In [217]:
def test(x,y,z):
    print(x,y,z)

In [208]:
test(1,2,3)

1 2 3

In [209]:
testDict = {"x":1, "y":2, "z": 3}

In [218]:
testList = [10,20,30]

In [211]:
test(*testDict)

x y z

In [212]:
for i in testDict:
    print(i)

x
y
z

In [213]:
test(**testDict)

1 2 3

In [220]:
test(*testList)

10 20 30

In [246]:
nums = [1,2,3,4,5, 7, 6, 5, 2, 7, 7]

In [247]:
#nums.count(2)

In [248]:
max(nums, key=numbers.count)

1

In [1]:
[1,2,3,4]

[1, 2, 3, 4]

In [2]:
[1,2,3,4][1]

2

In [3]:
sayÄ±lar = [1,2,3,4]

In [4]:
sayÄ±lar[1]

2

In [6]:
(lambda x: x**3)(2)

8

In [7]:
kÃ¼p = lambda x: x**3

In [8]:
kÃ¼p(2)

8

In [10]:
say = [22,33,55,88,2,3,9]

In [14]:
Ã§ift = filter(lambda x: x%2==0, say)

In [15]:
list(Ã§ift)

[22, 88, 2]

In [17]:
tek= filter(lambda x: x%2!=0, say)

In [18]:
list(tek)

[33, 55, 3, 9]

In [1]:
#recursion, recursive: fonksiyonun sonucu kendi iÃ§inde kullanÄ±labilir.

In [2]:
#4! = 4*3*2*1 = 24

In [3]:
def facto(n):
    if n ==1:
        return n
    else:
        return n*facto(n-1)

In [4]:
facto(4)

24