# Collection Types

In [ ]:
üëâüèª Collection types provide structure to store data. 

Data types like integer and string hold a single value, collection types hold multiple values.

They are used to group several items to render as a single object.

Main collection types (LiTuDiS`) 
1. list
2. tuple 
3. dictionary 
4. set
5. arrays

üëâüèª Diffrence: data types hold a single value and collection types: hold multiple values in a single object.

# 1. List

‚úé List is a structure in Python to store information.
List is only an ordered collection of valid Python values.
It includes collection of items which are mutable-changable with guaranteed order
list is more like an array in other languages (ex JS).
There is no conceptual limit to the size of a list.
A given object may appear in a list more than once.

## Creating a list

Depends on what you are going to do.

#### By enclosing values in square brackets, seperated by commas

In [5]:
country = ['USA', 'Brasil', 'UK', 'Germany', 'Turkey', 'New Zealand', "USA"]
print(country)#Names printed in same order as they stored, because lists are ordered.

['USA', 'Brasil', 'UK', 'Germany', 'Turkey', 'New Zealand', 'USA']

üí°Tips:Names printed in same order as they stored, because lists are ordered.
‚òù Attention: Same items are kept as they are.

#### By 'list()' function

‚Ä¢ Create a list from an iterable object (whose elements can be imported individually). 
‚Ä¢ list() function creates list that contains each component of a specific iterable object, such as a string.

The lists are iterable like other collections and string types.

In [8]:
list("gurkan")

['g', 'u', 'r', 'k', 'a', 'n']

In [9]:
print(list("gurkan")[0])

g

In [1]:
list("abc")

['a', 'b', 'c']

In [4]:
list('I quit smoking')  # Gives a multi element list, all characters of string including spaces.
                        # list() function: all characters of string inc.spaces taken to list.

['I', ' ', 'q', 'u', 'i', 't', ' ', 's', 'm', 'o', 'k', 'i', 'n', 'g']

In [5]:
["I quit smoking"] # this is a single element list

['I quit smoking']

üí°Tips: Lists can contain more than one of the same value. Where as sets contain unique values.

### Components of a list are not limited to a single data type.

In [31]:
mixed_list = [11, 'Joseph', False, 3.14, None, [1, 2, 3]]
mixed_list

[11, 'Joseph', False, 3.14, None, [1, 2, 3]]

## Basic operaitons with lists

‚Ä¢ Make an empty list to fill it later with the data you want.

In [33]:
empty_list_1= []
empty_list_2 = list()

### **List Functions**

In [63]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']

In [64]:
city.append("Addis Ababa")#.append() function an object to end of a list. 
                            #Append function: adds an object to the end of list.
city

['New York', 'London', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']

### insert() method

The insert() method inserts the specified value at the specified position.

Syntax
list.insert(pos, elmnt)

In [65]:
city.insert(2,"Stockholm")# .insert() adds a new object to list at a speciÔ¨Åc index. 
                            # Insert function: Adding an elemt inside the list
city

['New York',
 'London',
 'Stockholm',
 'Istanbul',
 'Seoul',
 'Sydney',
 'Addis Ababa']

In [66]:
city[1]

'London'

In [67]:
city[1] = "Melbourne"# we assign 'Melbourne' to index 1, and initial value disappears
city

['New York',
 'Melbourne',
 'Stockholm',
 'Istanbul',
 'Seoul',
 'Sydney',
 'Addis Ababa']

In [68]:
city.remove("Seoul") #remove() function removes the elements 
city

['New York', 'Melbourne', 'Stockholm', 'Istanbul', 'Sydney', 'Addis Ababa']

In [3]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']
city.sort()# list.sort()  sort the elements in alphabetical order
                # Sort function: Sorts the list ascending (default) or descending
city

['Istanbul', 'London', 'New York', 'Seoul', 'Sydney']

In [2]:
city.sort(reverse=True)
city

['Sydney', 'Seoul', 'New York', 'London', 'Istanbul']

üí°Tips: Elements of a list are counted from left to right and start with zero as in string types.

In [51]:
len(city)# gives length of the list elements, Length function: counts the list elements

6

## sorted function

function runs on an object

In [5]:
sorted(city, reverse = True, key = len)#key=neye g√∂re sƒ±ralayacaƒüƒ±z

['New York', 'Istanbul', 'Sydney', 'London', 'Seoul']

### index() function

In [57]:
city.index("Addis Ababa")# Return first index of value.
                            # Index function: checks the element whether it is inside or not

0

### remove item from a list

Remove all items: clear()
Remove an item by index and get its value: pop()
Remove an item by value: remove()
Remove items by index or slice: del.
Remove items that meet the condition: List comprehensions.

In [4]:
city

['Istanbul', 'London', 'New York', 'Seoul', 'Sydney']

In [71]:
del city[0] 
city

['Stockholm', 'New York', 'Melbourne', 'Istanbul', 'Addis Ababa']

## pop() function

In [ ]:
Docstring:
Remove and return item at index (default last).

In [6]:
city.pop() # by default it get rids of the last element
city

['Istanbul', 'London', 'New York']

In [7]:
city.pop(0) # it can be stated which element to be removed
city

['London', 'New York']

In [8]:
print(city)

['London', 'New York']

In [79]:
friends = ["Kevin", "Karen", "Jim", "Oscar", "Toby"]

In [ ]:
city.extend(friends)#adds 2 list together

In [82]:
city.clear() #Clear function: Clears all the elemnts inside the list

In [83]:
city

[]

In [86]:
city.count("Addis Ababa")#Count function: counts the similar elements inside the list

0

In [87]:
city2 = city.copy()#Copy Function: create a list and make it copy of another
city2

[]

## Accessing lists

Each item in list has an index corresponding to their location. Using indexes, we can access elements within a sequence.

**Indexing a List**

Behind the scene: indexes are on the commas and on square braquets
	‚óã Accessing elements: using index numbers enclosed by sbs.
	‚óã The first index of the element of a list is 0.

In [1]:
colors = ['red', 'purple', 'blue', 'yellow', 'green']
print(colors[2])  # If we start at zero,
                    # the second element will be 'blue'-->blue

blue

In [2]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']
city_list = []
city_list.append(city) # we have created a nested list
print(city_list)

[['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]

üí°Tips :city_list includes only one element and it has double sbs.

In [5]:
print(city_list[0]) # access to first and only element,  is ltd. We can still access its elements via indexing.
print(city_list[0][2])#is std. We can also access its elements via indexing. 
print(city_list[0][2][3])

['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']
Istanbul
a

#### Slicing lists

‚óã Accessing individual elements of a list or part of those items. Index numbers used for slicing. 
‚óã Slicing: A mechanism to select a range of items from sequence types like list, tuple, strings etc.

üí°Tips :Slicing is just similar to indexing. The difference is adding colon or colons in square brackets.

‚óã Formula syntax for slicing sequence: sequence[start:stop:step]
	√ò start is an index of the first element required (the element is included in the slice) and 
	√ò stop is an index of the end element (the element is not included in the slice), 
	√ò step is an interval between elements to be chosen.

In [6]:
numbers = [1, 3, 5, 7, 9, 11, 13, 15, 17]
print(numbers[2:5])  # index 5 is not included

[5, 7, 9]

Make a list of numbers from 1 to 10 using 'range()' function and select even ones:

In [28]:
even = []
odd = []
mylist = list(range(1,11))
for i in mylist:
    if i%2 == 0:
        even.append(i)
    else: odd.append(i)
even

[2, 4, 6, 8, 10]

In [40]:
[i for i in mylist if i%2==0]

[2, 4, 6, 8, 10]

In [ ]:
‚óã Each part of the slice has a default value, so they are optional. If we don't assign a value to the start index, it is considered to be 0; if we don't assign a value to the stop index, it will be the same as the length of the sequence.
¬Æ my_list[:]: returns the full copy of the sequence
¬Æ my_list[start:] : returns elements from start to the end element
¬Æ my_list[:stop] : returns element from the 1st element to stop-1
¬Æ my_list[::step] : returns each element with a given step

In [1]:
animals = ['elephant', 'bear', 'fox', 'wolf', 'rabbit', 'deer', 'giraffe']

In [2]:
animals[:]

['elephant', 'bear', 'fox', 'wolf', 'rabbit', 'deer', 'giraffe']

In [3]:
animals[2:]

['fox', 'wolf', 'rabbit', 'deer', 'giraffe']

In [4]:
animals[:2]

['elephant', 'bear']

In [5]:
animals[::2]

['elephant', 'fox', 'rabbit', 'giraffe']

### Negative indexing

Negative indexing is the best and shortest way to reach the elements at the end of the list. The negative indexing works in reverse. We can reach the last element of a list as list_name[-1].

In [6]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']
print(city[-4])

London

Negative slicing also works similarly, as we see in single element access. In this case, step index can also be negative. If the step index is negative the elements of sequence will return in reverse order.

In [7]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[-3:])

['lobster', 'squid', 'octopus']

In [8]:
print(reef[:-3])

['swordfish', 'shark', 'whale', 'jellyfish']

In [13]:
print(reef[::-1])  # we have produced the reverse of the list
                    # list[::-1] is used to reverse the order of a sequence of the elements in the list.

['octopus', 'squid', 'lobster', 'jellyfish', 'whale', 'shark', 'swordfish']

In [10]:
print(reef[::-2])

['octopus', 'lobster', 'whale', 'swordfish']

üí°Tips : If you choose negative step with the start and end indexes together, those should be used accordingly, that is, the end index should be less than the start index.

In [11]:
odd_no = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(odd_no[7:3:-1])

[8, 7, 6, 5]

In [12]:
print(odd_no[2:6:-1])

[]

In [28]:
print(friends)

['Kevin', 'Karen', 'Jim', 'Oscar', 'Toby']

In [29]:
friends

['Kevin', 'Karen', 'Jim', 'Oscar', 'Toby']

In [30]:
friends[0]

'Kevin'

In [31]:
friends[-1]

'Toby'

In [33]:
friends[1:3]#it's gonna grab all the elements up to but not including 3rd element

['Karen', 'Jim']

In [34]:
friends[1] = "Mike"
friends

['Kevin', 'Mike', 'Jim', 'Oscar', 'Toby']

In [73]:
colors = ['red', 'purple', 'blue', 'yellow', 'green']
print(colors[2])  # If we start at zero, the second element will be 'blue'.

blue

In [74]:
city = ["ƒ∞stanbul", "Bursa", "Ankara"]
print(city[1])
print(city)

Bursa
['ƒ∞stanbul', 'Bursa', 'Ankara']

In [75]:
grocer = ["banana", ["orange", ["apple", "eggplant", "melon", "spinach", "cheese", "leek" ], "water"], "mandarin"]
print(grocer[1])
print(grocer[1][0])
print(grocer[1][1])
print(grocer[1][1][1])
print(grocer[2])

['orange', ['apple', 'eggplant', 'melon', 'spinach', 'cheese', 'leek'], 'water']
orange
['apple', 'eggplant', 'melon', 'spinach', 'cheese', 'leek']
eggplant
mandarin

In [56]:
friends = ["Kevin", "Karen", "Jim", "Oscar", "Toby"]
lucky_nums=[4,8,15,16,23,42]

In [39]:
print(friends)#print function

['Kevin', 'Karen', 'Jim', 'Oscar', 'Toby']

## arithmatic with list

In [6]:
[1, 2, 3, 4] + ["11", "22", 33]

[1, 2, 3, 4, '11', '22', 33]

In [10]:
[1, 2, 3, 4] * ["11", "22", 33]

TypeError: can't multiply sequence by non-int of type 'list'

Python list s can only be multiplied by an integer, in which case the elements of the list are repeated:

In [11]:
[1, 2, 3, 4] * 3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

If you want vectorial operations use numpy.ndarray instead:

In [12]:
import numpy as np

In [17]:
np.array([1,2,3])*3

array([3, 6, 9])

In [18]:
np.array([1,2,3]) * np.array([11,22,33])

array([11, 44, 99])

**General Example**

In [29]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']
city_list = []
city_list.append(city) # we have created a nested list
print(city_list)
city_list.append('Addis Ababa') #.append() an object to end of a list. 
print(city_list)
city_list.insert(2, 'Stockholm') # .insert() adds a new object to list at a speciÔ¨Åc index. 
print(city_list)
city_list[1] = 'Melbourne'  # we assign 'Melbourne' to index 1
print(city_list)
city_list[0].remove("London")#.remove() removes the elements 
print(city_list)
city_list[0].sort()  # list.sort()  sort the elements in alphabetical order
print(city_list)

[['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]
[['New York', 'London', 'Istanbul', 'Seoul', 'Sydney'], 'Addis Ababa']
[['New York', 'London', 'Istanbul', 'Seoul', 'Sydney'], 'Addis Ababa', 'Stockholm']
[['New York', 'London', 'Istanbul', 'Seoul', 'Sydney'], 'Melbourne', 'Stockholm']
[['New York', 'Istanbul', 'Seoul', 'Sydney'], 'Melbourne', 'Stockholm']
[['Istanbul', 'New York', 'Seoul', 'Sydney'], 'Melbourne', 'Stockholm']

In [45]:
fruits = ["apple", "banana", "bear", "cherry"]
fruit_list = []
fruit_list.append(fruits)
#print(fruits)
#print(fruit_list)
print(fruit_list[0])
print(fruit_list[0][0:1])

['apple', 'banana', 'bear', 'cherry']
['apple']

In [50]:
fruits = ['apple', 'banana', 'watermelon', 'orange', 'mango', 'avocado']
fruit_list = []
fruit_list.append(fruits)
print(fruit_list)

[['apple', 'banana', 'watermelon', 'orange', 'mango', 'avocado']]

In [54]:
fruits = ['apple', 'banana', 'watermelon', 'orange', 'mango', 'avocado']
fruit_list = []
fruit_list.insert(0)
print(fruit_list[0][2][7])

TypeError: insert() takes exactly 2 arguments (1 given)

In [57]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
city.insert(2, 'Stockholm')
#print(city)
print(city[0:2])

['New York', 'London']

In [55]:
numbers = [1, 3, 5, 7, 9, 11, 13, 15, 17]
print(numbers[2:5])

[5, 7, 9]

In [56]:
numbers = [1, 3, 5, 7, 9, 11, 13, 15, 17]
print(numbers[2:5])

[5, 7, 9]

In [65]:
count = list(range(11))
print(count)
print(count[0:11:2])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 2, 4, 6, 8, 10]

In [63]:
city = "Bursa"
liste = list(city)
print(liste)

['B', 'u', 'r', 's', 'a']

In [66]:
even_numbers = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

print(even_numbers[4:9])

[10, 12, 14, 16, 18]

In [67]:
print(len([[12, 34, 56]]))

1

In [68]:
print(len([[12, 34, 56]][0]))

3

In [1]:
numbers = [1, 3, 5, 7, 9, 11, 13, 15, 17]
print(numbers[2:5])

[5, 7, 9]

In [2]:
cities =  ["ankara", "istanbul", "bursa", "izmir"]
print(cities[0:2])

['ankara', 'istanbul']

In [33]:
aa = [1,2,3,4,5]
aa

[1, 2, 3, 4, 5]

In [35]:
aa[1]=0
aa

[1, 0, 3, 4, 5]

In [38]:
aa[2:]="clarusway"
aa

[1, 0, 'c', 'l', 'a', 'r', 'u', 's', 'w', 'a', 'y']

In [39]:
list_1 = ["h", "a", "p", "p", "y"]
word = "happy"
list_2 = list(word)
print(list_1)
print(list_2)

['h', 'a', 'p', 'p', 'y']
['h', 'a', 'p', 'p', 'y']

In [44]:
text = "2020's hard"
#list_1 = ["2020's", "hard"]
list_1 = ["2020's hard"]
print(list_1)
list(text)

["2020's hard"]

['2', '0', '2', '0', "'", 's', ' ', 'h', 'a', 'r', 'd']

In [21]:
sample_list = [{"section":5, "topic":2}, 'clarusway', [1, 4], 2020, 3.14, 1+618j, False, (10, 20)]

In [23]:
for i in sample_list:
    print("The type of", i, "is", type(i))

The type of {'section': 5, 'topic': 2} is <class 'dict'>
The type of clarusway is <class 'str'>
The type of [1, 4] is <class 'list'>
The type of 2020 is <class 'int'>
The type of 3.14 is <class 'float'>
The type of (1+618j) is <class 'complex'>
The type of False is <class 'bool'>
The type of (10, 20) is <class 'tuple'>

In [2]:
print(sample_list[1])

clarusway

In [8]:
print(sample_list[-1:])

[(10, 20)]

In [1]:
list = [1, 2, 3, 4, 5]

In [2]:
list.reverse()

In [3]:
print(list)

[5, 4, 3, 2, 1]

In [1]:
my_list = [1,2,3,4,5]

In [2]:
(x**2 for x in my_list) # comprehension yapƒ±sƒ±dƒ±r.

In [10]:
list((x**2 for x in my_list))

[1, 4, 9, 16, 25]

In [11]:
a = (x**2 for x in my_list)

In [12]:
for i in a:
    print(i)

1
4
9
16
25

In [13]:
sum((x**2 for x in my_list))# sum fonksiyonu iterable alƒ±r.

55

In [14]:
max((x**2 for x in my_list))

25

In [15]:
eski = [1,2,3]
yeni = eski

In [16]:
yeni

[1, 2, 3]

In [17]:
yeni.append("a")

In [18]:
yeni

[1, 2, 3, 'a']

In [19]:
eski

[1, 2, 3, 'a']

In [23]:
eskim = ["kedi", 0, 5, 6.7]#eski listeyi korumak i√ßin copy kullanƒ±lƒ±r
yenim = eskim.copy()

In [25]:
yenim

['kedi', 0, 5, 6.7]

In [26]:
yenim.append("tav≈üan")

In [27]:
yenim

['kedi', 0, 5, 6.7, 'tav≈üan']

In [28]:
eskim

['kedi', 0, 5, 6.7]

In [29]:
yenim=eskim[:] #buda copy fonk. g√∂r√ºr

In [30]:
yenim.append("dana")

In [31]:
yenim

['kedi', 0, 5, 6.7, 'dana']

In [32]:
eskim

['kedi', 0, 5, 6.7]

In [33]:
diller = ["fransƒ±zca", "ingilizce", "flemenk√ße"]

In [34]:
diller2 = ["ispanyolca", "arap√ßa"]

In [35]:
diller + diller2

['fransƒ±zca', 'ingilizce', 'flemenk√ße', 'ispanyolca', 'arap√ßa']

In [36]:
diller.extend(diller2)#extend metodu, iterable alƒ±r.

In [37]:
diller

['fransƒ±zca', 'ingilizce', 'flemenk√ße', 'ispanyolca', 'arap√ßa']

In [38]:
dil_tuple = ("rus√ßa", "almanca")

In [39]:
dil_k√ºme = {"japonca", "√ßince"}

In [40]:
diller.extend(dil_tuple)

In [41]:
diller

['fransƒ±zca',
 'ingilizce',
 'flemenk√ße',
 'ispanyolca',
 'arap√ßa',
 'rus√ßa',
 'almanca']

In [42]:
diller.extend(dil_k√ºme)

In [43]:
diller

['fransƒ±zca',
 'ingilizce',
 'flemenk√ße',
 'ispanyolca',
 'arap√ßa',
 'rus√ßa',
 'almanca',
 'japonca',
 '√ßince']

In [44]:
diller = ["python", "java", "c++", "fransƒ±z", "c"]

In [45]:
yeni_deger = diller.pop(3)

In [46]:
yeni_deger

'fransƒ±z'

In [47]:
diller

['python', 'java', 'c++', 'c']

In [48]:
diller.pop()

'c'

In [49]:
diller

['python', 'java', 'c++']

In [50]:
diller.pop(-3)

'python'

In [51]:
diller

['java', 'c++']

In [ ]:
g√ºrkan = {}# Creation of an object on the fly. It gives you power and by using list, store multiple things, ability to add in other dictionaries.Pfor beginnrs-25 
g√ºrkan["first"] = "G√ºrkan"
g√ºrkan["first"] = "G√ºrkan"
g√ºrkan["last"] = "Ye≈üilyurt"

ge√ßi≈ü = []
ge√ßi≈ü.append(g√ºrkan)
ge√ßi≈ü.append(canan)
ge√ßi≈ü.append ({
    "first": "Canan", "last": "Ye≈üilyurt",
    "first": "B√º≈üra", "last":"Ye≈üilyurt"
})
print(ge√ßi≈ü)

In [ ]:
grocer[1]

# 5. arrays

Arrays are one kind of collection type. 
They are going to be collections of only numeric data types. And it has to be same type. 
I have to create an array object and I have to go get that by bringing it from array library.

Docstring: Return a new array whose items are restricted by typecode, and initialized from the optional initializer value, which must be a list, string or iterable over elements of the appropriate type.

Typecode: 
    Arrays in python behave very similar to lists but they have the same data type of values stored in it. 
    The data type is specified at the array creation time by using a single character is called the type code.

In [1]:
from array import array

In [22]:
array("d") #'d': typecode, floating point:C Type, 8:minimum size in bytes

array('d')

In [7]:
type(array("d"))

array.array

In [16]:
scores = array("d")
scores

array('d')

In [17]:
type(scores)

array.array

In [18]:
scores.append(97)

In [19]:
scores.append(98)

In [20]:
scores

array('d', [97.0, 98.0])

In [21]:
scores[1]

98.0

‚úèÔ∏èHomework: Guess and figure out the output of this syntax

In [52]:
my_list = [1, 3, 5, 7]
print(my_list * 3)

[1, 3, 5, 7, 1, 3, 5, 7, 1, 3, 5, 7]

In [11]:
import numpy as np

In [3]:
my_list2 = np.array([1,3,5,7])
print(my_list2*3)

[ 3  9 15 21]

## List comprehension

List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

saves you from bunch of writing

In [1]:
my_list = [1, 2, 3, 4, 5, 6]

Without list comprehension you will have to write a for statement with a conditional test inside:

with for loop

In [4]:
odd = []
even = []

for i in my_list:
    if i % 2 == 0:
        even.append(i)
    else: odd.append(i)
print(odd)
print(even)

[1, 3, 5]
[2, 4, 6]

In [6]:
[i for i in my_list if i % 2 == 1]

[1, 3, 5]

In [7]:
[i for i in my_list if i % 2 == 0]

[2, 4, 6]

In [42]:
odd_sqr = []
even_sqr = []
for i in my_list:
    if i % 2 != 0:
        odd_sqr.append(i**2)
    else: even_sqr.append(i**2)

In [43]:
odd_sqr

[1, 9, 25]

In [44]:
even_sqr

[4, 16, 36]

with list comprehension

form√ºl: [expression for item in iterable]

[expression + for + item + in + iterable + condition]

# for item in iterable:
#     expression

In [45]:
[i**2 for i in my_list if i%2==0]

[4, 16, 36]

In [46]:
[i**2 for i in my_list if i%2 !=0]

[1, 9, 25]

In [47]:
(i**2 for i in my_list if i%2 !=0)

example

In [48]:
string = ["ali", "veli", "ay≈üe"]
for i in string:
    print(len(i))

3
4
4

In [49]:
[len(i) for i in string]

[3, 4, 4]

In [50]:
x = [1,2,3,4]

In [51]:
out = []

for item in x:
    out.append(item**2)
out

[1, 4, 9, 16]

aga bu for loop o gadar √ßok kullanƒ±lƒ± ki list comp yapmƒ±≈ülar

In [ ]:
[item**2 for item in x]

Group Anagrams
Given a list of strings, group anagrams together.
anagram: aynƒ± harflerle yazƒ±lan ama harfleri yer deƒüi≈ütirince ayrƒ± anlama gelen s√∂zc√ºk; √∂rneƒüin rakƒ± s√∂zc√ºƒü√ºn√ºn harfleri yer deƒüi≈ütirince ortaya √ßƒ±kan ƒ±rak/karƒ±/arƒ±k s√∂zc√ºkleri birer anagramdƒ±r.

In [20]:
mylist = ["eat", "tea", "tan", "ate", "nat", "bat"]

In [21]:
[
  ["ate","eat","tea"],
  ["nat","tan"],
  ["bat"]
]

[['ate', 'eat', 'tea'], ['nat', 'tan'], ['bat']]

In [22]:
text = ["al", "la"]

In [33]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

Several short REPL sessions are shown below. Which display correct output?

In [28]:
print(a[0])

foo

In [27]:
print(a[-6])

foo

In [31]:
a[2:4] + ["grault"]

['baz', 'qux', 'grault']

In [32]:
max(a[2:4] + ["grault"])

'qux'

In [56]:
a[:]

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [57]:
a

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [60]:
a[-4::2]

['baz', 'quux']

In [61]:
x = [10, [3.141, 20, [30, 'baz', 2.718]], 'foo']

What is the expression that returns the 'z' in 'baz'?

In [67]:
x[1][2][1][2]

'z'

What expression returns the list ['baz', 2.718]?

In [68]:
x[1][2][1:3]

['baz', 2.718]

Select all of the following statements that remove the middle element 3 from a so that it equals [1, 2, 4, 5]:

In [79]:
a = [1, 2, 3, 4, 5]
a.remove(3)
a

[1, 2, 4, 5]

In [78]:
a = [1, 2, 3, 4, 5]
del a[2]
a

[1, 2, 4, 5]

In [80]:
a = [1, 2, 3, 4, 5]
a[2:3] = []
a

[1, 2, 4, 5]

a = ['a', 'b', 'c']
Which of the following statements adds 'd' and 'e' to the end of a, so that it then equals ['a', 'b', 'c', 'd', 'e']:

In [87]:
a = ['a', 'b', 'c']
a.append("d")
a.append("e")
a

['a', 'b', 'c', 'd', 'e']

In [88]:
a = ['a', 'b', 'c']
a.append(["d", "e"])
a

['a', 'b', 'c', ['d', 'e']]

In [89]:
a = ['a', 'b', 'c']
a.extend(["d", "e"])
a

['a', 'b', 'c', 'd', 'e']

In [92]:
a = ['a', 'b', 'c']
a += ["d", "e"]
a

['a', 'b', 'c', 'd', 'e']

In [96]:
a = ['a', 'b', 'c']
a[3:] = ["d","e"]
a

['a', 'b', 'c', 'd', 'e']

In [95]:
a = ['a', 'b', 'c']
a[len(a):] = ["d","e"]
a

['a', 'b', 'c', 'd', 'e']

In [99]:
a = ['a', 'b', 'c']
a += 'de'
a

['a', 'b', 'c', 'd', 'e']

a = [1, 2, 7, 8]
Write a Python statement using slice assignment that will fill in the missing values so that a equals [1, 2, 3, 4, 5, 6, 7, 8].

In [112]:
a = [1, 2, 7, 8]
a.insert(2, [3,4,5,6])
a

[1, 2, [3, 4, 5, 6], 7, 8]

In [120]:
a = [1, 2, 7, 8]
a.insert(2, list(range(3,7)))
a

[1, 2, [3, 4, 5, 6], 7, 8]

In [127]:
a = [1, 2, 7, 8]
a.insert(2,4)
a

[1, 2, 4, 7, 8]

In [131]:
a = [1, 2, 7, 8]
a[2:6] = [3,4,5,6]
a+=[7,8]
a

[1, 2, 3, 4, 5, 6, 7, 8]

In [133]:
a = [1, 2, 7, 8]
a[2:2] = [3, 4, 5, 6]
a

[1, 2, 3, 4, 5, 6, 7, 8]

# Tuples

Kind of data structure, basically means: container where we can store different values.

‚Ä¢ Commonly used for small collections of values that will not need to change, such as an IP address and port. 
‚Ä¢ For unchanged data tuples is used because they are faster than lists.
‚Ä¢ The same indexing rules for lists also apply to tuples. 
‚Ä¢ Tuples can also be nested and the values can be any valid data types. 
‚Ä¢ Case analogy.  Put data, close the lid and not change.

‚ö†Ô∏èAttention !: Tuple is similar to list. Difference: tuple is immutable. Methods like append() or remove() do not exist.

Benefits of Immutability: Basic advantages of tuples

‚Ä¢ Tuples are faster and more powerful in-memory than lists. Need to deal with large amounts of data: Tuple. 
‚Ä¢ If you don't want to change your data you may have to choose tuples.
‚Ä¢ Immutability- data in a tuple can not be altered by mistake.
‚Ä¢ A tuple can be used as a dictionary (we will see in the next lesson) key, while 'TypeError' can result in lists as keys. And this is the usefulness of tuples in the data processing.

## Creating Tuple

### 1. By enclosing values in parentheses üëâüèª'()', separated by commas.

In [3]:
tuple = (1,2,3)
print(tuple)
print(type(tuple))

(1, 2, 3)
<class 'tuple'>

In [4]:
empty_tuple = ()#empty tuple 
type(empty_tuple)

tuple

In [5]:
print(type(empty_tuple))

<class 'tuple'>

‚óã For single element tuples and a comma used at the end of the element.

In [6]:
try_tuple = ("love",)# If no comma, then it becomes string.
print(try_tuple)
print(type(try_tuple))

('love',)
<class 'tuple'>

‚óã Separating more than one elements: commas.

In [7]:
tuple_ex = ("apple", "pear")
print(type(tuple_ex), tuple_ex)

<class 'tuple'> ('apple', 'pear')

### 2. By `tuple()` function.

`Docstring`: Built-in immutable sequence.

‚Ä¢ If no argument is given, the constructor returns an empty tuple.
‚Ä¢ If iterable is specified the tuple is initialized from iterable's items.
‚Ä¢ If the argument is a tuple, the return value is the same object.

In [3]:
tuple("alps")

('a', 'l', 'p', 's')

In [6]:
tuple(1,2,3)

TypeError: tuple expected at most 1 arguments, got 3

The Python "TypeError: tuple expected at most 1 argument, got 2" occurs when we pass multiple arguments to the tuple() class. 

To solve the error, pass an iterable, such as a list containing the arguments, e.g. my_tuple = tuple(['a', 'b']).

In [7]:
tuple([1,2,3])

(1, 2, 3)

In [9]:
tuple()

TypeError: 'tuple' object is not callable

‚óã Used if tuple be made of an iterable object: that is, a type of object whose elements you can import individually.
‚óã The tuple is also iterable like other collections and string types. 
‚óã With this function, you can create an empty tuple as well.

In [9]:
empty_tuple = tuple()

In [6]:
planets = "mercury", "jupyter", "saturn"
print(planets)
print(type(planets))

('mercury', 'jupyter', 'saturn')
<class 'tuple'>

### Convert between list and tuple.

In [15]:
my_tuple = (1,4,3,4,5,6,7,4)
my_list = list(my_tuple)
print(my_list)
print(type(my_list))

[1, 4, 3, 4, 5, 6, 7, 4]
<class 'list'>

In [16]:
my_list= [1,4,3,4,5,6,7,4]
my_tuple = tuple(my_list)
print(my_tuple)
print(type(my_tuple))

(1, 4, 3, 4, 5, 6, 7, 4)
<class 'tuple'>

#### An iterable string can be converted to a tuple :

In [17]:
mountain = tuple('Alps')
print(mountain)

('A', 'l', 'p', 's')

### How can We Use a Tuple ?

In [ ]:
‚Ä¢ Both lists and tuples are ordered (when storing elements  sure that their order will remain the same. 
‚Ä¢ You can also duplicate values or mix different dts in tuples.

In [10]:
mix_value_tuple = (0, 'bird', 3.14, True)
print(len(mix_value_tuple))

4

### Indexing in tuples

In [9]:
evens = (0,2,4)
print(evens[0], end = "\n")
print(evens[1], end = " ")
print(evens[2], end = "\n")

0
2 4

### Assigning multiple dts in tuples

In [9]:
tuple(["alps", [1,2,3]])

('alps', [1, 2, 3])

In [10]:
("alps", [1,2,3])

('alps', [1, 2, 3])

In [37]:
mix_tuple = ("11", 11, [2, "two", ("six", 6)], 5, "fair")
str_six = mix_tuple[2][2][0]
print(str_six)

six

### Tuples does not support item assignment

Tuples are immutable

In [22]:
city_list = ['Tokyo', 'Istanbul', 'Moskow', 'Dublin']
my_tuple = tuple(city_list)
print(my_tuple)
my_tuple[0] = "London"# # you can't assign a value

('Tokyo', 'Istanbul', 'Moskow', 'Dublin')

TypeError: 'tuple' object does not support item assignment

‚úèÔ∏èHomework: Examine the use of .index() and .count() methods of the tuples.

In [11]:
my_tuple = (1,1,2,3)

In [12]:
my_tuple

(1, 1, 2, 3)

### index() method

Return first index of value.

Raises ValueError if the value is not present.

In [13]:
my_tuple

(1, 1, 2, 3)

In [14]:
my_tuple.index(3)

3

### count() method

Return number of occurrences of value.

In [15]:
my_tuple.count(1)

2

### len() method

Return the number of items in a container.

In [22]:
len(my_tuple)

4

What is the data type of the following?
type(aTuple[2:3])

In [1]:
aTuple = (1, "Tony", 1+3j)
aTuple

(1, 'Tony', (1+3j))

In [2]:
1+3j

(1+3j)

In [6]:
aTuple[2:3]

((1+3j),)

In [5]:
type(aTuple[2:3])

tuple

## tuple kullanarak √ßoklu deƒüer assign etmek

In [3]:
v = ("five", 5, True)
v

('five', 5, True)

In [5]:
v = "five", 5, True
v

('five', 5, True)

In [6]:
x, y, z = v
print(x,y,z)

five 5 True

In [9]:
x, y, z = v
print(x,y,z, sep="\n")

five
5
True

In [15]:
list(range(1,8))

[1, 2, 3, 4, 5, 6, 7]

In [18]:
days = list(range(1,8))
(mo, tu, we, th, fr, sa, su) = days

In [20]:
tu

2

In [22]:
type((mo, tu, we, th, fr, sa, su))

tuple

(mo, tu, we, th, fr, sa, su) = tuple(range(1,8))
tu

In [31]:
x, y = (10, 20)
x

10

In [32]:
items = (10, 20)
x,y = items
x

10

In [33]:
a, _, b, _ = (10, 20, 30, 40)#alt √ßizgi ile istenmeyen itemlar atlanƒ±r
print(a, b)

10 30

### * operator

In [37]:
x, y, *z = (1, 11, 22, 33, 44, 55, 66, 77)#* ba≈üta elemanlarƒ±na ayƒ±rmak anlamƒ±na gelir. deƒüi≈ükeni elemanlarƒ±na ayƒ±rdƒ±
print(x)
print(y)
print(z)

1
11
[22, 33, 44, 55, 66, 77]

In [38]:
x, y, *_ = (11, 22, 33, 44, 55, 66)#_var ama yok demek
print(x)

11

In [39]:
x, y, *z, t = (11, 22, 33, 44, 55, 66)
print(t)
print(z)

66
[33, 44, 55]

In [ ]:
Suppose you have the following tuple definition:

In [16]:
t = ('foo', 'bar', 'baz')

1. Which of the following statements replaces the second element ('bar') with the string 'qux':

Tuples are immutable

2. Write Python code to create a tuple with a single element, the string 'foo', and assign it to a variable called t.

In [17]:
t = ("foo")

In [20]:
type(t)

tuple

In [19]:
t = ("foo",)

In [21]:
type(t)

tuple

Specifying a single value in parentheses doesn‚Äôt define a tuple‚ÄîPython interprets the value as an expression in grouping parentheses:
To distinguish this from a singleton tuple, you need to include a trailing comma before the closing parenthesis:

Consider this assignment statement:

In [22]:
a, b, c = (1, 2, 3, 4, 5, 6, 7, 8, 9)[1::3]

Following execution of this statement, what is the value of b:

In [23]:
b

5

Assume x and y are assigned as follows:

In [25]:
x = 5
y = -5

What is the effect of this statement:
x, y = (y, x)[::-1]

In [46]:
x = 5
y = -5
x,y = (y,x)[::-1] # The slice expression on the right side of the assignment reverses the tuple:

In [33]:
x # x and y retain the values they had originally.

5

In [34]:
y

-5

In [45]:
a, b, c = (1, 2, 3)[::-1]
c

1

# Dictionary

üí° Dictionaries are used to store data values & items in key-value pairs.

üëâ A dictionary collection type which is ordered (As of Python version 3.7), changeable and do not allow duplicates.

Dictionaries are written with curly brackets, and have keys and values.

Real dictionary analogy: key is word, value is meaning.

## 1. Creation of dictionaries

### By curly braces üëâüèª{}

In [3]:
{} # creates an empty dictionary.

{}

In [4]:
empty_dict = {} # assigned to an object

From Python's perspective, dictionaries are defined as objects with the data type dict.

In [5]:
type(empty_dict)

dict

In [6]:
print(type(empty_dict))

<class 'dict'>

In [8]:
# Assigning key and values to an empty dictionary
empty_dict["first"] = "Canan"
empty_dict["last"] = "Ye≈üilyurt"

In [9]:
empty_dict

{'first': 'Canan', 'last': 'Ye≈üilyurt'}

#### Dictionary Items

Dictionary items are ordered, changeable, and does not allow duplicates.

Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

#### Ordered or Unordered

üëâ Ordered Means that the items have a defined order, and that order will not change.

üëâ Unordered means that the items does not have a defined order, you cannot refer to an item by using an index.

üëâ Changeable means that we can change, add or remove items after the dictionary has been created.

üëâüèª Each `item` is separated by `comma` and the `key and value` are separated by a `colon`. Looks like list or tuple.

In [16]:
my_dict= {"animal": "dog", "planet":"neptun", "number": 40, "pi": 3.14, "is_good": True}
my_dict

{'animal': 'dog',
 'planet': 'neptun',
 'number': 40,
 'pi': 3.14,
 'is_good': True}

#### Duplicate values

Duplicates Not Allowed, Dictionaries cannot have two items with the same key. 
Duplicate values will overwrite existing values.

In [16]:
my_dict = {"animal": "dog", "planet": "neptun", "number":40, "pi": 3.14, "is_good":True, "is_good":False}
my_dict

{'animal': 'dog',
 'planet': 'neptun',
 'number': 40,
 'pi': 3.14,
 'is_good': False}

#### Diffrent types of items in dictionary

üí°Tips: Note that values can be of different types.

In [22]:
mix_dict = {'animal': ('dog', 'cat'),  # tuple type
'planet': ['Neptun', 'Saturn', 'Jupiter'],  # list type
'number': 40,  # int type
'pi': 3.14,  # float type
'is_good': True}  # bool type

In [23]:
mix_dict

{'animal': ('dog', 'cat'),
 'planet': ['Neptun', 'Saturn', 'Jupiter'],
 'number': 40,
 'pi': 3.14,
 'is_good': True}

### By 'dict()' function.

In [18]:
dict()

{}

In [20]:
type(dict())

dict

In [27]:
print(type(dict()))

<class 'dict'>

‚ö†Ô∏èAvoid ! : Do not use quotes for keys when using the dict() function.

In [21]:
dict(animal="dog", planet="neptun", number=40, pi=3.14, is_good= True)

{'animal': 'dog',
 'planet': 'neptun',
 'number': 40,
 'pi': 3.14,
 'is_good': True}

## Main Operations with Dictionaries

## Accessing items

Refer to key name, inside square brackets

In [26]:
mix_dict = {"animal": ("dog", "cat"), 
           "planet": ["Neptun", "Saturn", "Jupiter"], 
           "number":[40, 20],  
           "pi": 3.14, 
           "is_good": True}

In [27]:
mix_dict

{'animal': ('dog', 'cat'),
 'planet': ['Neptun', 'Saturn', 'Jupiter'],
 'number': [40, 20],
 'pi': 3.14,
 'is_good': True}

In [32]:
mix_dict["planet"][0]

'Neptun'

In [33]:
mix_dict["animal"]

('dog', 'cat')

## 3. Dictionary Methods

Python has a set of built-in methods that you can use on dictionaries.

Method	Description
clear()	Removes all the elements from the dictionary
copy()	Returns a copy of the dictionary
fromkeys()	Returns a dictionary with the specified keys and value
get()	Returns the value of the specified key
items()	Returns a list containing a tuple for each key value pair
keys()	Returns a list containing the dictionary's keys
pop()	Removes the element with the specified key
popitem()	Removes the last inserted key-value pair
setdefault()	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
update()	Updates the dictionary with the specified key-value pairs
values()	Returns a list of all the values in the dictionary

function vs. method

The function allows us to implement code reusability.

In [34]:
def sum(num1, num2):
    return num1+num2

In [35]:
sum(1,2)

3

üëâ A method is somewhat similar to a functions, except for two major differences.

1. Method is associated with object/classes. Means it is implicitly used for an object for which it is called.

2. The method is accessible to data that is contained within the class.

In [2]:
class Pet(object):
    def my_method(self):
        print("I am a cat")
cat = Pet()

In [3]:
cat.my_method()

I am a cat

my_method called on the object ‚Äúcat‚Äù whereas the function ‚Äúsum‚Äù is called without any object. 

Also, because the method is called on an object, it can access that data within it.

Unlike method which can alter the object‚Äôs state, python function doesn‚Äôt do this and normally operates on it.

In Short, a method is a function which belongs to an object.

### get() method

In [85]:
mix_dict.get("planet")[0]

'Neptun'

In [71]:
d = {"k1": {"innerkey": [1,2,3]}}
print(d["k1"])
print(d["k1"]["innerkey"])
print(d["k1"]["innerkey"][1])

{'innerkey': [1, 2, 3]}
[1, 2, 3]
2

### items(), keys(), values() methods

In [36]:
mix_dict.items()

dict_items([('animal', ('dog', 'cat')), ('planet', ['Neptun', 'Saturn', 'Jupiter']), ('number', 40), ('pi', 3.14), ('is_good', True)])

In [37]:
mix_dict.keys()

dict_keys(['animal', 'planet', 'number', 'pi', 'is_good'])

In [38]:
mix_dict.values()

dict_values([('dog', 'cat'), ['Neptun', 'Saturn', 'Jupiter'], 40, 3.14, True])

In [67]:
print(mix_dict.items(), "\n")
print(mix_dict.keys(), '\n')
print(mix_dict.values())

dict_items([('animal', ('dog', 'cat')), ('planet', ['Neptun', 'Saturn', 'Jupiter']), ('number', 40), ('pi', 3.14), ('is_good', True)])

dict_keys(['animal', 'planet', 'number', 'pi', 'is_good'])

dict_values([('dog', 'cat'), ['Neptun', 'Saturn', 'Jupiter'], 40, 3.14, True])

## Adding a new item to dictionary

### by update() method

In [18]:
mix_dict = {'animal': ('dog', 'cat'),  
            'planet': ['Neptun', 'Saturn', 'Jupiter'],
            'number': 40,
            'pi': 3.14,
            'is_good': True}

In [19]:
mix_dict.update({"is_bad":"False"})
#mix_dict.update(is_bad="False" )
mix_dict

{'animal': ('dog', 'cat'),
 'planet': ['Neptun', 'Saturn', 'Jupiter'],
 'number': 40,
 'pi': 3.14,
 'is_good': True,
 'is_bad': 'False'}

### by [ ] notation

In [21]:
mix_dict["hobby"]="Reading"
mix_dict

{'animal': ('dog', 'cat'),
 'planet': ['Neptun', 'Saturn', 'Jupiter'],
 'number': 40,
 'pi': 3.14,
 'is_good': True,
 'is_bad': 'False',
 'hobby': 'Reading'}

## Removing an item

### del() function

 The formula syntax is : del dictionary_name['key'].

In [23]:
del mix_dict["animal"]

In [24]:
mix_dict

{'planet': ['Neptun', 'Saturn', 'Jupiter'],
 'number': 40,
 'pi': 3.14,
 'is_good': True,
 'is_bad': 'False',
 'hobby': 'Reading'}

## in and the not in operator.

‚óã Checking if the key is in the dict: in and the not in operator.
‚óã in operator; if the key is in the dict, the result will be True otherwise False.
‚óã not in; if the key is not in the dicti, the result will be True otherwise False.

In [25]:
mix_dict

{'planet': ['Neptun', 'Saturn', 'Jupiter'],
 'number': 40,
 'pi': 3.14,
 'is_good': True,
 'is_bad': 'False',
 'hobby': 'Reading'}

In [26]:
"pi" in mix_dict

True

In [27]:
"go" not in mix_dict

True

### copy() method

The copy() method returns a copy of the specified dictionary.

In [41]:
copy_mix_dict = mix_dict.copy()

In [42]:
copy_mix_dict

{'animal': ('dog', 'cat'),
 'planet': ['Neptun', 'Saturn', 'Jupiter'],
 'number': 40,
 'pi': 3.14,
 'is_good': True,
 'is_bad': 'Flase'}

### other methods to copy

In [44]:
new_dict = dict(mix_dict)

In [45]:
new_dict

{'animal': ('dog', 'cat'),
 'planet': ['Neptun', 'Saturn', 'Jupiter'],
 'number': 40,
 'pi': 3.14,
 'is_good': True,
 'is_bad': 'Flase'}

In [46]:
third = mix_dict

In [47]:
third

{'animal': ('dog', 'cat'),
 'planet': ['Neptun', 'Saturn', 'Jupiter'],
 'number': 40,
 'pi': 3.14,
 'is_good': True,
 'is_bad': 'Flase'}

## Nested Dictionaries

In [77]:
school_recs={
"per_info":
{"kid":{"tom": {"class": "intermediate", "age": 10},
"sue": {"class": "elementary", "age": 8}
},
"teen":{"joseph":{"class": "college", "age": 19},
"marry":{"class": "high school", "age": 16}
},               
},
"grades_info":
{"kid":{"tom": {"math": 88, "speech": 69},
"sue": {"math": 90, "speech": 81}
},
"teen":{"joseph":{"coding": 80, "math": 89},
"marry":{"coding": 70, "math": 96}
},               
},        
}

In [78]:
school_recs["per_info"]

{'kid': {'tom': {'class': 'intermediate', 'age': 10},
  'sue': {'class': 'elementary', 'age': 8}},
 'teen': {'joseph': {'class': 'college', 'age': 19},
  'marry': {'class': 'high school', 'age': 16}}}

In [79]:
school_recs["per_info"]["kid"]

{'tom': {'class': 'intermediate', 'age': 10},
 'sue': {'class': 'elementary', 'age': 8}}

In [80]:
school_recs["per_info"]["kid"]["tom"]

{'class': 'intermediate', 'age': 10}

In [81]:
school_recs["per_info"]["kid"]["tom"]["age"]

10

üí°Tips:Dict resemble JSON syntax. The native JSON module in the Python standard library can be used to convert between JSON and dicts.

In [ ]:
‚úèÔ∏èJSON:

In [ ]:
ailem = {"baba" : "gurkan", "anne" : "canan", "kƒ±z" : "b√º≈üra"}
print(ailem)

In [ ]:
ailem["oƒülum"] = "Selim"
print(ailem)

In [12]:
ailem_dict = dict(baba = "g√ºrkan", anne = "canan", kƒ±z = "b√º≈üra", oƒülum = "selim")

In [14]:
ailem_dict

{'baba': 'g√ºrkan', 'anne': 'canan', 'kƒ±z': 'b√º≈üra', 'oƒülum': 'selim'}

In [23]:
ailem_dict.update(diƒüer_kƒ±z= "sinem")

In [24]:
ailem_dict

{'baba': 'g√ºrkan',
 'anne': 'canan',
 'kƒ±z': 'b√º≈üra',
 'oƒülum': 'selim',
 'diƒüer_kƒ±z': 'sinem'}

### Examples

In [39]:
sales = {
    "cost_value" : 31.87,
    "sell_value" : 45.00,
    "inventory" : 1000    
}
profit = round((sales["sell_value"]-sales["cost_value"])*sales["inventory"])
print("The profit is " + "$" + str(profit))

The profit is $13130

In [49]:
word = {}
word["a"] = 1 # bo≈ü s√∂zl√ºƒüe key ve value ekleme
print(word)
word["a"] += 1 # valuenun artƒ±rƒ±lmasƒ±
print(word)
print(word.keys())
print(list(word.keys()))

{'a': 1}
{'a': 2}
dict_keys(['a'])
['a']

In [53]:
addSub = {"addition": lambda x, y: x+y, "subtract": lambda x,y: x-y}
print(addSub["addition"])
print(addSub["addition"](3,4))
print(addSub["subtract"](4,3))

<function <lambda> at 0x00000203EAEFC828>
7
1

In [54]:
calculate = {"+": (lambda x,y : x+y), "-": (lambda x,y: x-y), "*": (lambda x,y: x*y), "/": lambda x,y: x/y}
calculate["*"](3,4)

12

### sorting

In [79]:
xx = {"e": 4, "b": 2, "c": 3, "f": 1} #valuelara g√∂re sƒ±rala
print(sorted(xx)),
print(sorted(xx.items()))
print(sorted(xx.items())[0][1])
print(sorted(xx.items(), key = lambda x: x[1])) #key, fonksiyon veya metod alƒ±r. i√ßinde bulunduƒüu fonksiyonu neye g√∂re sƒ±ralayacaƒüƒ±nƒ± tanƒ±mlar. )

['b', 'c', 'e', 'f']
[('b', 2), ('c', 3), ('e', 4), ('f', 1)]
2
[('f', 1), ('b', 2), ('c', 3), ('e', 4)]

### length of dictionary

In [80]:
len(xx)

4

# Set

Definition: Collection of elements with no repeats and without insertion order but sorted order.
Set is a collection of unique element.
They can hold multiple data in them, but only one of value.

## Basic uses

‚óã Membership testing and eliminating duplicate entries. 
‚óã Math. ops like union, intersection, difference, and symmetric difference.
‚óã In situations where things are grouped together (order not important).

üëâüèª Sets have `unordered` and `unique` objects.

## Creating a Set

### 1. With `curly braces {}`

In [7]:
colorset = {'purple', 'orange', 'red', 'darkblue', 'yellow', 'red'}
colorset

{'darkblue', 'orange', 'purple', 'red', 'yellow'}

Two 'red' values we have defined in the set have fallen to one. 
Every time you print, the order of the objects in the set changes.

In [6]:
type(colorset)

set

### 2. `set() function`

Docstring:     
set() -> new empty set object
set(iterable) -> new set object

Build an unordered collection of unique elements.

In [8]:
set('unselfishness')

{'e', 'f', 'h', 'i', 'l', 'n', 's', 'u'}

In [9]:
a = [1,1,2,2,3,3,4,4]

In [10]:
set(a)

{1, 2, 3, 4}

In [14]:
a[4::-1]

[3, 2, 2, 1, 1]

In [15]:
set(a[4::-1])

{1, 2, 3}

Only way to create an empty set.

‚ö†Ô∏èAvoid ! : Do not use `{}` to create an empty set. It will create `empt dict`.

In [8]:
g√ºrkan = {}

In [9]:
g√ºrkan

{}

In [10]:
g√ºrkan["last"] = "Ye≈üilyurt"
g√ºrkan

{'last': 'Ye≈üilyurt'}

In [2]:
empty_set = set()

In [19]:
type(empty_set)

set

üëâüèª Letters of the string type data are only written once. Using sets can help you avoid repetitions.

## Converting a list into a set

In [45]:
flowerlist = ['rose', 'violet', 'carnation', 'rose', 'orchid', 'rose', 'orchid']
flowerset = set(flower_list)
new_flower_list = list(flowerset) # this new list opens repeted objects
print(flowerset) 
print(flowerlist)

{'violet', 'rose', 'carnation', 'orchid'}
['rose', 'violet', 'carnation', 'rose', 'orchid', 'rose', 'orchid']

**Question**: Which one of the following `is not` the correct syntax for creating a set in Python?

a. set([[1,2],[3,4],[4,5]])<--
b. set([1,2,2,3,4,5])
c. {1,2,3,4}
d. set((1,2,3,4))

In [13]:
set([[1,2],[3,4],[4,5]])

TypeError: unhashable type: 'list'

In [15]:
set([1,2,2,3,4,5])

{1, 2, 3, 4, 5}

In [20]:
type(set([1,2,2,3,4,5]))

set

In [14]:
{1,2,3,4}

{1, 2, 3, 4}

In [46]:
type({1,2,3,4})

set

In [16]:
set((1,2,3,4))

{1, 2, 3, 4}

In [47]:
type(set((1,2,3,4)))

set

### Main Operations with Sets

In [58]:
a = set('abracadabra')
b = set('alacazam')
print(a)
print(b)

{'a', 'c', 'b', 'r', 'd'}
{'a', 'z', 'm', 'c', 'l'}

`remove()` method: Allows us to delete an item.

In [59]:
a.remove("c")
a

{'a', 'b', 'd', 'r'}

`add()` method: Adds a new item to the set.

In [61]:
a.add("c")
a

{'a', 'b', 'c', 'd', 'r'}

`difference()` method: Gets the difference of two sets.

In [51]:
a.difference(b)

{'b', 'd', 'r'}

In [49]:
a-b

{'b', 'd', 'r'}

`intersection()` method: Returns the intersection of two sets.

In [54]:
a.intersection(b)

{'a', 'c'}

In [55]:
a&b

{'a', 'c'}

`union()` method:  Returns the unification of two sets.

In [52]:
a.union(b)

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [53]:
a|b

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

`len()` function

In [62]:
len(a)

5

`in` operator

In [63]:
"c" in set(a)

True

In [2]:
{1,2,3}

{1, 2, 3}

In [4]:
{1,1,1, 2,2,3,3,3,3}

{1, 2, 3}

In [5]:
set([1,1,1,1,2,2,5,5,5,6,6,6])

{1, 2, 5, 6}

In [6]:
s = {1,2,3}

In [7]:
s.add(5)

In [8]:
s

{1, 2, 3, 5}

In [9]:
s.add(5)

In [10]:
s

{1, 2, 3, 5}

### Assignment: set& intersection

In [13]:
word = "cool"
set(word)

{'c', 'l', 'o'}

In [12]:
word = input("Please enter a word")
setword = set(word)
print(setword)

Please enter a wordcool
{'o', 'l', 'c'}

In [14]:
setright = set("yuiophjklnm")
setleft = set("qwertasdfgzxcvb")

In [15]:
setright

{'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'u', 'y'}

In [16]:
setleft

{'a', 'b', 'c', 'd', 'e', 'f', 'g', 'q', 'r', 's', 't', 'v', 'w', 'x', 'z'}

In [20]:
bool() # bool() funvrtion returns True when the argument x is true, False otherwise.

False

In [22]:
setword.intersection(setleft)

{'c'}

In [23]:
bool(setword.intersection(setleft))

True

In [24]:
left_bool = bool(setword.intersection(setleft))

In [25]:
right_bool = bool(setword.intersection(setright))

In [26]:
print(left_bool)
print(right_bool)

True
True

In [27]:
print(left_bool and right_bool)

True