## Range Function

Return an object that produces a sequence of integers from start (inclusive)
to stop (exclusive) by step.

In [13]:
range(11)

range(0, 11)

**One way to create iterable sequence of numbers**. This can be simply converted into an iterable object: list, set, and tuple.

In [14]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
set(range(11))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [16]:
tuple(range(11))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

**The formula syntax is : range(start, stop, step)**

In [21]:
list(range(1,30,3))

[1, 4, 7, 10, 13, 16, 19, 22, 25, 28]

In [25]:
list(range(30,3,-3))

[30, 27, 24, 21, 18, 15, 12, 9, 6]

**Besides, you can use starred expression üëâüèª* before range() function to separate its elements.**

In [18]:
print(range(5))

range(0, 5)

In [19]:
print(*range(5))

0 1 2 3 4

In [20]:
print(*range(5,25,2))

5 7 9 11 13 15 17 19 21 23

**Starred expression**: separates other iterable objects. For example, you can separate a string:

In [22]:
print(*('separate'))

s e p a r a t e

In [1]:
seq = [1,2,3,4,5]

In [2]:
for i in seq:
    print(i)

1
2
3
4
5

In [3]:
range(3,12)

range(3, 12)

In [4]:
for i in range(3,12):
    print(i)

3
4
5
6
7
8
9
10
11

In [5]:
range(3,12)

range(3, 12)

In [6]:
list(range(3,12))

[3, 4, 5, 6, 7, 8, 9, 10, 11]

In [11]:
times = int(input("How many times should I say 'I love you'"))
for i in range(times):
    print('I love you')

How many times should I say 'I love you'5
I love you
I love you
I love you
I love you
I love you

In [31]:
for num in range(10):
    print(num)#stop number is excluded.

0
1
2
3
4
5
6
7
8
9

In [33]:
x = list(range(10))
print (x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [34]:
friends = ["Mark", "Shawn", "Sarah", "Mike", "Robert", "John", "Stewart"]
len(friends)

7

In [37]:
for invite in range(1, len(friends), 2):
    print(f"{friends[invite].title()})

SyntaxError: EOL while scanning string literal (<ipython-input-37-af2c69bab606>, line 2)

#### Example: make a list of numbers from 1 to 10 using 'range()' function and select even ones:

In [5]:
odd = []
even= []
for i in list(range(1,11)):
    if i %2==0:
        even.append(i)
    else: odd.append(i)
print(odd)
print(even)

[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]

In [7]:
count = list(range(1,11))
print(count)
print(count[1:11:2])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10]

In [18]:
list(range(2,11,2))

[2, 4, 6, 8, 10]