# The powerful strength of Python in strings

# Indexing String

String elements - accessible ~ specify letters left to right in brackets.

Enumeration of a string starts from zero.

`The formula syntax` of string indexing is : `string`[`start`:`stop`:`step`]

In [17]:
fruit = 'Orange'

`string[:]` returns the full copy of the sequence

In [20]:
fruit[:]

'Orange'

`string[start:]` returns elements from start to the end element.

In [22]:
fruit[0:]

'Orange'

`string[:stop]` returns element from the 1st element to stop-1.

In [24]:
fruit[:2]# from 1st element [0] to the 2-1=1 st element[1]

'Or'

`string[::step]` returns each element with a given step

In [25]:
fruit[::2]

'Oag'

In [15]:
print(fruit[0])
print(fruit[1:3])
print(fruit[2:])
print(fruit[0::2])# starts from 0, stops at the end (not specified), takes 2 steps. 
print(fruit[-1])
print(fruit[:-1])# starts from 0, stops at the -1 (not included), takes 1 step default. 
print(fruit[:-1:2])# starts from 0, stops at the -1 (not included), takes 2 step.

Orange
O
ra
ange
Oag
e
Orang
Oag

In [26]:
city = "Phoenix"
print(city[1:])
print(city[:6])
print(city[::2])
print(city[1::2])
print(city[-3:])
print(city[::-1])

hoenix
Phoeni
Ponx
hei
nix
xineohP

# Processing and using strings in data structures.

• Arithmetic syntax (+, *, and =),
• % operator formatting,
• string.format() method,
• f-string formatting.

## 1. String Formatting with Arithmetic Syntax

We can use `+ operator` for `combining the two string` together without any spaces.

In [27]:
"clarus" + "way"

'clarusway'

In [28]:
print("clarus"+"way")

clarusway

In [29]:
text1 = "clarus"
text2 = "way"
text1 + text2

'clarusway'

We can also use `* operator` for `repeating the string` without any spaces.

In [30]:
"no way"*3

'no wayno wayno way'

In [39]:
print("no way!"*3, "seperation", sep="555")

no way!no way!no way!555seperation

In [40]:
fruit = "Orange"
vegetable="Tomato"
fruit + vegetable

'OrangeTomato'

In [41]:
fruit*3

'OrangeOrangeOrange'

**addition operation in-place**

In [42]:
fruit = "Orange"
fruit +="Apple"
fruit

'OrangeApple'

## 2. String Formatting with '%' Operator

`% operator` gets the values and prints in order using several characters.

s, d and f characters to specify data type in string.
• `s` syntax is for 'string'.
• `f` syntax is for 'float'. 
• `d` syntax is for 'numeric'.

`%d format`

In [44]:
"I have %d children" %(4)

'I have 4 children'

`%s format`

In [2]:
"Give me 4 %s" %("euro")

'Give me 4 euro'

In [43]:
'I have %d %s and %.2f brothers' % (4, "children", 5)  # 2 digits after point.

'I have 4 children and 5.00 brothers'

% operator:
1st % takes '4' puts in 1st % operator, 
2nd % takes 'children' and puts in 2nd % operator 
3rd % takes '5' and puts it in 3rd % operator.

### `Limit` the character numbers of the strings.

In [6]:
sentence = "apologizing is a virtue"
"%s"%(sentence)

'apologizing is a virtue'

In [10]:
"%.11s"%(sentence) ## we get first 11 characters of the string

'apologizing'

### Dictionary type format

Assigning values to variables (amount and fruit) in curly braces '{}'.

In [30]:
"%(amount)d pounds of %(fruits)s left"%{"amount": 33, "fruits": "banana"}

'33 pounds of banana left'

## 3. string.format() method

More readable

Curly braces {} receives values from .format() in order.

In [13]:
fruit = 'orange'
vegetable = 'Tomato'
amount = 4
'The amount of {} we bought is {} pounds'.format(fruit, amount)

'The amount of orange we bought is 4 pounds'

`Kwargs` called by their names. Using keywords in 👉🏻{} makes string more readable. Keywords doesn't have to be in order.

In [14]:
'{state} is the most {adjective} state of the {country}'.format (state='California', country='USA', adjective='crowded')

'California is the most crowded state of the USA'

`Combining` posar and kwar

⚠️Avoid ! : Be careful not to write kws before positional arguments.

In [15]:
'{0} is the most {adjective} state of the {country}'.format('California',  country='USA', adjective='crowded')

'California is the most crowded state of the USA'

`Using same variable` in a string more than once. Also, you can select the objects by referring to their positions in brackets.

In [16]:
print("{6} {0} {5} {3} {4} {1} {2}".format('have', 6 , 'months', 'a job', 'in', 'found', 'I will'))

I will have found a job in 6 months

`format()` method is too wordy in multiple parameters and longer strings: `f-string` comes in.

## 4. String formatting with 'f-string'

Easiest method, introduced in 2015 with P3.6.

`f-string` is the string syntax that is enclosed in quotes with a letter f at the beginning.

Curly braces 👉🏻{} that contain variables are used to replace with their values.

Formula syntax is : `f"strings` `{variable1}` {variable2} string {variable3}"

In [18]:
fruit = 'Orange'
vegetable = 'Tomato'
amount = 6
f"The amount of {fruit} and {vegetable} we bought are totally {amount} pounds"

'The amount of Orange and Tomato we bought are totally 6 pounds'

👉🏻 You can use all valid expressions, variables, and even methods in curly braces.

In [20]:
f"{4*5}"

'20'

In [22]:
name="Joseph"
f"My name is {name.capitalize()}"

'My name is Joseph'

👉🏻 Multiline f-string formatting style.

In [27]:
name = "Joseph"
job = "teachers"
domain = "Data Science"
print(f"Hi {name}. "
f"You are one of the {job} "
f"in the {domain} section.")

Hi Joseph. You are one of the teachers in the Data Science section.

👉🏻 Multiple f-string formatting lines without parentheses--> `backslash 🏻\` between lines.

In [28]:
f"Hi {name}. " \
f"You are one of the {job} " \
f"in the {domain} section."

'Hi Joseph. You are one of the teachers in the Data Science section.'

In [5]:
transportation = "taxi"
payment_method = "cash"
means = "ferryboat"
phrase = f" We will get to port by {transportation} and paid it {payment_method} and go to Crete by {means}."
print(phrase)

 We will get to port by taxi and paid it cash and go to Crete by ferryboat.

In [9]:
who = "we"
means = "ferryboat"
where = "Crete"
message = (
f"{who} bugün "
    f"{means} ile gece vakti "
    f"{where}'e gidiyoruz."
  )
print(message)

we bugün ferryboat ile gece vakti Crete'e gidiyoruz.

## 5. Summary

In [37]:
planet = "Earth"
diameter = 12742
print("The diameter of %s is %d kilometers."%(planet, diameter))# %operator 
print("The diameter of {} is {} kilometers.".format(planet, diameter)) # string.format() method
print(f"The diameter of {planet} is {diameter} kilometers.") # f-string method

The diameter of Earth is 12742 kilometers.
The diameter of Earth is 12742 kilometers.
The diameter of Earth is 12742 kilometers.

# String Methods

`Method` is like a function, except it is attached to an object.

Method is `called on an object`, and it `makes changes` to that object. A method, then, belongs to a class.

## endswith() method

It searches `particular pattern` in the `immediate end` of a string and return True if the expression is found.

`Return True` if string ends with the specified suffix, False otherwise.

The formula syntax: `string`.`endswith(value, start, end)`

In [22]:
#value: Required. The value to check if the string ends with
#start:Optional. An Integer specifying at which position to start the search
#end: Optional. An Integer specifying at which position to end the search

In [38]:
text = "www.clarusway.com"
text.endswith(".com")

True

👉🏻 Add `start` and `end` args so that the area of `search is delimited`.

💡Tips: Remember! Characters of string count from left to right and start with zero. The formula syntaxes are :

• string.startswith(prefix[, start[, end]])
• string.endswith(suffix[, start[, end]])

Check if position 10 to 32 ends with the phrase "-"

In [40]:
email = "clarusway@clarusway.com is my e-mail address"
email.endswith("-", 10, 32)#whenever slicing the ending number always has to be one more than your actual location

True

In [56]:
email.endswith("-", 0, 31)

False

# **W3 School Example**

In [24]:
txt = "Hello, welcome to my world."

In [27]:
#Check if the string ends with the phrase "my world.":
txt.endswith("my world.")

True

In [31]:
#Check if position 5 to 11 ends with the phrase "my world.":
txt.endswith("my world.", 5,11)

False

In [43]:
txt.endswith(",", 0, 5)

False

# **Master Code Online Example**

In [44]:
a = "This is a string"

In [45]:
a.endswith("g")

True

In [46]:
a.endswith("z")

False

In [47]:
a.endswith("g", 14) # endswith methodunda starting point önemli değil. çünkü bitişe bakıyor interpreter

True

In [49]:
a.endswith("g", 0)

True

In [52]:
a.endswith("s", 0, 7) # 7-ending point is space right there but whenever we use ending index it always goes one in front of that

True

**whenever slicing the ending number always has to be one more than your actual location you want to handle **

In [54]:
a.endswith("s", 0, 10)

False

In [55]:
a[10]

's'

## startswith () method

Used IOT `search patterns` in a string.

It searches for the particular pattern in the `immediate beginning` of a string and return True if the expression is found.

`Return True` if S starts with the specified prefix, False otherwise.

endswith methodunda neyle başlandığı önemli değildi, bu metotta da herhalde neyle bittiğini belirtmek çok önemli olmayacak

In [1]:
text = 'www.clarusway.com'

In [2]:
text.startswith("w")

True

👉🏻 Add `start` and `end` args so that the area of `search is delimited`.

In [5]:
text.startswith("c", 4, 6)

True

In [7]:
print(text.startswith("http"))

False

In [8]:
email = "clarusway@clarusway.com is my e-mail address"
email.startswith("@", 9)

True

# **Python String capitalize() Method**

The capitalize() method returns a string where the first character is upper case.

Return a capitalized version of the string. More specifically, make the first character have upper case and the rest lower

In [9]:
sentence = "I live and work in Virginia"

In [10]:
sentence.capitalize()

'I live and work in virginia'

In [13]:
txt = "36 is my age."

In [14]:
txt.capitalize()

'36 is my age.'

# **Python String replace() Method**

Return a copy with all occurrences of substring old replaced by new.
  count
    Maximum number of occurrences to replace.
    -1 (the default value) means replace all occurrences.

If the optional argument count is given, only the first count occurrences are
replaced.

In [15]:
text = "pazar"

In [18]:
text.replace("pazar", "cuma", -1)#3rd argument: how many occurances you want it to do.Default -1 yani hepsini değiştirir.

'cuma'

In [20]:
text.replace("pazar", "cuma"[1:5])

'uma'

**Master Code Online example**

In [21]:
"we are learning Python".replace("Python", "Python 3")

'we are learning Python 3'

In [22]:
"Mississippi".replace("ss", "zz", 1)

'Mizzissippi'

In [23]:
"Mississippi".replace("ss", "zz", 2)

'Mizzizzippi'

In [24]:
a = "i"
b = "I"
c = "Mississippi"
c.replace(a, b)

'MIssIssIppI'

**String Operations**

**Index BiF**

Return the lowest index in S where substring sub is found, such that sub is contained within S[start:end].

In [18]:
text = "what is index"
text.index("w")

0

In [27]:
text = "I study Python"
print(text.index("u"))

4

**rstrip BiF**

Return a copy of the string with trailing whitespace removed.

Remove any white spaces at the end of the string

In [32]:
text = "rightStrip"
print(text.rstrip("p"))

rightStri

In [35]:
text = "leftStrip"
print(text.lstrip("l"))

eftStrip

In [22]:
text = "tyou can learn almost everything in pre-clasz"
print(text.rstrip("z").lstrip("t").upper())
#text = text.rstrip("z").lstrip("t").upper()
#print(text)

YOU CAN LEARN ALMOST EVERYTHING IN PRE-CLAS

In [39]:
txt = "     banana     "
print(txt.rstrip())
print(txt.rstrip().lstrip())

     banana
banana

In [45]:
print("of all fruits", txt.rstrip(), "is my favorite")

of all fruits      banana is my favorite

The rstrip() method removes any trailing characters (characters at the end a string), space is the default trailing character to remove.

string.rstrip(characters)

In [46]:
txt = "banana,,,,,ssqqqww....."

In [47]:
x = txt.rstrip(",.qsw")
x

'banana'

In [48]:
"eyes are burning..      ".rstrip(". ")

'eyes are burning'

**replace BiF**

Return a copy with all occurrences of substring old replaced by new.

In [53]:
phrase = "That's not like you think"
phrase.replace("not", "")

"That's  like you think"

In [51]:
text = "In God wee Trust"
#print(text.del[9])
print(text.replace("ee", "e"))

In God we Trust

In [1]:
#Working with strings
print("Giraffe\nAcademy")
print("Giraffe\"Academy")
phrase = "Giraffe Academy"
print(phrase)
#Concatenate
print(phrase + " is cool")
#Functions
print(phrase.lower())
print(phrase.upper())
print(phrase.isupper())
print(phrase.islower())
print(phrase.upper().isupper())
print(len(phrase))
print(phrase[0])#indexing
print(phrase.index("G"))
print(phrase.index("Acad"))#gives starting point of phrase-->8
#print(phrase.index("z"))#-->value error, substring not found
print(phrase.replace("Giraffe", "Elephant"))

Giraffe
Academy
Giraffe"Academy
Giraffe Academy
Giraffe Academy is cool
giraffe academy
GIRAFFE ACADEMY
False
False
True
15
G
0
8
Elephant Academy

In [2]:
#FREE CODE CAMP
print("Hello World")
#Drawing a shape
print("   /|")
print("  / |")
print(" /  |")
print("/___|")

#variables == container
char_name = "John"
char_age = "35"

print("There once was a man named " + char_name + ", ")
print("he was " + char_age + " years old.")
print("He really liked the name " + char_name + ", ")
print("but he didn't like being " + char_age + ".")

Hello World
   /|
  / |
 /  |
/___|
There once was a man named John,
he was 35 years old.
He really liked the name John,
but he didn't like being 35.

In [1]:
sentence = "apologizing is a virtue"
print(".%11s" % sentence)  # we get first 11 characters of the string

.apologizing is a virtue

In [2]:
fruit = 'Orange'
vegetable = 'Tomato'
amount = 4
print('The amount of {} we bought is {} pounds'.format(fruit, amount))
print('The amount of {} we bought is {} pounds'.format(vegetable, amount))

The amount of Orange we bought is 4 pounds
The amount of Tomato we bought is 4 pounds

In [3]:
print("{9} {7} {1} {10} {3} {2} {5} {8} {6} {0} {4}".format('in', 'know', 'bring', 'to', 'students.', 'out', 'best', 'teachers', 'the', 'Good', 'how'))

Good teachers know how to bring out the best in students.

In [4]:
fruit = 'Orange'
vegetable = 'Tomato'
amount = 6
output = f"The amount of {fruit} and {vegetable} we bought are totally {amount} pounds"
print(output)

The amount of Orange and Tomato we bought are totally 6 pounds

In [5]:
my_name = 'JOSEPH'
output = f"My name is {my_name.capitalize()}"
print(output)

My name is Joseph

In [6]:
first_name = "Gürkan"
last_name = "Yeşilyurt"
#output = "Hello, " + first_name + " " + last_name
#output = "Hello, {} {}".format(first_name, last_name)
#output = "Hello, {1}, {0}".format(first_name, last_name)
output = f"Hello, {first_name} {last_name}"
print(output)

Hello, Gürkan Yeşilyurt

In [7]:
text = 'www.clarusway.com'
print(text.endswith('om'))
print(text.startswith('w'))

True
True

In [8]:
print("Actions speaks louder than words".upper().swapcase().capitalize())

Actions speaks louder than words

In [9]:
Sentence = "Cafe Veneti'de çalışıyorum"
print(Sentence.upper())
print(Sentence.swapcase())
print(Sentence.capitalize())
print(Sentence.lower())
print(Sentence.title())

CAFE VENETI'DE ÇALIŞIYORUM
cAFE vENETI'DE ÇALIŞIYORUM
Cafe veneti'de çalışıyorum
cafe veneti'de çalışıyorum
Cafe Veneti'De Çalışıyorum

In [10]:
phrase1 = "There are 3 %s in the game room"
phrase2 = "There is only a %.5s here"
print(phrase1 % "children")
print(phrase2 % "children")
print("There is only a %.5s here" % "children")

There are 3 children in the game room
There is only a child here
There is only a child here

In [11]:
space_string = "  listen first    "
print(space_string.strip())

listen first

In [12]:
space_string = "  listen first    "
print(space_string.rstrip())

  listen first

In [13]:
source_string = "interoperability"
print(source_string.lstrip("in"))

teroperability

In [14]:
source_string = "interoperability"
print(source_string.rstrip("ty"))

interoperabili

In [1]:
"hello".upper()

'HELLO'

In [2]:
import pandas as pd

In [3]:
orders = pd.read_table("http://bit.ly/chiporders")
orders.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

to use string methods on pandas series **.str** kullan

In [4]:
orders.item_name.str.upper()

0                CHIPS AND FRESH TOMATO SALSA
1                                        IZZE
2                            NANTUCKET NECTAR
3       CHIPS AND TOMATILLO-GREEN CHILI SALSA
4                                CHICKEN BOWL
                        ...
4617                            STEAK BURRITO
4618                            STEAK BURRITO
4619                       CHICKEN SALAD BOWL
4620                       CHICKEN SALAD BOWL
4621                       CHICKEN SALAD BOWL
Name: item_name, Length: 4622, dtype: object

### String contains method

In [6]:
orders.item_name.str.contains("Chicken").head()

0    False
1    False
2    False
3    False
4     True
Name: item_name, dtype: bool

In [8]:
orders[orders.item_name.str.contains("Chicken")].head()

,order_id,quantity,item_name,choice_description,item_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25

### Chaining str methods

In [10]:
orders.choice_description.str.replace("[", "").str.replace("]", "")

0                                                     NaN
1                                              Clementine
2                                                   Apple
3                                                     NaN
4       Tomatillo-Red Chili Salsa (Hot), Black Beans, ...
                              ...
4617    Fresh Tomato Salsa, Rice, Black Beans, Sour Cr...
4618    Fresh Tomato Salsa, Rice, Sour Cream, Cheese, ...
4619    Fresh Tomato Salsa, Fajita Vegetables, Pinto B...
4620       Fresh Tomato Salsa, Fajita Vegetables, Lettuce
4621    Fresh Tomato Salsa, Fajita Vegetables, Pinto B...
Name: choice_description, Length: 4622, dtype: object

### Doing the same with Regular Expression

In [14]:
orders.choice_description.str.replace("[\[\]]", "")

0                                                     NaN
1                                              Clementine
2                                                   Apple
3                                                     NaN
4       Tomatillo-Red Chili Salsa (Hot), Black Beans, ...
                              ...
4617    Fresh Tomato Salsa, Rice, Black Beans, Sour Cr...
4618    Fresh Tomato Salsa, Rice, Sour Cream, Cheese, ...
4619    Fresh Tomato Salsa, Fajita Vegetables, Pinto B...
4620       Fresh Tomato Salsa, Fajita Vegetables, Lettuce
4621    Fresh Tomato Salsa, Fajita Vegetables, Pinto B...
Name: choice_description, Length: 4622, dtype: object