# Functions

Function: Block of organized, reusable code that is used to perform a single, related action. Functions provide better modularity for your application and a high degree of code reusing.

collection of code that does something

A function is; 
‚Ä¢ Section of the program or a block of code that is written once and can be executed whenever required in the program. 
‚Ä¢ Block of self-contained statements which has a valid name, parameters list, and body.

Functions make programming more functional and modular to perform modular tasks. Python provides several bifs to complete tasks and also allows a user to create new functions as well.

There are `two types of functions`: 
`Bifs`: copy(), len(), count() are the some built-in functions. 
`User-defined Functions`: Functions which are defined by a user known as user-defined functions.

# Built-in functions

Before coding a function be aware of built in ones. Maybe it exists.

There are range of functions and types `built into Pinterpreter`, already usable.

P3.8 has 69 bif.

Functions whose functionality is pre-defined. Pinterpreter has several functions that are always present for use. 

‚Ä¢ input()
‚Ä¢ len()
‚Ä¢ range()
‚Ä¢ print()
‚Ä¢ bool()
‚Ä¢ type()
‚Ä¢ str()
‚Ä¢ int()
‚Ä¢ float()
‚Ä¢ tuple()
‚Ä¢ list()
‚Ä¢ sum()
‚Ä¢ count()

# Bifs which return bool type

`all(iterable)`: Return True if bool(x) is True for all values x in the iterable. If the iterable is empty, return True.

In [9]:
all("erzurum")

True

In [13]:
all(range(0))

True

In [19]:
all(range(1,2))

True

In [17]:
list(range(0))

[]

`any(iterable)`: Return True if bool(x) is True for any x in the iterable. If the iterable is empty, return False.

In [20]:
any(range(0))

False

`callable(object)`: Return whether the object is callable (i.e., some kind of function). Note that classes are callable, as are instances of classes with a
__call__() method.

In [30]:
callable(map((lambda x:x**2), range(3)))

False

# Bifs for converting data types

`type()`: BiF shows what kind of object it is.

In [31]:
f = 3.14
type(f)

float

In [32]:
print(type(f))

<class 'float'>

‚Ä¢ Everything in Python is an object.
‚Ä¢ And there is different types of objects. Like lists, picture of strings, integers, floats.
‚Ä¢ These different types of objects has their own methods and properties associated. 
‚Ä¢ What kind of object is it? You find it with type() function. 
‚Ä¢ class term at the beginning: this object is based on the class of string or integer etc.

In [1]:
example = 'sometimes what you say is less important than how you say it'
print(type(example))

<class 'str'>

‚Ä¢ when these objects are based on this class they kind of inherit all of the properties and methods governed by that class. 
‚Ä¢ ex: upper is one of string method,  call this string with this method

In [3]:
example.upper()

'SOMETIMES WHAT YOU SAY IS LESS IMPORTANT THAN HOW YOU SAY IT'

### What is class?

In [ ]:
‚Ä¢  Class is a group
‚Ä¢  Class is a blueprint for how an object should look. 
‚Ä¢  It is not an object itself
‚Ä¢  It only describes how an object should look and behave
‚Ä¢  Then we can create a new object which is based on a particular class. 
‚Ä¢  And that class is going to govern how the object behaves, what methods and ttributes it has.

‚Ä¢ Ex: we wanna make a class named ninja to make some ninja objects. 
‚Ä¢ We would describe different attributes or functions or methods of a ninja within that class. 
‚Ä¢ Attributes would be named around the height etc. different properties in essence and, 
‚Ä¢ Functions and methods would be things that the means you can do.

`bool()`

In [ ]:
Returns True when the argument x is true, False otherwise.
The builtins True and False are the only two instances of the class bool.
The class bool is a subclass of the class int, and cannot be subclassed.

In [ ]:
fonksiyonun onun i√ßin kullanƒ±yoruz. eƒüer kesi≈üim k√ºmesi bo≈ü deƒüilse TRue bo≈ü ise False vermesi

`float()`

In [ ]:
Convert a string or number to a floating point number, if possible.

In [44]:
a=71
float(a)

71.0

`int()`: Converts to signed integer type

In [ ]:
Convert a number or string to an integer, or return 0 if no arguments
are given.  If x is a number, return x.__int__().  For floating point
numbers, this truncates towards zero.

If x is not a number or if base is given, then x must be a string,
bytes, or bytearray instance representing an integer literal in the
given base.  The literal can be preceded by '+' or '-' and be surrounded
by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
Base 0 means to interpret the base from the string as an integer literal.

In [41]:
a = "71"
type(a)

str

In [42]:
int(a)

71

`str()`

In [ ]:
Create a new string object from the given object. If encoding or
errors is specified, then the object must expose a data buffer
that will be decoded using the given encoding and error handler.
Otherwise, returns the result of object.__str__() (if defined)
or repr(object).

argument within paranthesis you put integer or float num

In [36]:
f=3.14 
str(f)

'3.14'

In [37]:
type(f)

float

In [10]:
f = 3.14
fNew=str(f)

In [39]:
type(fNew)

str

In [46]:
num = 5
print(str(num) + " is my favourite number")#any time you print number next to a string you must convert it to a string

5 is my favourite number

# Bifs to create and process the collection types.

`dict()`: new empty dictionary

In [49]:
dict()

{}

In [50]:
all(dict())

True

In [52]:
dict(animal = "dog", planet="neptun", number=40, pi =3.14, is_good=True)

{'animal': 'dog',
 'planet': 'neptun',
 'number': 40,
 'pi': 3.14,
 'is_good': True}

`list()`

In [53]:
list("I quit smoking")

['I', ' ', 'q', 'u', 'i', 't', ' ', 's', 'm', 'o', 'k', 'i', 'n', 'g']

In [54]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

`tuple()`

In [55]:
tuple('Alps')

('A', 'l', 'p', 's')

`set()`

`len()`

`len()` function return the number of items in a container.

Length (number of characters) of a text or a variable.

The formula syntax: `len`(`obj`, /)

In [8]:
len("tomato")

6

In [7]:
vegetable = 'Tomato'
print('length of the word', vegetable, 'is :', len(vegetable))

length of the word Tomato is : 6

In [14]:
text = ['one','two','three','four','five']
numbers = [1, 2, 3, 4, 5]
len(text)

5

In [15]:
len(numbers)

5

In [16]:
num = 1234
len(num)

TypeError: object of type 'int' has no len()

`frozenset()`

`zip()`

Return a zip object whose .__next__() method returns a tuple where the i-th element comes from the i-th iterable argument.

In [6]:
list(zip(text, numbers))

[('one', 1), ('two', 2), ('three', 3), ('four', 4), ('five', 5)]

üí°Tips :zip() function make an iterator that aggregates elements from each of the iterables.

In [4]:
text = ['one','two','three','four','five']
numbers = [1, 2, 3, 4, 5]
for x, y in zip(text, numbers):
    print(x, ':', y)

one : 1
two : 2
three : 3
four : 4
five : 5

In [2]:
text = ["one", "two", "three", "four", "five"]
numbers=[1,2,3,4,5]
for x,y in zip(text,numbers):
    print(x, ":", y)

one : 1
two : 2
three : 3
four : 4
five : 5

In [3]:
zip(text, numbers)

In [4]:
dict(zip(text, numbers))

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

In [5]:
list(zip(text, numbers))

[('one', 1), ('two', 2), ('three', 3), ('four', 4), ('five', 5)]

## filter() function

`filter(function, iterable)`

‚Ä¢ Extract Values From Iterables
‚Ä¢ filter() filters iterable objects with the help of a function (lambda) that tests each element in the sequence to be true or not.

### filtering with for loops

In [69]:
nums = [-2, -1, 0, 1, 2]

In [65]:
def posNumFunc(nums):
    posNumList = []
    for i in nums:
        if i > 0: # filtering condition
            posNumList.append(i)
    return posNumList

In [66]:
posNumFunc(nums)

[1, 2]

The loop in posNumFunc() iterates through nums and stores every number greater than 0 in positive_numbers. 
The conditional statement filters out the negative numbers and 0. 
This kind of functionality is known as a filtering.

### Filtering with Python

Python provides a convenient built-in function, filter(), that abstracts out the logic behind filtering operations.

The first argument, function, must be a single-argument function. 
Typically, you provide a predicate (Boolean-valued) function to this argument. 
In other words, you provide a function that returns either True or False according to a specific condition.

This function plays the role of a decision function, also known as a filtering function, because it provides the criteria to filter out unwanted values from the input iterable and to keep those values that you want in the resulting iterable. 
Note that the term unwanted values refers to those values that evaluate to false when filter() processes them using function.

The second argument, iterable, can hold any Python iterable, such as a list, tuple, or set. It can also hold generator and iterator objects. An important point regarding filter() is that it accepts only one iterable.

To perform the filtering process, filter() applies function to every item of iterable in a loop. The result is an iterator that yields the values of iterable for which function returns a true value. The process doesn‚Äôt modify the original input iterable.

### Using a lambda function

In [76]:
filter(lambda x: x>0, nums)

In [78]:
posNums = filter(lambda x: x>0, nums)
list(posNums)

[1, 2]

### Using a user-defined function

In [79]:
def is_positive(n):
    return n > 0

In [81]:
list(filter(is_positive, nums))

[1, 2]

#### Extracting even nums

In [83]:
numbers = [1, 3, 10, 45, 6, 50]
evenNums = filter(lambda x: x%2==0, numbers)
evenNums

In [4]:
first_ten = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] 
even = filter(lambda x: x%2==0, first_ten)
print(type(even))
print("even numbers are: ", list(even))

<class 'filter'>
even numbers are:  [0, 2, 4, 6, 8]

In [6]:
vowel_list = ['a', 'e', 'i', 'o', 'u']
first_ten = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
vowels = filter(lambda x: True if x in vowel_list else False, first_ten )
print("Vowels are:", list(vowels))

Vowels are: ['a', 'e', 'i']

`enumerate()`: Convert a tuple into an enumerate object.

In [56]:
x = ('apple', 'banana', 'cherry')
y = enumerate(x)
y

The enumerate() function takes a collection (e.g. a tuple) and returns it as an enumerate object.

The enumerate() function adds a counter as the key of the enumerate object.

syntax: `enumerate`(`iterable`, `start`)

A lot of times when dealing with iterators, we also get a need to keep a count of iterations. Python eases the programmers‚Äô task by providing a built-in function enumerate() for this task. Enumerate() method adds a counter to an iterable and returns it in a form of enumerate object. This enumerate object can then be used directly in for loops or be converted into a list of tuples using list() method.

In [57]:
# Python program to illustrate enumerate function

In [58]:
l1 = ["eat","sleep","repeat"] 
s1 = "geek"

In [59]:
# creating enumerate objects

In [60]:
obj1 = enumerate(l1) 
obj2 = enumerate(s1)

In [61]:
type(obj1)

enumerate

In [62]:
list(enumerate(l1))

[(0, 'eat'), (1, 'sleep'), (2, 'repeat')]

In [63]:
list(enumerate(s1))

[(0, 'g'), (1, 'e'), (2, 'e'), (3, 'k')]

In [64]:
# changing start index to 2 from 0

In [65]:
list(enumerate(s1,2))

[(2, 'g'), (3, 'e'), (4, 'e'), (5, 'k')]

In [66]:
name = "gurkan"
obj = enumerate(name)
obj
list(obj)

[(0, 'g'), (1, 'u'), (2, 'r'), (3, 'k'), (4, 'a'), (5, 'n')]

The enumerate object yields pairs containing a count (from start, which defaults to zero) and a value yielded by the iterable argument.

enumerate is useful for obtaining an indexed list

In [67]:
grocery = ["bread", "water", "olive"]
enumerate(grocery)
print(list(enumerate(grocery)))
print(dict(enumerate(grocery, 5)))

[(0, 'bread'), (1, 'water'), (2, 'olive')]
{5: 'bread', 6: 'water', 7: 'olive'}

# Bifs for tackling numbers

### max()

With a single iterable argument, return its biggest item. 
The default keyword-only argument specifies an object to return if the provided iterable is empty.

max(iterable, *[, default=obj, key=func]) -> value

In [3]:
numbers = [1, 3, 7, 4, 3, 0, 3, 6, 3]

In [7]:
max(numbers)

7

In [9]:
max(numbers, key = numbers.count) # numbers.count(3) fonksiyonu en √ßok tekrarlandƒ±ƒüƒ± i√ßin (4 kez) 3 d√∂ner.

3

max(arg1, arg2, *args, *[, key=func]) -> value

`min()`

`sum()`

sum(iterable, start=0, /)

Return the sum of a 'start' value (default: 0) plus an iterable of numbers
When the iterable is empty, return the start value.
This function is intended specifically for use with numeric values and may
reject non-numeric types.

`round()`

round(numbers, ndigits)

# Bifs for special purposes ~ complemented implementations

`eval()`

In [ ]:
eval(expression[, globals[, locals]])

`sorted()`

In [ ]:
sorted(iterable)

`open()`

`dir()`

In [ ]:
dir([object])

`hash()`

In [ ]:
`help()`

In [ ]:
help([object])

## input() function

`Docstring`: Read a string from standard input. The trailing newline is stripped.

The prompt string, if given, is printed to standard output without a trailing newline before reading input.

In [2]:
input("enter a number")

enter a num3

'3'

### get the value of different data types

üí°Tips : If you want the user to input numbers, use the input() function together with the int() function.
Otherwise, the value entered by the user will be in the string dt.

In [3]:
int(input("enter a number"))

enter a number3

3

### Assigning to a variable

In [1]:
times = int(input("How many times should I say 'I love you'"))#it gets a number and assigns it to times.
for i in range(times): #range fonk. (start, stop, step), burda girilen rakam stoptur
    print("I love you")

How many times should I say 'I love you'2
I love you
I love you

Now, let's write a code that asks the user a number between 1 and 10 and puts that number into the multiplication table.

In [2]:
n = int(input('enter a number between 1-10'))
for i in range(11):
    print('{}x{} = '.format(n, i), n*i)

enter a number between 1-102
2x0 =  0
2x1 =  2
2x2 =  4
2x3 =  6
2x4 =  8
2x5 =  10
2x6 =  12
2x7 =  14
2x8 =  16
2x9 =  18
2x10 =  20

‚úèÔ∏èHomework: Write the same code above by yourself but using üëâüèª% operator in print() function.

Explanation or `user manual` of function (code bloc) or module (long code bloc).

Stored as an `attribute` of the function or the module that you can access them programmatically.

Docstring runs as an explanatory text of codes and it should be written between triple quotes. Like: """docstring""".

**Syntax**: print(`function_name`.`__doc__`)

In [4]:
print(input.__doc__)

Forward raw_input to frontends

        Raises
        ------
        StdinNotImplentedError if active frontend doesn't support stdin.

Read a string from standard input.  The trailing newline is stripped.

Takes a value from the user and assigns it to a variable.

Input statement always returns string. To treat is as a number use: float(price)

### Leap year

A leap year is exactly divisible by 4 except for century years (years ending with 00). 
The century year is a leap year only if it is perfectly divisible by 400. 
Write a Python program to check if year is a leap year or not

In [14]:
year = int(input("Enter a year in 4-digit format to check if leap or not: "))
if (year %4==0) & (year %400==0):
    print("{} is a leap year".format(year))
else: print("{} is not a leap year".format(year))

Enter a year in 4-digit format to check if leap or not: 3000
3000 is not a leap year

In [ ]:
a = int(input("Bir sayƒ± giriniz:"))
b = int(input("Bir sayƒ± giriniz:"))
c = int(input("Bir sayƒ± giriniz:"))

√ßarpƒ±m = a*b*c
print("Result of {}*{}*{} is {}".format(a, b, c, √ßarpƒ±m))

In [ ]:
boy = float(input("Boyun ka√ß garda≈ü (m): "))
kilo = int(input("Kilon ka√ß garda≈ü: "))
bki= kilo/boy**2
print(bki)

In [ ]:
a = input("bir sayƒ± giriniz: ")
b = int(input("bir sayƒ± giriniz: "))
a, b = b, a
print(a, b, sep="\n")

In [ ]:
adƒ± = input("adƒ±nƒ± gir garda≈ü: ")
soyadƒ± = input("soyadƒ± l√ºtfen: ")
numara = input("no: ")
#print("Benim adƒ±m {}, soyadƒ±m {}'dƒ±r. Numaramƒ± vermem garda≈ü".format(adƒ±, soyadƒ±))
print("adƒ±:%s" %adƒ±)

In [ ]:
word = input("Bir kelime giriniz: ")
seperation = input("Bir separation giriniz: ")
repetition = int(input("Bir repetisyon giriniz: "))
output = repetition* (word + seperation)
print(output)
print(output[:-1])

In [ ]:
word = input("Please enter a word: ")
number = int(input("Please enter a number: "))
new_word = word[-number::]
print(number*new_word)

In [ ]:
say = int(input("bir sayƒ± giriniz: "))
a = "Fizz"
b = "Buzz"
c = (say%3==0)*a + (say%5==0)*b or say
print(c)

In [ ]:
fruit = 'Orange'
print('Word                    : ' , fruit)
print('First letter            : ' , fruit[0])
print('Second letter           : ' , fruit[1])
print("3rd to 5th letters      : " , fruit[2:5])
print("Letter all after 3rd    : " , fruit[2:])

In [ ]:
isim = "G√ºrkan"
print(isim)
print("ƒ∞sminiz: ", isim)
print("ƒ∞lk Harf: ", isim[0])
print("3'ten 5'e kadar harfler: ", isim[2:5])
print("3'ten sonraki t√ºm harfler: ", isim[2:])
print(isim[:])
print(isim[2:6:2])

In [ ]:
vegetable = 'Tomato'
print('length of the word', vegetable, 'is :', len(vegetable))

In [ ]:
fruit = "melon"
print(len(fruit))
print("length of the word", fruit, "is: ", len(fruit))

In [ ]:
warning = "You must quit smoking!"
#print(warning)
#print(len(warning))
#print("length of the sentence", warning, "is: ", len(warning))
print(len(list(warning)))

In [ ]:
x = 12
y = x + 21
x = 2
print(y//x)

In [ ]:
x = 12
y = 21
print(x+y)

In [ ]:
#free code camp

In [ ]:
name = input("enter your name: ") #store input inside a variable name
age = input("enter your age: ")
"Hello " + name.capitalize() +"! "+ "You're " + age + " years old."


### calculator

In [ ]:
num1=input("Enter a number")
num2 = input("Enter another number")
result = float(num1)+float(num2)
print(result)

### mad libs

In [ ]:
color = input("Enter a color")
pluralNoun= input("Enter a plural noun")
celebrity = input("Enter a celebrity")

print("Roses are " + color)
print(pluralNoun + " are blue")
print("I love " + celebrity)

In [ ]:
first_name = input("Please enter your first name")
second_name = input("Please enter your second name")
print("Hello " + first_name.capitalize() + " " + second_name.upper())

#### Example: Write a code that asks the user a number between 1 and 10 and puts that number into the multiplication table.

In [ ]:
a = int(input("enter a number between 1 and 10"))
for i in range(1,11):
    #print(a*i)
    print("{}x{}= ".format(a,i), a*i)
    #print("%dx%d= "%(a,i))

In [2]:
name = input("name")
password = int(input("password"))
def login(name, password):
    if password ==1234 and name=="gurkan":
        print("hello owny")
    else: print("wrong credentials")

namegurkan
password1234

In [3]:
login("ahmet", 1234)

wrong credentials

In [4]:
login("gurkan", 1234)

hello owny

# map() Function

map function executes the function given as the first argument on all the elements of the iterable given as the second argument. If the function given takes in more than 1 arguments, then many iterables are given.

map(function, iterable, ...)

In [6]:
print(map.__doc__)

map(func, *iterables) --> map object

Make an iterator that computes the function using arguments from
each of the iterables.  Stops when the shortest iterable is exhausted.

`iterable`: elemanlarƒ±na ayrƒ±labilen demektir.

In [7]:
print(* "erzurum", sep = ",")

e,r,z,u,r,u,m

`map()` returns a list of outputs after applying the function to each els of iterable.

The basic formula syntax is : `map(function, iterable)`

üí°Tips : map() takes iterable objects one by one and in order.

In [2]:
map((lambda x: x**2), range(5))

In [3]:
list(map(lambda x: x**2, range(5)))

[0, 1, 4, 9, 16]

In [4]:
seq = ['soup','dog','salad','cat','great']
list(map(lambda x: x*2, seq))

['soupsoup', 'dogdog', 'saladsalad', 'catcat', 'greatgreat']

In [5]:
def times2(var):
    return var*2
list(map(times2, seq))

['soupsoup', 'dogdog', 'saladsalad', 'catcat', 'greatgreat']

## Map, applies any function to iterables (list etc.)¬∂

Example: square all the numbers in the list using `map()` and `lambda`.

In [5]:
iterable = [1, 2, 3, 4, 5]
map(lambda x:x**2, iterable)
result = map(lambda x:x**2, iterable)
print(type(result))  # it's a map type
print(list(result))  # we've converted it to list type to print
print(list(map(lambda x:x**2, iterable)))  # you can print directly

<class 'map'>
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

# print() function

`Docstring`

In [43]:
print(print.__doc__)

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

`print()` function is most frequently used function. (constant changes and see the results).

One expression in parentheses separated by üëâ comma (,)

In [8]:
print("Yesterday I ate", 2, "apples.")

Yesterday I ate 2 apples.

## Kwargs

Kwargs run in the background of the `print()` function.

print(value, ..., `sep`=' ', `end`='\n', file=sys.stdout, `flush`=False)

`sep` = " " : More than one expression - are joined to each other by spaces(default). If you put "," then joined by commas.

In [9]:
print("Yesterday I ate", 2, "apples.", sep = "*")

Yesterday I ate*2*apples.

`end` = command combined all expressions with space in a single line.

In [ ]:
If we didn't use end=' ', we would normally get 4 lines of output.

`print()` function by default `prints in new line`. `End argument` manages that. Ex: Continue same line if end="".

In [1]:
print('i')
print() # bo≈ü satƒ±r atar
print('will say')
print("'i missed you'")
print('to my mother')

i

will say
'i missed you'
to my mother

In [10]:
print('i', end=' ')
print('will say', end=' ')
print("'i missed you'", end=' ')
print('to my mother')

i will say 'i missed you' to my mother

In [7]:
text = ("Clarusway", "Clarusway", "Clarusway", "\n", "\t", "Clarusway", "Clarusway", "Clarusway", "\n","\t", "\t", "Clarusway", "Clarusway", "Clarusway")
print(text)

('Clarusway', 'Clarusway', 'Clarusway', '\n', '\t', 'Clarusway', 'Clarusway', 'Clarusway', '\n', '\t', '\t', 'Clarusway', 'Clarusway', 'Clarusway')

In [8]:
text = ("Clarusway, Clarusway, Clarusway, \n\tClarusway, Clarusway, Clarusway,") 
text2= ("\n\t\tClarusway, Clarusway, Clarusway ")
print(text + text2)

Clarusway, Clarusway, Clarusway,
	Clarusway, Clarusway, Clarusway,
		Clarusway, Clarusway, Clarusway

In [9]:
print(2 and 3)

3

In [ ]:
print(1 and 0)

# range() function

‚óã range() function: returns an object that produces a sequence of integers from start (including) to stop (excluding) by step.

The formula syntax is : range(start, stop[, step])

‚Ä¢ `range()` function creates an `iterable sequence of nums`.

In [1]:
range(11)

range(0, 11)

‚Ä¢ And it can be converted into an `iterable object` with list, set, and tuple.

In [2]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

‚Ä¢ The formula syntax: `range`(`start`, `stop`, `step`)

In [19]:
list(range(1,30,10))

[1, 11, 21]

one : 1
two : 2
three : 3
four : 4
five : 5

Return an object that produces a sequence of integers from start (inclusive) to stop (exclusive) by step.

In [12]:
range(0,11)

range(0, 11)

In [13]:
type(range(0,11))

range

One way to create iterable sequence of numbers. This can be simply converted into an iterable object: list, set, and tuple.

In [16]:
list(range(5, 11))

[5, 6, 7, 8, 9, 10]

In [17]:
set(range(0,11))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [18]:
tuple(range(11))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [20]:
list(range(30,3, -3))

[30, 27, 24, 21, 18, 15, 12, 9, 6]

`Starred expression` üëâüèª* before range() function to separate its elements.

In [21]:
range(5)

range(0, 5)

In [22]:
print(range(5))

range(0, 5)

In [24]:
print(*range(5))

0 1 2 3 4

In [25]:
print(*range(5,25,2))

5 7 9 11 13 15 17 19 21 23

`Starred expression`: separates other iterable objects. For example, you can separate a string:

In [26]:
print(*("separate"))

s e p a r a t e

In [31]:
seq = range(1,5)
for i in seq:
    print(i)

1
2
3
4

In [32]:
range(3,12)

range(3, 12)

In [34]:
for i in range(3,12):
    print (i)

3
4
5
6
7
8
9
10
11

In [35]:
times = int(input("How many times should I say 'I love you'"))
for i in range(times):
    print('I love you')

How many times should I say 'I love you'3
I love you
I love you
I love you

In [36]:
for num in range(10):
    print(num)#stop number is excluded.

0
1
2
3
4
5
6
7
8
9

In [37]:
x = list(range(10))
print (x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
friends = ["Mark", "Shawn", "Sarah", "Mike", "Robert", "John", "Stewart"]
len(friends)

7

Example: make a list of numbers from 1 to 10 using 'range()' function and select even ones:

In [39]:
odd = []
even= []
for i in list(range(1,11)):
    if i %2==0:
        even.append(i)
    else: odd.append(i)
print(odd)
print(even)

[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]

In [40]:
count = list(range(1,11))
print(count)
print(count[1:11:2])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10]

In [41]:
list(range(2,11,2))

[2, 4, 6, 8, 10]

## count() function

Docstring: Return number of occurrences of value.

In [1]:
numbers = [1, 3, 7, 4, 3, 0, 3, 6, 3]

In [2]:
numbers.count(3)

4