# Functions

Function: Block of organized, reusable code that is used to perform a single, related action. Functions provide better modularity for your application and a high degree of code reusing.

# Built-in functions

"""
Functions whose functionality is pre-defined. Pinterpreter has several functions that are always present for use. 

‚Ä¢ input()
‚Ä¢ len()
‚Ä¢ range()
‚Ä¢ print()
‚Ä¢ bool()
‚Ä¢ type()
‚Ä¢ str()
‚Ä¢ int()
‚Ä¢ float()
‚Ä¢ tuple()
‚Ä¢ list()
"""

## input() function

Read a string from standard input.  The trailing newline is stripped.

Takes a value from the user and assigns it to a variable.

Input statement always returns string. To treat is as a number use: float(price)

In [ ]:
a = int(input("Bir sayƒ± giriniz:"))
b = int(input("Bir sayƒ± giriniz:"))
c = int(input("Bir sayƒ± giriniz:"))

√ßarpƒ±m = a*b*c
print("Result of {}*{}*{} is {}".format(a, b, c, √ßarpƒ±m))

In [ ]:
boy = float(input("Boyun ka√ß garda≈ü (m): "))
kilo = int(input("Kilon ka√ß garda≈ü: "))
bki= kilo/boy**2
print(bki)

In [ ]:
a = input("bir sayƒ± giriniz: ")
b = int(input("bir sayƒ± giriniz: "))
a, b = b, a
print(a, b, sep="\n")

In [ ]:
adƒ± = input("adƒ±nƒ± gir garda≈ü: ")
soyadƒ± = input("soyadƒ± l√ºtfen: ")
numara = input("no: ")
#print("Benim adƒ±m {}, soyadƒ±m {}'dƒ±r. Numaramƒ± vermem garda≈ü".format(adƒ±, soyadƒ±))
print("adƒ±:%s" %adƒ±)

In [ ]:
word = input("Bir kelime giriniz: ")
seperation = input("Bir separation giriniz: ")
repetition = int(input("Bir repetisyon giriniz: "))
output = repetition* (word + seperation)
print(output)
print(output[:-1])

In [ ]:
word = input("Please enter a word: ")
number = int(input("Please enter a number: "))
new_word = word[-number::]
print(number*new_word)

In [ ]:
say = int(input("bir sayƒ± giriniz: "))
a = "Fizz"
b = "Buzz"
c = (say%3==0)*a + (say%5==0)*b or say
print(c)

In [ ]:
fruit = 'Orange'
print('Word                    : ' , fruit)
print('First letter            : ' , fruit[0])
print('Second letter           : ' , fruit[1])
print("3rd to 5th letters      : " , fruit[2:5])
print("Letter all after 3rd    : " , fruit[2:])

In [ ]:
isim = "G√ºrkan"
print(isim)
print("ƒ∞sminiz: ", isim)
print("ƒ∞lk Harf: ", isim[0])
print("3'ten 5'e kadar harfler: ", isim[2:5])
print("3'ten sonraki t√ºm harfler: ", isim[2:])
print(isim[:])
print(isim[2:6:2])

In [ ]:
vegetable = 'Tomato'
print('length of the word', vegetable, 'is :', len(vegetable))

In [ ]:
fruit = "melon"
print(len(fruit))
print("length of the word", fruit, "is: ", len(fruit))

In [ ]:
warning = "You must quit smoking!"
#print(warning)
#print(len(warning))
#print("length of the sentence", warning, "is: ", len(warning))
print(len(list(warning)))

In [ ]:
x = 12
y = x + 21
x = 2
print(y//x)

In [ ]:
x = 12
y = 21
print(x+y)

In [ ]:
#free code camp

In [ ]:
name = input("enter your name: ") #store input inside a variable name
age = input("enter your age: ")
"Hello " + name.capitalize() +"! "+ "You're " + age + " years old."


### calculator

In [ ]:
num1=input("Enter a number")
num2 = input("Enter another number")
result = float(num1)+float(num2)
print(result)

### mad libs

In [ ]:
color = input("Enter a color")
pluralNoun= input("Enter a plural noun")
celebrity = input("Enter a celebrity")

print("Roses are " + color)
print(pluralNoun + " are blue")
print("I love " + celebrity)

In [ ]:
first_name = input("Please enter your first name")
second_name = input("Please enter your second name")
print("Hello " + first_name.capitalize() + " " + second_name.upper())

#### Example: Write a code that asks the user a number between 1 and 10 and puts that number into the multiplication table.

In [ ]:
a = int(input("enter a number between 1 and 10"))
for i in range(1,11):
    #print(a*i)
    print("{}x{}= ".format(a,i), a*i)
    #print("%dx%d= "%(a,i))

In [2]:
name = input("name")
password = int(input("password"))
def login(name, password):
    if password ==1234 and name=="gurkan":
        print("hello owny")
    else: print("wrong credentials")

namegurkan
password1234

In [3]:
login("ahmet", 1234)

wrong credentials

In [4]:
login("gurkan", 1234)

hello owny

# bool() function

 fonksiyonun onun i√ßin kullanƒ±yoruz. eƒüer kesi≈üim k√ºmesi bo≈ü deƒüilse TRue bo≈ü ise False vermesi

In [42]:
left_bool = bool(setword.intersection(setleft))

NameError: name 'setword' is not defined

# map() Function

`map()` returns a list of outputs after applying the function to each els of iterable.

The basic formula syntax is : `map(function, iterable)`

In [2]:
map((lambda x: x**2), range(5))

In [3]:
list(map(lambda x: x**2, range(5)))

[0, 1, 4, 9, 16]

In [4]:
seq = ['soup','dog','salad','cat','great']
list(map(lambda x: x*2, seq))

['soupsoup', 'dogdog', 'saladsalad', 'catcat', 'greatgreat']

In [5]:
def times2(var):
    return var*2
list(map(times2, seq))

['soupsoup', 'dogdog', 'saladsalad', 'catcat', 'greatgreat']

## Map, applies any function to iterables (list etc.)¬∂

Example: square all the numbers in the list using `map()` and `lambda`.

In [ ]:
iterable = [1, 2, 3, 4, 5]
map(lambda x:x**2, iterable)
result = map(lambda x:x**2, iterable)
print(type(result))  # it's a map type
print(list(result))  # we've converted it to list type to print
print(list(map(lambda x:x**2, iterable)))  # you can print directly

# print() function

`Docstring`

In [43]:
print(print.__doc__)

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

`print()` function is most frequently used function. (constant changes and see the results).

One expression in parentheses separated by üëâ comma (,)

In [8]:
print("Yesterday I ate", 2, "apples.")

Yesterday I ate 2 apples.

## Kwargs

Kwargs run in the background of the `print()` function.

print(value, ..., `sep`=' ', `end`='\n', file=sys.stdout, `flush`=False)

`sep` = " " : More than one expression - are joined to each other by spaces(default). If you put "," then joined by commas.

In [9]:
print("Yesterday I ate", 2, "apples.", sep = "*")

Yesterday I ate*2*apples.

`end` = command combined all expressions with space in a single line.

In [ ]:
If we didn't use end=' ', we would normally get 4 lines of output.

`print()` function by default `prints in new line`. `End argument` manages that. Ex: Continue same line if end="".

In [11]:
print('i')
print('will say')
print("'i missed you'")
print('to my mother')

i
will say
'i missed you'
to my mother

In [10]:
print('i', end=' ')
print('will say', end=' ')
print("'i missed you'", end=' ')
print('to my mother')

i will say 'i missed you' to my mother

# range() function

Return an object that produces a sequence of integers from start (inclusive) to stop (exclusive) by step.

In [12]:
range(0,11)

range(0, 11)

In [13]:
type(range(0,11))

range

One way to create iterable sequence of numbers. This can be simply converted into an iterable object: list, set, and tuple.

In [16]:
list(range(5, 11))

[5, 6, 7, 8, 9, 10]

In [17]:
set(range(0,11))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [18]:
tuple(range(11))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

**The formula syntax**: `range`(`start`, `stop`, `step`)

In [19]:
list(range(1,30,10))

[1, 11, 21]

In [20]:
list(range(30,3, -3))

[30, 27, 24, 21, 18, 15, 12, 9, 6]

`Starred expression` üëâüèª* before range() function to separate its elements.

In [21]:
range(5)

range(0, 5)

In [22]:
print(range(5))

range(0, 5)

In [24]:
print(*range(5))

0 1 2 3 4

In [25]:
print(*range(5,25,2))

5 7 9 11 13 15 17 19 21 23

`Starred expression`: separates other iterable objects. For example, you can separate a string:

In [26]:
print(*("separate"))

s e p a r a t e

In [31]:
seq = range(1,5)
for i in seq:
    print(i)

1
2
3
4

In [32]:
range(3,12)

range(3, 12)

In [34]:
for i in range(3,12):
    print (i)

3
4
5
6
7
8
9
10
11

In [35]:
times = int(input("How many times should I say 'I love you'"))
for i in range(times):
    print('I love you')

How many times should I say 'I love you'3
I love you
I love you
I love you

In [36]:
for num in range(10):
    print(num)#stop number is excluded.

0
1
2
3
4
5
6
7
8
9

In [37]:
x = list(range(10))
print (x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
friends = ["Mark", "Shawn", "Sarah", "Mike", "Robert", "John", "Stewart"]
len(friends)

7

Example: make a list of numbers from 1 to 10 using 'range()' function and select even ones:

In [39]:
odd = []
even= []
for i in list(range(1,11)):
    if i %2==0:
        even.append(i)
    else: odd.append(i)
print(odd)
print(even)

[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]

In [40]:
count = list(range(1,11))
print(count)
print(count[1:11:2])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10]

In [41]:
list(range(2,11,2))

[2, 4, 6, 8, 10]