# Lambda Functions

üëâ A lambda function is an anonymous function in Python. It is another way to define functions.

## Why lambda function?

‚Ä¢ If function is to be used one-time, it is best option.

## Advantages of the lambda function

1. Simple syntax, easy to read
2. Assignable to a variable
3. May be used in several built-in functions
4. Useful inside user-defined functions (def)

## Defining a Lambda Function

**The formula syntax**: `lambda` `parameters` : expression

lambda keyword is used to define a function instead of "def".
Lambda functions can have any number of parameters but only one statement.

Input with arguments ---> `Œª` --->outputs

### `def` and `lambda` Functions

## Differences Between lambda and def

- Def can hold multiple expressions while lambda is a uni-expression function.
- Def generates a function and designates a name to call it later. Lambda forms a function object and returns it.
- Def can have a return statement. Lambda can‚Äôt have return statements. 
- Lambda supports to get used inside a list and dictionary.

In [1]:
def square(a):
    return a**2
square(3)

9

In [2]:
lambda x: x**2

## lambda first type of usage

### Single parameter

In [3]:
(lambda x: x**2) (3)

9

In [8]:
a = (lambda x: x**2)(3)
print(a)

9

### Multiple parameters

üëâ Lambda function can take multiple parameters separated by commas, but it must be defined with a single expression. 

This expression is evaluated and the result is returned

‚ö†Ô∏èAvoid: Note that you do not need to use return statement in lambda functions.

In [57]:
(lambda x,y: x+y/2)(2,6) # x and y are parameters, written with comma.

5.0

In [29]:
letter1 = ['o', 's', 't', 't']
letter2 = ['n', 'i', 'e', 'w']
letter3 = ['e', 'x', 'n', 'o']
list(map(lambda x, y, z: x+y+z, letter1, letter2, letter3))

['one', 'six', 'ten', 'two']

In [36]:
nums1 = [9, 6, 7, 4]
nums2 = [3, 6, 5, 8]
list(map(lambda nums1, nums2: (nums1+nums2)/2, nums1, nums2))

[6.0, 6.0, 6.0, 6.0]

In [47]:
words1 = ["you", "much", "hard"]
words2 = ["i", "you", "he"]
words3 = ["love", "ate", "works"]
list(map(lambda x,y,z: x+ " " + y +" " + z, words1, words2, words3 ))

['you i love', 'much you ate', 'hard he works']

## lambda second type of usage

This usage resembles def. 
You assign a lambda function to a variable, and call it.

In [58]:
square = lambda x: x**2 # like def
square(4)

16

In [61]:
average = lambda x,y: (x+y)/2
average(2,4)

3.0

In [2]:
reverse = lambda x: x[::-1]
reverse("call it man!")

'!nam ti llac'

### Conditional statements

Formula syntax

`lambda` `parameters`: `first_result` **if** `conditional statement` **else** `second_result`

In [7]:
lambda x: "odd" if x % 2 != 0 else "even"

In [8]:
(lambda x: "odd" if x%2==1 else "even") (2)

'even'

‚ö†Ô∏èAvoid: Note that you can't use the usual conditional statement with lambda def.

In [9]:
nums = [-12, 21, 10, 2, 3, 4]
odd = []
even = []
list(map(lambda x: odd.append(x) if x % 2 ==1 else even.append(x), nums))
print(odd)
print(even)

[21, 3]
[-12, 10, 2, 4]

In [15]:
for x in nums:
    print(x, ":",(lambda a: "odd" if a % 2 !=0 else "even")(x))

-12 : even
21 : odd
10 : even
2 : even
3 : odd
4 : even

### Assigning lambda function to a variable,

In [16]:
echo_word = (lambda x, y: x*y)(3, "hello ")

In [15]:
print(echo_word)

hello hello hello

### How does it work?

## 1.By enclosing the function in `parentheses`

The formula syntax is : (`lambda` `parameters` : `expression`)|(`arguments`)

In [19]:
(lambda x: x**2)(2)  # squares '2' #Def can hold multiple expressions while lambda is a uni-expression function.

4

In [21]:
(lambda x,y: (x+y)/2)(2,3)

2.5

## 2.By assigning a function object to a `variable`

In [24]:
average = (lambda x,y: (x+y)/2)(2,3)
average

2.5

In [29]:
mean = lambda x, y: (x+y)/2
mean(2,4)

3.0

assigning lambda function to a nested variables

In [30]:
multiply = lambda x: x * 4
add = lambda x, y: x + y
print(add(multiply(10), 5))

45

## 3.Lambda within `Bifs`

‚Ä¢ We may need built in function + additional functions. 
‚Ä¢ This can be done by def, but with lambda save time and make it clear to read.

### Lambda within map() function :

‚Ä¢ map() returns a list of outputs after applying the function to each elements of iterable.

The basic formula syntax is : map(function, iterable)

In [23]:
seq = ['soup','dog','salad','cat','great']

In [2]:
list(map(lambda x: x*2, seq))

['soupsoup', 'dogdog', 'saladsalad', 'catcat', 'greatgreat']

In [27]:
list =[]
for i in seq:
    list.append(i*2)
list

['soupsoup', 'dogdog', 'saladsalad', 'catcat', 'greatgreat']

In [30]:
seq = ['soup','dog','salad','cat','great']
def times2(var):
    set(map(times2, seq)) # This error occurred because you previously used list object. Never call list() object, if you ever used list before.

In [31]:
seq = ['soup','dog','salad','cat','great']
def times2(var):
    return var*2
set(map(times2, seq))

{'catcat', 'dogdog', 'greatgreat', 'saladsalad', 'soupsoup'}

In [41]:
for i in map(times2, seq):
    print(i)

soupsoup
dogdog
saladsalad
catcat
greatgreat

‚Ä¢ Example: square all the numbers in the list using map() and lambda.

In [1]:
iterable = [1, 2, 3, 4, 5]
list(map(lambda x: x**2, iterable))

[1, 4, 9, 16, 25]

‚òù Using def there are at least two additional lines of code. If we will not use the square function again we can put lambda expression in map() function.

‚Ä¢ Example with multiple arguments:

In [10]:
letter1 = ['o', 's', 't', 't']
letter2 = ['n', 'i', 'e', 'w']
letter3 = ['e', 'x', 'n', 'o']
list(map(lambda x,y,z: x+y+z, letter1, letter2, letter3))# We have combined 3 strings using üëâüèª+ operator in the lambda definition.

['one', 'six', 'ten', 'two']

In [ ]:
nums = [1, 2, 3, 4, 5]
list(map(lambda x: x*3, nums))

## Lambda within filter() function :

### filter the even nums

In [13]:
first_ten = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] 
even_nums = list(filter(lambda x: x%2==0, first_ten))# it's 'filter' type, IOT print the result, better convert it to list
print("Even nums are: ", even_nums )

Even nums are:  [0, 2, 4, 6, 8]

In [4]:
number_list=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(filter(lambda x: x%2==1, number_list))

[1, 3, 5, 7, 9]

‚Ä¢ lambda expression takes in a number (x) and returns a true or false value based off some sort of conditional operation.
‚Ä¢ So a filter must be using some sort of function or lambda expression that returns a boolean value. 
‚Ä¢ Then pass it into an iterable object.
‚Ä¢ And when you call list on it it will only return the values where this statement happened to be true.

üí°Tips: filter() filters each element in the iterable object, depending on whether the function's result is True or False.

### filter the vowels from the first ten letters in the list.

In [16]:
vowel_list = ['a', 'e', 'i', 'o', 'u']
first_ten = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
vowels = list(filter(lambda x: x in vowel_list, first_ten))
#vowels = filter(lambda x: True if x in vowel_list else False, first_ten) 
print("Vowels are: ", vowels )

Vowels are:  ['a', 'e', 'i']

‚òù lambda definition in this ex gives only True or False as a result.

### filtering the words

In [14]:
words = ["apple", "swim", "clock", "me", "kiwi", "banana"]

In [20]:
filtered = []
for i in words:
    if len(i) > 4:
        filtered.append(i)
print(filtered)

['apple', 'clock', 'banana']

In [22]:
list(filter(lambda x: len(x)>4, words))

['apple', 'clock', 'banana']

In [25]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(filter(lambda x: x>5, nums))

[6, 7, 8, 9, 10]

In [26]:
number_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] 
divisible_list = filter(lambda x:x%3==0, number_list) 
print(list(divisible_list))

[0, 3, 6, 9, 12]

## Lambda within User-Defined Functions

‚Ä¢ Using a lambda statement in a user-defined function provides advantages. 
‚Ä¢ We can define a group of functions that we may use later in our program flow.

In [3]:
def modular_function(n):
    return lambda x: x ** n

power_of_2 = modular_function(2)  # first sub-function derived from def
power_of_3 = modular_function(3)  # second sub-function derived from def
power_of_4 = modular_function(4)  # third sub-function derived from def

print(power_of_2(2))  # 2 to the power of 2
print(power_of_3(2))  # 2 to the power of 3
print(power_of_4(2))  # 2 to the power of 4

4
8
16

In [15]:
def power(n):
    return lambda x:x**n
power(3)(2)

8

‚Ä¢ The modular_function takes one parameter (n), and returns a function that takes the power of any given number x by that n.
‚Ä¢ This usage enabled us to use a function as flexible. 
‚Ä¢ Thanks to lambda, we could use a single def in different ways with the arguments we wanted. We've created three sub-functions derived from a single def. This is flexibility!
‚Ä¢ We can define a function with the same logic as the previous example that repeats the string passed into it.

In [5]:
def repeater(n):
    return lambda x: x * n

repeat_2_times = repeater(2)  # repeats 2 times
repeat_3_times = repeater(3)  # repeats 3 times
repeat_4_times = repeater(4)  # repeats 4 times

print(repeat_2_times('alex '))
print(repeat_3_times('lara '))
print(repeat_4_times('linda '))

alex alex
lara lara lara
linda linda linda linda

### lambda with indexing

In [7]:
(lambda x : x[::-1])("hello")

'olleh'

In [10]:
"hello"[::-1]

'olleh'

## lambda functions with pandas dataframes

In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame(index = ["A", "B", "C", "D", "E"])
df

Empty DataFrame
Columns: []
Index: [A, B, C, D, E]

In [4]:
df["col1"] = [1,2,3,4,0]
df["col2"] = [10, 20, 30, 40, 25]

In [5]:
df

   col1  col2
A     1    10
B     2    20
C     3    30
D     4    40
E     0    25

### update all the dataframe

In [7]:
df = df.apply(lambda x: x*5)
df

   col1  col2
A     5    50
B    10   100
C    15   150
D    20   200
E     0   125

### update only one columns

In [9]:
df["col1"] = df.col1.apply(lambda x: x/2)
df

   col1  col2
A   2.5    50
B   5.0   100
C   7.5   150
D  10.0   200
E   0.0   125

### update only one row

In [10]:
df = df.apply(lambda x: x+5 if x.name in ["B"] else x, axis=1)
df

   col1   col2
A   2.5   50.0
B  10.0  105.0
C   7.5  150.0
D  10.0  200.0
E   0.0  125.0

In [92]:
df = df.apply(lambda x: x+20 if x.name in ["col1"] else x, axis =0)
df

   col1  col2
A    22    11
B    28    26
C    24    31
D    25    41
E    21    26

In [11]:
df["col3"] = ["John", "Mike", "Julie", "Suzan", "Edward"]

df

   col1   col2    col3
A   2.5   50.0    John
B  10.0  105.0    Mike
C   7.5  150.0   Julie
D  10.0  200.0   Suzan
E   0.0  125.0  Edward

In [12]:
df["col4"] = df.col3.apply(lambda x: x[::-1])
#df["col4"] = [x[::-1] for x in df.col3]
df

   col1   col2    col3    col4
A   2.5   50.0    John    nhoJ
B  10.0  105.0    Mike    ekiM
C   7.5  150.0   Julie   eiluJ
D  10.0  200.0   Suzan   nazuS
E   0.0  125.0  Edward  drawdE

In [95]:
df.col1.name

'col1'

In [96]:
df.index[1]

'B'

In [97]:
df.columns

Index(['col1', 'col2', 'col3', 'col4'], dtype='object')

In [98]:
df.loc[df.index[1],df.columns[0]:df.columns[1]]

col1    28
col2    26
Name: B, dtype: object

In [99]:
df.index[1]

'B'

## Exercises

In [103]:
iterable = [1, 2, 3, 4, 5]
result = list(map(lambda x: x**2, iterable))
print(result)
print(type(result))

[1, 4, 9, 16, 25]
<class 'list'>

In [108]:
def square(n):
    return n**2
result = list(map(square, iterable))
print(result)
print(type(result))

[1, 4, 9, 16, 25]
<class 'list'>

## Applying lambda function to list

There are many ways of applying a function to every element in the list. 
1. for loop.
2. map() function & lambda expression.
3. List Comprehension.
4. def function

### 1. with for loop

In [ ]:
iterable = [1,2,3,4,5]

In [17]:
my_list= []
for i in iterable:
    my_list.append(i**2)
print(my_list)

[1, 4, 9, 16, 25]

### 2. with map function

In [14]:
list(map(lambda x: x**2, iterable))

[1, 4, 9, 16, 25]

### 3. List comprehension

In [16]:
[i**2 for i in iterable]

[1, 4, 9, 16, 25]

### 4. def

In [22]:
def square(x):
    for i in iterable:
        print(i**2)
square(iterable)

1
4
9
16
25

### Filter even and odd numbers from the list

In [1]:
first_ten = [0,1,2,3,4,5,6,7,8,9]

In [35]:
#with lambda function
print("Even nums are: ", list(filter(lambda x: x%2==0, first_ten)))
print("Odd nums are: ", list(filter(lambda x: x%2==1, first_ten)))

Even nums are:  [0, 2, 4, 6, 8]
Odd nums are:  [1, 3, 5, 7, 9]

In [54]:
print(type(filter(lambda x: x%2==0, first_ten)))

<class 'filter'>

In [36]:
# With for loop
even = []
odd = []
for i in first_ten:
    if i % 2==0:
        even.append(i)
    else: odd.append(i)
print(even)
print(odd)

[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]

In [39]:
# With list comprehension
even = [i for i in first_ten if i %2==0]
odd = [i for i in first_ten if i %2==1]
print(even)
print(odd)

[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]

In [42]:
["even" if i %2==0 else "odd" for i in first_ten]

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

## Assignment - 3 (Negative Meaning)

In [6]:
def not_string(word): 
    if word[0:3] == "not":
        return word
    else:
        return "not"+ " " + word
print(not_string("not bad"))
print(not_string("bad"))

not bad
not bad

In [8]:
(lambda x: x if x[0:3] == "not" else "not" + " " + x)("bad")

'not bad'

# Here

In [298]:
def missing_char(word, n):
    word1 = list(word)
    word1.pop(n)
    
    def listtostring(word1):
        str1 = ""
        for i in word1:
            str1 += i
        return str1
    return listtostring(word1)

In [299]:
print(missing_char("kitchen", 5))
print(missing_char("kitchen", 6))
print(missing_char("kitchen", 4))

kitchn
kitche
kitcen

In [302]:
def missing_char(word, n):
    word1 = list(word)
    word1.pop(n)
    x = "".join(word1)  #listtostring i√ßin "join" metodu var.    #tuple, list farketmez stringe √ßevirir.
    return x

In [303]:
print(missing_char("kitchen", 5))

kitchn

In [310]:
def missing_char(word, n):
    print(word)
    print(len(word))
    word = word.replace(word[n], "")
    print(word)
    print(len(word))

In [311]:
print(missing_char("otobus", 2))

otobus
6
tbus
4
None

In [15]:
text = "pazar"

In [16]:
text.replace("pazar", "cuma"[1:5])

'uma'

In [17]:
text.upper()

'PAZAR'

In [18]:
"ahmet"

'ahmet'

In [23]:
"ahmet".replace("ahmet", "mehmet"[0:5])

'mehme'

In [32]:
def missing_char(word, n): #Assignment - 4 (Missing Char)
    print(word)
    print(len(word))
    word = word.replace(word[n], "")
    print(word)
    print(len(word))

In [33]:
missing_char("ahmet", 2)

ahmet
5
ahet
4

SyntaxError: unexpected EOF while parsing (<ipython-input-34-e596696dd82c>, line 1)

In [35]:
print(front_back('clarusway'))

NameError: name 'front_back' is not defined

In [41]:
text = "interoperability"

In [49]:
text.strip("lity")

'nteroperab'

In [54]:
def front_back(word):#Assignment - 5 (Front-Back Char)
   word_list = list(word)
   keep_in_mind = word_list[0], word_list[-1]
   word_list[0] = keep_in_mind[1]
   word_list[-1] = keep_in_mind[0]
   return (''.join(word_list))

In [55]:
front_back("clarusway")

'ylaruswac'

In [61]:
def front_back(word):#Assignment - 5 (Front-Back Char)
    if len(word) == 1:
        return word
    return word[-1] + word[1:-1] + word[0]

In [62]:
print(front_back('clarusway'))
print(front_back('a'))
print(front_back('ab'))

ylaruswac
a
ba

In [67]:
def animals(**kwargs):
    for key, value in kwargs.items():
        print(value, "are", key)

In [70]:
animals(Carnivores = "Lions", Omnivores = "Bears", Herbivores = "Deers")

Lions are Carnivores
Bears are Omnivores
Deers are Herbivores

In [90]:
def my_min(x,y):
    if x < y:
        print("minnum is: ",x)
    else: print("minnum is: ", y)

In [91]:
my_min(1,2)

minnum is:  1

In [95]:
def my_min(*numbers): # Assignment-6(Find Minimum)
    if [i] in numbers < [i+1]:
        print("minnum is: ",i)
    else:print("minnum is: ",i+1) 
    i +=1

In [96]:
print(my_min(5,6,7))

UnboundLocalError: local variable 'i' referenced before assignment

In [97]:
def my_min(*x):
        Return min(x)

SyntaxError: invalid syntax (<ipython-input-97-15855666d7a0>, line 2)

In [99]:
def my_min(*x): # Assignment-6(Find Minimum)
    mylist = []
    for i in x:
        mylist.append(i)
    mylist.sort()
    return mylist[0]

In [100]:
print(my_min(3,8,-9,0,12,1.2))

-9

lambda with filter function

		seq = ['soup','dog','salad','cat','great']
		list(filter(lambda x: x.startswith("s"), seq))--->['soup', 'salad']
		Vs
		lst = []
		for i in seq:
		    if i.startswith("s"):
        lst.append(i)

In [109]:
def my_sum(*i):# Assignment-7(Sum numbers)
    return sum(i)

In [110]:
print(my_sum(9, 1, 3, 0, -1))

12

In [130]:
def my_fact(n):
    number = int(input("Please enter a number: "))
    factorial=1
    for i in range(1,number+1):
        factorial = i*factorial
    return factorial

In [131]:
print(my_fact(5))

Please enter a number: 5
120

In [132]:
number = int(input("Enter a number please : "))
number_list = []
factorial = 1
for i in range(number):
    number_list.append(i + 1)
n = len(number_list)
for i in range(n) :
    factorial *= number_list[i]
factorial

Enter a number please : 5

120

In [134]:
def faktoriyel(a):
    a = int(input("bir sayƒ± giriniz: "))
    count = 1
    for i in range(a,0,-1):
        count *= i
    return count
faktoriyel(a)

bir sayƒ± giriniz: 5

120

In [135]:
def most_freq(given_list):
    x = [given_list.count(x) for x in given_list]
    return (given_list[x.index(max(x))])

In [136]:
print(most_freq([1,2,3,3,3,3,4,4,5,5]))

3

In [157]:
def repeater(n):
    return lambda x: x*n
repeat2times = repeater(2)

In [158]:
print(repeat2times("alex "))

alex alex

In [161]:
def functioner(n):
    return lambda x: x+n

In [162]:
myPrint_smile = functioner(":)")

In [163]:
print(myPrint_smile("Hello "))

Hello :)

In [164]:
def x():
    return 1,2,3,4

In [165]:
x()

(1, 2, 3, 4)

In [166]:
a, b, c, d = x()

In [167]:
print(a,b,c,d,)

1 2 3 4

In [168]:
for i in x():
    print(i)

1
2
3
4

In [173]:
def func_generator(function):
    return lambda x : function(x)

In [196]:
(lambda x:print(x))("nur")

nur

In [194]:
my_print = func_generator(print)

In [195]:
my_print("hello world")

hello world

In [184]:
def func_generator(function):
    return lambda x : function(x)

In [197]:
(lambda x: max(x))([1,3,7,4,2])

7

In [187]:
my_max = func_generator(max)

In [188]:
my_max([2,5,9,11])

11

In [189]:
my_bool = func_generator(bool)

In [190]:
my_bool([])

False

In [191]:
my_sorted = func_generator(sorted)

In [192]:
my_sorted([3,1,6,8,4]) #[1,3,4,6,8]

[1, 3, 4, 6, 8]

In [200]:
def equal(a,b,c): #ka√ß tane sayƒ± e≈üit
    nums = [a,b,c]
    res = nums.count(max(nums, key = nums.count))
    return res if res > 1 else 0

In [205]:
equal(1,2,2)

2

In [201]:
res = [x,y,z].count(max([x,y,z], key = [x,y,z].count))

2

In [203]:
equall = lambda x,y,z: [x,y,z].count(max([x,y,z], key = [x,y,z].count)) if [x,y,z].count(max([x,y,z], key = [x,y,z].count)) > 1 else 0

In [204]:
equal(1,2,2)

2

In [217]:
def test(x,y,z):
    print(x,y,z)

In [208]:
test(1,2,3)

1 2 3

In [209]:
testDict = {"x":1, "y":2, "z": 3}

In [218]:
testList = [10,20,30]

In [211]:
test(*testDict)

x y z

In [212]:
for i in testDict:
    print(i)

x
y
z

In [213]:
test(**testDict)

1 2 3

In [220]:
test(*testList)

10 20 30

In [246]:
nums = [1,2,3,4,5, 7, 6, 5, 2, 7, 7]

In [247]:
#nums.count(2)

In [248]:
max(nums, key=numbers.count)

1

In [1]:
[1,2,3,4]

[1, 2, 3, 4]

In [2]:
[1,2,3,4][1]

2

In [3]:
sayƒ±lar = [1,2,3,4]

In [4]:
sayƒ±lar[1]

2

In [6]:
(lambda x: x**3)(2)

8

In [7]:
k√ºp = lambda x: x**3

In [8]:
k√ºp(2)

8

In [10]:
say = [22,33,55,88,2,3,9]

In [14]:
√ßift = filter(lambda x: x%2==0, say)

In [15]:
list(√ßift)

[22, 88, 2]

In [17]:
tek= filter(lambda x: x%2!=0, say)

In [18]:
list(tek)

[33, 55, 3, 9]

In [1]:
#recursion, recursive: fonksiyonun sonucu kendi i√ßinde kullanƒ±labilir.

In [2]:
#4! = 4*3*2*1 = 24

In [3]:
def facto(n):
    if n ==1:
        return n
    else:
        return n*facto(n-1)

In [4]:
facto(4)

24