# Lambda Functions

Another way to define functions.

one-time function: best option

Use keyword **lambda** to define a function.

**The formula syntax**: lambda parameters : expression

### Functions with a **def** and **lambda**

In [5]:
def square(a):
    return a**2

In [6]:
square(3)

9

In [17]:
lambda x: x**2

In [16]:
(lambda x: x**2) (2)

4

### Multiple arguments

In [20]:
(lambda x, y: x*y) (2,3)

6

### Conditional statements

lambda parameters : first_result if conditional statement else second_result

In [24]:
(lambda x: "odd" if x%2==1 else "even") (2)

'even'

In [1]:
print((lambda x: x**2)(2))

4

In [8]:
(lambda x: x**2)(2)

4

In [10]:
(lambda x,y: (x-y)/2)(2,3)

-0.5

In [ ]:
print((lambda x, y: (x+y)/2)(2,3))

In [12]:
(lambda x: "odd" if x%2!=0 else "even")(4)

'even'

In [16]:
lambda x: "odd" if x % 2 != 0 else "even"

In [19]:
average = (lambda x, y: (x+y)/2)(2,3)

In [22]:
x = average

In [23]:
print(x)

2.5

In [24]:
average = lambda x, y: (x+y)/2

In [25]:
print(average(4,7))

5.5

In [26]:
text = "hello"
print(3*text)

hellohellohello

In [27]:
print(3*"hello")

hellohellohello

In [28]:
print("medyatekte" + "çalışıyorum")

medyatekteçalışıyorum

In [29]:
echo_word = (lambda x, y: x*y)(3, "hello")

In [30]:
print(echo_word)

hellohellohello

In [31]:
echo_word = (lambda x, y: x*y)(3, "hello")

In [32]:
print((lambda x: x**3)(5))

125

In [34]:
print(lambda text: text.reverse)("hello")

<function <lambda> at 0x000002BCDA936A68>

TypeError: 'NoneType' object is not callable

In [35]:
iterable = "hello"

reverser = (lambda x : x[::-1])(iterable)

In [36]:
print(reverser)

olleh

In [13]:
lambda x: "odd" if x % 2 != 0 else "even"

In [14]:
sayılar = [-12, 21, 10, 2, 3, 4]

In [15]:
for x in sayılar:
    print(x, ":",(lambda a: "odd" if a % 2 !=0 else "even")(x))

-12 : even
21 : odd
10 : even
2 : even
3 : odd
4 : even

In [ ]:
iterable = [1, 2, 3, 4, 5]

In [ ]:
map(lambda x:x**2, iterable)
result = map(lambda x: x**2, iterable)

In [ ]:
print(type(result))

In [ ]:
print(list(result))

In [ ]:
print(list(map(lambda x: x**2, iterable)))

In [ ]:
iterable = [1, 2, 3, 4, 5]
print(list(map(lambda x: x**2, iterable)))

In [ ]:
def square(x):
    print(x**2)
    nums = [1,2,3,4,5]

In [ ]:
square(nums)

In [ ]:
def square(n):
    return n**2
iterable = [1,2,3,4,5]
result = map(square, iterable)
print(list(result))

In [ ]:
letter1 = ['o', 's', 't', 't']
letter2 = ['n', 'i', 'e', 'w']
letter3 = ['e', 'x', 'n', 'o']

In [ ]:
numbers = map(lambda x, y, z: x+y+z, letter1, letter2, letter3)

In [ ]:
print(list(numbers))

In [ ]:
a = [1,2,3,4,5]
for x in a:
    print(x*2)

In [ ]:
a = [1,2,3,4,5]
def multi(): 
    return x*2

In [ ]:
multi(x)

In [ ]:
result = map(multi, a)
result

In [ ]:
list(result)

In [ ]:
(lambda x: x**2)(3)# lambda birincil kullanım

In [ ]:
a = (lambda x: x**2)(3) #lambda birincil kullanım

In [ ]:
print(a)

In [ ]:
(lambda x, y: (x+y)/2)(3,5)# lambda birincil kullanım

In [ ]:
kare = lambda x: x**2 # lambda ikinci kullanım, defteki gibi

In [ ]:
kare(4)

In [ ]:
average = lambda x, y: (x+y)/2 #lambda ikinci kullanım, defteki gibi
print(average(3,5))

In [ ]:
tersten = lambda x: x[::-1]

In [ ]:
tersten("clarusway")

In [ ]:
iterable = [1,2,3,4,5]

In [ ]:
map(lambda x: x**2, iterable)

In [ ]:
result = map(lambda x: x**2, iterable)

In [ ]:
print(list(result))

In [ ]:
print(list(map(lambda x: x**2, iterable)))

In [ ]:
iterable = [1,2,3,4,5]
for i in iterable:
    print(i**2)

In [14]:
iterable = [1,2,3,4,5]

In [11]:
def kare(x):
    for i in iterable:
        print(i**2)

In [12]:
kare(iterable)

1
4
9
16
25

In [20]:
def kare(x):
    return x**2

In [21]:
iterable = [1,2,3,4,5]

In [22]:
for i in map(kare, iterable):
    print(i)

1
4
9
16
25

In [31]:
letter1 = ['o', 's', 't', 't']
letter2 = ['n', 'i', 'e', 'w']
letter3 = ['e', 'x', 'n', 'o']

In [32]:
numbers = map(lambda x, y, z: x+y+z, letter1, letter2, letter3)

In [33]:
print(list(numbers))

['one', 'six', 'ten', 'two']

In [39]:
nums1 = [9, 6, 7, 4]
nums2 = [3, 6, 5, 8]

In [40]:
arth_mean = map(lambda x, y: (x+y)/2, nums1, nums2)

In [41]:
list(arth_mean)

[6.0, 6.0, 6.0, 6.0]

In [52]:
words1 = ["you", "much", "hard"]
words2 = ["i", "you", "he"]
words3 = ["love", "ate", "works"]

In [53]:
sentences = map(lambda x, y, z: x+" "+y+" "+z, words2, words3, words1)

In [50]:
list(sentences)

['i love you', 'you ate much', 'he works hard']

In [54]:
for i in sentences:
    print(i)

i love you
you ate much
he works hard

In [55]:
first_ten = [0,1,2,3,4,5,6,7,8,9]
even = filter(lambda x:x%2==0, first_ten)

In [56]:
print(type(even))

<class 'filter'>

In [57]:
print("Even numbers are :", list(even))

Even numbers are : [0, 2, 4, 6, 8]

In [93]:
words = ["apple", "swim", "clock", "me", "kiwi", "banana"]

In [89]:
selected_words = filter(lambda x: len(x) < 5, words)

In [82]:
print("selected_words are: ", list(selected_words))

selected_words are:  ['swim', 'me', 'kiwi']

In [94]:
words = ["apple", "swim", "clock", "me", "kiwi", "banana"]

In [95]:
def bes(x):
    return len(x)<5

In [96]:
for i in filter(bes, words):
    print(i)

swim
me
kiwi

In [99]:
for j in filter(lambda x: len(x)<5, words):
    print(j)

swim
me
kiwi

In [118]:
vowel_list = ["a", "e", "i", "o", "u"]

In [119]:
letters = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]

In [120]:
vowels = filter(lambda x: True if x in vowel_list else False, letters)

In [121]:
print("Vowels are: ", list(vowels))

Vowels are:  ['a', 'e', 'i']

In [122]:
def modular_function(n):
    return lambda x: x**n

In [133]:
power_of_2 = modular_function(2)
power_of_3 = modular_function(3)
power_of_4 = modular_function(4)

In [134]:
print(power_of_2(2))
print(power_of_3(2))
print(power_of_4(2))

4
8
16

In [142]:
print(power_of_2(3))
print(power_of_3(3))
print(power_of_4(3))

9
27
81

In [ ]:
def repeater(n):
    return lambda x: x*n

In [145]:
repeat2times = repeater(2)
repeat3times = repeater(3)
repeat4times = repeater(4)

In [149]:
print(repeat2times("gürkan"))
print(repeat3times("canan"))
print(repeat4times("büşra"))

gürkangürkan
canancanancanan
büşrabüşrabüşrabüşra

In [135]:
number_list = [1, 2, 3, 4, 5]

In [137]:
result = list(map(lambda x: x*3, number_list))

In [138]:
print(result)

[3, 6, 9, 12, 15]

In [139]:
number_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [140]:
result = list(filter(lambda x: x>=6, number_list))

In [141]:
print(result)

[6, 7, 8, 9, 10]

In [150]:
def modular_function(n):
    return lambda x: x ** n

power_of_3 = modular_function(3)
print(power_of_3(5))

125

In [151]:
print((lambda x: x**3)(5))

125

In [152]:
mean = lambda x, y: (x+y)/2
print(mean(8, 10))

9.0

In [153]:
multiply = lambda x: x * 4
add = lambda x, y: x + y
print(add(multiply(10), 5))

45

In [154]:
number_list = [1, 2, 3, 4]
result = map(lambda x:x**3, number_list)
print(list(result))

[1, 8, 27, 64]

In [155]:
number_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] 
divisible_list = filter(lambda x:x%3==0, number_list) 
print(list(divisible_list))

[0, 3, 6, 9, 12]

In [156]:
square = lambda x: x**2

In [157]:
print(square(5))

25

In [158]:
number_list=[1, 2, 3, 4, 5]

result= list(map(lambda x: x**2, number_list))

In [159]:
print(result)

[1, 4, 9, 16, 25]

In [160]:
number_list=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [161]:
result = list(filter(lambda x: True if x%2 !=0 else False, number_list))

In [162]:
print(result)

[1, 3, 5, 7, 9]

In [170]:
def sum_double(x, y):
    if x==y:
        return (x+y)*2
    else:
        return x+y

In [171]:
sum_double(5,5)

20

In [236]:
def parrot_trouble(talking, hour):
    if hour<6 or hour>21 and talking is True:
        return True
    else: 
        return False

In [237]:
print(parrot_trouble(True, 5))

True

In [254]:
def not_string(word): #Assignment - 3 (Negative Meaning)
    if word[0:3] == "not":
        return word
    else:
        return "not"+ " " + word

In [256]:
print(not_string("not bad"))

not bad

In [269]:
word = "laptop"

In [279]:
print(word[::-1])

potpal

In [280]:
len(word)

6

In [298]:
def missing_char(word, n):
    word1 = list(word)
    word1.pop(n)
    
    def listtostring(word1):
        str1 = ""
        for i in word1:
            str1 += i
        return str1
    return listtostring(word1)

In [299]:
print(missing_char("kitchen", 5))
print(missing_char("kitchen", 6))
print(missing_char("kitchen", 4))

kitchn
kitche
kitcen

In [302]:
def missing_char(word, n):
    word1 = list(word)
    word1.pop(n)
    x = "".join(word1)  #listtostring için "join" metodu var.    #tuple, list farketmez stringe çevirir.
    return x

In [303]:
print(missing_char("kitchen", 5))

kitchn

In [310]:
def missing_char(word, n):
    print(word)
    print(len(word))
    word = word.replace(word[n], "")
    print(word)
    print(len(word))

In [311]:
print(missing_char("otobus", 2))

otobus
6
tbus
4
None

In [15]:
text = "pazar"

In [16]:
text.replace("pazar", "cuma"[1:5])

'uma'

In [17]:
text.upper()

'PAZAR'

In [18]:
"ahmet"

'ahmet'

In [23]:
"ahmet".replace("ahmet", "mehmet"[0:5])

'mehme'

In [32]:
def missing_char(word, n): #Assignment - 4 (Missing Char)
    print(word)
    print(len(word))
    word = word.replace(word[n], "")
    print(word)
    print(len(word))

In [33]:
missing_char("ahmet", 2)

ahmet
5
ahet
4

SyntaxError: unexpected EOF while parsing (<ipython-input-34-e596696dd82c>, line 1)

In [35]:
print(front_back('clarusway'))

NameError: name 'front_back' is not defined

In [41]:
text = "interoperability"

In [49]:
text.strip("lity")

'nteroperab'

In [54]:
def front_back(word):#Assignment - 5 (Front-Back Char)
   word_list = list(word)
   keep_in_mind = word_list[0], word_list[-1]
   word_list[0] = keep_in_mind[1]
   word_list[-1] = keep_in_mind[0]
   return (''.join(word_list))

In [55]:
front_back("clarusway")

'ylaruswac'

In [61]:
def front_back(word):#Assignment - 5 (Front-Back Char)
    if len(word) == 1:
        return word
    return word[-1] + word[1:-1] + word[0]

In [62]:
print(front_back('clarusway'))
print(front_back('a'))
print(front_back('ab'))

ylaruswac
a
ba

In [67]:
def animals(**kwargs):
    for key, value in kwargs.items():
        print(value, "are", key)

In [70]:
animals(Carnivores = "Lions", Omnivores = "Bears", Herbivores = "Deers")

Lions are Carnivores
Bears are Omnivores
Deers are Herbivores

In [90]:
def my_min(x,y):
    if x < y:
        print("minnum is: ",x)
    else: print("minnum is: ", y)

In [91]:
my_min(1,2)

minnum is:  1

In [95]:
def my_min(*numbers): # Assignment-6(Find Minimum)
    if [i] in numbers < [i+1]:
        print("minnum is: ",i)
    else:print("minnum is: ",i+1) 
    i +=1

In [96]:
print(my_min(5,6,7))

UnboundLocalError: local variable 'i' referenced before assignment

In [97]:
def my_min(*x):
        Return min(x)

SyntaxError: invalid syntax (<ipython-input-97-15855666d7a0>, line 2)

In [99]:
def my_min(*x): # Assignment-6(Find Minimum)
    mylist = []
    for i in x:
        mylist.append(i)
    mylist.sort()
    return mylist[0]

In [100]:
print(my_min(3,8,-9,0,12,1.2))

-9

In [109]:
def my_sum(*i):# Assignment-7(Sum numbers)
    return sum(i)

In [110]:
print(my_sum(9, 1, 3, 0, -1))

12

In [130]:
def my_fact(n):
    number = int(input("Please enter a number: "))
    factorial=1
    for i in range(1,number+1):
        factorial = i*factorial
    return factorial

In [131]:
print(my_fact(5))

Please enter a number: 5
120

In [132]:
number = int(input("Enter a number please : "))
number_list = []
factorial = 1
for i in range(number):
    number_list.append(i + 1)
n = len(number_list)
for i in range(n) :
    factorial *= number_list[i]
factorial

Enter a number please : 5

120

In [134]:
def faktoriyel(a):
    a = int(input("bir sayı giriniz: "))
    count = 1
    for i in range(a,0,-1):
        count *= i
    return count
faktoriyel(a)

bir sayı giriniz: 5

120

In [135]:
def most_freq(given_list):
    x = [given_list.count(x) for x in given_list]
    return (given_list[x.index(max(x))])

In [136]:
print(most_freq([1,2,3,3,3,3,4,4,5,5]))

3

In [157]:
def repeater(n):
    return lambda x: x*n
repeat2times = repeater(2)

In [158]:
print(repeat2times("alex "))

alex alex

In [161]:
def functioner(n):
    return lambda x: x+n

In [162]:
myPrint_smile = functioner(":)")

In [163]:
print(myPrint_smile("Hello "))

Hello :)

In [164]:
def x():
    return 1,2,3,4

In [165]:
x()

(1, 2, 3, 4)

In [166]:
a, b, c, d = x()

In [167]:
print(a,b,c,d,)

1 2 3 4

In [168]:
for i in x():
    print(i)

1
2
3
4

In [173]:
def func_generator(function):
    return lambda x : function(x)

In [196]:
(lambda x:print(x))("nur")

nur

In [194]:
my_print = func_generator(print)

In [195]:
my_print("hello world")

hello world

In [184]:
def func_generator(function):
    return lambda x : function(x)

In [197]:
(lambda x: max(x))([1,3,7,4,2])

7

In [187]:
my_max = func_generator(max)

In [188]:
my_max([2,5,9,11])

11

In [189]:
my_bool = func_generator(bool)

In [190]:
my_bool([])

False

In [191]:
my_sorted = func_generator(sorted)

In [192]:
my_sorted([3,1,6,8,4]) #[1,3,4,6,8]

[1, 3, 4, 6, 8]

In [200]:
def equal(a,b,c): #kaç tane sayı eşit
    nums = [a,b,c]
    res = nums.count(max(nums, key = nums.count))
    return res if res > 1 else 0

In [205]:
equal(1,2,2)

2

In [201]:
res = [x,y,z].count(max([x,y,z], key = [x,y,z].count))

2

In [203]:
equall = lambda x,y,z: [x,y,z].count(max([x,y,z], key = [x,y,z].count)) if [x,y,z].count(max([x,y,z], key = [x,y,z].count)) > 1 else 0

In [204]:
equal(1,2,2)

2

In [217]:
def test(x,y,z):
    print(x,y,z)

In [208]:
test(1,2,3)

1 2 3

In [209]:
testDict = {"x":1, "y":2, "z": 3}

In [218]:
testList = [10,20,30]

In [211]:
test(*testDict)

x y z

In [212]:
for i in testDict:
    print(i)

x
y
z

In [213]:
test(**testDict)

1 2 3

In [220]:
test(*testList)

10 20 30

In [246]:
nums = [1,2,3,4,5, 7, 6, 5, 2, 7, 7]

In [247]:
#nums.count(2)

In [248]:
max(nums, key=numbers.count)

1

In [1]:
[1,2,3,4]

[1, 2, 3, 4]

In [2]:
[1,2,3,4][1]

2

In [3]:
sayılar = [1,2,3,4]

In [4]:
sayılar[1]

2

In [6]:
(lambda x: x**3)(2)

8

In [7]:
küp = lambda x: x**3

In [8]:
küp(2)

8

In [10]:
say = [22,33,55,88,2,3,9]

In [14]:
çift = filter(lambda x: x%2==0, say)

In [15]:
list(çift)

[22, 88, 2]

In [17]:
tek= filter(lambda x: x%2!=0, say)

In [18]:
list(tek)

[33, 55, 3, 9]

In [1]:
#recursion, recursive: fonksiyonun sonucu kendi içinde kullanılabilir.

In [2]:
#4! = 4*3*2*1 = 24

In [3]:
def facto(n):
    if n ==1:
        return n
    else:
        return n*facto(n-1)

In [4]:
facto(4)

24